{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Detalle Egreso
{% endblock title %}

{% block extrahead %}
<style>
    @media print {

        .prueba_cabecera{
            margin-left: 0px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .logo_cabecera{
            margin-right: 150px;
        }
        .titulo_factura{
            margin-bottom: 20px;
            margin-top: 10px;
        }
        .invoice-payment{
            margin-top: 50px;
            display: flex;
            justify-content: flex-end;
        }
        .total_pagar{
            width: 50%;
            align-self: flex-end;
        }
    }
</style>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-4 col-xs-7">
        <h4 class="page-title">Detalle de Egreso</h4>
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li><a href="/gastos/listar_gasto/todos/">Egresos</a></li>
            <li class="active"><a>Detalle de Egreso</a></li>
        </ol> 
    </div>
    <div class="col-sm-8 col-xs-5 text-right">
        <a href="" id="boton_imprimir" class="btn add-btn btn-custom pull-right m-b-30 m-r-20"><i class="fa fa-print"></i> Imprimir</a>
    </div>
</div>
<div class="row" id="factura_imprimir">
    <div class="col-md-12">
        {% if object.estado_pago == "Anulada" %}
        <img class="img-factura-anulada" src="{% static 'img/anulada-image.png' %}">
        {% endif %}
        <div class="panel">
            <div class="panel-body">
                <div class="cabecera_factura">
                    <div class="row prueba_cabecera">
                        <div class="col-md-6 m-b-20 logo_cabecera">
                            {% if mi_veterinaria.foto %}
                            <img id="logo_veterinaria" src='{{mi_veterinaria.foto.url}}' class="m-b-20" alt="Logo veterinaria" width="170">
                            {% endif %}
                            <ul class="list-unstyled">
                                <li>{{mi_veterinaria.nombre}}</li>
                                {% if mi_veterinaria.nit %}
                                <li>Nit: {{mi_veterinaria.nit}}</li>
                                {% endif %}
                                <li>{{mi_veterinaria.direccion}} ({{mi_veterinaria.ciudad}})</li>
                                <li>                                        
                                    {% if mi_veterinaria.telefono %}
                                        {{ mi_veterinaria.telefono|default:"" }}
                                    {% elif mi_veterinaria.celular %}
                                        {{ mi_veterinaria.celular|default:"" }}
                                    {% elif mi_veterinaria.telefono and mi_veterinaria.celular %}
                                        {{ mi_veterinaria.telefono|default:"" }} - {{ mi_veterinaria.celular|default:"" }}
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 m-b-20 detalle_cabecera">
                            <div style="display: flex; justify-content: flex-end;">
                                <div class="titulo_factura">
                                    <ul class="list-unstyled">
                                        <li>Fecha: <span>{{ object.fecha }}</span></li>
                                        <li>Comprobante de Egreso: <span>{{ object.get_tipo_comprobante_display }}</span></li>
                                        {% if object.numero_comprobante %}
                                        <li>N° Comprobante: <span>{{ object.numero_comprobante }}</span></li>
                                        {% endif %}
                                        {% if object.proveedor %}
                                        <li>Tercero: <span>{{ object.proveedor.nombre }}</span></li>
                                        {% endif %}
                                        {% if object.cliente_nota_credito %}
                                        <li>Tercero: <span>{{ object.cliente_nota_credito.nombreCompleto }}</span></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-9 m-b-20">
                        </div>
                        <div class="col-md-6 col-lg-3 m-b-20">

                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table tabla1">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Nombre</th>
                                <th>Costo unitario</th>
                                <th>Cantidad</th>
                                <th>Costo total</th>
                                <th>Impuesto</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for gasto_producto in gastos_producto %}
                            <tr>
                                <td>Producto</td>
                                <td>{{ gasto_producto.producto.nombre }}</td>
                                <td>$ {{ gasto_producto.precio_compra_unidad.normalize | intcomma}}</td>
                                <td>{{ gasto_producto.unidades }}</td>
                                <td>$ {{ gasto_producto.precio_total.normalize | intcomma}}</td>
                                <td>
                                    {% if gasto_producto.impuesto %}
                                    $ {{ gasto_producto.valor_total_impuesto.normalize | intcomma }} ({{ gasto_producto.impuesto.porcentaje }} %)
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for gasto_medicamento in gastos_medicamento %}
                            <tr>
                                <td>Medicamento</td>
                                <td>{{ gasto_medicamento.medicamento.nombre }}</td>
                                <td>$ {{ gasto_medicamento.precio_compra_unidad.normalize | intcomma}}</td>
                                <td>{{ gasto_medicamento.unidades }}</td>
                                <td>$ {{ gasto_medicamento.precio_total.normalize | intcomma}}</td>
                                <td>
                                    {% if gasto_medicamento.impuesto %}
                                    $ {{ gasto_medicamento.valor_total_impuesto.normalize | intcomma }} ({{ gasto_medicamento.impuesto.porcentaje }} %)
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for gasto_vacuna in gastos_vacuna %}
                            <tr>
                                <td>Vacuna</td>
                                <td>{{ gasto_vacuna.vacuna.nombre }}</td>
                                <td>$ {{ gasto_vacuna.precio_compra_unidad.normalize | intcomma}}</td>
                                <td>{{ gasto_vacuna.unidades }}</td>
                                <td>$ {{ gasto_vacuna.precio_total.normalize | intcomma}}</td>
                                <td>
                                    {% if gasto_vacuna.impuesto %}
                                    $ {{ gasto_vacuna.valor_total_impuesto.normalize | intcomma }} ({{ gasto_vacuna.impuesto.porcentaje }} %)
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for gasto_desparasitante in gastos_desparasitante %}
                            <tr>
                                <td>Desparasitante</td>
                                <td>{{ gasto_desparasitante.desparasitante.nombre }}</td>
                                <td>$ {{ gasto_desparasitante.precio_compra_unidad.normalize | intcomma}}</td>
                                <td>{{ gasto_desparasitante.unidades }}</td>
                                <td>$ {{ gasto_desparasitante.precio_total.normalize | intcomma}}</td>
                                <td>
                                    {% if gasto_desparasitante.impuesto %}
                                    $ {{ gasto_desparasitante.valor_total_impuesto.normalize | intcomma }} ({{ gasto_desparasitante.impuesto.porcentaje }} %)
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for gasto_insumo in gastos_insumo %}
                            <tr>
                                <td>Insumo</td>
                                <td>{{ gasto_insumo.insumo.nombre }}</td>
                                <td>$ {{ gasto_insumo.precio_compra_unidad.normalize | intcomma}}</td>
                                <td>{{ gasto_insumo.unidades }}</td>
                                <td>$ {{ gasto_insumo.precio_total.normalize | intcomma}}</td>
                                <td>
                                    {% if gasto_insumo.impuesto %}
                                    $ {{ gasto_insumo.valor_total_impuesto.normalize | intcomma }} ({{ gasto_insumo.impuesto.porcentaje }} %)
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for gasto_elemento_inventario in gastos_elementos_inventario %}
                            <tr>
                                <td>{{ gasto_elemento_inventario.elemento.categoria.nombre }}</td>
                                <td>{{ gasto_elemento_inventario.elemento.nombre }}</td>
                                <td>$ {{ gasto_elemento_inventario.precio_compra_unidad.normalize | intcomma}}</td>
                                <td>{{ gasto_elemento_inventario.unidades }}</td>
                                <td>$ {{ gasto_elemento_inventario.precio_total.normalize | intcomma}}</td>
                                <td>
                                    {% if gasto_elemento_inventario.impuesto %}
                                    $ {{ gasto_elemento_inventario.valor_total_impuesto.normalize | intcomma }} ({{ gasto_elemento_inventario.impuesto.porcentaje }} %)
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for gasto_servicio in gastos_servicio %}
                            <tr>
                                <td>Servicio</td>
                                <td>{{ gasto_servicio.nombre }}</td>
                                <td>$ {{ gasto_servicio.precio_compra_unidad.normalize | intcomma}}</td>
                                <td>{{ gasto_servicio.unidades }}</td>
                                <td>$ {{ gasto_servicio.precio_total.normalize | intcomma}}</td>
                                <td>
                                    {% if gasto_servicio.impuesto %}
                                    $ {{ gasto_servicio.valor_total_impuesto.normalize | intcomma }} ({{ gasto_servicio.impuesto.porcentaje }} %)
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for gasto_otro in gastos_otro %}
                            <tr>
                                <td>Otro</td>
                                <td>{{ gasto_otro.nombre }}</td>
                                <td>$ {{ gasto_otro.precio_compra_unidad.normalize | intcomma}}</td>
                                <td>{{ gasto_otro.unidades }}</td>
                                <td>$ {{ gasto_otro.precio_total.normalize | intcomma}}</td>
                                <td>
                                    {% if gasto_otro.impuesto %}
                                    $ {{ gasto_otro.valor_total_impuesto.normalize | intcomma }} ({{ gasto_otro.impuesto.porcentaje }} %)
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="">
                    <div class="row invoice-payment">
                        <div class="col-sm-7">
                            {% if abonos %}
                            <div class="m-b-20">
                                <h4>Abonos</h4>
                                <div class="table-responsive no-border">
                                    <table class="table m-b-0 tabla2">
                                        <tbody>
                                            {% for abono in abonos %}
                                            <tr>
                                                <td colspan="2"><b>{{ abono.fecha.date }} a las {{ abono.fecha | date:"h:i a" }}</b></td>
                                                <td>$ {{ abono.valor_abonado.normalize |intcomma}} ({{ abono.medio_pago }})</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-5 total_pagar">
                            <div class="m-b-20">
                                <h4>Total a pagar</h4>
                                <div class="table-responsive no-border">
                                    <table class="table m-b-0 tabla2">
                                        <tbody>
                                            <tr>
                                                <th>Subtotal:</th>
                                                <td class="text-right">$ {{ object.sub_total.normalize | intcomma}}</td>
                                            </tr>
                                            <tr>
                                                <th>Descuento:</th>
                                                <td class="text-right">$ {{ object.descuento.normalize | intcomma}}</td>
                                            </tr>
                                            <tr>
                                                <th>Impuestos:</th>
                                                <td class="text-right">$ {{ object.total_impuesto.normalize | intcomma}}</td>
                                            </tr>
                                            <tr>
                                                <th>Total:</th>
                                                <td class="text-right text-primary">
                                                    <h5>$ {{ object.valor_total.normalize | intcomma}}</h5></td>
                                            </tr>
                                            {% if object.forma_pago == 'Credito' %}
                                                <tr>
                                                    <th>Forma de pago:</th>
                                                    <td class="text-right">Credito</td>
                                                </tr>
                                                <tr>
                                                    <th>Saldo:</th>
                                                    <td class="text-right">$ {{ object.saldo.normalize | intcomma}}</td>
                                                </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if object.comentarios %}
                    <div class="invoice-info">
                        <h5>Comentarios</h5>
                        <p class="text-muted">{{ object.comentarios }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block plugins %}

    <script type="text/javascript">

        function printData()
        {
            var htmlToPrint = '' +
                '<style type="text/css">' +
                'table {' +
                'border: solid #000 !important;' +
                'border-width: 1px 0 0 1px !important;' +
                'width: 100%;'+
                '}' +
                'th, td {' +
                'border: solid #000 !important;' +
                'border-width: 0 1px 1px 0 !important;' +
                'min-width: 100px;' +
                '}' +
                '.tabla2 {' +
                'border: solid #000 !important;' +
                'border-width: 1px 0 0 1px !important;' +
                'width: 50%;'+
                '}' +
                'ul {' +
                'list-style: none;'+
                'padding-left: 0;'+
                '}'+
                '.titulo_factura {' +
                'display: none;'+
                '}'+
                '.total_pagar {' +
                'align-self: flex-end;'+
                '}'+
                '</style>';
           var divToPrint=document.getElementById("factura_imprimir");

           var newWin= window.open('', 'popUp');

           newWin.document.write(htmlToPrint);
           newWin.document.write(divToPrint.outerHTML);
           //newWin.document.close();
           //newWin.document.write(divToPrintFirma);
           newWin.print();
           newWin.close();
        }

        $('#boton_imprimir').on('click',function(){
            //printData();
            //window.print();
            //document.getElementById("factura_imprimir").print();
            var printContents = document.getElementById("factura_imprimir").innerHTML;
             var originalContents = document.body.innerHTML;

             document.body.innerHTML = printContents;

             window.print();

             document.body.innerHTML = originalContents;
        })
    </script>
{% endblock %}