{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Egresos
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-9 col-xs-9">
        <h4 class="page-title">Egresos</h4>
        <h5>Hace referencia a los egresos que tiene la veterinaria</h5>
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li class="active"><a>Egresos</a></li>
        </ol>
    </div>
    <div class="col-sm-3 col-xs-3 text-right">
        <a href="{% url 'registrar_compra' %}" class="btn add-btn btn-custom pull-right m-b-30"><i
                class="fa fa-plus"></i>
            Agregar</a>
    </div>
</div>
<div class="row" style="display: flex;padding-left: 15px; flex-wrap: wrap;">
    <div style="width: 150px; margin: 5px;">
        <label class="control-label">Estado de pago</label>
        <select class="form-control" id="filtrar_estado_pago">
            <option value="todos">Todos</option>
            <option value="pendientes">Pendientes</option>
            <option value="pagados">Pagados</option>
        </select>
    </div>
    <div style="width: 150px; margin: 5px;">
        <label class="control-label">Fecha</label>
        <select class="form-control" id="filtrar_fecha_pago">
            <option value="hoy">Hoy</option>
            <option value="semana">Esta semana</option>
            <option value="mes">Mes</option>
        </select>
    </div>
    <div id="div_mes" style="width: 150px; margin: 5px; display: none;">
        <label class="control-label">Mes</label>
        <div class="form-group">
            <div class='input-group date'>
                <span class="input-group-addon" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <input class="form-control" name="fecha_consulta" id="fecha_consulta_mes" type="text" style="width: 100px; margin-right: 6px;">
            </div>
        </div>
    </div>
    <div id="div_año" style="width: 150px; margin: 5px;display: none;">
        <label class="control-label">Año</label>
        <div class="form-group">
            <div class='input-group date'>
                <span class="input-group-addon" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <input class="form-control" name="fecha_consulta" id="fecha_consulta_año" type="text" style="width: 100px; margin-right: 6px;">
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <div class="table-responsive">
                <table id="table-compras" class="table">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Fecha de Abono</th>
                            <th>Tipo de comprobante</th>
                            <th style="display: none;">Numero de comprobante</th>
                            <th>Responsable</th>
                            <th>Tipo</th>
                            <th>Tercero</th>
                            <th>Estado</th>
                            <th>Valor total</th>
                            <th>Valor pagado</th>
                            <th style="display: none;">Forma de Pago</th>
                            <th style="display: none;">Tipo de Pago Débito</th>
                            <th style="display: none;">Tipo de Pago Crédito</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gasto in lista_gastos %}
                            {% if gasto.tipo == 'Abono' %}
                            <tr>
                                <td>
                                    {{ gasto.gasto.fecha }}
                                </td>
                                <td>
                                    {{ gasto.fecha }}
                                </td>
                                <td>
                                    {{ gasto.gasto.tipo_comprobante }}
                                </td>
                                <td style="display: none;">
                                    {{ gasto.gasto.numero_comprobante }}
                                </td>
                                <td>
                                    {% if gasto.gasto.responsable %}
                                        {{ gasto.gasto.responsable }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% for motivos in motivos_gastos %}
                                        {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                            {% for motivo in motivos %}
                                            <span class="label label-info">{{ motivo }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if gasto.gasto.proveedor %}
                                        {{ gasto.gasto.proveedor.nombre }}
                                    {% elif gasto.gasto.cliente_nota_credito %}
                                        {{ gasto.gasto.cliente_nota_credito.nombreCompleto }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if gasto.gasto.estado_pago == 'Pagado' %}
                                        <span class="label label-success">{{ gasto.gasto.estado_pago }}</span>
                                    {% elif gasto.gasto.estado_pago == 'Anulada' %}
                                        <span class="label label-danger">{{ gasto.gasto.estado_pago }}</span>
                                    {% else %}
                                        <span class="label label-warning">{{ gasto.gasto.estado_pago }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    $ {{ gasto.gasto.valor_total | intcomma}}
                                </td>
                                <td>
                                    $ {{ gasto.gasto.valor_pagado | intcomma}}
                                </td>
                                <td style="display: none;">
                                    {% if gasto.gasto.forma_pago %}
                                    {{ gasto.gasto.forma_pago }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td style="display: none;">
                                    {% if gasto.gasto.tipo_pago_debito %}
                                    {{ gasto.gasto.tipo_gasto_debito }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td style="display: none;">
                                    {% if gasto.gasto.forma_pago == "Credito" %}
                                        {% if abonos %}
                                            {% for abono in abonos %}
                                                {% if abono.gasto_id == gasto.gasto.id %}
                                                    {{ abono.medio_pago }}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                        -
                                        {% endif %}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if gasto.gasto.estado_pago == 'Pendiente' %}
                                        <a class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Abonar" onclick="return abrir_modal('{% url 'abonar_gasto' gasto.gasto.id %}')"><i class="fa fa-dollar fa-lg"></i></a>
                                    {% endif %}
                                    <a href="{% url 'detalle_compra' gasto.gasto.id %}" class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                    {% if user.usuario.roles == "Administrador"%}
                                        {% if gasto.gasto.estado_pago != 'Anulada' %}
                                            <a onclick="AnularCompra('{{gasto.gasto.id}}', '{{gasto.gasto.valor_total}}', '{{gasto.gasto.fecha}}');" class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Anular"><i class="fa fa-ban fa-lg"></i></a>
                                        {% endif %}
                                    {% endif %}    
                                    <div class="dropdown menu-mobile-table hidden-md hidden-lg">
                                        <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            {% if gasto.gasto.estado_pago == 'Pendiente' %}
                                                <li>
                                                    <a class="action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Abonar" onclick="return abrir_modal('{% url 'abonar_gasto' gasto.gasto.id %}')"><i class="fa fa-dollar fa-lg"></i> Abonar</a>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <a href="{% url 'detalle_compra' gasto.gasto.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i> Ver</a>
                                            </li>
                                            {% if user.usuario.roles == "Administrador"%}
                                                {% if gasto.gasto.estado_pago != 'Anulada' %}
                                                <li>
                                                    <a onclick="AnularCompra('{{gasto.gasto.id}}', '{{gasto.gasto.valor_total}}', '{{gasto.gasto.fecha}}');" class="action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Anular"><i class="fa fa-ban fa-lg"></i> Anular</a>
                                                </li>
                                                {% endif %}
                                            {% endif %}    
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td>
                                    {{ gasto.fecha }}
                                </td>
                                <td>
                                    {{ gasto.fecha_abono | default:"-" }}
                                </td>
                                <td>
                                    {{ gasto.tipo_comprobante }}
                                </td>
                                <td style="display: none;">
                                    {{ gasto.numero_comprobante }}
                                </td>
                                <td>
                                    {% if gasto.responsable %}
                                        {{ gasto.responsable }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% for motivos in motivos_gastos %}
                                        {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                            {% for motivo in motivos %}
                                            <span class="label label-info">{{ motivo }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if gasto.proveedor %}
                                        {{ gasto.proveedor.nombre }}
                                    {% elif gasto.cliente_nota_credito %}
                                        {{ gasto.cliente_nota_credito.nombreCompleto }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if gasto.estado_pago == 'Pagado' %}
                                        <span class="label label-success">{{ gasto.estado_pago }}</span>
                                    {% elif gasto.estado_pago == 'Anulada' %}
                                        <span class="label label-danger">{{ gasto.estado_pago }}</span>
                                    {% else %}
                                        <span class="label label-warning">{{ gasto.estado_pago }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    $ {{ gasto.valor_total.normalize | intcomma}}
                                </td>
                                <td>
                                    $ {{ gasto.valor_pagado.normalize | intcomma}}
                                </td>
                                <td style="display: none;">
                                    {% if gasto.forma_pago %}
                                    {{ gasto.forma_pago }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td style="display: none;">
                                    {% if gasto.tipo_pago_debito %}
                                    {{ gasto.tipo_gasto_debito }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td style="display: none;">
                                    {% if gasto.forma_pago == "Credito" %}
                                        {% if abonos %}
                                            {% for abono in abonos %}
                                                {% if abono.gasto_id == gasto.id %}
                                                    {{ abono.medio_pago }}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                        -
                                        {% endif %}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if gasto.estado_pago == 'Pendiente' %}
                                        <a class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Abonar" onclick="return abrir_modal('{% url 'abonar_gasto' gasto.id %}')"><i class="fa fa-dollar fa-lg"></i></a>
                                    {% endif %}
                                    <a href="{% url 'detalle_compra' gasto.id %}" class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                    {% if user.usuario.roles == "Administrador"%}
                                        {% if gasto.estado_pago != 'Anulada' %}
                                            <a onclick="AnularCompra('{{gasto.id}}', '{{gasto.valor_total}}', '{{gasto.fecha}}');" class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Anular"><i class="fa fa-ban fa-lg"></i></a>
                                        {% endif %}
                                    {% endif %}    
                                    <div class="dropdown menu-mobile-table hidden-md hidden-lg">
                                        <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            {% if gasto.estado_pago == 'Pendiente' %}
                                                <li>
                                                    <a class="action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Abonar" onclick="return abrir_modal('{% url 'abonar_gasto' gasto.id %}')"><i class="fa fa-dollar fa-lg"></i> Abonar</a>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <a href="{% url 'detalle_compra' gasto.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i> Ver</a>
                                            </li>
                                            {% if user.usuario.roles == "Administrador"%}
                                                {% if gasto.estado_pago != 'Anulada' %}
                                                <li>
                                                    <a onclick="AnularCompra('{{gasto.id}}', '{{gasto.valor_total}}', '{{gasto.fecha}}');" class="action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Anular"><i class="fa fa-ban fa-lg"></i> Anular</a>
                                                </li>
                                                {% endif %}
                                            {% endif %}    
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <div style="display: flex;justify-content: flex-end;width: 100%">
                {% if is_paginated %}
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                      <li><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                    {% else %}
                      <li class="disabled"><span>Anterior</span></li>
                    {% endif %}
                    <li class="active">
                        <span>Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
                    </li>
                    {% if page_obj.has_next %}
                      <li><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                    {% else %}
                      <li class="disabled"><span>Siguiente</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-abono" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true"></div>
{% endblock content %}

{% block plugins %}
    <script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jszip.min.js' %}"></script>
    <script src="{% static 'js/pdfmake.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vfs_fonts.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/factura-pdf.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.print.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script>

        $(document).ready(function() {

            var fileName = $('.page-title').text();

            $('#table-compras').DataTable( {
                ordering: false,
                dom: '<"top row"B<"col-sm-6"l><"col-sm-6"f>>rt<"bottom"ip><"clear">',
                buttons: [
                    {
                        extend: 'excel',
                        text: 'Exportar Excel',
                        title: fileName,
                        className: 'btn btn-primary'
                    }
                ],
                paging: false,
                language: {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No hay información registrada",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "",
                    "infoFiltered": "(filtrado de _MAX_ registros en total)",
                    "search": "Buscar :",
                    "paginate": {
                        "first":      "Primera",
                        "last":       "Ultima",
                        "next":       "Siguiente",
                        "previous":   "Anterior"
                    }
                }
            });

        });




         if ('{{ ano }}'){
            $("#fecha_consulta_año").val('{{ ano }}');
        }

        if ('{{ mes }}'){
            $("#fecha_consulta_mes").val('{{ mes }}');
        }

        $("#filtrar_estado_pago").val('{{ estado_pago }}');
        $('#filtrar_estado_pago').on('change', function(){
            if($('#filtrar_fecha_pago').val() == 'mes'){
                window.location = '/gastos/listar_gasto_mes/'+$('#filtrar_estado_pago').val()+'/'+ $('#fecha_consulta_mes').val() + '/' + $('#fecha_consulta_año').val() + '/';
            }else {
                window.location = '/gastos/listar_gasto/'+ $('#filtrar_estado_pago').val() + '/' + $('#filtrar_fecha_pago').val() + '/';
            }
        });
        function abrir_modal(url) {
            $('#modal-abono').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function AnularCompra(id, total, fecha) {

            swal({
                title: "Estas seguro que deseas anular el egreso del dia "+fecha+" por valor de $"+total+"?",
                text: "Este cambio es irreversible. El inventario relacionado en el egreso será descontado nuevamente en el inventario.",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No, cancelar",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Si, anular permanentemente!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '/gastos/anular_compra/',
                        data: {
                          'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.replace("/gastos/listar_gasto/todos/semana/");
                        }
                    });
                }
            });

        }

        if ('{{ fecha_pago }}' == 'mes'){
            var div_mes = document.getElementById("div_mes");
            var div_año = document.getElementById("div_año");
            div_mes.style.display = 'block';
            div_año.style.display = 'block';
        }

        $("#filtrar_fecha_pago").val('{{ fecha_pago }}');
        $('#filtrar_fecha_pago').on('change', function(){
            if($('#filtrar_fecha_pago').val() == 'mes'){
                var div_mes = document.getElementById("div_mes");
                var div_año = document.getElementById("div_año");
                div_mes.style.display = 'block';
                div_año.style.display = 'block';
                window.location = '/gastos/listar_gasto_mes/'+$('#filtrar_estado_pago').val()+'/'+ $('#fecha_consulta_mes').val() + '/' + $('#fecha_consulta_año').val() + '/';
            }else{
                //$('#div_mes').hide();
                //$('#div_año').hide();
                window.location = '/gastos/listar_gasto/'+ $('#filtrar_estado_pago').val() + '/' + $('#filtrar_fecha_pago').val() + '/';
            }
        });

        $('#fecha_consulta_mes').datetimepicker({
            format: 'MM',
            defaultDate: new Date(),
            icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down"
                    }

        });

        $('#fecha_consulta_año').datetimepicker({
            format: 'YYYY',
            defaultDate: new Date(),
            icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down"
                    }

        });

        $('#fecha_consulta_mes').on('dp.change', function(){
            if($('#filtrar_fecha_pago').val() == 'mes'){
                window.location = '/gastos/listar_gasto_mes/'+$('#filtrar_estado_pago').val()+'/'+ $('#fecha_consulta_mes').val() + '/' + $('#fecha_consulta_año').val() + '/';
            }else{
                window.location = '/gastos/listar_gasto/'+ $('#filtrar_estado_pago').val() + '/' + $('#filtrar_fecha_pago').val() + '/';
            }
        });

        $('#fecha_consulta_año').on('dp.change', function(){
            if($('#filtrar_fecha_pago').val() == 'mes'){
                window.location = '/gastos/listar_gasto_mes/'+$('#filtrar_estado_pago').val()+'/'+ $('#fecha_consulta_mes').val() + '/' + $('#fecha_consulta_año').val() + '/';
            }else{
                window.location = '/gastos/listar_gasto/'+ $('#filtrar_estado_pago').val() + '/' + $('#filtrar_fecha_pago').val() + '/';
            }
        });
    </script>
{% endblock %}