{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

<div class="modal-dialog modal-md">
    <div class="modal-content animated fadeIn">
        <div class="modal-header">
            <div  style="width: 100%; display: flex;justify-content:space-between;">
                <h4 class="modal-title">Registrar abono</h4>
                <a href="#" title="Cerrar" class="action-icon dropdown-toggle" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha limite de pago</th>
                                <th>Valor de cuota</th>
                                <th>Valor pagado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cuota in cuotas_gasto %}
                            <tr>
                                <td>
                                    {% if fecha_actual >= cuota.fecha_limite and cuota.estado_pago == 'Pendiente' %}
                                    <span style="color: red;">
                                    {% else %}
                                    <span>
                                    {% endif %}
                                    {{ cuota.fecha_limite }}
                                    </span>
                                </td>
                                <td>
                                    $ {{ cuota.valor_cuota | intcomma }}
                                </td>
                                <td>
                                    $ {{ cuota.valor_pagado | intcomma }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12" style="margin-top: 10px;">
                    <div class="col-md-4">
                        <h4>
                            <b>Saldo: </b>$ {{ mi_gasto.saldo | intcomma }}
                        </h4>
                    </div>
                    <div class="col-md-8" style="display: flex; flex-direction: column;">
                        <div style="display: flex;">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-dollar fa-lg"></i></span>
                              <input class="form-control" id="cantidad_abono" min="1" type="number" onkeypress="return event.charCode >= 48" value="{{ cuota_actual.saldo_cuota }}" >
                            </div>
                            <select class="form-control" id="medio_pago">
                                <option value="Efectivo">Efectivo</option>
                                <option value="Tarjeta debito">Tarjeta débito</option>
                                <option value="Consignacion">Consignación</option>
                                <option value="Tarjeta credito">Tarjeta crédito</option>
                                <option value="Otro">Otro</option>
                            </select>
                            <a id="confirmar-terminar" onclick="registrarAbono()" style="margin-left: 8px;" class="btn btn-primary">Abonar</a>
                        </div>
                        <span style="display: none;color: red;" id="error_abono">El abono no puede superar el saldo</span>
                        <!--label class="col-lg-3 control-label">Abono</label>
                        <input class="form-control" id="cantidad" min="1" type="number" onkeypress="return event.charCode >= 48" value="1" onkeyup="calcularValorTotal()" onchange="calcularValorTotal()"-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function registrarAbono() {
        var saldo_pago = '{{ mi_gasto.saldo }}';

        if(parseInt($('#cantidad_abono').val()) > parseInt(saldo_pago)){
            $('#error_abono').css('display','inline');
        }else{

            $.ajax({
                url: '/gastos/abonar_gasto/'+'{{ mi_gasto.id }}'+'/',
                data: {
                    'valor_abonado': $('#cantidad_abono').val(),
                    'medio_pago': $('#medio_pago').val()
                },
                dataType: 'json',
                success: function (data) {
                    window.location.reload();
                }
            });

        }
    }
</script>
