{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Registrar Egreso
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css"/>

<style>
    .selectpicker:hover, .selectpicker:focus, .selectpicker:active.focus{
        background-color: #fff;
    }
    .open>.dropdown-toggle.btn-default:hover,.open>.dropdown-toggle.btn-default {
        color: #333;
        background-color: #fff;
        border-color: #8c8c8c;
    }
    .select2-selection__rendered {
        line-height: 31px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 34px !important;
    }
    .elementos_modal{
        cursor: pointer;
    }
    .elementos_modal:hover{
        background-color: #d5d7d3;
    }
</style>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">
            {% if modificar %}
            Modificar Egreso
            {% else %}
            Registrar Egreso
            {% endif %}
        </h4>
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li><a href="/gastos/listar_gasto/todos/semana/">Egresos</a></li>
            <li class="active"><a>{% if modificar %}Modificar Egreso{% else %}Registrar Egreso{% endif %}</a></li>
        </ol>          
    </div>
</div>
<div id="app_registrar_compra">
    <form class="form-horizontal" method="post" action="" autocomplete="off">{% csrf_token %}
        <div class="card-box" style="padding-left: 15px;">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form_registrar_compra.fecha label_class="control-label col-lg-2" field_class="col-lg-10" %}
                    </div>
                </div>
                <div class="col-sm-6" id="tercero_proveedor">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form_registrar_compra.proveedor label_class="control-label col-lg-2" field_class="col-lg-10" %}
                    </div>
                </div>
                <div class="col-sm-6" id="tercero_cliente" style="display: none;">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form_registrar_compra.cliente_nota_credito label_class="control-label col-lg-2" field_class="col-lg-10" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form_registrar_compra.numero_comprobante label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form_registrar_compra.tipo_comprobante label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive horizontal-scroll">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Nombre</th>
                                <th>Costo unitario</th>
                                <th>Unidades</th>
                                <th>Costo total</th>
                                <th>Impuesto</th>
                                <th class="text-right">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(elemento_agregado, index) in elementos_agregados">
                                <td>
                                    [[ elemento_agregado.tipo ]]
                                </td>
                                <td>
                                    <div v-if="elemento_agregado.tipo == 'Servicio' || elemento_agregado.tipo == 'Otro'">
                                        [[ elemento_agregado.nombre ]]
                                    </div>
                                    <div v-else>
                                        <div v-if="elemento_agregado.fecha_vencimiento">
                                            [[ elemento_agregado.nombre_elemento ]] (Vence: [[ elemento_agregado.fecha_vencimiento ]])
                                        </div>
                                        <div v-else>
                                            [[ elemento_agregado.nombre_elemento ]]
                                        </div>
                                    </div>
                                </td>                                
                                <td>
                                    <input v-if="elemento_agregado.activar_edicion == true" class="form-control" type="number" v-bind:value="elemento_agregado.costo_unitario_editar" v-on:keyup="edicionCostoUnitario(index,$event)" v-on:change="edicionCostoUnitario(index,$event)">
                                    <div v-else>$ [[ elemento_agregado.costo_unitario]]</div>
                                </td>
                                <td>
                                    <input v-if="elemento_agregado.activar_edicion == true" class="form-control" min="1" type="number" onkeypress="return event.charCode >= 48" v-bind:value="elemento_agregado.unidades_editar" v-on:keyup="calcularValorTotalEdicion(index,$event)" v-on:change="calcularValorTotalEdicion(index,$event)">
                                    <div v-else>[[elemento_agregado.unidades]]</div>
                                </td>
                                <td>
                                    <div v-if="elemento_agregado.activar_edicion == true">$ [[ elemento_agregado.costo_total_editar ]]</div>
                                    <div v-else>$ [[ elemento_agregado.costo_total ]]</div>
                                </td>                            
                                <td>
                                    <div v-for="impuesto in lista_impuestos">
                                        <div v-if="impuesto.pk == elemento_agregado.id_impuesto">
                                            [[ impuesto.fields.nombre ]] ([[ impuesto.fields.porcentaje ]])
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <a href="#" v-if="elemento_agregado.activar_edicion == true" title="Guardar" class="action-icon dropdown-toggle" style="color: #076ff1" v-on:click="guardarElementosSeleccionadosEditado(index);"><i class="fa fa-save m-r-5"></i></a>
                                    <a href="#" v-else title="Editar" class="action-icon dropdown-toggle" style="color: #076ff1" v-on:click="editarElementosSeleccionados(index);"><i class="fa fa-pencil m-r-5"></i></a>
                                    <a href="#" title="Quitar" class="action-icon dropdown-toggle" style="color: #f10000" v-on:click="eliminarElementosSeleccionados(index);"><i class="fa fa-trash m-r-5"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="min-width: 200px;">
                                    <select class="form-control" id="select_tipo" data-live-search="true">
                                        <option value="Servicio">Servicio</option>
                                        <option value="Producto">Producto</option>
                                        <option value="Medicamento">Medicamento</option>
                                        <option value="Vacuna">Vacuna</option>
                                        <option value="Desparasitante">Desparasitante</option>
                                        <option value="Insumo">Insumo</option>
                                        <option v-for="categoria in lista_categorias" v-bind:value="[[ categoria[0] ]]">[[ categoria[1] ]]</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </td>
                                <td style="min-width: 250px;">
                                    <input v-if="tipo_elemento == 'Servicio' || tipo_elemento == 'Otro'" class="form-control" id="nombre_servicio" type="text">
                                    <div id="contenedor_select_productos">
                                        <select class="form-control" id="select_elemento" style="width: 250px;">
                                            <option value="-1">-----------</option>
                                            <option v-for="(elemento, index) in elementos_por_codigo" v-bind:value="[[ index ]]">
                                                <template v-if="elemento.model == 'productos.producto'">
                                                    [[ elemento.fields.nombre ]] (cód : [[ elemento.fields.codigo ]]) <span v-if="elemento.fields.bodega != 1">([[ elemento.fields.bodega ]])</span>
                                                </template>
                                                <template v-else>
                                                    [[ elemento.fields.nombre ]] (cód : [[ elemento.fields.codigo_inventario ]]) <span v-if="elemento.fields.bodega != 1">([[ elemento.fields.bodega ]])</span>
                                                </template>
                                            </option>
                                        </select>
                                    </div>
                                </td>
                                <td style="min-width: 130px;">
                                    <input class="form-control" id="costo_unidad" value="0" type="number" min="0" onkeyup="calcularTotalesElementos()" onchange="calcularTotalesElementos()">
                                </td>
                                <td style="min-width: 100px;">
                                    <input class="form-control" id="unidades" min="1" type="number" onkeypress="return event.charCode >= 48" value="1" onkeyup="calcularTotalesElementos()" onchange="calcularTotalesElementos()">
                                </td>
                                <td style="min-width: 130px;">
                                    <input class="form-control" id="costo_total" value="0" disabled type="number">
                                </td>
                                <td style="min-width: 100px;">
                                    <select class="form-control selectpicker" id="select_impuesto" data-live-search="true">
                                        <option value="0">-----------</option>
                                        <option v-for="impuesto in lista_impuestos" v-bind:value="[[ impuesto.pk ]]">[[ impuesto.fields.nombre ]] ([[ impuesto.fields.porcentaje ]]%)</option>
                                    </select>
                                </td>
                                <td class="text-right">
                                    <a href="#" title="Agregar" class="action-icon dropdown-toggle" style="color: #076ff1" v-on:click="agregarElemento();"><i class="fa fa-plus m-r-5"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" style="display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end">
                <div class="col-sm-5">
                    <div class="form-group" style="margin: 15px;">
                        <label class="col-lg-4 control-label">Sub-Total</label>
                        <div class="col-lg-8">
                            <input class="form-control" id="subtotal" type="text" disabled v-bind:value="subtotal">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group" style="margin: 15px;">
                        <label class="col-lg-4 control-label">Descuento</label>
                        <div class="col-lg-8">
                            <input class="form-control" id="descuento" type="number" onkeypress="return event.charCode >= 48" value="0" v-on:keyup="calcularTotales()">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group" style="margin: 15px;">
                        <label class="col-lg-4 control-label">Impuesto</label>
                        <div class="col-lg-8">
                            <input class="form-control" id="impuesto" type="text" disabled v-bind:value="total_impuesto">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group" style="margin: 15px;">
                        <label class="col-lg-4 control-label">Total</label>
                        <div class="col-lg-8">
                            <input class="form-control" id="total" type="text" disabled v-bind:value="total">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group" style="margin: 15px;">
                        <label class="col-lg-4 control-label">Forma de pago</label>
                        <div class="col-lg-8">
                            <select class="form-control" id="select_forma_pago" style="width: 100%;">
                                <option value="Debito">Débito</option>
                                <option value="Credito">Credito</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5" v-if="forma_pago == 'Debito'">
                    <div class="form-group" style="margin: 15px;">
                        <label class="col-lg-4 control-label">
                            Medio
                        </label>
                        <div class="col-lg-8">
                            <select class="form-control" id="medio_pago_debito">
                                <option value="Efectivo">Efectivo</option>
                                <option value="Tarjeta debito">Tarjeta débito</option>
                                <option value="Consignacion">Consignación</option>
                                <option value="Tarjeta credito">Tarjeta crédito</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5" v-if="forma_pago == 'Credito'">
                    <div class="form-group" style="margin: 15px;">
                        <label class="col-lg-4 control-label">
                            Medio
                        </label>
                        <div class="col-lg-8">
                            <select class="form-control" id="medio_pago_credito">
                                <option value="Efectivo">Efectivo</option>
                                <option value="Tarjeta debito">Tarjeta débito</option>
                                <option value="Consignacion">Consignación</option>
                                <option value="Tarjeta credito">Tarjeta crédito</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5" v-if="forma_pago == 'Credito'">
                    <div class="form-group" style="margin: 15px;">
                        <label class="col-lg-4 control-label">
                            Numero de cuotas
                        </label>
                        <div class="col-lg-8">
                            <input class="form-control" id="numero_cuotas" type="number" onkeypress="return event.charCode >= 48" v-on:keyup="cambiarNumCuotas($event)" v-on:change="cambiarNumCuotas($event)" value="2" min="1">
                            <span id="error_cuotas" style="display: none;color: #ff0000;">El número de cuotas no puede ser cero</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div id="fechas_cuotas" style="display: none;">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive horizontal-scroll">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Cuota</th>
                                        <th>Fecha</th>
                                        <th>Abono a total</th>
                                        <th class="text-center"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(cuota_agregada, index) in cuotas_agregadas">
                                            <td>
                                                [[ index + 1 ]]
                                            </td>
                                            <td>
                                                [[ cuota_agregada.fecha ]]
                                            </td>
                                            <td>
                                                [[ cuota_agregada.abono | currency ]]
                                            </td>
                                            <td class="text-center">
                                                <a title="Quitar" class="action-icon dropdown-toggle" style="color: #f10000" v-on:click="eliminarCuotaAgregada(index);"><i class="fa fa-trash m-r-5"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>[[ cuotas_agregadas.length + 1]]</td>
                                            <td style="min-width: 50%;">
                                                <input class="form-control datetime-input" id="fecha">
                                            </td>
                                            <td style="max-width: 50%;">
                                                <input class="form-control" id="abono" type="number" min="1" onkeypress="return event.charCode >= 48">
                                            </td>
                                            <td class="text-center">
                                                <a title="Agregar" class="action-icon dropdown-toggle" style="color: #076ff1" v-on:click="agregarCuota();"><i class="fa fa-plus m-r-5"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group" style="margin: 15px;">
                        <label class="control-label">Comentarios</label>
                        <textarea class="form-control" id="comentarios"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center submit-btns">
            <!--button id="id_boton_registrar_pago" class="btn btn-primary m-r-20">Agregar</button-->
            <a href="#" v-on:click="registrarCompra();" id="id_boton_registrar_pago" class="btn btn-primary button_save">Agregar</a>
            <a href="/gastos/listar_gasto/todos/semana" class="btn btn-danger button_save">Cancelar</a>
        </div>
    </form>

    <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="titulo_modal_fallecimiento">[[ nombre_elemento_modal ]]</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha de vencimiento</th>
                            </tr>
                        </thead>
                        <tbody v-if="tipo_elemento == 'Producto'">
                            <tr v-for="(elemento,index) in lista_elementos" v-if="elemento.fields.codigo == codigo_repetido" class="elementos_modal" v-on:click="seleccionarElementoModal(index);">
                                <td>
                                    <div v-if="elemento.fields.fecha_vencimiento">
                                        [[ elemento.fields.fecha_vencimiento ]]
                                    </div>
                                    <div v-else>
                                        Sin fecha
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                        <tbody v-else>
                            <tr v-for="(elemento,index) in lista_elementos" v-if="elemento.fields.codigo_inventario == codigo_repetido" class="elementos_modal" v-on:click="seleccionarElementoModal(index);">
                                <td>
                                    <div v-if="elemento.fields.fecha_vencimiento">
                                        [[ elemento.fields.fecha_vencimiento ]]
                                    </div>
                                    <div v-else>
                                        Sin fecha
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript">
    $(function () {
        $('.fechaCompra').datetimepicker({
            format: 'YYYY-MM-DD',
            maxDate: new Date(),
            locale: 'es'
        });
        $('.datetime-input').datetimepicker({
            format: 'YYYY-MM-DD'
        });
        $('#select_tipo, #id_proveedor, #id_cliente_nota_credito').change(function(){
            $("html, body").animate({ scrollTop: 150 }, 600);
        });
        $('#select_elemento').select2();

    });

    function calcularTotalesElementos(){
        $("#costo_total").val($("#costo_unidad").val() * $("#unidades").val());
    }

    function calcularTotalesElementosSeleccionados(){

        app_registrar_compra.subtotal = 0;
        app_registrar_compra.total_impuesto = 0;

        var impuesto = 0;
        var valor_impuesto = 0;

        app_registrar_compra.elementos_agregados.forEach( (element, i) => {
            app_registrar_compra.subtotal = Number(app_registrar_compra.subtotal) + Number(element.costo_total);

            if(element.valor_impuesto){
                valor_impuesto = element.valor_impuesto;
                impuesto = impuesto + ((Number(element.valor_impuesto) * Number(element.costo_total)) / 100);
                //console.log("impuesto: ", impuesto);
            }
        });
        app_registrar_compra.total_impuesto = impuesto - (Number(valor_impuesto) * Number($("#descuento").val()) / 100);

        app_registrar_compra.total = (app_registrar_compra.subtotal + app_registrar_compra.total_impuesto) - $("#descuento").val();

    }

    var app_registrar_compra = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app_registrar_compra',
        data: {
            subtotal: 0,
            descuento: 0,
            total_impuesto: 0,
            total: 0,
            tipo_elemento: 'Servicio',
            lista_elementos: {},
            lista_impuestos: {},
            elementos_agregados: [],
            forma_pago: 'Debito',
            num_cuotas: 0,
            cuotas_agregadas: [],
            nombre_elemento_modal: '',
            codigo_repetido: 0,
            elementos_por_codigo: {},
            codigos_elementos: [],
            countryVal: -1,
            modalVal: -1,
            index_elemento: '',
            id_elemento_seleccionado: '',
            elemento_seleccionado: [],
            lista_categorias: {},
            codigos_elementos_categoria: [],
            elementos_categoria_por_codigo: [],
            id_elemento_categoria_seleccionado: '',
            lista_elementos_categoria: {}
        },
        updated: function(){
            this.$nextTick(function(){ $('.selectpicker').selectpicker('refresh'); });
        },
        filters: {
            currency: function (value) {
                return '$' + value;
            }
        },
        methods: {
            seleccionarElementoModal:function(index){
                app_registrar_compra.index_elemento = app_registrar_compra.modalVal;
                var element = app_registrar_compra.lista_elementos[index];
                app_registrar_compra.elemento_seleccionado = element;
                app_registrar_compra.id_elemento_seleccionado = element[0];
                $("#costo_unidad").val(app_registrar_compra.elemento_seleccionado.fields.precio_venta);

                $('#myModal2').modal('hide');
                $('#select_elemento').val(app_registrar_compra.modalVal);
                $('#select_elemento').select2();
                app_registrar_compra.countryVal = app_registrar_compra.modalVal;
            },

            calcularTotales: function (){
                app_registrar_compra.subtotal = 0;
                app_registrar_compra.total = 0;

                var impuesto = 0;
                var valor_impuesto = 0;

                app_registrar_compra.elementos_agregados.forEach( (element, i) => {
                app_registrar_compra.subtotal = Number(app_registrar_compra.subtotal) + Number(element.costo_total);

                    if(element.valor_impuesto){
                        valor_impuesto = element.valor_impuesto;
                        impuesto = impuesto + ((Number(element.valor_impuesto) * Number(element.costo_total)) / 100);
                            //console.log("impuesto: ", impuesto);
                    }
                });

                app_registrar_compra.total_impuesto = impuesto - (Number(valor_impuesto) * Number($("#descuento").val()) / 100);

                app_registrar_compra.total = (app_registrar_compra.subtotal + app_registrar_compra.total_impuesto) - $("#descuento").val();

                app_registrar_compra.total = app_registrar_compra.total.toFixed(0);

                app_registrar_compra.total_impuesto = app_registrar_compra.total_impuesto.toFixed(0);

            },
            agregarElemento: function (){

                 if(($('#select_tipo').val() == 'Servicio' || $('#select_tipo').val() == 'Otro') ){
                     if($('#nombre_servicio').val() != ''){

                         var objeto = {};
                       
                         if($('#select_impuesto').val() != '0'){

                             var valor_impuesto = '';

                             app_registrar_compra.lista_impuestos.forEach( (element, i) => {
                                if(element.pk == $("#select_impuesto").val()){

                                    valor_impuesto = element.fields.porcentaje;

                                }
                            });

                             objeto = {
                                "tipo": $('#select_tipo').val(),
                                "nombre": $('#nombre_servicio').val(),
                                "costo_unitario": parseFloat($('#costo_unidad').val()),
                                "unidades": $('#unidades').val(),
                                "costo_total": parseFloat($('#costo_total').val()),
                                "id_impuesto": $('#select_impuesto').val(),
                                "valor_impuesto": valor_impuesto,
                                "activar_edicion": false,
                                "costo_total_editar": 0,
                            }
                         }else{
                             objeto = {
                                "tipo": $('#select_tipo').val(),
                                "nombre": $('#nombre_servicio').val(),
                                "costo_unitario": parseFloat($('#costo_unidad').val()),
                                "unidades": $('#unidades').val(),
                                "costo_total": parseFloat($('#costo_total').val()),
                                "id_impuesto": $('#select_impuesto').val(),
                                "activar_edicion": false,
                                "costo_total_editar": 0,
                            }
                         }

                        app_registrar_compra.elementos_agregados.push(objeto);
                        $("#nombre_servicio").val('');
                        $("#costo_unidad").val('0');
                        $("#unidades").val('1');
                        $("#costo_total").val('0');
                        $('#select_impuesto').val("0");

                        $("#select_impuesto").selectpicker('refresh');

                        calcularTotalesElementosSeleccionados();

                     }else {
                         swal({
                            type: 'error',
                            title: 'Debe ingresar un nombre',
                            showConfirmButton: true
                        });
                        setTimeout(function(){
                            $("#pageLoader").hide();
                            $('.button_save').removeAttr('disabled');
                        }, 500);                         
                     }
                 }else{
                     if($('#select_elemento').val() != '-1'){

                         var objeto = {};

                         if(isNaN($('#select_tipo').val())){
                             var tipo = $('#select_tipo').val();
                         }else{
                             var tipo = $("#select_tipo option:selected").text();
                         }

                         if($('#select_impuesto').val() != '0'){

                             var valor_impuesto = '';

                             app_registrar_compra.lista_impuestos.forEach( (element, i) => {
                                if(element.pk == $("#select_impuesto").val()){

                                    valor_impuesto = element.fields.porcentaje;

                                }
                            });

                             objeto = {
                                "tipo": tipo,
                                "id_elemento": app_registrar_compra.elemento_seleccionado.pk,
                                "costo_unitario": $('#costo_unidad').val(),
                                "unidades": $('#unidades').val(),
                                "costo_total": $('#costo_total').val(),
                                "id_impuesto": $('#select_impuesto').val(),
                                "nombre_elemento": app_registrar_compra.elemento_seleccionado.fields.nombre,
                                "valor_impuesto": valor_impuesto,
                                "fecha_vencimiento": app_registrar_compra.elemento_seleccionado.fields.fecha_vencimiento,
                                "activar_edicion": false,
                                "costo_total_editar": 0,
                            }
                         }else{
                             objeto = {
                                "tipo": tipo,
                                "id_elemento": app_registrar_compra.elemento_seleccionado.pk,
                                "costo_unitario": $('#costo_unidad').val(),
                                "unidades": $('#unidades').val(),
                                "costo_total": $('#costo_total').val(),
                                "id_impuesto": $('#select_impuesto').val(),
                                "nombre_elemento": app_registrar_compra.elemento_seleccionado.fields.nombre,
                                "fecha_vencimiento": app_registrar_compra.elemento_seleccionado.fields.fecha_vencimiento,
                                "activar_edicion": false,
                                "costo_total_editar": 0,
                            }
                         }

                        app_registrar_compra.elementos_agregados.push(objeto);
                        $("#select_elemento").val('-1');
                        $("#costo_unidad").val('0');
                        $("#unidades").val('1');
                        $("#costo_total").val('0');
                        $('#select_impuesto').val("0");

                        $('#select_elemento').select2();
                        $("#select_impuesto").selectpicker('refresh');

                        calcularTotalesElementosSeleccionados();
                     }else {
                         swal({
                            type: 'error',
                            title: 'Debe seleccionar un elemento',
                            showConfirmButton: true
                        });
                        setTimeout(function(){
                            $("#pageLoader").hide();
                            $('.button_save').removeAttr('disabled');
                        }, 500);                         
                     }
                 }
             },
            eliminarElementosSeleccionados: function (i) {

                        app_registrar_compra.elementos_agregados.splice(i, 1);

                        calcularTotalesElementosSeleccionados();

                    },
            editarElementosSeleccionados: function (i) {
                app_registrar_compra.elementos_agregados[i].activar_edicion = true;
                app_registrar_compra.elementos_agregados[i].unidades_editar = app_registrar_compra.elementos_agregados[i].unidades;
                app_registrar_compra.elementos_agregados[i].costo_unitario_editar = app_registrar_compra.elementos_agregados[i].costo_unitario;
                app_registrar_compra.elementos_agregados[i].costo_total_editar = app_registrar_compra.elementos_agregados[i].costo_total;

            }, 

            guardarElementosSeleccionadosEditado: function (i) {
                app_registrar_compra.elementos_agregados[i].activar_edicion = false;
                app_registrar_compra.elementos_agregados[i].unidades = app_registrar_compra.elementos_agregados[i].unidades_editar;
                app_registrar_compra.elementos_agregados[i].costo_unitario = app_registrar_compra.elementos_agregados[i].costo_unitario_editar;
                app_registrar_compra.elementos_agregados[i].costo_total = app_registrar_compra.elementos_agregados[i].costo_total_editar;

                calcularTotalesElementosSeleccionados();

            },
            calcularValorTotalEdicion: function (i,e) {
                app_registrar_compra.elementos_agregados[i].unidades_editar = e.target.value;
                app_registrar_compra.elementos_agregados[i].costo_total_editar = e.target.value * app_registrar_compra.elementos_agregados[i].costo_unitario_editar;
            },
            edicionCostoUnitario: function (i,e) {
                app_registrar_compra.elementos_agregados[i].costo_unitario_editar = e.target.value;
                app_registrar_compra.elementos_agregados[i].costo_total_editar = e.target.value * app_registrar_compra.elementos_agregados[i].unidades_editar;
            },

            sumar_cuotas_agregas: function() {
                var suma_total = 0;

                app_registrar_compra.cuotas_agregadas.forEach(function (cuota) {
                    suma_total = suma_total + parseInt(cuota.abono);
                });

                console.log("suma_total: ", suma_total);

                return suma_total;
            },

            validar_credito: function (){
                if(app_registrar_compra.num_cuotas != app_registrar_compra.cuotas_agregadas.length){
                    swal({
                        icon: 'error',
                        title: 'El número de cuotas ingresado debe coincidir con el número de cuotas agregadas',
                        button: 'Ok'
                    });
                    setTimeout(function(){
                        $("#pageLoader").hide();
                        $('.button_save').removeAttr('disabled');
                    }, 500);                     

                    return false;
                }else if(app_registrar_compra.sumar_cuotas_agregas() != parseInt(app_registrar_compra.total)){
                    swal({
                        icon: 'error',
                        title: 'La suma de abonos de las cuotas agregadas debe ser igual al valor total de la compra',
                        button: 'Ok'
                    });
                    setTimeout(function(){
                        $("#pageLoader").hide();
                        $('.button_save').removeAttr('disabled');
                    }, 500);                     
                    return false;
                }else{
                    return true;
                }
            },
            registrarCompra: function () {

                if($("#id_fecha").val() == ''){
                    swal({
                        icon: 'error',
                        title: 'Debe seleccionar una fecha',
                        button: 'Ok'
                    });
                    setTimeout(function(){
                        $("#pageLoader").hide();
                        $('.button_save').removeAttr('disabled');
                    }, 500);                     
                }else if(app_registrar_compra.elementos_agregados.length == 0 ){
                    swal({
                        icon: 'error',
                        title: 'Debe agregar minimo un elemento',
                        button: 'Ok'
                    });
                    setTimeout(function(){
                        $("#pageLoader").hide();
                        $('.button_save').removeAttr('disabled');
                    }, 500);                     
                }else if(app_registrar_compra.forma_pago == 'Credito' && app_registrar_compra.validar_credito() == false){
                    setTimeout(function(){
                        $("#pageLoader").hide();
                        $('.button_save').removeAttr('disabled');
                    }, 500);
                }else if($("#id_tipo_comprobante").val() == 'Nota Crédito' && $("#id_cliente_nota_credito").val() == '' ){
                    swal({
                        icon: 'error',
                        title: 'Debe seleccionar un tercero',
                        button: 'Ok'
                    });
                    setTimeout(function(){
                        $("#pageLoader").hide();
                        $('.button_save').removeAttr('disabled');
                    }, 500);
                }else if($("#id_tipo_comprobante").val() == 'Nota Crédito' && $("#comentarios").val() == '' ){
                    swal({
                        icon: 'error',
                        title: 'Debe completar el campo comentarios',
                        button: 'Ok'
                    });
                    setTimeout(function(){
                        $("#pageLoader").hide();
                        $('.button_save').removeAttr('disabled');
                    }, 500);
                }else{

                    var csrftoken = $('[name="csrfmiddlewaretoken"]').val();

                    var values = {
                        'fecha': $("#id_fecha").val(),
                        'proveedor': $("#id_proveedor").val(),
                        'comentarios': $("#comentarios").val(),
                        'elementos_agregados': app_registrar_compra.elementos_agregados,
                        'subtotal': parseFloat(app_registrar_compra.subtotal),
                        'descuento': parseFloat($("#descuento").val()),
                        'total_impuesto': parseFloat(app_registrar_compra.total_impuesto),
                        'total': parseFloat(app_registrar_compra.total),
                        'forma_pago': app_registrar_compra.forma_pago,
                        'numero_comprobante': $("#id_numero_comprobante").val(),
                        'tipo_comprobante': $("#id_tipo_comprobante").val(),
                        'cliente_nota_credito': $("#id_cliente_nota_credito").val()
                    };

                    if(app_registrar_compra.forma_pago == 'Credito'){
                        values.medio_pago_credito = $("#medio_pago_credito").val();
                        values.numero_cuotas = $("#numero_cuotas").val();
                        values.cuotas = app_registrar_compra.cuotas_agregadas;
                    }

                    if(app_registrar_compra.forma_pago == 'Debito'){
                        values.medio_pago_debito = $("#medio_pago_debito").val();
                    }

                    $.ajax({
                        type:"POST",
                        url: '/gastos/registrar_compra/',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                            "X-CSRFToken": csrftoken
                        },
                        async: false,
                        processData: false,
                        data: JSON.stringify(values),
                        success: function () {
                            window.location.replace("/gastos/listar_gasto/todos/semana");
                        }
                    });

                }
            },
            agregarCuota: function () {
                if($("#fecha").val() == ''){
                    swal({
                        icon: 'error',
                        title: 'Debe ingresar una fecha para la cuota',
                        button: 'Ok',
                    });
                    setTimeout(function(){
                        $("#pageLoader").hide();
                        $('.button_save').removeAttr('disabled');
                    }, 500);                     
                }else if($("#abono").val() == ''){
                    swal({
                        icon: 'error',
                        title: 'Debe ingresar un abono para la cuota',
                        button: 'Ok',
                    });
                    setTimeout(function(){
                        $("#pageLoader").hide();
                        $('.button_save').removeAttr('disabled');
                    }, 500);                     
                }else if($("#abono").val() == 0){
                    swal({
                        icon: 'error',
                        title: 'El abono ingresado debe ser mayor a $0',
                        button: 'Ok',
                    });
                    setTimeout(function(){
                        $("#pageLoader").hide();
                        $('.button_save').removeAttr('disabled');
                    }, 500);                     
                }
                else if(app_registrar_compra.cuotas_agregadas.length >= app_registrar_compra.num_cuotas){
                    swal({
                        icon: 'error',
                        title: 'Las coutas agregadas no deben superar el número de cuotas ingresado',
                        button: 'Ok',
                    });
                    setTimeout(function(){
                        $("#pageLoader").hide();
                        $('.button_save').removeAttr('disabled');
                    }, 500);                     
                }else{

                    var suma_total = 0;

                    app_registrar_compra.cuotas_agregadas.forEach(function (cuota) {
                        suma_total = suma_total + parseInt(cuota.abono);
                    });

                    var nuevo_valor = suma_total + parseInt($("#abono").val());

                    if( nuevo_valor > app_registrar_compra.total){
                        swal({
                            icon: 'error',
                            title: 'La suma de abonos de las cuotas no debe superar el valor total de la compra',
                            button: 'Ok',
                        });
                        setTimeout(function(){
                            $("#pageLoader").hide();
                            $('.button_save').removeAttr('disabled');
                        }, 500);                         
                    }else{

                        objeto = {
                            "fecha": $("#fecha").val(),
                            "abono": $("#abono").val()
                        }

                        app_registrar_compra.cuotas_agregadas.push(objeto);

                        $("#fecha").val('');
                        $("#abono").val('');

                        //console.log("app_ingresos.cuotas_agregadas: ", app_ingresos.cuotas_agregadas);
                    }
                }

            },
            eliminarCuotaAgregada: function (i) {
                this.cuotas_agregadas.splice(i, 1);
            },
            cambiarNumCuotas: function (e) {
                var num = e.target.value;
                if(num == '' || num == 0){
                    $('#error_cuotas').css('display','inline');
                    app_registrar_compra.num_cuotas = num;
                }else{
                    $('#error_cuotas').css('display','none');
                    app_registrar_compra.num_cuotas = num;
                }
            },
        }
    });

    $(document).ready(function(){
        app_registrar_compra.lista_categorias = JSON.parse('{{ lista_categorias|safe }}');
        $("#contenedor_select_productos").hide();
        $.ajax({
            url: '/gastos/ajax/obtener_impuestos/',
            data: {
              'tipo': 'adad'
            },
            dataType: 'json',
            success: function (data) {
                app_registrar_compra.lista_impuestos = JSON.parse(data.impuestos);
            }
        });
    });

    $("#select_tipo").change(function () {
        app_registrar_compra.tipo_elemento = $("#select_tipo").val();
        $('#select_elemento').val('-1');

        if($("#select_tipo").val() == 'Servicio' || $("#select_tipo").val() == 'Otro' ){

            $("#contenedor_select_productos").hide();
        }else{

            var bodegas = JSON.parse('{{ lista_bodegas|safe }}');

            $.ajax({
                url: '/gastos/ajax/obtener_inventario/',
                data: {
                  'tipo_elemento': $("#select_tipo").val()
                },
                dataType: 'json',
                success: function (data) {
                    app_registrar_compra.lista_elementos = JSON.parse(data.lista_elementos);
                    app_registrar_compra.elementos_por_codigo = JSON.parse(data.elementos_por_codigo);
                    app_registrar_compra.elementos_por_codigo.forEach(element => {
                        if(element.fields.bodega != 1){
                            bodegas.forEach(bodega => {
                                if(bodega[0] == element.fields.bodega){
                                    element.fields.bodega = bodega[1]
                                }
                            });
                        }
                    });
                    app_registrar_compra.codigos_elementos = data.codigos_elementos;
                }
            });

            $('#select_elemento').select2();
            $("#contenedor_select_productos").show();
        }

    });

    $("#select_forma_pago").change(function () {
        app_registrar_compra.forma_pago = $("#select_forma_pago").val();
        if(app_registrar_compra.forma_pago == 'Credito'){
            $('#fechas_cuotas').css('display','inline');
            app_registrar_compra.num_cuotas = 2;
        }else{
            $('#fechas_cuotas').css('display','none');
            app_registrar_compra.num_cuotas = 0;
        }
    });

    $("#select_elemento").change(function () {
        var index_elemento_seleccionado = $("#select_elemento option:selected").val();
        if(index_elemento_seleccionado != '-1'){
            if(app_registrar_compra.tipo_elemento == 'Producto'){
                var codigo_elemento_seleccionado = app_registrar_compra.elementos_por_codigo[index_elemento_seleccionado].fields.codigo;
            }else{
                var codigo_elemento_seleccionado = app_registrar_compra.elementos_por_codigo[index_elemento_seleccionado].fields.codigo_inventario;
            }

            if(app_registrar_compra.codigos_elementos.includes(codigo_elemento_seleccionado)){
                app_registrar_compra.nombre_elemento_modal = $("#select_elemento option:selected").text();
                $('#myModal2').modal('show');
                app_registrar_compra.codigo_repetido = codigo_elemento_seleccionado;
                $(this).val(app_registrar_compra.countryVal);
                app_registrar_compra.modalVal = index_elemento_seleccionado;
            }else{
                app_registrar_compra.countryVal = index_elemento_seleccionado;
                app_registrar_compra.lista_elementos.forEach(element => {
                    if(element.pk ==  app_registrar_compra.elementos_por_codigo[index_elemento_seleccionado].pk){
                        app_registrar_compra.id_elemento_seleccionado = element.pk;
                        app_registrar_compra.elemento_seleccionado = element;
                        $("#costo_unidad").val(element.fields.precio_venta);
                        $("#costo_total").val(element.fields.precio_venta * $("#unidades").val());
                    }
                })
            }
        }
    });

    $("#id_tipo_comprobante").change(function () {
        if($("#id_tipo_comprobante").val() == 'Nota Crédito'){
            $('#tercero_proveedor').css('display','none');
            $('#tercero_cliente').css('display','inline');
            $('#id_cliente_nota_credito').select2();
        }else{
            $('#tercero_proveedor').css('display','inline');
            $('#tercero_cliente').css('display','none');
        }
    });

</script>
{% endblock %}