{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Subcuenta
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css"/>

<style>
    .select2-selection__rendered {
        line-height: 31px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 34px !important;
    }
    .elementos_modal{
        cursor: pointer;
    }
    .elementos_modal:hover{
        background-color: #d5d7d3;
    }
</style>
{% endblock%}

{% block content %}
<div id="app_registrar_subcuenta" v-cloak>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">
                Modificar subcuenta
            </h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li><a href="/plan_cuentas/listar_subcuentas/">Plan de cuentas</a></li>
            </ol>
        </div>
    </div>
    <form class="form-horizontal" method="POST" action="" autocomplete="off">{% csrf_token %}
        <div class="card-box" style="padding-left: 15px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.codigo label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.nombre label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.tipo_subcuenta label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin-left: 5px;margin-top: 15px;margin-right: 5px;">
                        <label class="col-lg-3 control-label">Clase</label>
                        <div class="col-lg-9">
                            <select class="form-control" id="select_clase">
                                <option value="-1">-----------</option>
                                <option v-for="(clase, index) in clases" v-bind:value="[[ clase.pk ]]" :selected="clase.pk == id_clase">[[ clase.fields.codigo ]] - [[ clase.fields.nombre ]]</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin-left: 5px;margin-top: 15px;margin-right: 5px;">
                        <label class="col-lg-3 control-label">Grupo</label>
                        <div class="col-lg-9">
                            <select class="form-control" id="select_grupo" :disabled="desactivarGrupo">
                                <option value="-1">-----------</option>
                                <option v-for="(grupo, index) in grupos" v-bind:value="[[ grupo.pk ]]" :selected="grupo.pk == id_grupo">[[ grupo.fields.codigo ]] - [[ grupo.fields.nombre ]]</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin-left: 5px;margin-top: 15px;margin-right: 5px;">
                        <label class="col-lg-3 control-label">Cuenta</label>
                        <div class="col-lg-9">
                            <select class="form-control" id="select_cuenta" :disabled="desactivarCuenta">
                                <option value="-1">-----------</option>
                                <option v-for="(cuenta, index) in cuentas" v-bind:value="[[ cuenta.pk ]]" :selected="cuenta.pk == id_cuenta">[[ cuenta.fields.codigo ]] - [[ cuenta.fields.nombre ]]</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center submit-btns">
            <a href="#" v-on:click="editarSubcuenta();" id="id_boton_editar_subcuenta" class="btn btn-primary button_save">Guardar cambios</a>
            <a href="/plan_cuentas/listar_subcuentas/" class="btn btn-danger button_save">Cancelar</a>
        </div>
    </form>
</div>
{% endblock content %}

{% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

    <script type="text/javascript">

        $(function () {
            $('#select_clase').select2();
            $('#select_grupo').select2();
            $('#select_cuenta').select2();

            app_registrar_subcuenta.id_clase = '{{ id_clase }}';
            app_registrar_subcuenta.id_grupo = '{{ id_grupo }}';
            app_registrar_subcuenta.id_cuenta = '{{ id_cuenta }}';
        });

        var app_registrar_subcuenta = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app_registrar_subcuenta',
            data: {
                cuentas: [],
                grupos: [],
                clases: [],
                all_cuentas: [],
                all_grupos: [],
                all_clases: [],
                desactivarGrupo: false,
                desactivarCuenta: false,
                subcuentas: [],
                id_clase: '',
                id_grupo: '',
                id_cuenta: '',
            },
            methods: {
                validarCodigoSubcuenta: function () {
                    var respuesta = true;
                    app_registrar_subcuenta.subcuentas.forEach( (element, i) => {
                        if(element.fields.codigo == $("#id_codigo").val() & element.pk != '{{ id_subcuenta }}'){
                            respuesta = false;
                        }
                    });
                    return respuesta;
                },
                editarSubcuenta: function () {

                    if($("#id_codigo").val() == '' || $("#id_codigo").val() > 99 || $("#id_codigo").val() < 1 ){

                        swal({
                            type: 'error',
                            title: 'Debe escribir un codigo de maximo 2 digitos',
                            showConfirmButton: true
                        });

                        setTimeout(function(){
                            $("#pageLoader").hide();
                            $('.button_save').removeAttr('disabled');
                        }, 500);

                    }else if($("#id_codigo").val() != '' & $("#id_codigo").val() <= 99 & $("#id_codigo").val() >= 1 & this.validarCodigoSubcuenta() == false){

                        swal({
                            type: 'error',
                            title: 'Ya existe una subcuenta con este codigo',
                            showConfirmButton: true
                        });

                        setTimeout(function(){
                            $("#pageLoader").hide();
                            $('.button_save').removeAttr('disabled');
                        }, 500);

                    }else if($("#id_nombre").val() == ''){

                        swal({
                            type: 'error',
                            title: 'Debe escribir un nombre para la subcuenta',
                            showConfirmButton: true
                        });

                        setTimeout(function(){
                            $("#pageLoader").hide();
                            $('.button_save').removeAttr('disabled');
                        }, 500);

                    }else if($("#id_tipo_subcuenta").val() == ''){

                        swal({
                            type: 'error',
                            title: 'Debe seleccionar un tipo',
                            showConfirmButton: true
                        });

                        setTimeout(function(){
                            $("#pageLoader").hide();
                            $('.button_save').removeAttr('disabled');
                        }, 500);

                    }else if($("#select_clase").val() == '-1'){

                        swal({
                            type: 'error',
                            title: 'Debe seleccionar una clase',
                            showConfirmButton: true
                        });

                        setTimeout(function(){
                            $("#pageLoader").hide();
                            $('.button_save').removeAttr('disabled');
                        }, 500);

                    }else if($("#select_grupo").val() == '-1'){

                        swal({
                            type: 'error',
                            title: 'Debe seleccionar un grupo',
                            showConfirmButton: true
                        });

                        setTimeout(function(){
                            $("#pageLoader").hide();
                            $('.button_save').removeAttr('disabled');
                        }, 500);

                    }else if($("#select_cuenta").val() == '-1'){

                        swal({
                            type: 'error',
                            title: 'Debe seleccionar una cuenta',
                            showConfirmButton: true
                        });

                        setTimeout(function(){
                            $("#pageLoader").hide();
                            $('.button_save').removeAttr('disabled');
                        }, 500);

                    }else{
                        var csrftoken = $('[name="csrfmiddlewaretoken"]').val();

                        var values = {
                            'codigo': $("#id_codigo").val(),
                            'nombre': $("#id_nombre").val(),
                            'tipo_subcuenta': $("#id_tipo_subcuenta").val(),
                            'clase': $("#select_clase").val(),
                            'grupo': $("#select_grupo").val(),
                            'cuenta': $("#select_cuenta").val(),
                        };

                        $.ajax({
                            type:"POST",
                            url: '/plan_cuentas/editar_subcuenta/'+'{{ id_subcuenta }}'+'/',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json',
                                "X-CSRFToken": csrftoken
                            },
                            async: false,
                            processData: false,
                            data: JSON.stringify(values),
                            success: function () {
                                var ruta = "/plan_cuentas/listar_subcuentas/";
                                window.location.replace(ruta);
                            }
                        });
                    }
                }
            }
        });

        $.ajax({
            url: '/plan_cuentas/ajax/obtener_cuentas/',
            dataType: 'json',
            success: function (data) {
                app_registrar_subcuenta.cuentas = JSON.parse(data.all_cuentas);
                app_registrar_subcuenta.grupos = JSON.parse(data.all_grupos);
                app_registrar_subcuenta.clases = JSON.parse(data.all_clases);
                app_registrar_subcuenta.all_cuentas = JSON.parse(data.all_cuentas);
                app_registrar_subcuenta.all_grupos = JSON.parse(data.all_grupos);
                app_registrar_subcuenta.all_clases = JSON.parse(data.all_clases);
                app_registrar_subcuenta.subcuentas = JSON.parse(data.all_subcuentas);
                console.log("app_registrar_subcuenta.subcuentas: ", app_registrar_subcuenta.subcuentas);
            }
        });

        $('#select_clase').change(function () {

            var id_clase = $(this).val();
            if (id_clase == '-1'){
                app_registrar_subcuenta.desactivarGrupo = true;
                app_registrar_subcuenta.desactivarCuenta = true;
            }else{
                app_registrar_subcuenta.grupos = app_registrar_subcuenta.all_grupos.filter(d => d.fields.clase == id_clase);

                app_registrar_subcuenta.desactivarGrupo = false;
                app_registrar_subcuenta.desactivarCuenta = true;
            }

            $('#select_grupo').val("-1");
            $('#select_grupo').select2();
            $('#select_cuenta').val("-1");
            $('#select_cuenta').select2();

        });

        $('#select_grupo').change(function () {

            var id_grupo = $(this).val();
            if (id_grupo == '-1'){
                app_registrar_subcuenta.desactivarCuenta = true;
            }else{
                app_registrar_subcuenta.cuentas = app_registrar_subcuenta.all_cuentas.filter(d => d.fields.grupo == id_grupo);

                app_registrar_subcuenta.desactivarCuenta = false;
            }

            $('#select_cuenta').val("-1");
            $('#select_cuenta').select2();

        });

    </script>
{% endblock %}