{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

<div class="modal-dialog modal-md">
    <div class="modal-content animated fadeIn">
        <div class="modal-header" style="background: #076FF1;color: #fff;">
            <div  style="width: 100%; display: flex;justify-content:space-between;">
                <h4 class="modal-title">Registro de PRES y Solucion</h4>
                <div>
                    <a href="#" title="Cerrar" class="action-icon dropdown-toggle" data-dismiss="modal" style="color:#fff;"><i class="fa fa-times m-r-5"></i></a>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="user-profile-img">
                <h3 class="user-name m-t-10 m-b-0">PRES y Soluciones</h3>
            </div>

            <div class="row">
                <div class="col-md-12" style="padding: 20px 30px;">
                    <div class="col-md-6">
                        {% for ticket in pres %}
                            
                            <h3 class="title text-center">PRES</h3>
                            <p><span style="font-weight:bolder;">N de Ticket: </span>
                                {% if ticket.tipo_pres == 'Pregunta' %}
                                    {% if ticket.id < 10 %}
                                        P000000{{ ticket.id }}
                                    {% elif ticket.id < 100 %}
                                        P00000{{ ticket.id }}
                                    {% elif ticket.id < 1000 %}
                                        P0000{{ ticket.id }}
                                    {% elif ticket.id < 10000 %}
                                        P000{{ ticket.id }}
                                    {% elif ticket.id < 100000 %}
                                        P00{{ ticket.id }}
                                    {% elif ticket.id < 1000000 %}
                                        P0{{ ticket.id }}
                                    {% elif ticket.id < 10000000 %}
                                        P{{ ticket.id }}
                                    {% endif %}
                                {% elif ticket.tipo_pres == 'Reporte de Error' %}
                                    {% if ticket.id < 10 %}
                                        R000000{{ ticket.id }}
                                    {% elif ticket.id < 100 %}
                                        R00000{{ ticket.id }}
                                    {% elif ticket.id < 1000 %}
                                        R0000{{ ticket.id }}
                                    {% elif ticket.id < 10000 %}
                                        R000{{ ticket.id }}
                                    {% elif ticket.id < 100000 %}
                                        R00{{ ticket.id }}
                                    {% elif ticket.id < 1000000 %}
                                        R0{{ ticket.id }}
                                    {% elif ticket.id < 10000000 %}
                                        R{{ ticket.id }}
                                    {% endif %}
                                {% elif ticket.tipo_pres == 'Sugerencia' %}
                                    {% if ticket.id < 10 %}
                                        S000000{{ ticket.id }}
                                    {% elif ticket.id < 100 %}
                                        S00000{{ ticket.id }}
                                    {% elif ticket.id < 1000 %}
                                        S0000{{ ticket.id }}
                                    {% elif ticket.id < 10000 %}
                                        S000{{ ticket.id }}
                                    {% elif ticket.id < 100000 %}
                                        S00{{ ticket.id }}
                                    {% elif ticket.id < 1000000 %}
                                        S0{{ ticket.id }}
                                    {% elif ticket.id < 10000000 %}
                                        S{{ ticket.id }}
                                    {% endif %}
                                {% endif %}</p>
                                <p><span style="font-weight:bolder;">Fecha de Registro: </span>{{ ticket.fecha_registro }}</p>
                                <p><span style="font-weight: bolder;">Tipo de PRES: </span>{{ ticket.tipo_pres }}</p>
                                <p><span style="font-weight:bolder;">Creado por:</span> 
                                    {% if ticket.creacion_tenants %}
                                        {{ ticket.creacion_tenants.first_name }} {{ ticket.creacion_tenants.last_name }}
                                    {% else %}
                                        {{ ticket.nombre_cliente }} - Cliente
                                    {% endif %}
                                </p>
                                <p><span style="font-weight:bolder;">Descripcion del Problema:</span> {{ ticket.descripcion}} </p>
                                {% if ticket.adjunto_pres %}
                                    <p><span style="font-weight:bolder;">Archivos Adjuntos:</span></p>
                                    <a href="/media/{{ ticket.adjunto_pres }}" class="btn" target="_blank"><i class="fa fa-eye fa-lg"></i>Ver</a>
                                    <a href="/media/{{ ticket.adjunto_pres }}" class="btn" download="true"><i class="fa fa-download fa-lg"></i>Descargar</a>
                                {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        <h3 class="title text-center">Solucion</h3>
                        {% if sol_pres %}
                            {% for sol in sol_pres %}
                                <p><span style="font-weight:bolder;">Fecha de Resolucion:</span> {{ sol.fecha_resolucion }}</p>
                                <p><span style="font-weight:bolder;">Responsable:</span> {{ sol.responsable_solucion }}</p>
                                <p><span style="font-weight:bolder;">Estado:</span>
                                    {% if sol.estado == 'Gestionando' %}
                                        <span class="label label-warning">Gestionando</span>
                                    {% elif sol.estado == 'Resuelto' %}
                                        <span class="label label-success">Resuelto</span>
                                    {% elif sol.estado == 'Pendiente' %}
                                        <span class="label label-danger">Pendiente</span>
                                    {% endif %}
                                </p>
                                <p><span style="font-weight:bolder;">Descripcion de la Solucion:</span> {{ sol.solucion }}</p>
                                <p><span style="font-weight:bolder;">Archivos Adjuntos:</span></p>
                                {% if sol.adjunto_solucion %}
                                    <a href="/media/{{ sol.adjunto_solucion }}" class="btn" target="_blank"><i class="fa fa-eye fa-lg"></i>Ver</a>
                                    <a href="/media/{{ sol.adjunto_solucion }}" class="btn" download="true"><i class="fa fa-download fa-lg"></i>Descargar</a>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p><span style="font-weight:bolder;">Estado:</span>
                                <span class="label label-danger">Pendiente</span>
                            </p>
                            <h3 style="color:red;">Aun no hay solucion</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>