{% extends 'basePublico.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


    {% block title %}
        Listados de PRES
    {% endblock title %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    {% endblock%}

    {% block content %}
    <div class="row">
        <div class="col-sm-6 col-xs-5">
            <h4 class="page-title">Preguntas, Reporte de Errores y Sugerencias</h4>
        </div>
        <div class="col-sm-6 col-xs-7 text-right">
            <a href="{% url 'agregar_pres' user.usuariopublico.id %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-plus"></i>
                Agregar PRES</a>
        </div>
    </div>
    <div class="row" style="display: flex;padding-left: 15px; flex-wrap: wrap;">
        <div style="width: 150px; margin: 5px;">
            <label class="control-label">Fecha</label>
            <select class="form-control" id="filtrar_fecha_filtro">
                <option value="hoy">Hoy</option>
                <option value="semana">Esta semana</option>
                <option value="mes">Mes</option>
            </select>
        </div>
        <div id="div_mes" style="width: 150px; margin: 5px; display: none;">
            <label class="control-label">Mes</label>
            <div class="form-group">
                <div class='input-group date'>
                    <span class="input-group-addon" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input class="form-control" name="fecha_consulta" id="fecha_consulta_mes" type="text" style="width: 100px; margin-right: 6px;">
                </div>
            </div>
        </div>
        <div id="div_año" style="width: 150px; margin: 5px;display: none;">
            <label class="control-label">Año</label>
            <div class="form-group">
                <div class='input-group date'>
                    <span class="input-group-addon" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input class="form-control" name="fecha_consulta" id="fecha_consulta_año" type="text" style="width: 100px; margin-right: 6px;">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table class="table table-striped" id="datatable">
                        <thead>
                        <tr>
                            <th>N° de Ticket</th>
                            <th>Fecha de Registro</th>
                            <th>Creado por</th>
                            <th>Veterinaria</th>
                            <th>Tipo</th>
                            <th>Estado</th>
                            <th>Fecha de Resolucion</th>
                            <th>Responsable</th>
                            <th>Accion</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ticket in pres %}
                            <tr>
                                <td>
                                    {% if ticket.tipo_pres == 'Pregunta' %}
                                        {% if ticket.id < 10 %}
                                            P000000{{ ticket.id }}
                                        {% elif ticket.id < 100 %}
                                            P00000{{ ticket.id }}
                                        {% elif ticket.id < 1000 %}
                                            P0000{{ ticket.id }}
                                        {% elif ticket.id < 10000 %}
                                            P000{{ ticket.id }}
                                        {% elif ticket.id < 100000 %}
                                            P00{{ ticket.id }}
                                        {% elif ticket.id < 1000000 %}
                                            P0{{ ticket.id }}
                                        {% elif ticket.id < 10000000 %}
                                            P{{ ticket.id }}
                                        {% endif %}
                                    {% elif ticket.tipo_pres == 'Reporte de Error' %}
                                        {% if ticket.id < 10 %}
                                            R000000{{ ticket.id }}
                                        {% elif ticket.id < 100 %}
                                            R00000{{ ticket.id }}
                                        {% elif ticket.id < 1000 %}
                                            R0000{{ ticket.id }}
                                        {% elif ticket.id < 10000 %}
                                            R000{{ ticket.id }}
                                        {% elif ticket.id < 100000 %}
                                            R00{{ ticket.id }}
                                        {% elif ticket.id < 1000000 %}
                                            R0{{ ticket.id }}
                                        {% elif ticket.id < 10000000 %}
                                            R{{ ticket.id }}
                                        {% endif %}
                                    {% elif ticket.tipo_pres == 'Sugerencia' %}
                                        {% if ticket.id < 10 %}
                                            S000000{{ ticket.id }}
                                        {% elif ticket.id < 100 %}
                                            S00000{{ ticket.id }}
                                        {% elif ticket.id < 1000 %}
                                            S0000{{ ticket.id }}
                                        {% elif ticket.id < 10000 %}
                                            S000{{ ticket.id }}
                                        {% elif ticket.id < 100000 %}
                                            S00{{ ticket.id }}
                                        {% elif ticket.id < 1000000 %}
                                            S0{{ ticket.id }}
                                        {% elif ticket.id < 10000000 %}
                                            S{{ ticket.id }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ ticket.fecha_registro }}
                                </td>
                                <td>
                                    {% if ticket.creacion_tenants %}
                                        {{ ticket.creacion_tenants }} - Tenant
                                    {% else %}
                                        {{ ticket.nombre_cliente }} - Cliente
                                    {% endif %}
                                </td>
                                <td>
                                    {{ ticket.veterinaria }}
                                </td>
                                <td>
                                    {{ ticket.tipo_pres }}
                                </td>
                                <td class="text-center">
                                    {% if ticket.estado %}
                                        {% if ticket.estado == 'Gestionando' %}
                                            <span class="label label-warning">Gestionando</span>
                                        {% elif ticket.estado == 'Resuelto' %}
                                            <span class="label label-success">Resuelto</span>
                                        {% elif ticket.estado == 'Pendiente' %}
                                            <span class="label label-danger">Pendiente</span>
                                        {% endif %}
                                    {% else %}
                                        <span class="label label-danger">Pendiente</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if ticket.fecha_resolucion %}
                                        {{ ticket.fecha_resolucion }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if ticket.responsable_solucion %}
                                        {{ ticket.responsable_solucion }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    <a onclick="return abrir_modal('{% url 'detalle_pres_sol' ticket.id %}')" class="action-icon dropdown-toggle" style="color: #076ff1;cursor: pointer;"><i class="fa fa-eye fa-lg"></i></a>
                                    {% if user.usuariopublico.roles == 'Administrador' %}
                                        {% if ticket.id_sol %}
                                            <a href="/pres/editar_solucion/{{ticket.id_sol}}/{{ticket.id}}/" title="Editar" style="color:#076ff1;" class="action-icon"><i class="fa fa-pencil m-r-5"></i></a>
                                        {% else %}
                                            <a href="/pres/crear_solucion/{{ticket.id}}/{{user.usuariopublico.id}}/" title="Solucionar" style="color:#076ff1;" class="action-icon"><i class="fa fa-tags m-r-5"></i></a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="modal-detalle" tabindex="-1" role="dialog" aria-hidden="true"></div>
    {% endblock %}

    {% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script>
        function abrir_modal(url)
        {
            $('#modal-detalle').load(url, function()
            {
                $(this).modal('show');
            });
            return false;
        }

        if ('{{ ano }}'){
            $("#fecha_consulta_año").val('{{ ano }}');
        }

        if ('{{ mes }}'){
            $("#fecha_consulta_mes").val('{{ mes }}');
        }

        if ('{{ fecha_filtro }}' == 'mes'){
            var div_mes = document.getElementById("div_mes");
            var div_año = document.getElementById("div_año");
            div_mes.style.display = 'block';
            div_año.style.display = 'block';
        }

        $("#filtrar_fecha_filtro").val('{{ fecha_filtro }}');
        $('#filtrar_fecha_filtro').on('change', function(){
            if($('#filtrar_fecha_filtro').val() == 'mes'){
                var div_mes = document.getElementById("div_mes");
                var div_año = document.getElementById("div_año");
                div_mes.style.display = 'block';
                div_año.style.display = 'block';
                window.location = '/pres/listar_pres_mes/'+ $('#fecha_consulta_mes').val() + '/' + $('#fecha_consulta_año').val() + '/';
            }else{
                $('#div_mes').hide();
                $('#div_año').hide();
                window.location = '/pres/listar_pres/'+ $('#filtrar_fecha_filtro').val() + '/';
            }
        });

        $('#fecha_consulta_mes').datetimepicker({
        format: 'MM',
        defaultDate: new Date(),
        icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
        });

        $('#fecha_consulta_año').datetimepicker({
        format: 'YYYY',
        defaultDate: new Date(),
        icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
        });

        $('#fecha_consulta_mes').on('dp.change', function(){
            if($('#filtrar_fecha_filtro').val() == 'mes'){
                window.location = '/pres/listar_pres_mes/'+ $('#fecha_consulta_mes').val() + '/' + $('#fecha_consulta_año').val() + '/';
            }else{
                window.location = '/pres/listar_pres/'+ $('#filtrar_fecha_filtro').val() + '/';
            }
        });

        $('#fecha_consulta_año').on('dp.change', function(){
            if($('#filtrar_fecha_filtro').val() == 'mes'){
                window.location = '/pres/listar_pres_mes/'+ $('#fecha_consulta_mes').val() + '/' + $('#fecha_consulta_año').val() + '/';
            }else{
                window.location = '/pres/listar_pres/'+ $('#filtrar_fecha_filtro').val() + '/';
            }
        });
    </script>

    {% endblock %}
