{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Registrar Datos de la Guarderia
{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
{% endblock%}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">
                {% if agregar %}
                    Agregar Datos de la Guarderia
                {% else %}
                    Ver Informacion
                {% endif %}
            </h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li class="active"><a>{% if agregar %}Agregar Datos de la Guarderia{% else %}Ver Informacion{% endif %}</a></li>
            </ol> 
        </div>
    </div>
    <form class="form-horizontal" method="POST" action="" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
        <div class="card-box" style="padding-left: 15px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Observaciones</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" disabled value="{{guarderia.observaciones}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Mascota</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" disabled value="{{ guarderia.mascota.nombre }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Guarderia</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" disabled value="{{ guarderia }}">
                            </div>
                        </div>
                    </div>
                </div>
                {% if agregar %}
                    {% for field in form %}
                        <div class="col-md-6">
                            <div class="form-group" style="margin: 15px;">
                                {% bootstrap_field field label_class="control-label col-lg-3" field_class="col-lg-9" %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for dato in datos %}
                        <div class="col-md-6">
                            <div class="form-group" style="margin: 15px;">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Guarderia</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" disabled value="{{ dato.guarderia }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" style="margin: 15px;">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Descripcion</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" type="text" disabled value="{{ dato.descripcion }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" style="margin: 15px;">
                                <div class="form-group">
                                    <label class="col-lg-6 control-label">Representante Ingreso</label>
                                    <div class="col-lg-6">
                                        <input class="form-control" type="text" disabled value="{{ dato.representante_ingreso }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" style="margin: 15px;">
                                <div class="form-group">
                                    <label class="col-lg-8 control-label">Numero Documento de Identificacion Ingreso</label>
                                    <div class="col-lg-4">
                                        <input class="form-control" type="text" disabled value="{{ dato.numero_documento_identificacion_ingreso }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group" style="margin: 15px;">
                                <div class="form-group">
                                    <label class="col-lg-6 control-label">Foto de Ingreso</label>
                                    <div class="col-lg-6">
                                        {% if dato.foto_ingreso %}
                                            <img width="350" height="250" src="/media/{{ dato.foto_ingreso }}">
                                        {% else %}
                                            <p> No Adjuntada </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if dato.representante_retiro %}
                            <div class="col-md-6">
                                <div class="form-group" style="margin: 15px;">
                                    <div class="form-group">
                                        <label class="col-lg-6 control-label">Descripción Retiro</label>
                                        <div class="col-lg-6">
                                            <input class="form-control" type="text" disabled value="{{ dato.descripcion_salida }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="margin: 15px;">
                                    <div class="form-group">
                                        <label class="col-lg-6 control-label">Representante Retiro</label>
                                        <div class="col-lg-6">
                                            <input class="form-control" type="text" disabled value="{{ dato.representante_retiro }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="margin: 15px;">
                                    <div class="form-group">
                                        <label class="col-lg-8 control-label">Numero Documento de Identificacion Retiro</label>
                                        <div class="col-lg-4">
                                            <input class="form-control" type="text" disabled value="{{ dato.numero_documento_identificacion_retiro }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="margin: 15px;">
                                    <div class="form-group">
                                        <label class="col-lg-8 control-label">Responsable</label>
                                        <div class="col-lg-4">
                                            <p>{{ dato.responsable }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group" style="margin: 15px;">
                                    <div class="form-group">
                                        <label class="col-lg-6 control-label">Foto de Retiro</label>
                                        <div class="col-lg-6">
                                            {% if dato.foto_retiro %}
                                                <img width="350" height="250" src="/media/{{ dato.foto_retiro }}">
                                            {% else %}
                                                <p> No Adjuntada </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <a href="{% url 'registrar_representante_egreso' dato.id %}" class="btn add-btn btn-custom pull-right m-b-30 m-r-20" style="margin-bottom:0px!important;background-color: #de6f4e;border-color: #fff;">Ingresar Representante Retiro</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="text-center submit-btns">
            {% if agregar %}
                {% bootstrap_button "Agregar" button_type="submit" button_class="btn btn-primary m-r-20" %}
                <a href="{% url 'detalle_mascota' guarderia.mascota.id %}" class="btn btn-danger">Cancelar</a>
            {% else %}
                <a href="{% url 'detalle_mascota' guarderia.mascota.id %}" class="btn btn-primary">Regresar</a>
            {% endif %}
        </div>
    </form>
{% endblock content %}

{% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
{% endblock %}