{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
Guarderia
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css"/>
    <style>
        .select2-selection__rendered {
            line-height: 31px !important;
        }
        .select2-container .select2-selection--single {
            height: 35px !important;
        }
        .select2-selection__arrow {
            height: 34px !important;
        }
    </style>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">
            Ingresar Representante Ingreso en Guardería
        </h4>
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li><a href="/citas/listar_citas/">Agenda</a></li>
            <li class="active"><a>Ingresar Representante Ingreso en Guardería</a></li>
        </ol> 
    </div>
</div>
</div>
<form class="form-horizontal" method="POST" action="" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
    <div class="card-box" style="padding-left: 15px;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" style="margin: 15px;">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Guardería</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" disabled value="{{guarderia}}">
                        </div>
                    </div>
                </div>
            </div>
            {% if modificar %}
            <div class="col-md-6">
                <div class="form-group" style="margin: 15px;">
                    {% bootstrap_field form.descripcion label_class="control-label col-lg-3" field_class="col-lg-9" %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" style="margin: 15px;">
                    {% bootstrap_field form.representante_retiro label_class="control-label col-lg-3" field_class="col-lg-9" %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" style="margin: 15px;">
                    {% bootstrap_field form.numero_documento_identificacion_retiro label_class="control-label col-lg-3" field_class="col-lg-9" %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" style="margin: 15px;">
                    {% bootstrap_field form.foto_retiro label_class="control-label col-lg-3" field_class="col-lg-9" %}
                </div>
            </div>
            {% else %}
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.descripcion label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.representante_ingreso label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.numero_documento_identificacion_ingreso label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.foto_ingreso label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="text-center submit-btns">
        {% bootstrap_button "Agregar" button_type="submit" button_class="btn btn-primary m-r-20" %}
        <a href="{% url 'listar_citas' %}" class="btn btn-danger">Cancelar</a>
    </div>
</form>


{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

<script type="text/javascript">
</script>
{% endblock %}