{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
Guarderia
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css"/>
    <style>
        .select2-selection__rendered {
            line-height: 31px !important;
        }
        .select2-container .select2-selection--single {
            height: 35px !important;
        }
        .select2-selection__arrow {
            height: 34px !important;
        }
    </style>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">
            Ingresar Representante Retiro en Guardería
        </h4>
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li><a href="/citas/listar_citas/">Agenda</a></li>
            <li class="active"><a>Ingresar Representante Retiro en Guardería</a></li>
        </ol> 
    </div>
</div>
</div>
<form action = "" method="POST" enctype="multipart/form-data" class="form-horizontal" data-parsley-validate="true" autocomplete="off">
    {% csrf_token %}
    <div class="card-box" style="padding-left: 15px;">
        <div class="row">
            <div class="col-md-6" style="padding: 0 70px;">
                <div class="form-group" style="margin: 15px;">
                    <div class="form-group">
                        <label class="control-label" for="contra">Descripción de Salida</label>
                        <input class="form-control" type="text" id="descripcion_salida" name="descripcion_salida"><br><br>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding: 0 70px;">
                <div class="form-group" style="margin: 15px;">
                    <div class="form-group">
                        <label class="control-label" for="contra">Nombre del Representante de Retiro*</label>
                        <input class="form-control" type="text" id="representante_retiro" name="representante_retiro" required><br><br>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding: 0 70px;">
                <div class="form-group" style="margin: 15px;">
                    <div class="form-group">
                        <label class="control-label" for="contra">Número de Identificación R. R.*</label>
                        <input class="form-control" type="number" id="identificacion_retiro" name="identificacion_retiro" required><br><br>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding: 0 70px;">
                <div class="form-group" style="margin: 15px;">
                    <div class="form-group">
                        <label class="control-label" for="contra">Foto de Retiro</label>
                        <input class="form-control" type="file" id="foto_retiro" name="foto_retiro"><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center submit-btns" style="margin-top:0px;">
        <a href="#" onclick="RepresentanteRetiro({{id_datosg}})" style="font-size: 16px;background-color: #076FF1;" class="btn add-btn btn-custom m-b-30">
            Registrar</a>
    </div>
</form>


{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

<script type="text/javascript">
    function RepresentanteRetiro(id_datosg){
            var representante = $('#representante_retiro').val();
            var identificacion = $('#identificacion_retiro').val();
            var descripcion_salida = $('#descripcion_salida').val();
            var foto = $('#foto_retiro').val();
            console.log(representante);
            console.log(identificacion);
            console.log(foto);
            if (representante) {
                $.ajax({
                    url: '/guarderia/act_representante_retiro/',
                    data: {
                        'id_datosg': id_datosg,
                        'representante': representante,
                        'identificacion': identificacion,
                        'descripcion_salida': descripcion_salida,
                        'foto': foto
                    },
                    dataType: 'json',
                    success: function(data) {
                        actualizado = JSON.parse(data.actualizado);
                        window.location.replace("/citas/listar_citas/");
                    }
                });
            }
        }
</script>
{% endblock %}