{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
Guarderia
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css"/>
    <style>
        .select2-selection__rendered {
            line-height: 31px !important;
        }
        .select2-container .select2-selection--single {
            height: 35px !important;
        }
        .select2-selection__arrow {
            height: 34px !important;
        }
    </style>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">
            {% if modificar %}
                Modificar guardería
            {% else %}
                Programar guardería
            {% endif %}
        </h4>
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li><a href="/citas/listar_citas/">Agenda</a></li>
            <li class="active"><a>{% if modificar %}Modificar guardería{% else %}Programar guardería{% endif %}</a></li>
        </ol> 
    </div>
</div>
<form class="form-horizontal" method="POST" action="" autocomplete="off">{% csrf_token %}
    <div class="card-box">
        <div class="row">
            
            <div class="col-md-6">
                <div class="form-group" style="margin: 15px;">
                    {% bootstrap_field form.mascota label_class="control-label col-lg-3" field_class="col-lg-9" %}
                </div>
                <div class="form-group" id="firstdate" style="margin: 15px;">
                    {% bootstrap_field form.fecha_inicio label_class="control-label col-lg-3" field_class="col-lg-9" %}
                </div>
                <div class="form-group" style="margin: 15px;">
                    {% bootstrap_field form.fecha_fin label_class="control-label col-lg-3" field_class="col-lg-9" %}
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="form-group" style="margin: 15px;">
                    {% bootstrap_field form.observaciones label_class="control-label col-lg-3" field_class="col-lg-9" %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6">
                
            </div>
        </div>
    </div>
    <div class="text-center submit-btns">
        {% if modificar %}
        {% bootstrap_button "Guardar cambios" button_type="submit" button_class="btn btn-primary m-r-20" %}
        {% else %}
        {% bootstrap_button "Agregar" button_type="submit" button_class="btn btn-primary m-r-20 boton_agregar" %}
        {% endif %}
        <a href="#" onclick="window.history.back();" class="btn btn-danger">Cancelar</a>
    </div>
</form>
{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('#id_mascota').select2();

        $('.datetime-input').datetimepicker({
            format:'DD/MM/YYYY HH:mm',
            date: new Date("{{ fecha }}")
        });
        $('#firstdate').datetimepicker({
            format:'DD/MM/YYYY HH:mm',
            date: new Date("{{ fecha }}")
        });

        $('.boton_agregar').click(
            function () {
                if($('#id_mascota').val() == '' && $('#id_fecha_inico').val() != '' && $('#id_fecha_fin').val() != '' ){
                    swal({
                        icon: 'error',
                        title: 'Debe seleccionar una mascota',
                        button: 'Ok'
                    });
                    setTimeout(function(){
                        $("#pageLoader").hide();
                    }, 500);
                }
            }
        );
        
    });
</script>
{% endblock %}