{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Registrar Categoria de Inventario
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">
                {% if modificar %}
                    Modificar categoria
                {% else %}
                    Agregar categoria
                {% endif %}
            </h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li><a href="/mascotas/listar_tipo_mascota/">Categorias de inventario</a></li>
                <li class="active"><a>{% if modificar %}Modificar categoria de inventario{% else %}Agregar categoria de inventario{% endif %}</a></li>
            </ol>
        </div>
    </div>
    <form class="form-horizontal" method="POST" action="" autocomplete="off">{% csrf_token %}
        <div class="card-box">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="padding-left: 15px;">
                        {% bootstrap_field form.nombre label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center submit-btns">
            {% if modificar %}
                {% bootstrap_button "Guardar cambios" button_type="submit" button_class="btn btn-primary m-r-20" %}
            {% else %}
                {% bootstrap_button "Agregar" button_type="submit" button_class="btn btn-primary m-r-20" %}
            {% endif %}
            <a href="{% url 'listar_categorias_inventario' %}" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
{% endblock content %}