{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Inventario
{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">
                {% if modificar %}
                    Editar {{ categoria.nombre }}
                {% else %}
                    Agregar {{ categoria.nombre }}
                {% endif %}
            </h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li><a href="/productos/listar_productos/">Inventario</a></li>
                <li class="active"><a>{% if modificar %}Editar {{ categoria.nombre }}{% else %}Agregar {{ categoria.nombre }}{% endif %}</a></li>
            </ol>
        </div>
    </div>
    <form class="form-horizontal" method="POST" action="" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
        <div class="card-box" style="padding-left: 15px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.nombre label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.codigo_inventario label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.codigo label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.stock_minimo label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.bodega label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.descripcion label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.cantidad label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.precio_venta label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.fecha_vencimiento label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.tipo_uso label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-md-6">
                     <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.precio_compra label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.foto label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.cantidad_por_unidad label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="contenedor_unidad_medida">
                        <div class="form-group" style="margin: 15px;">
                            {% bootstrap_field form.unidad_medida label_class="control-label col-lg-3" field_class="col-lg-9" %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="contenedor_cantidad_unidad">
                        <div class="form-group" style="margin: 15px;">
                            {% bootstrap_field form.cantidad_unidad label_class="control-label col-lg-3" field_class="col-lg-9" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="contenedor_precio_por_unidad">
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.precio_por_unidad label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="padding-left: 15px; padding-top: 7px;" id="explicacion">

                    </div>
                </div>
            </div>
        </div>
        <div class="text-center submit-btns">
            {% if modificar %}
                {% bootstrap_button "Guardar cambios" button_type="submit" button_class="btn btn-primary m-r-20" %}
            {% else %}
                {% bootstrap_button "Agregar" button_type="submit" button_class="btn btn-primary m-r-20" %}
            {% endif %}
            <a href="{% url 'listar_productos' %}" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
{% endblock content %}

{% block plugins %}
<script>

    $(document).ready(function(){
        if($('#id_cantidad_por_unidad').is(":checked")){
            calcularExplicacion()
        }else {
            $('#contenedor_unidad_medida').hide();
            $('#contenedor_cantidad_unidad').hide();
            $('#contenedor_precio_por_unidad').hide();
        }
    });

    $('#id_cantidad_por_unidad').click(function () {
        if ($('#id_cantidad_por_unidad').is(":checked"))
        {
            calcularExplicacion()
            $('#contenedor_unidad_medida').show();
            $('#contenedor_cantidad_unidad').show();
            $('#contenedor_precio_por_unidad').show();
        }else{
            $('#contenedor_unidad_medida').hide();
            $('#contenedor_cantidad_unidad').hide();
            $('#contenedor_precio_por_unidad').hide();
        }
    })

    function calcularExplicacion() {
        texto_explicacion = "1 unidad de este medicamento esta compuesta por "+$('#id_cantidad_unidad').val()+" "+$('#id_unidad_medida').val();
        texto_explicacion += "\n Costo de 1 unidad: $"+$('#id_precio_venta').val();
        texto_explicacion += "\n Costo de "+$('#id_cantidad_unidad').val()+" "+$('#id_unidad_medida').val()+": $"+(parseInt($('#id_precio_por_unidad').val()) * parseInt($('#id_cantidad_unidad').val()));
        texto_explicacion += "\n Costo de 1 "+$('#id_unidad_medida').val()+": $"+$('#id_precio_por_unidad').val();
        var obj = $('#explicacion').text(texto_explicacion);
        obj.html(obj.html().replace(/\n/g,'<br/>'));
    }

    $('#id_cantidad_unidad').keyup(calcularExplicacion);
    $('#id_cantidad_unidad').change(calcularExplicacion);
    $('#id_unidad_medida').change(calcularExplicacion);
    $('#id_precio_venta').keyup(calcularExplicacion);
    $('#id_precio_venta').change(calcularExplicacion);
    $('#id_precio_por_unidad').keyup(calcularExplicacion);
    $('#id_precio_por_unidad').change(calcularExplicacion);
</script>
{% endblock %}