<div class="modal-dialog modal-md">
    <div class="modal-content animated fadeIn">
        <div class="modal-header">
            <div  style="width: 100%; display: flex;justify-content:space-between;">
                <h4 class="modal-title">Video Actualizacion</h4>
                <div>
                    <a href="#" title="Cerrar" class="action-icon dropdown-toggle" style="color: #333333;" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
                </div>
            </div>
        </div>
        <div class="modal-body" style="height: 100%; display: flex; justify-content: space-around"> 
            <video controls controlsList="nodownload" name="media"><source src="/media/{{video.video_tutorial}}" type="video/mp4"></video>
        </div>
    </div>
</div>
{% block plugins %}
<script>
    $(function(){
        $('#modal-detalle').modal({
            show: false
        }).on('hidden.bs.modal', function(){
            $(this).find('video')[0].pause();
        });
    });
</script>
{% endblock %}