{% extends 'basePublico.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block title %}
    Listado de Videos Tutoriales
{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-4 col-xs-3">
        <h4 class="page-title">Videos Tutoriales</h4>
    </div>
    <div class="col-sm-8 col-xs-9 text-right">
        <a href="{% url 'subida_video_tutorial' %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-plus"></i>
            Agregar Video Tutorial</a>
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="row">
                    {% for object in videosTutoriales %}
                        <div class="col-md-6 text-center" style="padding-bottom: 40px;">
                            <video controls controlsList="nodownload" src="/media/{{object.video_tutorial}}" width="450" height="300"></video>
                            <div class="text-center submit-btns">
                                <button onclick="return ModalVideo('{% url 'detalle_video' object.id %}')" class="btn btn-primary m-r-20" style="font-size: 18px;">
                                    <i class="fa fa-film"></i> Ver Video
                                </button>
                            </div>
                            <div class="text-left" style="margin-top: 20px;background: #076FF1;color: #fff;display: inline-block;padding: 20px;">
                                <p>Nombre: {{ object.titulo_video }}</p>
                                <p>Fecha: {{ object.fecha_subida }}</p>
                                <p>Descripcion: {{ object.descripcion_video }}</p>
                                <p id="link" style="display: none;">/media/{{object.video_tutorial}}</p>
                                <button onclick="copiarAlPortapapeles('link')" class="btn btn-primary" style="font-size: 12px;">
                                    <i class="fa fa-clone"></i> Copiar Link
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="modal-detalle" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" style="top: 10%;"></div>
    {% endblock %}

    {% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script>
        function ModalVideo(url){ 
            $('#modal-detalle').load(url, function (){
                $(this).modal('show'); 
            });
            return false;
        }
        function copiarAlPortapapeles(id_elemento) {
            var aux = document.createElement("input");
            aux.setAttribute("value", window.location.host + document.getElementById(id_elemento).innerHTML);
            document.body.appendChild(aux);
            aux.select();
            document.execCommand("copy");
            document.body.removeChild(aux);
        }
    </script>

    {% endblock %}
