{% extends 'basePublico.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    Ver Videos Tutoriales
{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-4 col-xs-3">
        <h4 class="page-title">Vista de Videos Tutoriales</h4>
    </div>
</div>

<div class="row">
    <p>Prueba de Vista</p>
</div>



{% endblock %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>


{% endblock %}