{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Editar motivo cita
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">
                    Modificar motivo cita
                
            </h4>
        </div>
    </div>
    <form class="form-horizontal" method="POST" action="" autocomplete="off">{% csrf_token %}
        <div class="card-box" style="padding-left: 15px;">
            <div class="row">
                {% for field in form %}
                    <div class="col-md-6">
                        <div class="form-group" style="margin: 15px;">
                            {% bootstrap_field field label_class="control-label col-lg-3" field_class="col-lg-9" %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-center submit-btns">
                {% bootstrap_button "Guardar cambios" button_type="submit" button_class="btn btn-primary m-r-20" %}
            <a href="/tratamientos/listar_motivos_cita" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
{% endblock content %}