{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    Motivos de cita
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-10 col-xs-10">
            <h4 class="page-title">Motivos de cita</h4>
            <!--<h5>Es asignada en el registro de una historia clínica. (Ejemplo: Control, Cirugía, Hospitalización...)</h5>-->
        </div>
        <!--<div class="col-sm-2 col-xs-2 text-right">
            <a href="{% url 'registrar_tratamiento' %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-plus"></i>
                Agregar</a>
        </div>-->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Descripción</th>
                            <th class="text-right">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for motivo in object_list %}
                            <tr>
                                <td>
                                    {{ motivo.nombre }}
                                </td>
                                <td>
                                    {% if motivo.precio %}
                                    $ {{ motivo.precio | intcomma }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if motivo.descripcion %}
                                    {{ motivo.descripcion }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td class="text-right">
                                    <a href="{% url 'editar_motivos_citas' motivo.id %}" class="action-icon dropdown-toggle" title="Editar"><i class="fa fa-pencil m-r-5"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}