{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
Consentimientos
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-xs-10">
        <h4 class="page-title">Consentimientos registrados</h4>
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li class="active"><a>Consentimientos</a></li>
        </ol>
    </div>
    <div class="col-sm-6 col-xs-2 text-right">
        <a href="{% url 'registrar_consentimiento' %}" class="hidden-xs btn add-btn btn-custom pull-right m-b-30">
            <i class="fa fa-plus"></i> Agregar
        </a>
        <a style = "padding: 9px 14px;" href="{% url 'registrar_consentimiento' %}" class="hidden-sm hidden-md hidden-lg btn add-btn btn-custom pull-right m-b-30">
            <i class="fa fa-plus"></i>
        </a>        
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo de consentimiento</th>
                            <th class="text-right">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for consentimiento in object_list %}
                        <tr>
                            <td>
                                {{ consentimiento.nombre }}
                            </td>
                            <td>
                                {{ consentimiento.tipo_consentimiento }}
                            </td>
                            <td class="text-right">
                                <a href="{% url 'editar_consentimiento' consentimiento.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Modificar"><i class="fa fa-pencil m-r-5"></i></a>
                                <a href="#" onclick="EliminarConsentimiento('{{consentimiento.id}}', '{{consentimiento.nombre}}');" class="action-icon dropdown-toggle" style="color: #076ff1" title="Eliminar"><i class="fa fa-trash fa-lg"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block plugins %}

<script type="text/javascript">
    function EliminarConsentimiento(id, nombre) {

        swal({
            title: "¿Estas seguro que deseas eliminar "+nombre+"?",
            text: "El consentimiento sera eliminado del sistema.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: '/consentimiento/eliminar_consentimiento/',
                    data: {
                    'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.replace("/consentimiento/listar_consentimiento/");
                    }
                });
            } else {
                swal("Tu mascota esta a salvo!");
            }
        });

    }
</script>

{% endblock %}
