{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

<div class="modal-dialog modal-md">
    <div class="modal-content animated fadeIn">
        <div class="modal-header">
            <div  style="width: 100%; display: flex;justify-content:space-between;">
                <h4 class="modal-title">Aceptacion de Terminos y Condiciones de HopsPets</h4>
                <div>
                    <a href="#" title="Cerrar" class="action-icon dropdown-toggle" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
                </div>
            </div>
        </div>
        <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="chat-profile-info">
                            {% if datos %}
                                {% for dato in datos %}
                                    <p>Fecha de Registro: {{ dato.fecha_registro }}</p>
                                    <p>Observaciones: {{ dato.observaciones }}</p>
                                {% endfor %}
                            {% else %}
                                <p style="color:red">No ha Aceptado los Terminos y condiciones</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>