{% extends 'basePublico.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Tenants
{% endblock title %}

{% block extrahead %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/sweetalert.min.css' %}">
{% endblock%}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-xs-3">
            <h4 class="page-title">Veterinarias registradas</h4>
        </div>
        {% if user.usuariopublico.roles == "Administrador" %}
            <div class="col-sm-8 col-xs-9 text-right">
                <a href="{% url 'registrar_tenant' %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-plus"></i>
                    Agregar veterinaria</a>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table class="table table-striped" id="datatable">
                        <thead>
                        <tr>
                            <th>Nombre tenant</th>
                            <th>Nit veterinaria</th>
                            <th>Nombre veterinaria</th>
                            <th>Ciudad</th>
                            <th>Direccion</th>
                            <th>Telefonos</th>
                            <th>Fecha de registro</th>
                            {% if user.usuariopublico.roles == "Administrador" %}
                                <th>Estado</th>
                            {% endif %}
                            <th class="text-right">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if user.usuariopublico.roles == "Administrador" %}
                            {% for tenant in object_list %}
                                {% if tenant.nombre_tenant != 'public' %}
                                <tr>
                                    <td>
                                        {{ tenant.nombre_tenant }}
                                    </td>
                                    <td>
                                        {{ tenant.codigo_tenant }}
                                    </td>
                                    <td>
                                        {{ tenant.nombre_veterinaria }}
                                    </td>
                                    <td>
                                        {{ tenant.ciudad }}
                                    </td>
                                    <td>
                                        {{ tenant.direccion }}
                                    </td>
                                    <td>
                                        {{ tenant.telefono }} {% if tenant.celular %} - {{ tenant.celular }} {% endif %}
                                    </td>
                                    <td>
                                        {{ tenant.fecha_fundacion }}
                                    </td>
                                    <td>
                                        {% if tenant.estado %}
                                            <a onclick="InactivarTenant('{{tenant.id}}', '{{tenant.nombre_veterinaria}}', '{{tenant.codigo_tenant}}');" class="action-icon dropdown-toggle" style="color: #3fad24;cursor: pointer;">
                                                <i class="fa fa-toggle-on fa-lg"></i> Activo
                                            </a>
                                        {% else %}
                                            <a onclick="ActivarTenant('{{tenant.id}}', '{{tenant.nombre_veterinaria}}', '{{tenant.codigo_tenant}}');" class="action-icon dropdown-toggle" style="color: #c60b15;cursor: pointer;">
                                                <i class="fa fa-toggle-off fa-lg"></i> Inactivo
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="text-right">
                                        {% if user.usuariopublico.roles == "Administrador" %}
                                            <a href="{% url 'editar_veterinaria' tenant.id %}" class="action-icon dropdown-toggle" style="color: #076ff1;cursor: pointer;"><i class="fa fa-pencil fa-lg"></i></a>
                                            <!-- <a onclick="return abrir_modal('{% url 'detalle_terminos' tenant.id %}')" class="action-icon dropdown-toggle" title="Acepto" style="color: #076ff1;cursor: pointer;"><i class="fa fa-certificate fa-lg"></i></a> -->
                                        {% endif %}    
                                        {% if tenant.tiene_administrador %}
                                            <a onclick="return abrir_modal('{% url 'detalle_administrador_tenant' tenant.id %}')" class="action-icon dropdown-toggle" style="color: #076ff1;cursor: pointer;"><i class="fa fa-eye fa-lg"></i></a>
                                        {% else %}
                                            {% if user.usuariopublico.roles == "Administrador" %}
                                                <a href="{% url 'crear_administrador_tenant' tenant.id %}" class="action-icon dropdown-toggle" style="color: #076ff1;cursor: pointer;"><i class="fa fa-user-plus fa-lg"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for tenant in object_list %}
                                {% if tenant.nombre_tenant != 'public' and tenant.estado %}
                                <tr>
                                    <td>
                                        {{ tenant.nombre_tenant }}
                                    </td>
                                    <td>
                                        {{ tenant.codigo_tenant }}
                                    </td>
                                    <td>
                                        {{ tenant.nombre_veterinaria }}
                                    </td>
                                    <td>
                                        {{ tenant.ciudad }}
                                    </td>
                                    <td>
                                        {{ tenant.direccion }}
                                    </td>
                                    <td>
                                        {{ tenant.telefono }} {% if tenant.celular %} - {{ tenant.celular }} {% endif %}
                                    </td>
                                    <td>
                                        {{ tenant.fecha_fundacion }}
                                    </td>
                                    <td class="text-right">
                                        {% if user.usuariopublico.roles == "Administrador" %}
                                            <a href="{% url 'editar_veterinaria' tenant.id %}" class="action-icon dropdown-toggle" style="color: #076ff1;cursor: pointer;"><i class="fa fa-pencil fa-lg"></i></a>
                                            <!-- <a onclick="return abrir_modal('{% url 'detalle_terminos' tenant.id %}')" class="action-icon dropdown-toggle" title="Acepto" style="color: #076ff1;cursor: pointer;"><i class="fa fa-certificate fa-lg"></i></a> -->
                                        {% endif %}    
                                        {% if tenant.tiene_administrador %}
                                            <a onclick="return abrir_modal('{% url 'detalle_administrador_tenant' tenant.id %}')" class="action-icon dropdown-toggle" style="color: #076ff1;cursor: pointer;"><i class="fa fa-eye fa-lg"></i></a>
                                        {% else %}
                                            {% if user.usuariopublico.roles == "Administrador" %}
                                                <a href="{% url 'crear_administrador_tenant' tenant.id %}" class="action-icon dropdown-toggle" style="color: #076ff1;cursor: pointer;"><i class="fa fa-user-plus fa-lg"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="modal-detalle" tabindex="-1" role="dialog" aria-hidden="true"></div>
{% endblock content %}

{% block plugins %}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <script>
        $(function() {
            $('#toggle-two').bootstrapToggle({
                on: 'Enabled',
                off: 'Disabled'
            });
        });


        $('#datatable').on( 'page.dt', function () {
           console.log("Pruebaa");
           $('#toggle-two').bootstrapToggle({
                on: 'Enabled',
                off: 'Disabled'
            });
        });

        function abrir_modal(url)
        {
            $('#modal-detalle').load(url, function()
            {
                $(this).modal('show');
            });
            return false;
        }

        function InactivarTenant(id, nombre,nit) {

            swal({
                title: 'Estas seguro que deseas inactivar al cliente "'+nombre+'" con nit '+nit+'?',
                text: "El cliente no podrá ingresar a la aplicacion, sin embargo la informacion que el cliente haya ingresado a la aplicacion no se perdera.",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No, cancelar",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Si, desactivar!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: '/veterinarias/inactivar_tenant/',
                        data: {
                          'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.replace("/veterinarias/listar_veterinarias/");
                        }
                    });
                }
            });

        }

        function ActivarTenant(id, nombre,nit) {

            swal({
                title: 'Estas seguro que deseas activar al cliente "'+nombre+'" con nit '+nit+'?',
                text: "El cliente podrá ingresar nuevamente a la aplicacion y acceder a toda la informacion que haya registrado.",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No, cancelar",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Si, activar!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: '/veterinarias/activar_tenant/',
                        data: {
                          'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.replace("/veterinarias/listar_veterinarias/");
                        }
                    });
                }
            });

        }
    </script>
{% endblock plugins %}