{% extends 'basePublico.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block title %}
    {% if modificar %}
        Modificación Administrador Tenant
    {% else %}
        Creación Administrador Tenant
    {% endif %}

{% endblock title %}

{% block content %}
        <div class="content container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="page-title">
                        {% if modificar %}
                            Modificar Administrador
                        {% else %}
                            Agregar Administrador
                        {% endif %}
                    </h4>
                </div>
            </div>

            <form action = "" method="POST" class="form-horizontal" data-parsley-validate="true" autocomplete="off">
                {% csrf_token %}
                <div class="card-box">
                    <div class="row">
                        {% for field in form %}
                            <div class="col-md-6">
                                <div class="form-group" style="margin: 15px;">
                                    {% bootstrap_field field label_class="control-label col-lg-3" field_class="col-lg-9" %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="text-center submit-btns">
                    <button type="submit" class="btn btn-primary m-r-20">
                        {% if modificar %}
                            Modificar
                        {% else %}
                            Registrar
                        {% endif %}
                    </button>
                    <a href="{% url 'listar_tenants' %}" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
        </div>
{% endblock %}

