{% extends 'basePublico.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
Registrar Tenant
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">
            {% if modificar %}
            Modificar tenant
            {% else %}
            Agregar tenant
            {% endif %}
        </h4>
    </div>
</div>
<form class="form-horizontal" method="POST" action="">{% csrf_token %}
    <div class="card-box" style="padding-left: 15px;">
        <div class="row">
            {% for field in form %}
            <div class="col-md-6">
                <div class="form-group" style="margin: 15px;">
                    {% if field == form.tienda_online %}
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                            {% if field.value %}checked{% endif %}>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </div>
                    {% else %}
                    {% bootstrap_field field label_class="control-label col-lg-4" field_class="col-lg-8" %}
                    {% endif %}

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="text-center submit-btns">
        {% if modificar %}
        {% bootstrap_button "Guardar cambios" button_type="submit" button_class="btn btn-primary m-r-20" %}
        {% else %}
        {% bootstrap_button "Agregar" button_type="submit" button_class="btn btn-primary m-r-20" %}
        {% endif %}
        <a href="{% url 'listar_tenants' %}" class="btn btn-danger">Cancelar</a>
    </div>
</form>
{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

<!-- <script type="text/javascript">
          $('#id_fecha_fundacion').datetimepicker({
                format: 'MM/DD/YYYY'
            });
    </script> -->
{% endblock %}