{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

<div class="modal-dialog modal-md">
    <div class="modal-content animated fadeIn">
        <div class="modal-header">
            <div style="width: 100%; display: flex;justify-content:space-between;">
                <h4 class="modal-title">Detalle de vacunación</h4>
                <div>
                    <a href="#" title="Cerrar" class="action-icon dropdown-toggle" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div style="display: flex;flex-wrap: wrap;">
                <div class="col-sm-6">
                    <p><strong>Fecha: </strong> {{ object.fecha }}</p>

                    {% if object.descripcion %}
                    <p><strong>Descripción: </strong> {{ object.descripcion }}</p>
                    {% endif %}

                    {% if object.observaciones %}
                    <p><strong>Observaciones: </strong> {{ object.observaciones }}</p>
                    {% endif %}

                    {% if object.veterinario %}
                    <p><strong>Veterinario: </strong> {{ object.veterinario }}</p>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <p><strong>Estado de pago:</strong>
                        {% if object.estado == 'Activa' %}
                        <span class="label label-warning">Pendiente</span>
                        {% elif object.estado == 'Pagada' %}
                        <span class="label label-success">Pagada</span>
                        {% endif %}
                    </p>
                    <p><strong>Estado de aplicacion:</strong>
                        {% if object.estado_aplicacion == 'Pendiente' %}
                        <span class="label label-warning">{{ object.estado_aplicacion }}</span>
                        {% elif object.estado_aplicacion == 'Aplicada' %}
                        <span class="label label-success">{{ object.estado_aplicacion }}</span>
                        {% endif %}
                    </p>
                </div>
                {% if aplicaciones %}
                <div style="width: 100%;">
                    <p style="text-align: center;"><strong>Vacunas aplicadas</strong></p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Vacuna</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for aplicacion in aplicaciones %}
                                <tr>
                                    <td>
                                        {{ aplicacion.vacuna.nombre }}
                                    </td>
                                    <td>
                                        {{ aplicacion.cantidad }} {{ aplicacion.unidad }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                {% if insumos_utilizados %}
                <div style="width: 100%;">
                    <p style="text-align: center;"><strong>Insumos utilizados</strong></p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Insumo</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for insumo_utilizado in insumos_utilizados %}
                                <tr>
                                    <td>
                                        {{ insumo_utilizado.insumo.nombre }}
                                    </td>
                                    <td>
                                        {% if insumo_utilizado.unidad_medida == 'unidad' %}
                                            {{ insumo_utilizado.cantidad_requerida }} unidad(es)
                                        {% else %}
                                            {{ insumo_utilizado.cantidad_requerida }} {{ insumo_utilizado.insumo.unidad_medida }}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>