{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


    {% block title %}
        {% if modificar %}
            Modificación de Veterinaria
        {% else %}
             Creación de Veterinaria
        {% endif %}

    {% endblock title %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/dropzone.css' %}">
    {% endblock%}

    {% block content %}
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">
                            {% if modificar %}
                                Modificar Veterinaria
                            {% else %}
                                Agregar Veterinaria
                            {% endif %}
                        </h4>
                        <ol class="breadcrumb">
                            <li><a href="/usuario/index/">Inicio</a></li>
                            <li><a href="{% url 'listar_veterinarias' %}">Perfil Veterinaria</a></li>
                            <li class="active"><a>{% if modificar %}Modificar Veterinaria{% else %}Agregar Veterinaria{% endif %}</a></li>
                        </ol>                         
                    </div>
                </div>

                <form action = "" method="POST" enctype="multipart/form-data" autocomplete="off" class="form-horizontal" data-parsley-validate="true">
                    {% csrf_token %}
                    <div class="card-box">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" style="margin: 15px;">
                                    {% bootstrap_field form.nit label_class="control-label col-lg-3" field_class="col-lg-9" %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="margin: 15px;">
                                    {% bootstrap_field form.nombre label_class="control-label col-lg-3" field_class="col-lg-9" %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" style="margin: 15px;">
                                    {% bootstrap_field form.ciudad label_class="control-label col-lg-3" field_class="col-lg-9" %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="margin: 15px;">
                                    {% bootstrap_field form.direccion label_class="control-label col-lg-3" field_class="col-lg-9" %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" style="margin: 15px;">
                                    {% bootstrap_field form.telefono label_class="control-label col-lg-3" field_class="col-lg-9" %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="margin: 15px;">
                                    {% bootstrap_field form.celular label_class="control-label col-lg-3" field_class="col-lg-9" %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" style="margin: 15px;">
                                    {% bootstrap_field form.regimen label_class="control-label col-lg-3" field_class="col-lg-9" %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="margin: 15px;">
                                    {% bootstrap_field form.foto label_class="control-label col-lg-3" field_class="col-lg-9" %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" style="margin: 15px;">
                                    {% bootstrap_field form.mensaje_notificacion_wpp label_class="control-label col-lg-3" field_class="col-lg-9" %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="margin: 15px;">
                                    {% bootstrap_field form.imprimir_logo label_class="control-label col-lg-3" field_class="col-lg-9" %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center submit-btns">
                        <button type="submit" class="btn btn-primary m-r-20">
                            {% if modificar %}
                                Modificar
                            {% else %}
                                Registrar
                            {% endif %}
                        </button>
                        <a href="{% url 'listar_veterinarias' %}" class="btn btn-danger">Cancelar</a>
                    </div>
		        </form>
            </div>
    {% endblock %}

    {% block plugins %}
        <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/dropzone.js' %}"></script>
        <script type="text/javascript">
        
        </script>
	{% endblock %}

