{% extends 'basePanel.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


    {% block title %}
        Configuración - Veterinaria - Datos
    {% endblock title %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/dropzone.css' %}">
    {% endblock%}

    {% block content %}
        <div class="row">
            <div class="col-sm-7 col-xs-7">
                <h4 class="page-title">Detalle del Plan</h4>
                <ol class="breadcrumb">
                    <li><a href="/usuario/index/">Inicio</a></li>
                    <li class="active"><a>Detalle del Plan</a></li>
                </ol>                
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                {% for object in object_list %}
                    <div class="col-md-5">
                        <div class="card-box">
                            {% if object.foto %}                                        
                                <img class="img-responsive" src="{{ object.foto.url}}" alt="Logo veterinaria">
                            {% else %}
                                <h3 class="m-b-30"><b>{{ object.nombre }}</b></h3>
                                <h4 class="m-b-20"><b>Nit:</b> {{ object.nit }}</h4>
                                <h4 class="m-b-20"><b>Régimen:</b> {{ object.regimen }}</h4>
                                <h4 class="m-b-20"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ object.direccion }} - {{ object.ciudad }}</h4>
                                <h4 class="m-b-30">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    {% if object.telefono %}
                                        {{  object.telefono|default:"" }}
                                    {% elif object.celular %}
                                    {{  object.celular|default:"" }}
                                    {% elif  object.telefono and object.celular %}
                                        {{ object.telefono|default:"" }} - {{ object.celular|default:"" }}
                                    {% endif %}
                                </h4>
                        
                                <h5 class="text-muted m-t-20"><em>Los datos aquí registrados serán usados en los formatos de la historia clínica y los pagos</em></h5>
    
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card-box">
                            <h4><b>Detalle del Plan</b></h4>
                            <hr/>
                            {% for dato in datos %}
                                <h3 class="m-b-30"><b>Fecha de Registro:</b> {{ dato.fecha_fundacion }}</h3>
                                <h4 class="m-b-20"><b>Tipo Plan:</b> {{ dato.tipo_plan }}</h4>
                                <h4 class="m-b-20"><b>Valor Plan:</b> $ {{ dato.valor_plan }}</h4>
                                <h4 class="m-b-20"><b>Cuotas de Pago:</b> $ {{ dato.cuota_pago }}</h4>
                                <h4 class="m-b-20"><b>Estado Financiero:</b> 
                                    {% if dato.estado_financiero == 'Al Día' %}
                                        <span class="label label-success">Al Día</span>
                                    {% elif dato.estado_financiero == 'En Mora' %}
                                        <span class="label label-danger">En mora</span>
                                    {% endif %}
                                </h4>
                                <h4 class="m-b-20"><b>Fecha de Corte:</b> {{ dato.fecha_corte }}</h4>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
            
        
        

    {% endblock %}

    {% block plugins %}
        <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/dropzone.js' %}"></script>
	{% endblock %}