{% extends 'basePanel.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


    {% block title %}
        Detalle de Usuarios - Administradores
    {% endblock title %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    {% endblock%}

    {% block content %}
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="page-title">Perfil</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <div class="user-profile-img">
                                <div class="edit-profile-img">
                                    <img alt="" src="{{object.foto.url}}" class="avatar">
                                </div>
                                <h3 class="user-name m-t-10 m-b-0">{{object.first_name}} {{object.segundo_nombre}}
                                    {{object.last_name}} {{object.segundo_apellido}}</h3>
                                <small class="text-muted">{{object.direccion}}</small>
                            </div>
                            <div class="chat-profile-info">
                                <ul class="personal-info">
                                    <li>
                                        <span class="title">Número de Documento:</span>
                                        <span class="text"><a href="">{{object.tipo_documento_identificacion}}. {{object.numero_documento_identificacion}}</a></span>
                                    </li>
                                    <li>
                                        <span class="title">Teléfono:</span>
                                        <span class="text"><a href="">{{object.telefono}} - {{object.celular}}</a></span>
                                    </li>
                                    <li>
                                        <span class="title">E-mail:</span>
                                        <span class="text"><a href="">{{object.email}}</a></span>
                                    </li>
                                    <li>
                                        <span class="title">Fecha de Nacimiento:</span>
                                        <span class="text">{{object.fecha_nacimiento}}</span>
                                    </li>
                                    <li>
                                        <span class="title">Genero:</span>
                                        <span class="text">{{object.sexo}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

    {% endblock %}

    {% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>


	{% endblock %}