{% extends 'basePanel.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


    {% block title %}
        Configuración - Imagenes de Actualizacion
    {% endblock title %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/dropzone.css' %}">
    {% endblock%}

    {% block content %}
    <div class="row">
        <div class="col-sm-7 col-xs-7">
            <h4 class="page-title">Imagenes de Actualizacion</h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li class="active"><a>Imagenes de Actualizaciones</a></li>
            </ol>                
        </div>
    </div>
    <div class="col-md-12">
        <div class="card-box">
            <div class="row">
                {% for object in object_list %}
                    <div class="col-md-6 text-center" style="padding-bottom: 40px;">
                        <a onclick="return abrirmodal()">
                            <img width="350" height="250" src="/media/{{object.imagen_actualizacion}}">
                        </a>
                        <div class="text-left" style="margin-top: 20px;background: #076FF1;color: #fff;display: inline-block;padding: 20px;">
                            <p>Nombre: {{ object.titulo_imagen }}</p>
                            <p>Fecha: {{ object.fecha_subida }}</p>
                            <p>Descripcion: {{ object.descripcion_imagen }}</p>
                        </div>
                        <div id="modal-img-pe" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" style="top: 5%;">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content animated fadeIn" style="background-color: transparent;">
                                    <div class="modal-header" style="background: #076ff1;">
                                        <div  style="width: 100%; display: flex;justify-content:space-between;">
                                            <h4 class="modal-title" style="color:#fff;">Imágenes de Actualización</h4>
                                            <div>
                                                <a href="#" title="Cerrar" class="action-icon dropdown-toggle" style="color: #333333;" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center" style="padding-top: 20px;background-color: #fff;padding-bottom: 20px;">
                                        <h3>{{ object.titulo_imagen }}</h3>
                                        <p>{{ object.descripcion_imagen }}</p>
                                    </div>
                                    <div class="modal-body" style="height: 100%; display: flex; justify-content: space-around"> 
                                        <img width="auto" height="auto" src="/media/{{object.imagen_actualizacion}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    {% endblock %}

    {% block plugins %}
        <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/dropzone.js' %}"></script>
        <script>
            function abrirmodal(){
                $('#modal-img-pe').modal('show');
                return false;
            }
            $(function(){
                $('#modal-img-pe').modal({
                    show: false
                }).on('hidden.bs.modal', function(){
                    $(this).find('video')[0].pause();
                });
            });
        </script>
	{% endblock %}