{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

    {% block title %}
        Configuración - Veterinaria
    {% endblock title %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/dropzone.css' %}">
    {% endblock%}

    {% block content %}
        <div class="row">
            <div class="col-sm-7 col-xs-7">
                <h4 class="page-title">Perfil Veterinaria</h4>
                <ol class="breadcrumb">
                    <li><a href="/usuario/index/">Inicio</a></li>
                    <li class="active"><a>Perfil Veterinaria</a></li>
                </ol>         
            </div>
          {% if not object_list %}
            <div class="col-sm-5 col-xs-5 text-right">
                <a href="{% url 'crear_veterinaria' %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-plus"></i>
                    Configurar</a>
            </div>
          {% endif %}
        </div>
        
        <div class="col-md-12">
            <div class="row">
                {% for object in object_list %}
                    <div class="col-md-4">
                        <div class="card-box">
                            {% if object.foto %}                                        
                                <img class="img-responsive" src="{{ object.foto.url}}" alt="Logo veterinaria">
                            {% else %}
                                <p></p>
                            {% endif %}
                            <a href="{% url 'editar_veterinaria' object.id %}" title="Editar" class="btn btn-custom" style="width: 100%">
                                <i class="fa fa-pencil m-r-5"></i> Editar información
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-box">
                            <h4><b>Datos de la veterinaria</b></h4>
                            <hr/>
                            <h3 class="m-b-30"><b>{{ object.nombre }}</b></h3>
                            <h4 class="m-b-20"><b>Nit:</b> {{ object.nit }}</h4>
                            <h4 class="m-b-20"><b>Régimen:</b> {{ object.regimen }}</h4>
                            <h4 class="m-b-20"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ object.direccion }} - {{ object.ciudad }}</h4>
                            <h4 class="m-b-30">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                {% if object.telefono %}
                                    {{  object.telefono|default:"" }}
                                {% elif object.celular %}
                                {{  object.celular|default:"" }}
                                {% elif  object.telefono and object.celular %}
                                    {{ object.telefono|default:"" }} - {{ object.celular|default:"" }}
                                {% endif %}
                            </h4>
                            {% if object.imprimir_logo %}
                                <h4 class="m-b-20"><b>Imprimir logo en factura POS:</b> <span class="label label-success">Habilitado</span></h4>
                            {% else %}
                                <h4 class="m-b-20"><b>Imprimir logo en factura POS:</b> <span class="label label-danger">Deshabilitado</span></h4>
                            {% endif %}
                            <h5 class="text-muted m-t-20"><em>Los datos aquí registrados serán usados en los formatos de la historia clínica y los pagos</em></h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}

    {% block plugins %}
        <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/dropzone.js' %}"></script>
	{% endblock %}