{% extends 'basePanel.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    Pagos Registrados
{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
{% endblock%}

    {% block content %}
    <div class="row">
        <div class="col-sm-6 col-xs-5">
            <h4 class="page-title">Pagos Registrados</h4>
        </div>
        <div class="col-sm-6 col-xs-7 text-right">
            <a href="{% url 'agregar_pago_admin' user.usuario.id %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-plus"></i>
                Agregar Pago</a>
        </div>
    </div>
    <div class="row" style="display: flex;padding-left: 15px; flex-wrap: wrap;">
        <div style="width: 150px; margin: 5px;">
            <label class="control-label">Fecha</label>
            <select class="form-control" id="filtrar_fecha_filtro">
                <option value="hoy">Hoy</option>
                <option value="semana">Esta semana</option>
                <option value="mes">Mes</option>
            </select>
        </div>
        <div id="div_mes" style="width: 150px; margin: 5px; display: none;">
            <label class="control-label">Mes</label>
            <div class="form-group">
                <div class='input-group date'>
                    <span class="input-group-addon" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input class="form-control" name="fecha_consulta" id="fecha_consulta_mes" type="text" style="width: 100px; margin-right: 6px;">
                </div>
            </div>
        </div>
        <div id="div_año" style="width: 150px; margin: 5px;display: none;">
            <label class="control-label">Año</label>
            <div class="form-group">
                <div class='input-group date'>
                    <span class="input-group-addon" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input class="form-control" name="fecha_consulta" id="fecha_consulta_año" type="text" style="width: 100px; margin-right: 6px;">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table class="table table-striped" id="datatable">
                        <thead>
                        <tr>
                            <th>Fecha de Pago</th>
                            <th>Responsable</th>
                            <th>Nit Veterinaria</th>
                            <th>Veterinaria</th>
                            <th>Medio de Pago</th>
                            <th>Valor Pagado</th>
                            <th>Fecha de Corte</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pago in pagos %}
                            <tr>
                                <td>
                                    {{ pago.fecha_pago }}
                                </td>
                                <td>
                                    {% if pago.responsable %}
                                        {{ pago.responsable }} - Soporte
                                    {% elif pago.responsable_cliente %}
                                        {{ pago.responsable_cliente }} - Cliente
                                    {% endif %}
                                </td>
                                <td>
                                    {{ pago.veterinaria.codigo_tenant }}
                                </td>
                                <td>
                                    {{ pago.veterinaria }}
                                </td>
                                <td>
                                    {{ pago.medio_pago }}
                                </td>
                                <td>
                                    {{ pago.valor_pagado}}
                                </td>
                                <td>
                                    {{ pago.veterinaria.fecha_corte }}
                                </td>
                                <td>
                                    {% if pago.adjunto %}
                                        <a href="/media/{{ pago.adjunto }}" title="Descargar" class="action-icon dropdown-toggle" style="color: #076ff1;cursor: pointer;" download="true"><i class="fa fa-cloud-download fa-lg"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jszip.min.js' %}"></script>
    <script src="{% static 'js/pdfmake.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vfs_fonts.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/factura-pdf.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.print.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script>
        if ('{{ ano }}'){
            $("#fecha_consulta_año").val('{{ ano }}');
        }

        if ('{{ mes }}'){
            $("#fecha_consulta_mes").val('{{ mes }}');
        }

        if ('{{ fecha_filtro }}' == 'mes'){
            var div_mes = document.getElementById("div_mes");
            var div_año = document.getElementById("div_año");
            div_mes.style.display = 'block';
            div_año.style.display = 'block';
        }

        $("#filtrar_fecha_filtro").val('{{ fecha_filtro }}');
        $('#filtrar_fecha_filtro').on('change', function(){
            if($('#filtrar_fecha_filtro').val() == 'mes'){
                var div_mes = document.getElementById("div_mes");
                var div_año = document.getElementById("div_año");
                div_mes.style.display = 'block';
                div_año.style.display = 'block';
                window.location = '/veterinaria/pago_admin_mes/'+ $('#fecha_consulta_mes').val() + '/' + $('#fecha_consulta_año').val() + '/';
            }else{
                $('#div_mes').hide();
                $('#div_año').hide();
                window.location = '/veterinaria/pago_admin/'+ $('#filtrar_fecha_filtro').val() + '/';
            }
        });

        $('#fecha_consulta_mes').datetimepicker({
        format: 'MM',
        defaultDate: new Date(),
        icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
        });

        $('#fecha_consulta_año').datetimepicker({
        format: 'YYYY',
        defaultDate: new Date(),
        icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
        });

        $('#fecha_consulta_mes').on('dp.change', function(){
            if($('#filtrar_fecha_filtro').val() == 'mes'){
                window.location = '/veterinaria/pago_admin_mes/'+ $('#fecha_consulta_mes').val() + '/' + $('#fecha_consulta_año').val() + '/';
            }else{
                window.location = '/veterinaria/pago_admin/'+ $('#filtrar_fecha_filtro').val() + '/';
            }
        });

        $('#fecha_consulta_año').on('dp.change', function(){
            if($('#filtrar_fecha_filtro').val() == 'mes'){
                window.location = '/veterinaria/pago_admin_mes/'+ $('#fecha_consulta_mes').val() + '/' + $('#fecha_consulta_año').val() + '/';
            }else{
                window.location = '/veterinaria/pago_admin/'+ $('#filtrar_fecha_filtro').val() + '/';
            }
        });
    </script>

    {% endblock %}