{% extends 'basePanel.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

    {% block title %}
        Configuración - Veterinaria
    {% endblock title %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/dropzone.css' %}">
    {% endblock%}

    {% block content %}
        <div class="row">
            <div class="col-sm-7 col-xs-7">
                <h4 class="page-title">Mi Perfil</h4>
                <ol class="breadcrumb">
                    <li><a href="/usuario/index/">Inicio</a></li>
                    <li class="active"><a>Mi Perfil</a></li>
                </ol>        
            </div>
          {% if not object_list %}
            <div class="col-sm-5 col-xs-5 text-right">
                <a href="{% url 'crear_veterinaria' %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-plus"></i>
                    Configurar</a>
            </div>
          {% endif %}
        </div>
        
        <div class="col-md-12">
            <div class="card-box">
                <ul class="nav nav-tabs nav-tabs-solid nav-justified m-b-30">
                    <li class="active"><a data-toggle="tab" href="#miPerfil" id="tab_miPerfil">Mi Perfil</a></li>
                </ul>
                <div class="tab-content">
                    <div id="miPerfil" class="tab-pane active">
                        <div class="row">
                            {% for current_user in usuario %}
                                {% if current_user.id == user.usuario.id %}
                                    <div class="col-md-4">
                                        <div class="card-box">
                                            {% if current_user.foto %}                                        
                                                <img class="img-responsive" src="{{ current_user.foto.url}}" alt="Foto de Perfil">
                                            {% else %}
                                                <p></p>
                                            {% endif %}
                                            {% if current_user.roles == "Veterinario" %}
                                                <a href="/veterinaria/editar_veterinario_p/{{current_user.id}}" title="Editar" class="btn btn-custom" style="width: 100%">
                                                    <i class="fa fa-pencil m-r-5"></i> Editar información
                                                </a>
                                            {% elif current_user.roles == "Asistente" %}
                                                <a href="/veterinaria/editar_asistente_p/{{current_user.id}}" title="Editar" class="btn btn-custom" style="width: 100%">
                                                    <i class="fa fa-pencil m-r-5"></i> Editar información
                                                </a>
                                            {% else %}
                                                <a href="/veterinaria/editar_administrador_p/{{user.usuario.id}}" title="Editar" class="btn btn-custom" style="width: 100%">
                                                    <i class="fa fa-pencil m-r-5"></i> Editar información
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-box">
                                            <h4><b>Mi Perfil</b></h4>
                                            <hr/>
                                            <h3 class="m-b-30"><b>{{ current_user }}</b></h3>
                                            <h4 class="m-b-20"><b>{{ current_user.tipo_documento_identificacion}}:</b> {{ current_user.numero_documento_identificacion }}</h4>
                                            <h4 class="m-b-20"><i class="fa fa-map-marker" aria-hidden="true"></i> 
                                                {% if current_user.direccion %}
                                                    {{ current_user.direccion }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </h4>
                                            {% if current_user.roles == 'Veterinario' %}
                                                {% for vete in veterinario %}
                                                    {% if vete.id == current_user.id %}
                                                        <h4 class="m-b-20"><b>Especializacion: </b>{{ vete.especializacion }}</h4>
                                                        <h4 class="m-b-20"><b>Nro de Tarjeta: </b>{{ vete.no_tarjeta }}</h4>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            <h4 class="m-b-30">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                {% if current_user.telefono %}
                                                    {{  current_user.telefono|default:"" }}
                                                {% elif current_user.celular %}
                                                {{  current_user.celular|default:"" }}
                                                {% elif  current_user.telefono and current_user.celular %}
                                                    {{ current_user.telefono|default:"" }} - {{ current_user.celular|default:"" }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </h4>
                                            <h5 class="text-muted m-t-20"><em>Los datos aquí registrados serán usados en los formatos de la historia clínica y los pagos</em></h5>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block plugins %}
        <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/dropzone.js' %}"></script>
	{% endblock %}