{% extends 'basePanel.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


    {% block title %}
        Configuración - Imagenes de Promociones y Eventos
    {% endblock title %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/dropzone.css' %}">
    {% endblock%}

    {% block content %}
    <div class="row">
        <div class="col-sm-7 col-xs-7">
            <h4 class="page-title">Imagenes de Promociones y Eventos</h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li class="active"><a>Imagenes de Promociones y Eventos</a></li>
            </ol>                
        </div>
    </div>
    <div class="col-md-12">
        <div class="card-box">
            <div class="row">
                {% for object in object_list %}
                    <div class="col-md-6 text-center" style="padding-bottom: 40px;">
                        <a onclick="return abrirmodal('{% url 'detalle_promo_event' object.id %}')">
                            <img width="350" height="250" src="/media/{{object.promocion_evento}}">
                        </a>
                        <div class="text-left" style="margin-top: 20px;background: #076FF1;color: #fff;display: inline-block;padding: 20px;">
                            <p>Nombre: {{ object.titulo_promo_eve }}</p>
                            <p>Fecha: {{ object.fecha_subida }}</p>
                            <p>Descripcion: {{ object.descripcion_promo_eve }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="modal-img-pe" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" style="top: 5%;"></div>
    {% endblock %}

    {% block plugins %}
        <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/dropzone.js' %}"></script>
        <script>
            function abrirmodal(url){
                $('#modal-img-pe').load(url, function (){
                    $(this).modal('show');
                });
                return false;
            }
        </script>
	{% endblock %}