{% extends 'basePanel.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


    {% block title %}
        Configuración - Videos Tutoriales
    {% endblock title %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/dropzone.css' %}">
    {% endblock%}

    {% block content %}
    <div class="row">
        <div class="col-sm-7 col-xs-7">
            <h4 class="page-title">Videos Tutoriales</h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li class="active"><a>Videos Tutoriales</a></li>
            </ol>                
        </div>
    </div>
    <div class="col-md-12">
        <div class="card-box">
            <div class="row">
                {% for object in object_list %}
                    <div class="col-md-6 text-center" style="padding-bottom: 40px;">
                        <video controls controlsList="nodownload" src="/media/{{object.video_tutorial}}" width="450" height="300"></video>
                        <div class="text-center submit-btns">
                            <button onclick="ModalVideo()" class="btn btn-primary m-r-20" style="font-size: 18px;">
                                <i class="fa fa-film"></i> Ver Video
                            </button>
                        </div>
                        <div class="text-left" style="margin-top: 20px;background: #076FF1;color: #fff;display: inline-block;padding: 20px;">
                            <p>Nombre: {{ object.titulo_video }}</p>
                            <p>Fecha: {{ object.fecha_subida }}</p>
                            <p>Descripción: {{ object.descripcion_video }}</p>
                        </div>
                        <div id="modal-detalle" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" style="top: 10%;">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content animated fadeIn">
                                    <div class="modal-header">
                                        <div  style="width: 100%; display: flex;justify-content:space-between;">
                                            <h4 class="modal-title">Video Actualizacion</h4>
                                            <div>
                                                <a href="#" title="Cerrar" class="action-icon dropdown-toggle" style="color: #333333;" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-body" style="height: 100%; display: flex; justify-content: space-around"> 
                                        <video controls controlsList="nodownload" name="media"><source src="/media/{{object.video_tutorial}}" type="video/mp4"></video>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}

{% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dropzone.js' %}"></script>
    <script>
        function ModalVideo(){ 
            $('#modal-detalle').modal('show');
            return false;
        }
        $(function(){
            $('#modal-detalle').modal({
                show: false
            }).on('hidden.bs.modal', function(){
                $(this).find('video')[0].pause();
            });
        });
    </script>
{% endblock %}