{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Actividades por Usuarios
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<style>
    .select2-selection__rendered {
        line-height: 31px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 34px !important;
    }
</style>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-xs-9">
        <h4 class="page-title">Actividades por Usuarios</h4>
        <h4 class="fecha_inicio" style="display:none;">del {{ fecha_inicio}} </h4>
        <h4 class="fecha_fin" style="display:none;">al {{ fecha_fin }}</h4>

        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li class="active"><a>Actividades por Usuarios</a></li>
        </ol>
    </div>
    <div class="col-sm-4 col-xs-3 text-right">
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <div style="display: flex; flex-wrap: wrap;">
                        <div class="" style="width: 180px; margin: 15px;">
                            <label class="control-label">Fecha Inicial:</label>
                            <input placeholder="Fecha Inicial" class="form-control" id="fecha_consulta_inicio"
                                type="text" value=" {{ fecha_inicio }} ">

                        </div>
                        <div class="" style="width: 180px; margin: 15px;">
                            <label class="control-label">Fecha Final:</label>
                            <input placeholder="Fecha Final" class="form-control" id="fecha_consulta_fin" type="text"
                                value=" {{ fecha_fin }} ">
                        </div>
                        <div class="" style="width: 180px; margin: 15px;">
                            <label class="control-label">Responsable</label>
                            <select class="form-control" id="filtro_responsable">
                                <option value="0">Todos</option>
                                {% for usuario in responsables %}
                                <option value="{{ usuario.id }}">{{usuario}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="" style="width: 180px; margin: 15px;">
                            <label class="control-label">Área de Consulta</label>
                            <select class="form-control" id="filtro_area_consulta">
                                <option value="0">Todas</option>
                                {% for area_consulta in areas_consulta %}
                                <option value="{{ area_consulta.id }}">{{area_consulta}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="" style="width: 180px; margin: 15px;">
                            <label class="control-label">Propietarios</label>
                            <select class="form-control" id="filtro_propietario">
                                <option value="0">Todos</option>
                                {% for propietario in all_propietarios %}
                                <option value="{{ propietario.id }}">{{propietario}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="" style="width: 180px; margin: 15px;">
                            <label class="control-label">Mascotas</label>
                            <select class="form-control" id="filtro_mascota">
                                <option value="0">Todos</option>
                                {% for mascota in all_mascotas %}
                                <option value="{{ mascota.id }}">{{mascota}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="" style="width: 180px; margin: 15px;">
                            <label class="control-label">Tipo de Cita</label>
                            <select class="form-control" id="filtro_tipo">
                                <option value="generales">Todos</option>
                                <option value="esteticas">Esteticas</option>
                                <option value="desparasitaciones">Desparasitaciones</option>
                                <option value="guarderias">Guarderias</option>
                                <option value="vacunaciones">Vacunaciones</option>
                                <option value="citas">Citas medicas</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="margin-left: 10px;">
                    <button onclick="ExportExcel()" id="boton_exportar_excel" class="btn btn-primary">Exportar a Excel</button>
                </div>
                <div class="col-md-12">

                    <table class="table" id="actividades_usuarios" style="display: none;">

                        <thead>
                            <tr>
                                <th>Responsable</th>
                                <td id="imprimir_responsable">Mundoo</td>
                            </tr>
                            <tr>
                                <th>Area de consulta</th>
                                <td id="imprimir_area">Mundoo</td>
                            </tr>
                            <tr>
                                <th>Propietario</th>
                                <td id="imprimir_propietario">Mundoo</td>
                            </tr>
                            <tr>
                                <th>Mascota</th>
                                <td id="imprimir_mascota">Mundoo</td>
                            </tr>
                            <tr>
                                <th>Tipo de cita</th>
                                <td id="imprimir_cita">Mundoo</td>
                            </tr>
                            <tr>
                                <th></th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Nombre de Responsable</th>
                                <th>Nº Cédula</th>
                                <th>Fecha</th>
                                <th>Nombre del Propietario</th>
                                <th>Nº Cédula</th>
                                <th>Nombre de la Mascota</th>
                                <th>Raza</th>
                                <th>Nº Historia</th>
                                <th>Tipo de Cita</th>
                                <th>Aplicaciones</th>
                                <th>Insumos Utilizados</th>
                                <th>Procedimientos</th>
                                <th>Estado de Atencion</th>
                                <th>Estado de Pago</th>
                                <th>Costo de la Cita</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if citas_esteticas %}
                                {% for consulta in citas_esteticas %}
                                    <tr>
                                        <td>
                                            {% if consulta.veterinario != NULL %}
                                                <p style="text-align: center">{{ consulta.veterinario }}</p>
                                            {% else %}
                                                <p style="text-align: center">-</p>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if consulta.veterinario != NULL %}
                                                <p style="text-align: center">{{ consulta.veterinario.tipo_documento_identificacion }}: {{ consulta.veterinario.numero_documento_identificacion }}</p>
                                            {% else %}
                                                <p style="text-align: center">-</p>
                                            {% endif %}
                                            
                                        </td>
                                        <td>
                                            {{ consulta.fecha }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.cliente.nombreCompleto }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.cliente.tipo_documento }}: {{ consulta.mascota.cliente.numero_documento }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.nombre }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.raza }}
                                        </td>
                                        <td>
                                            {% if consulta.mascota.numero_carnet %}
                                                {{ consulta.mascota.numero_carnet }}
                                            {% else %}
                                                {{ consulta.mascota.id }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            Estética
                                        </td>
                                        <td>
                                            Tipo: {{ consulta.tipo_estetica }}
                                        </td>
                                        <td>
                                            <p style="text-align: center">-</p>
                                        </td>
                                        <td>
                                            {% if consulta.tipo_corte %}
                                                Corte: {{ consulta.tipo_corte }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if consulta.estado_de_atencion == 'Activa' %}
                                                Pendiente
                                            {% else %}
                                                {{ consulta.estado_de_atencion }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if consulta.estado == 'Activa' %}
                                                Pendiente
                                            {% else %}
                                                {{ consulta.estado }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ consulta.valor_total }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            {% if citas_desparasitacion %}
                                {% for consulta in citas_desparasitacion %}
                                    <tr>
                                        <td>
                                            {% if consulta.veterinario != NULL %}
                                                <p style="text-align: center">{{ consulta.veterinario }}</p>
                                            {% else %}
                                                <p style="text-align: center">-</p>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if consulta.veterinario != NULL %}
                                                <p style="text-align: center">{{ consulta.veterinario.tipo_documento_identificacion }}: {{ consulta.veterinario.numero_documento_identificacion }}</p>
                                            {% else %}
                                                <p style="text-align: center">-</p>
                                            {% endif %}
                                            
                                        </td>
                                        <td>
                                            {{ consulta.fecha }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.cliente.nombreCompleto }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.cliente.tipo_documento }}: {{ consulta.mascota.cliente.numero_documento }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.nombre }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.raza }}
                                        </td>
                                        <td>
                                            {% if consulta.mascota.numero_carnet %}
                                                {{ consulta.mascota.numero_carnet }}
                                            {% else %}
                                                {{ consulta.mascota.id }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            Desparacitación
                                        </td>
                                        <td>
                                            {% for app in aplicacion_desp %}
                                                {% if app.desparasitacion.id == consulta.id %}
                                                    {{ app.desparasitante.nombre }}: {{ app.cantidad }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for ins in insumos_desp %}
                                                {% if ins.desparasitacion.id == consulta.id %}
                                                    {{ ins.insumo.nombre }}: {{ ins.cantidad_requerida }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            -
                                        </td>
                                        <td>
                                            {{ consulta.estado_aplicacion }}
                                        </td>
                                        <td>
                                            {% if consulta.estado == 'Activo' %}
                                                Pendiente
                                            {% else %}
                                                {{ consulta.estado }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ consulta.costo }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            {% if citas_guarderias %}
                                {% for consulta in citas_guarderias %}
                                    <tr>
                                        <td>
                                            <p style="text-align: center">-</p>
                                        </td>
                                        <td>
                                            <p style="text-align: center">-</p>
                                        </td>
                                        <td>
                                            Inicio: {{ consulta.fecha_inicio }} / Fin: {{ consulta.fecha_fin }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.cliente.nombreCompleto }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.cliente.tipo_documento }}: {{ consulta.mascota.cliente.numero_documento }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.nombre }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.raza }}
                                        </td>
                                        <td>
                                            {% if consulta.mascota.numero_carnet %}
                                                {{ consulta.mascota.numero_carnet }}
                                            {% else %}
                                                {{ consulta.mascota.id }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            Guardería
                                        </td>
                                        <td>
                                            -
                                        </td>
                                        <td>
                                            -
                                        </td>
                                        <td>
                                            {% if consulta.observaciones %}
                                                {{ consulta.observaciones }}
                                            {% else %}
                                                -
                                            {% endif %}                                        
                                        </td>
                                        <td>
                                            -
                                        </td>
                                        <td>
                                            {% if consulta.estado == 'Activa' %}
                                                Pendiente
                                            {% else %}
                                                {{ consulta.estado }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% for pago in pago_guarderia %}
                                                {% if pago.guarderia_id == consulta.id %}
                                                    {{ pago.total }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            {% if citas_vacunacion %}
                                {% for consulta in citas_vacunacion %}
                                    <tr>
                                        <td>
                                            {% if consulta.veterinario != NULL %}
                                                <p style="text-align: center">{{ consulta.veterinario }}</p>
                                            {% else %}
                                                <p style="text-align: center">-</p>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if consulta.veterinario != NULL %}
                                                <p style="text-align: center">{{ consulta.veterinario.tipo_documento_identificacion }}: {{ consulta.veterinario.numero_documento_identificacion }}</p>
                                            {% else %}
                                                <p style="text-align: center">-</p>
                                            {% endif %}
                                            
                                        </td>
                                        <td>
                                            {{ consulta.fecha }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.cliente.nombreCompleto }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.cliente.tipo_documento }}: {{ consulta.mascota.cliente.numero_documento }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.nombre }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.raza }}
                                        </td>
                                        <td>
                                            {% if consulta.mascota.numero_carnet %}
                                                {{ consulta.mascota.numero_carnet }}
                                            {% else %}
                                                {{ consulta.mascota.id }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            Vacunación
                                        </td>
                                        <td>
                                            {% for app in aplicacion_vac %}
                                                {% if app.vacunacion.id == consulta.id %}
                                                    {{ app.vacuna.nombre }}: {{ app.cantidad }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for ins in insumos_vac %}
                                                {% if ins.vacunacion.id == consulta.id %}
                                                    {{ ins.insumo.nombre }}: {{ ins.cantidad_requerida }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            -
                                        </td>
                                        <td>
                                            {{ consulta.estado_aplicacion }}
                                        </td>
                                        <td>
                                            {% if consulta.estado == 'Activa' %}
                                                Pendiente
                                            {% else %}
                                                {{ consulta.estado }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ consulta.costo }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            {% if citas_citasMedicas %}
                                {% for consulta in citas_citasMedicas %}
                                    <tr>
                                        <td>
                                            {% if consulta.creada_por != NULL %}
                                                <p style="text-align: center">{{ consulta.creada_por }}</p>
                                            {% else %}
                                                <p style="text-align: center">-</p>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if consulta.creada_por != NULL %}
                                                <p style="text-align: center">{{ consulta.creada_por.tipo_documento_identificacion }}: {{ consulta.creada_por.numero_documento_identificacion }}</p>
                                            {% else %}
                                                <p style="text-align: center">-</p>
                                            {% endif %}
                                            
                                        </td>
                                        <td>
                                            {{ consulta.fecha }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.cliente.nombreCompleto }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.cliente.tipo_documento }}: {{ consulta.mascota.cliente.numero_documento }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.nombre }}
                                        </td>
                                        <td>
                                            {{ consulta.mascota.raza }}
                                        </td>
                                        <td>
                                            {% if consulta.mascota.numero_carnet %}
                                                {{ consulta.mascota.numero_carnet }}
                                            {% else %}
                                                {{ consulta.mascota.id }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            Cita Médica ({{ consulta.motivo_cita }})
                                        </td>
                                        <td>
                                            {% for inyectologia in inyectologias_citasMedicas %}
                                                {% if inyectologia.historia_clinica.id == consulta.id %}
                                                    {{ inyectologia.medicamento.nombre }}: {{ inyectologia.cantidad }} {% if inyectologia.unidad_medida == 'fraccion' %}{{ inyectologia.medicamento.unidad_medida }}{% else %}{{ inyectologia.unidad_medida }}{% endif %}.
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for ins in insumos_citasMedicas %}
                                                {% if ins.historia.id == consulta.id %}
                                                    {{ ins.insumo.nombre }}: {{ ins.cantidad_requerida }} {% if ins.unidad_medida == 'fraccion' %}{{ ins.insumo.unidad_medida }}{% else %}{{ ins.unidad_medida }}{% endif %}.
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for proc in procedimiento_citaMedica %}
                                                {% if proc.historia_clinica.id == consulta.id %}
                                                    {{ proc.area_consulta }} {% if proc.estado == 'Activa' %}(Pendiente){% else %}({{ proc.estado }}){% endif %}.
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            Atendida
                                        </td>
                                        <td>
                                            {% for pago_atencion in pagos_citasMedicas %}
                                                {% if pago_atencion.tratamiento.id == consulta.id %}
                                                    {{ pago_atencion.pago.estado_pago }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% for costo in costos_atenciones %}
                                                {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                                    {{ costo }}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    <!-- h1 style="text-align: center; color: #076ff1;">Descarga tu reporte de actividades, según tu necesidad de información</h1 -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.flash.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jszip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vfs_fonts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.print.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
<script>

    $(document).ready(function () {

        $('#filtro_tipo').val('{{ tipo_cita }}');
        $('#filtro_responsable').val('{{ id_responsable }}');
        $('#filtro_area_consulta').val('{{ id_area_consulta }}');
        $('#filtro_propietario').val('{{ id_propietario }}');
        $('#filtro_mascota').val('{{ id_mascota }}');

        $('#filtro_responsable').select2();
        $('#filtro_area_consulta').select2();
        $('#filtro_propietario').select2();
        $('#filtro_mascota').select2();

        $('#imprimir_responsable').html($('#filtro_responsable  option:selected').text());
        $('#imprimir_area').html($('#filtro_area_consulta  option:selected').text());
        $('#imprimir_propietario').html($('#filtro_propietario  option:selected').text());
        $('#imprimir_mascota').html($('#filtro_mascota  option:selected').text());
        $('#imprimir_cita').html($('#filtro_tipo  option:selected').text());
    });

    function ExportExcel(type, fn, dl) {
        var fileName = $('.page-title').text() + $('.fecha_inicio').text() + $('.fecha_fin').text();
        var elt = document.getElementById('actividades_usuarios');
        var wb = XLSX.utils.table_to_book(elt, {sheet:"Sheet JS"});
        return dl ?
           XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
           XLSX.writeFile(wb, fn || (fileName + "." + (type || 'xlsx')));
    }

    $('#fecha_consulta_inicio').datetimepicker({
        format: 'YYYY-MM-DD'
    });

    $('#fecha_consulta_fin').datetimepicker({
        format: 'YYYY-MM-DD'
    });
    $("#fecha_consulta_inicio").on("dp.change", function (e) {
        window.location = '/informes/actividad_usuario/' + $('#fecha_consulta_inicio').val()+ '/' + $('#fecha_consulta_fin').val() + '/' + $('#filtro_tipo').val() + '/'+ $('#filtro_responsable').val() + '/' + $('#filtro_area_consulta').val() + '/' + $('#filtro_propietario').val() + '/' + $('#filtro_mascota').val() + '/';
    });

    $("#fecha_consulta_fin").on("dp.change", function (e) {
        window.location = '/informes/actividad_usuario/' + $('#fecha_consulta_inicio').val()+ '/' + $('#fecha_consulta_fin').val() + '/' + $('#filtro_tipo').val() + '/'+ $('#filtro_responsable').val() + '/' + $('#filtro_area_consulta').val() + '/' + $('#filtro_propietario').val() + '/' + $('#filtro_mascota').val() + '/';
    });
    $('#filtro_tipo').on('change', function(){
       window.location = '/informes/actividad_usuario/' + $('#fecha_consulta_inicio').val()+ '/' + $('#fecha_consulta_fin').val() + '/' + $('#filtro_tipo').val() + '/'+ $('#filtro_responsable').val() + '/' + $('#filtro_area_consulta').val() + '/' + $('#filtro_propietario').val() + '/' + $('#filtro_mascota').val() + '/';
    });
    $('#filtro_responsable').on('change', function(){
       window.location = '/informes/actividad_usuario/' + $('#fecha_consulta_inicio').val()+ '/' + $('#fecha_consulta_fin').val() + '/' + $('#filtro_tipo').val() + '/'+ $('#filtro_responsable').val() + '/' + $('#filtro_area_consulta').val() + '/' + $('#filtro_propietario').val() + '/' + $('#filtro_mascota').val() + '/';
    });
    $('#filtro_propietario').on('change', function(){
       window.location = '/informes/actividad_usuario/' + $('#fecha_consulta_inicio').val()+ '/' + $('#fecha_consulta_fin').val() + '/' + $('#filtro_tipo').val() + '/'+ $('#filtro_responsable').val() + '/' + $('#filtro_area_consulta').val() + '/' + $('#filtro_propietario').val() + '/0/';
    });
    $('#filtro_mascota').on('change', function(){
       window.location = '/informes/actividad_usuario/' + $('#fecha_consulta_inicio').val()+ '/' + $('#fecha_consulta_fin').val() + '/' + $('#filtro_tipo').val() + '/'+ $('#filtro_responsable').val() + '/' + $('#filtro_area_consulta').val() + '/' + $('#filtro_propietario').val() + '/' + $('#filtro_mascota').val() + '/';
    });
    $('#filtro_area_consulta').on('change', function(){
       window.location = '/informes/actividad_usuario/' + $('#fecha_consulta_inicio').val()+ '/' + $('#fecha_consulta_fin').val() + '/' + $('#filtro_tipo').val() + '/'+ $('#filtro_responsable').val() + '/' + $('#filtro_area_consulta').val() + '/' + $('#filtro_propietario').val() + '/' + $('#filtro_mascota').val() + '/';
    });
</script>
{% endblock %}