{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Historial de inventario
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<style>
    .select2-selection__rendered {
        line-height: 31px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 34px !important;
    }
</style>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-xs-9">
        <h4 class="page-title">Historial de inventario</h4>
        <h4 class="fecha_inicio" style="display:none;">del {{ fecha_inicio}} </h4>
        <h4 class="fecha_fin" style="display:none;">al {{ fecha_fin }}</h4>

        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li class="active"><a>Historial de inventario</a></li>
        </ol>
    </div>
    <div class="col-sm-4 col-xs-3 text-right">
    </div>
</div>
<div class="row" id="app">
    <div class="col-md-12">

        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <div style="display: flex; flex-wrap: wrap;">
                        <div class="" style="width: 180px; margin: 15px;">
                            <label class="control-label">Fecha Inicial:</label>
                            <input placeholder="Fecha Inicial" class="form-control" id="fecha_consulta_inicio"
                                type="text" value=" {{ fecha_inicio }} ">

                        </div>
                        <div class="" style="width: 180px; margin: 15px;">
                            <label class="control-label">Fecha Final:</label>
                            <input placeholder="Fecha Final" class="form-control" id="fecha_consulta_fin" type="text"
                                value=" {{ fecha_fin }} ">
                        </div>
                        <div class="" style="width: 180px; margin: 15px;">
                            <label class="control-label">Categoria</label>
                            <select class="form-control" id="filtro_categoria">
                                <option value="todos">Todos</option>
                                <option value="medicamentos">Medicamentos</option>
                                <option value="productos">Productos</option>
                                <option value="vacunas">Vacunas</option>
                                <option value="desparasitantes">Desparasitantes</option>
                                <option value="insumos">Insumos</option>
                                {% for categoria in categorias %}
                                <option value="{{ categoria.id }}">{{categoria.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="" style="width: 180px; margin: 15px;">
                            <label class="control-label">Tipo de operacion</label>
                            <select class="form-control" id="filtro_motivo">
                                <option value="todos">Todos</option>
                                <option value="inventario">Registro/Modificacion</option>
                                <option value="compra">Compra</option>
                                <option value="venta">Venta</option>
                                <option value="aplicacion">Aplicacion</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="margin-left: 10px;">
                    <button onclick="ExportExcel()" id="boton_exportar_excel" class="btn btn-primary">Exportar a Excel</button>
                </div>
                <div class="col-md-12" style="display: none;">

                    <table class="table" id="historial_inventario">

                        <thead>
                            <tr>
                                <th>Categoria</th>
                                <td id="imprimir_categoria">Mundoo</td>
                            </tr>
                            <tr>
                                <th>Motivo de movimiento</th>
                                <td id="imprimir_motivo">Mundoo</td>
                            </tr>
                            <tr>
                                <th></th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Fecha</th>
                                <th>Item del inventario</th>
                                <th>Bodega</th>
                                <th>Categoria</th>
                                <th>Codigo de barras</th>
                                <th>Tipo de Operacion</th>
                                <th>Estado de pago</th>
                                <th>N° de comprobante</th>
                                <th>Nombre de tercero</th>
                                <th>N° documento de tercero</th>
                                <th>Valor de compra</th>
                                <th>Valor de venta</th>
                                <th>Impuesto</th>
                                <th>Cantidad</th>
                                <th>Responsable</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if historial %}
                                {% for historia in historial %}
                                    {% if historia.tipo_elemento == 'Producto' %}
                                        {% for item in productos %}
                                            {% if historia.id_elemento == item.id %}
                                            <tr>
                                                <td>
                                                    {{ historia.fecha }}
                                                </td>
                                                <td>
                                                    {{ item.nombre }}
                                                </td>
                                                <td>
                                                    {{ item.bodega.nombre }}
                                                </td>
                                                <td>
                                                    {{ historia.tipo_elemento }}
                                                </td>
                                                <td>
                                                    {{ item.codigo | default:'' }}
                                                </td>
                                                <td>
                                                    {% if historia.tipo_transaccion == 'Inventario' %}
                                                        {{ historia.nombre_transaccion }}
                                                    {% else %}
                                                        {{ historia.tipo_transaccion }}
                                                    {% endif %}
                                                </td>

                                                {% if historia.tipo_transaccion == 'Ventas' %}
                                                    {% for venta in ventas_productos %}
                                                        {% if historia.id_transaccion == venta.pago.id and venta.producto.id == item.id %}
                                                            <td>
                                                                {{ venta.pago.estado_pago }}
                                                            </td>
                                                            <td>
                                                                {% if venta.pago.id < 10 %}
                                                                    0000{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 100 %}
                                                                    000{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 1000 %}
                                                                    00{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 10000 %}
                                                                    0{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 100000 %}
                                                                    {{ venta.pago.id }}
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {{ venta.pago.cliente.nombreCompleto }}
                                                            </td>
                                                            <td>
                                                                {{ venta.pago.cliente.numero_documento }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ venta.total }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ historia.nombre_transaccion }}
                                                            </td>
                                                            <td>
                                                                {{ venta.pago.responsable }}
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% elif historia.tipo_transaccion == 'Compras' %}
                                                    {% for compra in compras_productos %}
                                                        {% if historia.id_transaccion == compra.gasto.id and compra.producto.id == item.id %}
                                                            <td>
                                                                {{ compra.gasto.estado_pago }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.numero_comprobante | default:''}}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.proveedor.nombre }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.proveedor.numero_documento }}
                                                            </td>
                                                            <td>
                                                                {{ compra.total_con_impuesto }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ compra.impuesto | default:'' }}
                                                            </td>
                                                            <td>
                                                                {{ historia.nombre_transaccion }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.responsable }}
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>
                                                        {{ historia.responsable }}
                                                    </td>
                                                {% endif %}
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if historia.tipo_elemento == 'Medicamento' %}
                                        {% for item in medicamentos %}
                                            {% if historia.id_elemento == item.id %}
                                            <tr>
                                                <td>
                                                    {{ historia.fecha }}
                                                </td>
                                                <td>
                                                    {{ item.nombre }}
                                                </td>
                                                <td>
                                                    {{ item.bodega.nombre }}
                                                </td>
                                                <td>
                                                    {{ historia.tipo_elemento }}
                                                </td>
                                                <td>
                                                    {{ item.codigo_inventario | default:'' }}
                                                </td>
                                                <td>
                                                    {% if historia.tipo_transaccion == 'Inventario' %}
                                                        {{ historia.nombre_transaccion }}
                                                    {% else %}
                                                        {{ historia.tipo_transaccion }}
                                                    {% endif %}
                                                </td>

                                                {% if historia.tipo_transaccion == 'Ventas' %}
                                                    {% for venta in ventas_medicamentos %}
                                                        {% if historia.id_transaccion == venta.pago.id and venta.medicamento.id == item.id %}
                                                            <td>
                                                                {{ venta.pago.estado_pago }}
                                                            </td>
                                                            <td>
                                                                {% if venta.pago.id < 10 %}
                                                                    0000{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 100 %}
                                                                    000{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 1000 %}
                                                                    00{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 10000 %}
                                                                    0{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 100000 %}
                                                                    {{ venta.pago.id }}
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {{ venta.pago.cliente.nombreCompleto }}
                                                            </td>
                                                            <td>
                                                                {{ venta.pago.cliente.numero_documento }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ venta.total }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ historia.nombre_transaccion }}
                                                            </td>
                                                            <td>
                                                                {{ venta.pago.responsable }}
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% elif historia.tipo_transaccion == 'Compras' %}
                                                    {% for compra in compras_medicamentos %}
                                                        {% if historia.id_transaccion == compra.gasto.id and compra.medicamento.id == item.id %}
                                                            <td>
                                                                {{ compra.gasto.estado_pago }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.numero_comprobante | default:''}}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.proveedor.nombre }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.proveedor.numero_documento }}
                                                            </td>
                                                            <td>
                                                                {{ compra.total_con_impuesto }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ compra.impuesto | default:'' }}
                                                            </td>
                                                            <td>
                                                                {{ historia.nombre_transaccion }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.responsable }}
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>
                                                        {{ historia.responsable }}
                                                    </td>
                                                {% endif %}
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if historia.tipo_elemento == 'Vacuna' %}
                                        {% for item in vacunas %}
                                            {% if historia.id_elemento == item.id %}
                                            <tr>
                                                <td>
                                                    {{ historia.fecha }}
                                                </td>
                                                <td>
                                                    {{ item.nombre }}
                                                </td>
                                                <td>
                                                    {{ item.bodega.nombre }}
                                                </td>
                                                <td>
                                                    {{ historia.tipo_elemento }}
                                                </td>
                                                <td>
                                                    {{ item.codigo_inventario | default:'' }}
                                                </td>
                                                <td>
                                                    {% if historia.tipo_transaccion == 'Inventario' %}
                                                        {{ historia.nombre_transaccion }}
                                                    {% else %}
                                                        {{ historia.tipo_transaccion }}
                                                    {% endif %}
                                                </td>

                                                {% if historia.tipo_transaccion == 'Ventas' %}
                                                    {% for venta in ventas_vacunas %}
                                                        {% if historia.id_transaccion == venta.pago.id and venta.vacuna.id == item.id %}
                                                            <td>
                                                                {{ venta.pago.estado_pago }}
                                                            </td>
                                                            <td>
                                                                {% if venta.pago.id < 10 %}
                                                                    0000{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 100 %}
                                                                    000{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 1000 %}
                                                                    00{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 10000 %}
                                                                    0{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 100000 %}
                                                                    {{ venta.pago.id }}
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {{ venta.pago.cliente.nombreCompleto }}
                                                            </td>
                                                            <td>
                                                                {{ venta.pago.cliente.numero_documento }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ venta.total }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ historia.nombre_transaccion }}
                                                            </td>
                                                            <td>
                                                                {{ venta.pago.responsable }}
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% elif historia.tipo_transaccion == 'Compras' %}
                                                    {% for compra in compras_vacunas %}
                                                        {% if historia.id_transaccion == compra.gasto.id and compra.vacuna.id == item.id %}
                                                            <td>
                                                                {{ compra.gasto.estado_pago }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.numero_comprobante | default:''}}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.proveedor.nombre }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.proveedor.numero_documento }}
                                                            </td>
                                                            <td>
                                                                {{ compra.total_con_impuesto }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ compra.impuesto | default:'' }}
                                                            </td>
                                                            <td>
                                                                {{ historia.nombre_transaccion }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.responsable }}
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>
                                                        {{ historia.responsable }}
                                                    </td>
                                                {% endif %}
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if historia.tipo_elemento == 'Desparasitante' %}
                                        {% for item in desparasitantes %}
                                            {% if historia.id_elemento == item.id %}
                                            <tr>
                                                <td>
                                                    {{ historia.fecha }}
                                                </td>
                                                <td>
                                                    {{ item.nombre }}
                                                </td>
                                                <td>
                                                    {{ item.bodega.nombre }}
                                                </td>
                                                <td>
                                                    {{ historia.tipo_elemento }}
                                                </td>
                                                <td>
                                                    {{ item.codigo_inventario | default:'' }}
                                                </td>
                                                <td>
                                                    {% if historia.tipo_transaccion == 'Inventario' %}
                                                        {{ historia.nombre_transaccion }}
                                                    {% else %}
                                                        {{ historia.tipo_transaccion }}
                                                    {% endif %}
                                                </td>

                                                {% if historia.tipo_transaccion == 'Ventas' %}
                                                    {% for venta in ventas_desparasitantes %}
                                                        {% if historia.id_transaccion == venta.pago.id and venta.desparasitante.id == item.id %}
                                                            <td>
                                                                {{ venta.pago.estado_pago }}
                                                            </td>
                                                            <td>
                                                                {% if venta.pago.id < 10 %}
                                                                    0000{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 100 %}
                                                                    000{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 1000 %}
                                                                    00{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 10000 %}
                                                                    0{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 100000 %}
                                                                    {{ venta.pago.id }}
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {{ venta.pago.cliente.nombreCompleto }}
                                                            </td>
                                                            <td>
                                                                {{ venta.pago.cliente.numero_documento }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ venta.total }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ historia.nombre_transaccion }}
                                                            </td>
                                                            <td>
                                                                {{ venta.pago.responsable }}
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% elif historia.tipo_transaccion == 'Compras' %}
                                                    {% for compra in compras_desparasitantes %}
                                                        {% if historia.id_transaccion == compra.gasto.id and compra.desparasitante.id == item.id %}
                                                            <td>
                                                                {{ compra.gasto.estado_pago }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.numero_comprobante | default:''}}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.proveedor.nombre }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.proveedor.numero_documento }}
                                                            </td>
                                                            <td>
                                                                {{ compra.total_con_impuesto }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ compra.impuesto | default:'' }}
                                                            </td>
                                                            <td>
                                                                {{ historia.nombre_transaccion }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.responsable }}
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>
                                                        {{ historia.responsable }}
                                                    </td>
                                                {% endif %}
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if historia.tipo_elemento == 'Categoria' %}
                                        {% for item in elementos_categorias %}
                                            {% if categoria == "todos" and historia.id_elemento == item.id %}
                                                <tr>
                                                <td>
                                                    {{ historia.fecha }}
                                                </td>
                                                <td>
                                                    {{ item.nombre }}
                                                </td>
                                                <td>
                                                    {{ item.bodega.nombre }}
                                                </td>
                                                <td>
                                                    {{ item.categoria.nombre }}
                                                </td>
                                                <td>
                                                    {{ item.codigo_inventario | default:'' }}
                                                </td>
                                                <td>
                                                    {% if historia.tipo_transaccion == 'Inventario' %}
                                                        {{ historia.nombre_transaccion }}
                                                    {% else %}
                                                        {{ historia.tipo_transaccion }}
                                                    {% endif %}
                                                </td>

                                                {% if historia.tipo_transaccion == 'Ventas' %}
                                                    {% for venta in ventas_elementos_categorias %}
                                                        {% if historia.id_transaccion == venta.pago.id and venta.elemento.id == item.id %}
                                                            <td>
                                                                {{ venta.pago.estado_pago }}
                                                            </td>
                                                            <td>
                                                                {% if venta.pago.id < 10 %}
                                                                    0000{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 100 %}
                                                                    000{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 1000 %}
                                                                    00{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 10000 %}
                                                                    0{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 100000 %}
                                                                    {{ venta.pago.id }}
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {{ venta.pago.cliente.nombreCompleto }}
                                                            </td>
                                                            <td>
                                                                {{ venta.pago.cliente.numero_documento }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ venta.total }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ historia.nombre_transaccion }}
                                                            </td>
                                                            <td>
                                                                {{ venta.pago.responsable }}
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% elif historia.tipo_transaccion == 'Compras' %}
                                                    {% for compra in compras_elementos_categorias %}
                                                        {% if historia.id_transaccion == compra.gasto.id and compra.elemento.id == item.id %}
                                                            <td>
                                                                {{ compra.gasto.estado_pago }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.numero_comprobante | default:''}}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.proveedor.nombre }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.proveedor.numero_documento }}
                                                            </td>
                                                            <td>
                                                                {{ compra.total_con_impuesto }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ compra.impuesto | default:'' }}
                                                            </td>
                                                            <td>
                                                                {{ historia.nombre_transaccion }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.responsable }}
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>
                                                        {{ historia.responsable }}
                                                    </td>
                                                {% endif %}
                                            </tr>
                                            {% elif historia.id_elemento == item.id and categoria == item.categoria.id %}
                                                <tr>
                                                <td>
                                                    {{ historia.fecha }}
                                                </td>
                                                <td>
                                                    {{ item.nombre }}
                                                </td>
                                                <td>
                                                    {{ item.bodega.nombre }}
                                                </td>
                                                <td>
                                                    {{ item.categoria.nombre }}
                                                </td>
                                                <td>
                                                    {{ item.codigo_inventario | default:'' }}
                                                </td>
                                                <td>
                                                    {% if historia.tipo_transaccion == 'Inventario' %}
                                                        {{ historia.nombre_transaccion }}
                                                    {% else %}
                                                        {{ historia.tipo_transaccion }}
                                                    {% endif %}
                                                </td>

                                                {% if historia.tipo_transaccion == 'Ventas' %}
                                                    {% for venta in ventas_elementos_categorias %}
                                                        {% if historia.id_transaccion == venta.pago.id and venta.elemento.id == item.id %}
                                                            <td>
                                                                {{ venta.pago.estado_pago }}
                                                            </td>
                                                            <td>
                                                                {% if venta.pago.id < 10 %}
                                                                    0000{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 100 %}
                                                                    000{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 1000 %}
                                                                    00{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 10000 %}
                                                                    0{{ venta.pago.id }}
                                                                {% elif venta.pago.id < 100000 %}
                                                                    {{ venta.pago.id }}
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {{ venta.pago.cliente.nombreCompleto }}
                                                            </td>
                                                            <td>
                                                                {{ venta.pago.cliente.numero_documento }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ venta.total }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ historia.nombre_transaccion }}
                                                            </td>
                                                            <td>
                                                                {{ venta.pago.responsable }}
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% elif historia.tipo_transaccion == 'Compras' %}
                                                    {% for compra in compras_elementos_categorias %}
                                                        {% if historia.id_transaccion == compra.gasto.id and compra.elemento.id == item.id %}
                                                            <td>
                                                                {{ compra.gasto.estado_pago }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.numero_comprobante | default:''}}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.proveedor.nombre }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.proveedor.numero_documento }}
                                                            </td>
                                                            <td>
                                                                {{ compra.total_con_impuesto }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ compra.impuesto | default:'' }}
                                                            </td>
                                                            <td>
                                                                {{ historia.nombre_transaccion }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.responsable }}
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>
                                                        {{ historia.responsable }}
                                                    </td>
                                                {% endif %}
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if historia.tipo_elemento == 'Insumo' %}
                                        {% for item in insumos %}
                                            {% if historia.id_elemento == item.id %}
                                            <tr>
                                                <td>
                                                    {{ historia.fecha }}
                                                </td>
                                                <td>
                                                    {{ item.nombre }}
                                                </td>
                                                <td>
                                                    {{ item.bodega.nombre }}
                                                </td>
                                                <td>
                                                    {{ historia.tipo_elemento }}
                                                </td>
                                                <td>
                                                    {{ item.codigo_inventario | default:'' }}
                                                </td>
                                                <td>
                                                    {% if historia.tipo_transaccion == 'Inventario' %}
                                                        {{ historia.nombre_transaccion }}
                                                    {% else %}
                                                        {{ historia.tipo_transaccion }}
                                                    {% endif %}
                                                </td>

                                                {% if historia.tipo_transaccion == 'Compras' %}
                                                    {% for compra in compras_insumos %}
                                                        {% if historia.id_transaccion == compra.gasto.id and compra.insumo.id == item.id %}
                                                            <td>
                                                                {{ compra.gasto.estado_pago }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.numero_comprobante | default:''}}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.proveedor.nombre }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.proveedor.numero_documento }}
                                                            </td>
                                                            <td>
                                                                {{ compra.total_con_impuesto }}
                                                            </td>
                                                            <td>

                                                            </td>
                                                            <td>
                                                                {{ compra.impuesto | default:'' }}
                                                            </td>
                                                            <td>
                                                                {{ historia.nombre_transaccion }}
                                                            </td>
                                                            <td>
                                                                {{ compra.gasto.responsable }}
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>
                                                        {{ historia.responsable }}
                                                    </td>
                                                {% endif %}
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if aplicacion_vacunaciones %}
                                {% for aplicacion in aplicacion_vacunaciones %}
                                <tr>
                                    <td>{{ aplicacion.fecha }}</td>
                                    <td>{{ aplicacion.vacuna.nombre }}</td>
                                    <td>{{ aplicacion.vacuna.bodega }}</td>
                                    <td>Vacuna</td>
                                    <td>{{ aplicacion.vacuna.codigo_inventario }}</td>
                                    <td>Aplicacion</td>
                                    <td>
                                        {% if aplicacion.vacunacion.estado == 'Activa' %}
                                            Pendiente
                                        {% elif aplicacion.vacunacion.estado == 'Pagada' %}
                                            Pagado
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if aplicacion.vacunacion.estado == 'Pagada' %}
                                            {% for pago_vacunacion in pago_vacunaciones %}
                                                {% if aplicacion.vacunacion.id == pago_vacunacion.vacunacion.id %}
                                                    {% if pago_vacunacion.pago.id < 10 %}
                                                        0000{{ pago_vacunacion.pago.id }}
                                                    {% elif pago_vacunacion.pago.id < 100 %}
                                                        000{{ pago_vacunacion.pago.id }}
                                                    {% elif pago_vacunacion.pago.id < 1000 %}
                                                        00{{ pago_vacunacion.pago.id }}
                                                    {% elif pago_vacunacion.pago.id < 10000 %}
                                                        0{{ pago_vacunacion.pago.id }}
                                                    {% elif pago_vacunacion.pago.id < 100000 %}
                                                        {{ pago_vacunacion.pago.id }}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>{{ aplicacion.vacunacion.mascota.cliente.nombreCompleto }}</td>
                                    <td>{{ aplicacion.vacunacion.mascota.cliente.numero_documento }}</td>
                                    <td></td>
                                    <td>
                                        {% if aplicacion.vacunacion.estado == 'Pagada' %}
                                        {{ aplicacion.vacunacion.costo }}
                                        {% endif %}
                                    </td>
                                    <td></td>
                                    <td>{{ aplicacion.cantidad }} {{ aplicacion.unidad }}</td>
                                    <td>{{ aplicacion.vacunacion.veterinario }}</td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                            {% if aplicacion_desparasitaciones %}
                                {% for aplicacion in aplicacion_desparasitaciones %}
                                <tr>
                                    <td>{{ aplicacion.fecha }}</td>
                                    <td>{{ aplicacion.desparasitante.nombre }}</td>
                                    <td>{{ aplicacion.desparasitante.bodega }}</td>
                                    <td>Desparasitante</td>
                                    <td>{{ aplicacion.desparasitante.codigo_inventario }}</td>
                                    <td>Aplicacion</td>
                                    <td>
                                        {% if aplicacion.desparasitacion.estado == 'Activo' %}
                                            Pendiente
                                        {% elif aplicacion.desparasitacion.estado == 'Pagada' %}
                                            Pagado
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if aplicacion.desparasitacion.estado == 'Pagada' %}
                                            {% for pago_desparasitacion in pago_desparasitaciones %}
                                                {% if aplicacion.desparasitacion.id == pago_desparasitacion.desparasitacion.id %}
                                                    {% if pago_desparasitacion.pago.id < 10 %}
                                                        0000{{ pago_desparasitacion.pago.id }}
                                                    {% elif pago_desparasitacion.pago.id < 100 %}
                                                        000{{ pago_desparasitacion.pago.id }}
                                                    {% elif pago_desparasitacion.pago.id < 1000 %}
                                                        00{{ pago_desparasitacion.pago.id }}
                                                    {% elif pago_desparasitacion.pago.id < 10000 %}
                                                        0{{ pago_desparasitacion.pago.id }}
                                                    {% elif pago_desparasitacion.pago.id < 100000 %}
                                                        {{ pago_desparasitacion.pago.id }}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                    <td>{{ aplicacion.desparasitacion.mascota.cliente.nombreCompleto }}</td>
                                    <td>{{ aplicacion.desparasitacion.mascota.cliente.numero_documento }}</td>
                                    <td></td>
                                    <td>
                                        {% if aplicacion.desparasitacion.estado == 'Pagada' %}
                                        {{ aplicacion.desparasitacion.costo }}
                                        {% endif %}
                                    </td>
                                    <td></td>
                                    <td>{{ aplicacion.cantidad }} {{ aplicacion.unidad }}</td>
                                    <td>{{ aplicacion.desparasitacion.veterinario }}</td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                    <!-- h1 style="text-align: center; color: #076ff1;">Descarga tu reporte de actividades, según tu necesidad de información</h1 -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.flash.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jszip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vfs_fonts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.print.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
<script>

    $(document).ready(function () {

        $('#filtro_categoria').val('{{ categoria }}');
        $('#filtro_motivo').val('{{ motivo }}');

        $('#imprimir_categoria').html($('#filtro_categoria  option:selected').text());
        $('#imprimir_motivo').html($('#filtro_motivo  option:selected').text());
    });

    function ExportExcel(type, fn, dl) {
        var fileName = $('.page-title').text() + $('.fecha_inicio').text() + $('.fecha_fin').text();
        var elt = document.getElementById('historial_inventario');
        var wb = XLSX.utils.table_to_book(elt, {sheet:"Sheet JS"});
        return dl ?
           XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
           XLSX.writeFile(wb, fn || (fileName + "." + (type || 'xlsx')));
    }

    $('#fecha_consulta_inicio').datetimepicker({
        format: 'YYYY-MM-DD'
    });

    $('#fecha_consulta_fin').datetimepicker({
        format: 'YYYY-MM-DD'
    });
    $("#fecha_consulta_inicio").on("dp.change", function (e) {
        window.location = '/informes/historial_inventario/' + $('#fecha_consulta_inicio').val()+ '/' + $('#fecha_consulta_fin').val() + '/' + $('#filtro_categoria').val() + '/' + $('#filtro_motivo').val() + '/';
    });

    $("#fecha_consulta_fin").on("dp.change", function (e) {
        window.location = '/informes/historial_inventario/' + $('#fecha_consulta_inicio').val()+ '/' + $('#fecha_consulta_fin').val() + '/' + $('#filtro_categoria').val() + '/' + $('#filtro_motivo').val() + '/';
    });

    $('#filtro_categoria').on('change', function(){
        window.location = '/informes/historial_inventario/' + $('#fecha_consulta_inicio').val()+ '/' + $('#fecha_consulta_fin').val() + '/' + $('#filtro_categoria').val() + '/' + $('#filtro_motivo').val() + '/';
    });

    $('#filtro_motivo').on('change', function(){
        window.location = '/informes/historial_inventario/' + $('#fecha_consulta_inicio').val()+ '/' + $('#fecha_consulta_fin').val() + '/' + $('#filtro_categoria').val() + '/' + $('#filtro_motivo').val() + '/';
    });
</script>
{% endblock %}