{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Informe de Utilidades
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-xs-9">
        <h4 class="page-title">{{title}} {{year}}</h4>
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li class="active"><a>{{title}} {{year}}</a></li>
        </ol>
    </div>
    <div class="col-sm-4 col-xs-3 text-right">
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="card-box">
            <div class="row">
                <div class="col-sm-12 col-md-4" style="margin-bottom:60px;">

                    <form class="form-inline" action="{% url 'informe_utilidades' %}" method="GET">
                        <div class="form-group">
                            <div class='input-group date' style="margin-bottom: 20px;">
                                <span class="input-group-addon" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                <input class="form-control" name="fecha_consulta" id="fecha_consulta" type="text" style="width: 100px; margin-right: 6px;">
                            </div>                            
                            {% bootstrap_button "Generar" button_type="submit" button_class="btn btn-primary m-r-20 m-b-20" %}
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 col-md-8">

                    <table id="informe-utilidades" class="table">
                        <thead>
                            <tr>
                                <th>Mes</th>
                                <th>Compras</th>
                                <th>Ventas</th>
                                <th>Utilidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in object_list %}
                            <tr>
                                <td>
                                    {{object.mes}}
                                </td>
                                <td>
                                    $ {{ object.gasto | intcomma}}
                                </td>
                                <td>
                                    $ {{ object.venta | intcomma}}
                                </td>
                                <td>
                                    $ {{ object.value | intcomma}}
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="table-responsive">
                    <canvas id="chartBar"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.flash.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jszip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vfs_fonts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.print.min.js' %}"></script>  
<script type="text/javascript">


    $(document).ready(function() {

        var fileName = $('.page-title').text();

        $('#informe-utilidades').DataTable( {
            dom: 'Bt',
            buttons: [
                {
                    extend: 'excel',
                    text: 'Exportar Excel',
                    title: fileName,
                    className: 'btn btn-primary'
                }
            ],
            order: [],
            paging: false
        });
    });
    
    console.log("{{ array_pagos }}");

    $('#fecha_consulta').datetimepicker({
        format: 'YYYY',
        defaultDate: new Date(),
        icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }

    });
    let transforArrayDjango = () => {
        const arraySalida = ['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
        var data = [
            { value: '{{object_list.0.value}} ', index: '1' },
            { value: '{{object_list.1.value}} ', index: '2' },
            { value: '{{object_list.2.value}} ', index: '3' },
            { value: '{{object_list.3.value}} ', index: '4' },
            { value: '{{object_list.4.value}} ', index: '5' },
            { value: '{{object_list.5.value}} ', index: '6' },
            { value: '{{object_list.6.value }} ', index: '7' },
            { value: '{{object_list.7.value }} ', index: '8' },
            { value: '{{object_list.8.value }} ', index: '9' },
            { value: '{{object_list.9.value }} ', index: '10' },
            { value: '{{object_list.10.value }} ', index: '11' },
            { value: '{{object_list.11.value }} ', index: '12' }
        ]

        for (i = 0; i < data.length; i++) {
            let indexElement = parseInt(data[i].index);
            arraySalida[(indexElement - 1)] = data[i].value

        }
        return arraySalida
    }
    var ctx = document.getElementById('chartBar').getContext('2d')
    var staticChart = new Chart(ctx, {
        type: 'line',
        xAxisID: 'Meses',
        yAxisID: 'Valor en Pesos (cop)',
        data: {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            datasets: [{
                label: '{{title}}',
                data: transforArrayDjango(),
                backgroundColor: [
                    'rgba(225, 9, 132, 0.3)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
{% endblock %}