{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Informe de gastos
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-xs-9">
        <h4 class="page-title">{{title}} {{year}}</h4>
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li class="active"><a>{{title}} {{year}}</a></li>
        </ol>
    </div>
    <div class="col-sm-4 col-xs-3 text-right">
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="card-box">
            <div class="row">
                <div class="col-md-4">

                    <form action="{% url 'gastos_totales' %}" method="GET">

                        <div class="form-group">
                            <label>Seleccione el año: </label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="fecha_consulta" id="fecha_consulta" type="text">
                        </div>
                        <div class="form-group">
                            <label>Tipo:</label>
                            <select class="form-control" id="tipo_informe" name="tipo_informe">
                                <option value="1">Egresos Generales Mensuales</option>
                                <option value="2">Egresos Producto Mensuales</option>
                                <option value="3">Egresos Medicamentos Mensuales</option>
                                <option value="4">Egresos Vacunación Mensuales</option>
                                <option value="5">Egresos Servicios Mensuales</option>
                                <option value="6">Egresos Desparicitación Mensuales</option>
                                <option value="7">Egresos Servicios Mensuales</option>
                                <option value="8">Otros Egresos Mensuales</option>
                            </select>
                        </div>
                        <div class="form-group ">
                            {% bootstrap_button "Generar" button_type="submit" button_class="btn btn-primary m-r-20" %}
                        </div>

                    </form>
                </div>
                <div class="col-md-8">
                    <table id="informe-gastos" class="table">
                        <thead>
                            <tr>
                                <th>Mes</th>
                                <th>Egresos Totales</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in object_list %}
                            <tr>
                                <td>
                                    {{ object.mes_latino}}
                                </td>
                                <td>
                                    $ {{ object.valor_total__sum | intcomma}}
                                </td>
    
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <h2>Egresos totales del año {{year}}: $ {{total_ventas |default:"0" | intcomma}}</h2>
                </div>
            </div>

            <div class="row">
                <div class="table-responsive">
                    <canvas id="chartBar"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.flash.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jszip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vfs_fonts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.print.min.js' %}"></script>     

<script type="text/javascript">

    $(document).ready(function() {

        var fileName = $('.page-title').text();

        $('#informe-gastos').DataTable( {
            dom: 'Bt',
            buttons: [
                {
                    extend: 'excel',
                    text: 'Exportar Excel',
                    title: fileName,
                    className: 'btn btn-primary'
                }
            ],
            order: [],
            paging: false
        });
    });

    $('#fecha_consulta').datetimepicker({
        format: 'YYYY',
        defaultDate: new Date()

    });
    let transforArrayDjango = () => {
        const arraySalida = ['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
        var data = [
            { value: '{{object_list.0.valor_total__sum |default:"0"}} ', index: '{{object_list.0.index |default:"0"}}' },
            { value: '{{object_list.1.valor_total__sum |default:"0"}} ', index: '{{object_list.1.index |default:"0"}}' },
            { value: '{{object_list.2.valor_total__sum |default:"0"}} ', index: '{{object_list.2.index |default:"0"}}' },
            { value: '{{object_list.3.valor_total__sum |default:"0"}} ', index: '{{object_list.3.index |default:"0"}}' },
            { value: '{{object_list.4.valor_total__sum |default:"0"}} ', index: '{{object_list.4.index |default:"0"}}' },
            { value: '{{object_list.5.valor_total__sum |default:"0"}} ', index: '{{object_list.5.index |default:"0"}}' },
            { value: '{{object_list.6.valor_total__sum |default:"0"}} ', index: '{{object_list.6.index |default:"0"}}' },
            { value: '{{object_list.7.valor_total__sum |default:"0"}} ', index: '{{object_list.7.index |default:"0"}}' },
            { value: '{{object_list.8.valor_total__sum |default:"0"}} ', index: '{{object_list.8.index |default:"0"}}' },
            { value: '{{object_list.9.valor_total__sum |default:"0"}} ', index: '{{object_list.9.index |default:"0"}}' },
            { value: '{{object_list.10.valor_total__sum |default:"0"}} ', index: '{{object_list.10.index |default:"0"}}' },
            { value: '{{object_list.11.valor_total__sum |default:"0"}} ', index: '{{object_list.11.index |default:"0"}}' }
        ]

        for (i = 0; i < data.length; i++) {
            let indexElement = parseInt(data[i].index);
            arraySalida[(indexElement - 1)] = data[i].value
            
        }
        return arraySalida
    }
    var ctx = document.getElementById('chartBar');
    var staticChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            datasets: [{
                label: '{{title}}',
                data: transforArrayDjango(),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.3)',
                    'rgba(54, 162, 235, 0.3)',
                    'rgba(255, 206, 86, 0.3)',
                    'rgba(75, 192, 192, 0.3)',
                    'rgba(153, 102, 255, 0.3)',
                    'rgba(255, 159, 64, 0.3)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
{% endblock %}