{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Informe de Ingresos Mensuales
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-xs-12">
        <h4 class="page-title">Reporte de Ingresos {% if tipo_filtro == 'generales' %}{{ tipo_filtro }}{% else %}por {{ tipo_filtro }}{% endif %} en {{ año }}</h4>
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li class="active"><a>Reporte de Ingresos {% if tipo_filtro == 'generales' %}{{ tipo_filtro }}{% else %}por {{ tipo_filtro }}{% endif %} en {{ año }}</a></li>
        </ol>  
    </div>
</div>
<div class="row" id="app_reportes">
    <div class="col-md-12">
        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <div class="opciones" style="display: flex; justify-content: flex-start; flex-wrap: wrap;">
                        <div style="display: flex; flex-wrap: wrap;">
                            <div class="" style="width: 180px; margin: 10px;">
                                <label class="control-label">Tipos de venta:</label>
                                <select class="form-control" id="filtro_tipo">
                                    <option value="generales">Generales</option>
                                    <option value="productos">Productos</option>
                                    <option value="medicamentos">Medicamentos</option>
                                    <option value="vacunas">Vacunas</option>
                                    <option value="desparasitantes">Desparasitantes</option>
                                    <option v-for="categoria in lista_categorias" v-bind:value="[[ categoria[0] ]]" :selected="selected_filter == categoria[0]">[[ categoria[1] ]]</option>
                                    <option value="citas">Citas medicas</option>
                                    <option value="esteticas">Esteticas</option>
                                    <option value="vacunaciones">Vacunaciones</option>
                                    <option value="desparasitaciones">Desparasitaciones</option>
                                    <option value="guarderias">Guarderias</option>
                                </select>
                            </div>
                            <div class="" style="width: 225px; margin: 10px;">
                                <label class="control-label">Año:</label>
                                <input placeholder="Año" class="form-control" id="fecha_consulta" type="text" value="{{ año }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <table id="informes-mensuales" class="table">
                        <thead>
                            <tr>
                                <th>Mes</th>
                                <th>Ingresos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mes in meses %}
                            <tr>
                                <td>
                                    {{ mes.0 }}
                                </td>
                                <td>
                                    $ {{ mes.1 | default:"0" | intcomma}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <h2>Total de ingresos {% if tipo_filtro == 'generales' %}{{ tipo_filtro }}{% else %}por {{ tipo_filtro }}{% endif %}: ${{total_ventas_año |default:"0" | intcomma}}</h2>
                </div>
                <div class="col-md-6">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block plugins %}
    <script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.print.min.js' %}"></script>
    <script>
        var app_reportes = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app_reportes',
            data: {
                lista_categorias: {},
                selected_filter: ''
            },
            methods: {

            }
        })

        $(document).ready(function() {

            app_reportes.selected_filter = '{{ tipo }}';

            app_reportes.lista_categorias = JSON.parse('{{ categorias | safe}}');
            console.log("app_reportes.lista_categorias: ", app_reportes.lista_categorias);
            var fileName = $('.page-title').text();

            $('#informes-mensuales').DataTable( {
                dom: 'Bt',
                buttons: [
                    {
                        extend: 'excel',
                        text: 'Exportar Excel',
                        title: fileName,
                        className: 'btn btn-primary'
                    }
                ],
                order: [],
                paging: false
            });
        });

        $('#filtro_tipo').val('{{ tipo }}');

        $('#fecha_consulta').datetimepicker({
            format: 'YYYY'
        });

        var ctx = document.getElementById('myChart');
        var staticChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                datasets: [{
                    label: '{{titulo}}',
                    data: {{ ventas_por_cada_mes }},
                    backgroundColor:
                        'rgba(255, 99, 132, 0.3)',
                    borderColor:
                        'rgba(255, 99, 132, 1)'
                    ,
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                //responsive: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        $('#filtro_tipo').on('change', function(){
           window.location = '/informes/ingresos_mensuales/'+$('#fecha_consulta').val()+'/'+$(this).val()+'/';
        });

        $("#fecha_consulta").on("dp.change", function (e) {
             window.location = '/informes/ingresos_mensuales/'+$('#fecha_consulta').val()+'/'+$('#filtro_tipo').val()+'/';
        });
    </script>
{% endblock %}