{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Informe de ingresos diarios
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-xs-9">
        <h4 class="page-title">Reporte de ingresos diarios</h4>
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li class="active"><a>Reporte de ingresos diarios</a></li>
        </ol>
    </div>
    <div class="col-sm-4 col-xs-3 text-right">
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="card-box">
            <div class="row">
                <div class="col-md-6">
                    <table class="table" id="informe-ingresos-diarios">
                        <thead>
                            <div class="" style="width: 225px; margin: 10px;">
                                <label class="control-label">Fecha:</label>
                                <input placeholder="Fecha" class="form-control" id="fecha_consulta" type="text"
                                    value="{{ fecha }}">
                            </div>
                            <tr>
                                <th>Concepto</th>
                                <th>Ingresos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Venta de productos
                                </td>
                                <td>
                                    $ {{ total_ingresos_hoy_productos | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Venta de medicamentos
                                </td>
                                <td>
                                    $ {{ total_ingresos_hoy_medicamentos | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Venta de vacunas
                                </td>
                                <td>
                                    $ {{ total_ingresos_hoy_vacunas | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Venta de desparasitantes
                                </td>
                                <td>
                                    $ {{ total_ingresos_hoy_desparasitantes | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Atencion de citas medicas
                                </td>
                                <td>
                                    $ {{ total_ingresos_hoy_atencion_cita | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Aplicacion de vacunaciones
                                </td>
                                <td>
                                    $ {{ total_ingresos_hoy_atencion_vacunacion | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Aplicacion de desparasitaciones
                                </td>
                                <td>
                                    $ {{ total_ingresos_hoy_atencion_desparasitacion | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Estética
                                </td>
                                <td>
                                    $ {{ total_ingresos_hoy_atencion_estetica | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Guardería
                                </td>
                                <td>
                                    $ {{ total_ingresos_hoy_atencion_guarderia | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Procedimiento (Area de consulta)
                                </td>
                                <td>
                                    $ {{ total_ingresos_hoy_areas_consulta | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Otros
                                </td>
                                <td>
                                    $ {{ total_ingresos_hoy_otros | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Descuentos
                                </td>
                                <td>
                                    $ {{ total_descuentos_hoy | intcomma}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h2>Total de ingresos : $ {{suma_total_ingresos_hoy |default:"0" | intcomma}}</h2>
                </div>
                <div class="col-md-6">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.flash.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jszip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vfs_fonts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.print.min.js' %}"></script>
<script>

    $(document).ready(function () {

        var fileName = $('.page-title').text();

        $('#informe-ingresos-diarios').DataTable({
            dom: 'Bt',
            buttons: [
                {
                    extend: 'excel',
                    text: 'Exportar Excel',
                    title: fileName,
                    className: 'btn btn-primary'
                }
            ],
            order: [],
            paging: false
        });
    });

    $('#fecha_consulta').datetimepicker({
        format: 'YYYY-MM-DD'
    });

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [
                'Venta de productos',
                'Venta de medicamentos',
                'Venta de vacunas',
                'Venta de desparasitantes',
                'Atencion de citas medicas',
                'Aplicacion de vacunaciones',
                'Aplicacion de desparasitantes',
                'Estética',
                'Guardería',
                'Procedimiento (Area de consulta)',
                'Otros',
                'Descuentos',
            ],
            datasets: [{
                label: '# of Votes',
                data: {{ array_ingresos }},
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(72,201,0,0.2)',
            'rgba(255,252,18,0.2)',
            'rgba(19,0,255,0.2)',
            'rgba(255,202,232,0.2)',
            'rgba(80,192,68,0.2)',
            'rgba(121,121,121,0.16)'
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgb(115,192,9)',
            'rgb(255,243,0)',
            'rgb(23,14,255)',
            'rgb(255,177,201)',
            'rgb(198,255,210)',
            'rgb(167,168,166)'
        ],
        borderWidth: 1
    }]
            },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
        });
    $("#fecha_consulta").on("dp.change", function (e) {
        window.location = '/informes/ingresos_diarios/' + $('#fecha_consulta').val() + '/';
    });
</script>
{% endblock %}