{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Informe de Ingresos por Rangos de Fechas
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-xs-9">
        <h4 class="page-title">Reporte de Ingresos por Rangos de Fechas </h4>
        <h4 class="fecha_inicio" style="display:none;">del {{ fecha_inicio}} </h4>
        <h4 class="fecha_fin" style="display:none;">al {{ fecha_fin }}</h4>

        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li class="active"><a>Reporte de Ingresos por Rangos de Fechas</a></li>
        </ol>
    </div>
    <div class="col-sm-4 col-xs-3 text-right">
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="card-box">
            <div class="row">
                <div class="col-md-12">
                    <div style="display: flex; flex-wrap: wrap;">
                        <div class="" style="width: 180px; margin: 15px;">
                            <label class="control-label">Fecha Inicial:</label>
                            <input placeholder="Fecha Inicial" class="form-control" id="fecha_consulta_inicio"
                                type="text" value=" {{ fecha_inicio }} ">

                        </div>
                        <div class="" style="width: 180px; margin: 15px;">
                            <label class="control-label">Fecha Final:</label>
                            <input placeholder="Fecha Final" class="form-control" id="fecha_consulta_fin" type="text"
                                value=" {{ fecha_fin }} ">

                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <table class="table" id="informe-ingresos-rango-fecha">

                        <thead>
                            <tr>
                                <th>Concepto</th>
                                <th>Ingresos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Venta de productos
                                </td>
                                <td>
                                    $ {{ total_ingresos_productos | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Venta de medicamentos
                                </td>
                                <td>
                                    $ {{ total_ingresos_medicamentos | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Venta de vacunas
                                </td>
                                <td>
                                    $ {{ total_ingresos_vacunas | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Venta de desparasitantes
                                </td>
                                <td>
                                    $ {{ total_ingresos_desparasitantes | intcomma}}
                                </td>
                            </tr>
                            {% for categoria in categorias %}
                            <tr>
                                <td>
                                    Venta de {{ categoria.nombre }}
                                </td>
                                <td>
                                    {% for total in total_ingresos_categorias %}
                                        {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                            $ {{ total | intcomma }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>
                                    Atencion de citas medicas
                                </td>
                                <td>
                                    $ {{ total_ingresos_atencion_cita | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Aplicacion de vacunaciones
                                </td>
                                <td>
                                    $ {{ total_ingresos_atencion_vacunacion | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Aplicacion de desparasitaciones
                                </td>
                                <td>
                                    $ {{ total_ingresos_atencion_desparasitacion | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Estética
                                </td>
                                <td>
                                    $ {{ total_ingresos_atencion_estetica | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Guardería
                                </td>
                                <td>
                                    $ {{ total_ingresos_atencion_guarderia | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Procedimiento (Area de consulta)
                                </td>
                                <td>
                                    $ {{ total_ingresos_areas_consulta | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Otros
                                </td>
                                <td>
                                    $ {{ total_ingresos_otros | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Abonos
                                </td>
                                <td>
                                    $ {{ total_ingresos_abonos | intcomma}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Descuentos
                                </td>
                                <td>
                                    $ {{ total_descuentos | intcomma}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h2>Total de ingresos : $ {{suma_total_ingresos |default:"0" | intcomma}}</h2>
                </div>
                <div class="col-md-6">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.flash.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jszip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vfs_fonts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.print.min.js' %}"></script>
<script>

    $(document).ready(function () {

        var fileName = $('.page-title').text();
        var fecha_inicio = $('.fecha_inicio').text();
        var fecha_fin = $('.fecha_fin').text();

        $('#informe-ingresos-rango-fecha').DataTable({
            dom: 'Bt',
            buttons: [
                {
                    extend: 'excel',
                    text: 'Exportar Excel',
                    title: fileName + fecha_inicio + fecha_fin,
                    className: 'btn btn-primary'
                }
            ],
            order: [],
            paging: false
        });
    });

    $('#fecha_consulta_inicio').datetimepicker({
        format: 'YYYY-MM-DD'
    });

    $('#fecha_consulta_fin').datetimepicker({
        format: 'YYYY-MM-DD'
    });

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: {{ labels_grafico | safe }},
            datasets: [{
                label: '# of Votes',
                data: {{ array_ingresos }},
        backgroundColor: {{ backgroundColors | safe }}
    }]
            },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
        });
    $("#fecha_consulta_inicio").on("dp.change", function (e) {
        window.location = '/informes/ingresos_rango_fecha/' + $('#fecha_consulta_inicio').val() + '/' + $('#fecha_consulta_fin').val() + '/';
    });

    $("#fecha_consulta_fin").on("dp.change", function (e) {
        window.location = '/informes/ingresos_rango_fecha/' + $('#fecha_consulta_inicio').val() + '/' + $('#fecha_consulta_fin').val() + '/';
    });
</script>
{% endblock %}