{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Mascotas
{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-xs-3">
            <h4 class="page-title">Mascotas registradas</h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li class="active"><a>Mascotas</a></li>
            </ol>
        </div>
        <div class="col-sm-8 col-xs-9 text-right">
            <a href="{% url 'registrar_mascota' %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-plus"></i>
                Agregar mascota</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div style="display: flex;justify-content: space-between;flex-wrap: wrap;width: 100%">
                    <div style="width: 225px;margin: 5px;">
                        <div class="dt-buttons">
                            <a href="{% url 'reporte_mascota' %}" class="dt-button buttons-excel buttons-html5 btn btn-primary btn-custom">
                                <i class="fa fa-file-excel-o"></i> Exportar a Excel
                            </a>
                        </div>
                    </div>
                    <div style="width: 225px;">
                        <div class="input-group search-box">
                            <input placeholder="Buscar" class="form-control search-input" id="buscar_mascota" type="text">
                            <span class="input-group-btn" id="boton_buscar">
                                <a class="btn btn-primary"><i class="fa fa-search"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table" id="mascotas">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Número de historia</th>
                            <th>Número de microchip</th>
                            <th>Tipo (Raza)</th>
                            <th>Sexo</th>
                            <th>Fecha  de nacimiento</th>
                            <th>Dueño</th>
                            <th class="text-center">Estado (¿Fallecido?)</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mascota in object_list %}
                            {% if mascota.estado %}
                                <tr>
                            {% else %}
                                <tr class="active">
                            {% endif %}
                                <td>
                                    <a href="{% url 'detalle_mascota' mascota.id %}" title="Ver">{{ mascota.nombre }}</a>
                                </td>
                                <td>
                                    {% if mascota.numero_carnet %}
                                        {{ mascota.numero_carnet }}
                                    {% else %}
                                        {{ mascota.id }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ mascota.numero_micro_chip | default:'-'}}
                                </td>
                                <td>
                                    {{ mascota.raza }}
                                </td>
                                <td>
                                    {{ mascota.get_sexo_display }}
                                </td>
                                <td>
                                    {% if mascota.fecha_nacimiento %}
                                    {{ mascota.fecha_nacimiento }} ({{ mascota.edad }})
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'detalle_cliente' mascota.cliente.id %}" title="Ver">{{ mascota.cliente.nombreCompleto }}</a>
                                </td>
                                <td class="text-center">
                                    {% if mascota.estado %}
                                    <a href="#" onclick="cargarModalFallecimiento('{{mascota.id}}', '{{mascota.nombre}}', '{{ mascota.cliente.nombreCompleto }}');" data-toggle="modal" data-target="#myModal2" class="action-icon dropdown-toggle" style="color: #076ff1" title="Dar de baja">
                                        <i class="fa fa-toggle-on fa-lg"></i> No
                                    </a>
                                    {% else %}
                                    <a href="#" class="action-icon dropdown-toggle" style="color: #076ff1" title="Fallecida">
                                        <i class="fa fa-toggle-off fa-lg"></i> Si
                                    </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'editar_mascota' mascota.id %}" class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1" title="Editar"><i class="fa fa-pencil fa-lg"></i></a>
                                    <a href="#" onclick="EliminarMascota('{{mascota.id}}', '{{mascota.nombre}}');" class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1" title="Eliminar">
                                        <i class="fa fa-trash fa-lg"></i>
                                    </a>
                                    <div class="dropdown menu-mobile-table hidden-md hidden-lg">
                                        <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a> 
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="{% url 'editar_mascota' mascota.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Editar"><i class="fa fa-pencil fa-lg"></i> Editar</a>
                                            </li> 
                                            <li>
                                                <a href="#" onclick="EliminarMascota('{{mascota.id}}', '{{mascota.nombre}}');" class="action-icon dropdown-toggle" style="color: #076ff1" title="Eliminar"><i class="fa fa-trash fa-lg"></i> Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>                                      
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div style="display: flex;justify-content: flex-end;width: 100%">
                    {% if is_paginated %}
                      <ul class="pagination">
                        {% if page_obj.has_previous %}
                          <li><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                        {% else %}
                          <li class="disabled"><span>Anterior</span></li>
                        {% endif %}
                        <li class="active">
                            <span>Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
                        </li>
                        {% if page_obj.has_next %}
                          <li><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                        {% else %}
                          <li class="disabled"><span>Siguiente</span></li>
                        {% endif %}
                      </ul>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="titulo_modal_fallecimiento">Fallecimiento de mascota</h4>
                </div>
                <div class="modal-body">
                    <div style="display: flex; margin-bottom: 10px;">
                        <div style="width: 100%; margin-right: 15px;">
                            <label for="fecha_fallecimiento">Fecha de fallecimiento:</label>
                            <input id="fecha_fallecimiento" class="form-control m-b datetime-input" type="text">
                        </div>
                        <div style="width: 100%;">
                            <label for="monitor">Motivo de fallecimiento:</label>
                            <select name="monitor" id="id_motivo_fallecimiento" class="form-control m-b">
                                <option disabled selected value="0">Selecciona una opcion</option>
                                {% for motivo in motivos_fallecimiento %}
                                <option value="{{ motivo.id }}">{{motivo.nombre_motivo}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <label for="comentarios">Comentarios</label>
                    <textarea name="comentarios" id="comentarios_fallecimiento" cols="27" rows="4" class="form-control m-b"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
                    <button id="confirmar_fallecimiento" onclick="InactivarMascota();" type="button" class="btn btn-primary">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block plugins %}
    <!--script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script-->
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $('.datetime-input').datetimepicker({
                format: 'DD/MM/YYYY HH:mm'
            });
            
            $("#listado-mascota").dataTable({
                searching: true,
                //ordering: true,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No hay información registrada",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "",
                    "infoFiltered": "(filtrado de _MAX_ registros en total)",
                    "search": "Buscar :",
                    "paginate": {
                        "first":      "Primera",
                        "last":       "Ultima",
                        "next":       "Siguiente",
                        "previous":   "Anterior"
                    }
                },
                'columnDefs': [ {
                    'targets': [2,3,4,5,6], // column index (start from 0)
                    'orderable': false, // set orderable false for selected columns
                }]
            });

        });

        var id_mascota = '';
        var id_motivo_fallecimiento = '';
        function cargarModalFallecimiento(id, nombre_mascota, nombre_cliente){
            $('#titulo_modal_fallecimiento').text("Falleció "+nombre_mascota+" de "+nombre_cliente+"?");

            //var url = '/monitorias/terminar_oferta/' + '5';
            //console.log("url: ", url);
            id_mascota = id;
        }

        function InactivarMascota() {

            console.log("inactivar mascota");
            console.log("id_mascota: ", id_mascota);
            id_motivo_fallecimiento = $('#id_motivo_fallecimiento :selected').val();
            console.log("prueba: ", id_motivo_fallecimiento);

            if(id_motivo_fallecimiento != '0' && $('#fecha_fallecimiento').val()){
                $.ajax({
                    url: '/mascotas/inactivar_mascota/',
                    data: {
                        'id': id_mascota,
                        'id_motivo_fallecimiento': id_motivo_fallecimiento,
                        'comentarios_fallecimiento': $('#comentarios_fallecimiento').val(),
                        'fecha_fallecimiento': $('#fecha_fallecimiento').val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.replace("/mascotas/listar_mascotas/");
                    }
                });
            }else{
                swal({
                    icon: 'error',
                    title: 'Debe seleccionar una fecha y un motivo de fallecimiento',
                    button: 'Ok'
                });
            }

        }

        function ActivarMascota(id, nombre) {

            swal({
                title: "Estas seguro que la mascota "+nombre+" no ha fallecido?",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No, cancelar",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Si, no ha fallecido!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: '/mascotas/activar_mascota/',
                        data: {
                        'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.replace("/mascotas/listar_mascotas/");
                        }
                    });
                }
            });

            

        }

        function EliminarMascota(id, nombre) {

            swal({
                title: "Estas seguro que deseas eliminar la mascota "+nombre+"?",
                text: "La mascota y toda la informacion asociada a ella sera eliminada permanenetemente.",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No, cancelar",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Si, eliminar permanentemente!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: '/mascotas/eliminar_mascota/',
                        data: {
                          'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.replace("/mascotas/listar_mascotas/");
                        }
                    });
                } else {
                    swal("Tu mascota esta a salvo!");
                }
            });

        }

        $('#boton_buscar').click(function () {
            if($('#buscar_mascota').val() == ''){
                swal({
                    icon: 'error',
                    title: 'Debe ingresar un criterio de busqueda',
                    button: 'Ok'
                });
            }else{
                window.location.replace("/mascotas/buscar_mascota/"+$('#buscar_mascota').val()+"/");
            }
        });

        $(document).keypress(function (e) {
            if (e.which == 13) {
                if($('#buscar_mascota').val() == ''){
                    swal({
                        icon: 'error',
                        title: 'Debe ingresar un criterio de busqueda',
                        button: 'Ok'
                    });
                }else{
                    window.location.replace("/mascotas/buscar_mascota/"+$('#buscar_mascota').val()+"/");
                }
            }
        });
    </script>
{% endblock %}