{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Tipos de Mascota
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-xs-3">
            <h4 class="page-title">Tipos de mascota</h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li class="active"><a>Tipos de mascota</a></li>
            </ol>            
        </div>
        <div class="col-sm-8 col-xs-9 text-right">
            <a href="{% url 'registrar_tipo_mascota' %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-plus"></i>
                Agregar tipo de mascota</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th class="text-right">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tipo_mascota in object_list %}
                            <tr>
                                <td>
                                    {{ tipo_mascota.nombre }}
                                </td>
                                <td>
                                    {% if tipo_mascota.estado == True %}
                                        Activo
                                    {% elif tipo_mascota.estado == False %}
                                        Inactivo
                                    {% endif %}
                                <td class="text-right">
                                    <a href="{% url 'editar_tipo_mascota' tipo_mascota.id %}" class="action-icon dropdown-toggle" style="color: #076ff1;"><i class="fa fa-pencil fa-lg"></i></a>
                                    <a onclick="Eliminar('{{tipo_mascota.id}}', '{{tipo_mascota.nombre}}');" class="action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Eliminar"><i class="fa fa-trash fa-lg"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block plugins %}
    <!--script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script-->
    <script type="text/javascript">

        function Eliminar(id, nombre) {

            swal({
                title: 'Estas seguro que deseas eliminar el tipo de mascota "'+nombre+'"?',
                text: "Será eliminado permanenetemente.",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No, cancelar",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Si, eliminar permanentemente!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: '/mascotas/eliminar_tipo_mascota/',
                        data: {
                          'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.replace("/mascotas/listar_tipo_mascota/");
                        }
                    });
                }
            });

        }
    </script>
{% endblock %}