{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Registrar Mascota
{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />

    <style>
        .select2-selection__rendered {
            line-height: 31px !important;
        }
        .select2-container .select2-selection--single {
            height: 35px !important;
        }
        .select2-selection__arrow {
            height: 34px !important;
        }
    </style>
{% endblock%}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">
                {% if modificar %}
                    Modificar mascota
                {% else %}
                    Agregar mascota
                {% endif %}
            </h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li><a href="/mascotas/listar_mascotas/">Mascotas</a></li>
                <li class="active"><a>{% if modificar %}Modificar mascota{% else %}Agregar mascota{% endif %}</a></li>
            </ol> 
        </div>
    </div>
    <form class="form-horizontal" method="POST" action="" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
        <div class="card-box" style="padding-left: 15px;">
            <div class="row">
                {% for field in form %}
                    <div class="col-md-6">
                        <div class="form-group" style="margin: 15px;">
                            {% bootstrap_field field label_class="control-label col-lg-3" field_class="col-lg-9" %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-center submit-btns">
            {% if modificar %}
                {% bootstrap_button "Guardar cambios" button_type="submit" button_class="btn btn-primary m-r-20" %}
            {% else %}
                {% bootstrap_button "Agregar" button_type="submit" button_class="btn btn-primary m-r-20 boton_agregar" %}
            {% endif %}
            <a href="#" onclick="window.history.back();" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
{% endblock content %}

{% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $('#id_cliente').select2();
            $('#id_raza').select2();

            $('.fecha-nacimiento').datetimepicker({
                format: 'DD/MM/YYYY',
                maxDate: new Date(),
                locale: 'es'
            });

            $('.boton_agregar').click(
                function () {
                    if($('#id_cliente').val() == '' && $('#id_nombre').val() != '' ){
                        swal({
                            icon: 'error',
                            title: 'Debe seleccionar un propietario para la mascota',
                            button: 'Ok'
                        });
                        setTimeout(function(){
                            $("#pageLoader").hide();
                        }, 500);
                    }
                }
            );

        });

    </script>
{% endblock %}