{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

<!--form class="form-horizontal" method="POST" enctype="multipart/form-data" action="" autocomplete="off">{% csrf_token %}
    {% bootstrap_field form.file label_class="control-label col-lg-3" field_class="col-lg-9" %}
    {% bootstrap_button "Agregar" button_type="submit" button_class="btn btn-primary m-r-20" %}
</form-->

{% block content %}
<!--div class="modal-dialog modal-sm">
    <div class="modal-content animated fadeIn">
        <form class="form-horizontal" method="POST" enctype="multipart/form-data" action="" autocomplete="off">{% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Agregar archivo</h4>
            </div>
            <div class="modal-body" style="height: 100px;">
                {% bootstrap_field form.file label_class="control-label col-lg-3" field_class="col-lg-9" %}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
                {% bootstrap_button "Agregar" button_type="submit" button_class="btn btn-primary m-r-20" %}
            </div>
        </form>
    </div>
</div-->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">
                {% if modificar %}
                    Modificar archivo
                {% else %}
                    Agregar archivo
                {% endif %}
            </h4>
        </div>
    </div>
    <form class="form-horizontal" method="POST" enctype="multipart/form-data" action="" autocomplete="off">{% csrf_token %}
        <div class="card-box">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.file label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center submit-btns">
            {% if modificar %}
                {% bootstrap_button "Guardar cambios" button_type="submit" button_class="btn btn-primary m-r-20" %}
            {% else %}
                {% bootstrap_button "Agregar" button_type="submit" button_class="btn btn-primary m-r-20" %}
            {% endif %}
            <a href="#" onclick="window.history.back();" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
{% endblock content %}