{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Detalle Historia Clinica
{% endblock title %}

{% block extrahead %}
<style>
    @media print {

        .prueba_cabecera{
            margin-left: 0px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .logo_cabecera{
            margin-right: 150px;
        }
        .titulo_factura{
            margin-bottom: 20px;
            margin-top: 10px;
        }
        .invoice-payment{
            margin-top: 50px;
            display: flex;
            justify-content: flex-end;
        }
        .total_pagar{
            width: 50%;
            align-self: flex-end;
        }
        .detalle_formula{
            display: none;
            height: 600px;
            overflow: visible;
            border: none;
        }
        .contenido_examen{
            display: flex;
            flex-wrap: wrap;
        }



        .contenido_paciente{
            display: flex;
            flex-wrap: wrap;
        }
        .content_paciente{
            width: 250px;
        }
        .archivo_adjunto{
            display: none;
        }
    }

    .detalle_formula{
        display: none;
        width: 100%;
        height: 600px;
        resize: none;
        overflow: visible;
        border: none;
        outline: none !important;
    }

    .content{
        padding: 0px;
    }

    .content_examen{
        padding: 0px;
    }

    .content_paciente{
        padding: 0px;
        width: 250px;
    }
</style>
{% endblock%}

{% block content %}

<div class="row">
    <div class="col-sm-4 col-xs-3">
        <h4 class="page-title">Detalle de historia clinica</h4>
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li><a href="/mascotas/listar_mascotas/">Mascotas</a></li>
            <li><a href="#" onclick="window.history.back();">{{ object.mascota.nombre }}</a></li>
            <li class="active"><a>Detalle fórmula</a></li>
        </ol>          
    </div>
    <div class="col-sm-8 col-xs-9 text-right">
        <a href="" id="boton_imprimir" class="btn add-btn btn-custom pull-right m-b-30 m-r-20"><i class="fa fa-print"></i> Imprimir</a>
    </div>
</div>
<div class="row" id="factura_imprimir">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="cabecera_factura">
                    <div class="row prueba_cabecera" style="display: flex; flex-wrap: wrap;">
                        <div class="col-md-6 m-b-20 logo_cabecera">
                            {% if mi_veterinaria.foto %}
                            <img id="logo_veterinaria" src='{{mi_veterinaria.foto.url}}' class="m-b-20" alt="" width="200">
                            {% endif %}
                            <ul class="list-unstyled">
                                <li>{{mi_veterinaria.nombre}}</li>
                                {% if mi_veterinaria.nit %}
                                <li>Nit: {{mi_veterinaria.nit}}</li>
                                {% endif %}
                                <li>{{mi_veterinaria.direccion}} ({{mi_veterinaria.ciudad}})</li>
                                <li>{{mi_veterinaria.telefono}} - {{mi_veterinaria.celular}}</li>
                            </ul>
                        </div>
                        <div class="col-md-6 m-b-20 detalle_cabecera">
                            <div style="display: flex; justify-content: flex-end; margin-bottom: 5px;">
                                <div class="titulo_factura">
                                    <h3 class="text-uppercase">Historia clinica</h3>
                                    <ul class="list-unstyled">
                                        <li>Fecha: <span>{{ object.fecha }}</span></li>
                                        <li>Registrada por: <span>{{ object.creada_por }}</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: flex-end; margin-bottom: 30px;">
                                <ul class="list-unstyled">
                                    <li>Cliente:<span style="padding-left: 80px;"><strong>{{ object.mascota.cliente.nombreCompleto }}</strong></span></li>
                                    <li>{{  object.mascota.cliente.tipo_documento }}: <span style="padding-left: 106px;">{{ object.mascota.cliente.numero_documento }}</span></li>
                                    <li>Mascota: <span style="padding-left: 66px;">{{ object.mascota.nombre }}</span></li>
                                    <li>Carnet: <span style="padding-left: 78px;">{{ object.mascota.numero_carnet }}</span></li>
                                </ul>
                            </div>
                            <!--div style="display: flex; justify-content: flex-end;">
                                <div>
                                <p>Nombre del cliente: <span><strong>{{ object.mascota.cliente.nombreCompleto }}</strong></span></p>
                                <p>{{ object.mascota.cliente.get_tipo_documento_display }}: <span>{{ object.mascota.cliente.numero_documento }}</span></p>
                                <p>Mascota: <span>{{ object.mascota.nombre }}</span></p>
                                <p>Carnet: <span>{{ object.mascota.numero_carnet }}</span></p>
                                </div>
                            </div-->
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center;">
                        Datos del paciente
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row contenido_paciente">
                            <div class="col-md-4">
                                <div class="content_paciente">
                                    <p><b>Nombre: </b>{{ mi_historia.mascota.nombre }}</p>
                                </div>
                            </div>
                            {% if mi_historia.mascota.numero_carnet %}
                            <div class="col-md-4">
                                <div class="content_paciente">
                                    <p><b>Carnet: </b>{{ mi_historia.mascota.numero_carnet }}</p>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-md-4">
                                <div class="content_paciente">
                                    <p><b>Raza: </b>{{ mi_historia.mascota.raza }}</p>
                                </div>
                            </div>
                            {% if mi_historia.mascota.fecha_nacimiento %}
                            <div class="col-md-4">
                                <div class="content_paciente">
                                    <p><b>Edad: </b>{{ mi_historia.mascota.edad }}</p>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-md-4">
                                <div class="content_paciente">
                                    <p><b>Sexo: </b>{{ mi_historia.mascota.get_sexo_display }}</p>
                                </div>
                            </div>
                            {% if mi_historia.mascota.senales %}
                            <div class="col-md-4">
                                <div class="content_paciente">
                                    <p><b>Señales: </b>{{ mi_historia.mascota.senales }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if mi_historia.mascota.estado_reproductivo %}
                            <div class="col-md-4">
                                <div class="content_paciente">
                                    <p><b>Estado reproductivo: </b>{{ mi_historia.mascota.estado_reproductivo }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if mi_historia.mascota.numero_partos %}
                            <div class="col-md-4">
                                <div class="content_paciente">
                                    <p><b>Número de partos: </b>{{ mi_historia.mascota.numero_partos }}</p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center;">
                        Motivo de consulta
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row contenido_examen">
                            {% if object.motivo_cita %}
                            <div class="col-md-3">
                                <div class="content_examen">
                                    <p><b>Motivo de Cita : </b>{{ object.motivo_cita }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if object.tipo_alimento %}
                            <div class="col-md-3">
                                <div class="content_examen">
                                    <p><b>Tipo de alimento: </b>{{ object.tipo_alimento }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if object.racion_alimento %}
                            <div class="col-md-3">
                                <div class="content_examen">
                                    <p><b>Ración alimento: </b>{{ object.racion_alimento }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if object.vacunacion %}
                            <div class="col-md-3">
                                <div class="content_examen">
                                    <p><b>Vacunación: </b>{{ object.vacunacion }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if object.desparasitacion %}
                            <div class="col-md-3">
                                <div class="content_examen">
                                    <p><b>Desparasitación: </b>{{ object.desparasitacion }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if object.heces %}
                            <div class="col-md-3">
                                <div class="content_examen">
                                    <p><b>Heces: </b>{{ object.heces }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if object.orina %}
                            <div class="col-md-3">
                                <div class="content_examen">
                                    <p><b>Orina: </b>{{ object.orina }}</p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content">
                                    <p><b>Estado de la mascota:</b></p>
                                    <textarea id="descripcion_motivo" class="text-muted detalle_formula" readonly>{{ object.descripcion }}</textarea>
                                    <div class="content" id="testing_motivo"></div>
                                </div>
                            </div>
                        </div>
                        {% if archivos_adjuntos_motivo %}
                        <br>
                        <div class="row archivo_adjunto">
                            <div class="col-md-12">
                                <div class="content">
                                    <p><b>Archivos: </b>
                                        {% for archivo in archivos_adjuntos_motivo %}
                                            <a href="{{ archivo.file.url }}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Descargar" target="_blank"><i class="fa fa-cloud-download fa-lg"></i>{{ archivo.nombre }}</a>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                {% if examen_clinico %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title" style="text-align: center;">
                            <div style="width: 100%; display: flex; justify-content: center;">
                                <div>Examen clinico</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row contenido_examen">
                            {% if object.frecuencia_cardiaca %}
                            <div class="col-md-3">
                                <div class="content_examen">
                                    <p><b>Frecuencia cardíaca: </b>{{ object.frecuencia_cardiaca }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if object.frecuencia_respiratoria %}
                            <div class="col-md-3">
                                <div class="content_examen">
                                    <p><b>Frecuencia respiratoria: </b>{{ object.frecuencia_respiratoria }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if object.temperatura %}
                            <div class="col-md-3">
                                <div class="content_examen">
                                    <p><b>Temperatura: </b>{{ object.temperatura }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if object.tiempo_llenado_capilar %}
                            <div class="col-md-3">
                                <div class="content_examen">
                                    <p><b>Tiempo de llenado capilar: </b>{{ object.tiempo_llenado_capilar }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if object.pulso %}
                            <div class="col-md-3">
                                <div class="content_examen">
                                    <p><b>Pulso: </b>{{ object.pulso }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if object.peso %}
                            <div class="col-md-3">
                                <div class="content_examen">
                                    <p><b>Peso: </b>{{ object.peso }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if object.actitud %}
                            <div class="col-md-3">
                                <div class="content_examen">
                                    <p><b>Actitud: </b>{{ object.actitud }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if object.estado_corporal %}
                            <div class="col-md-3">
                                <div class="content_examen">
                                    <p><b>Estado corporal: </b>{{ object.estado_corporal }}</p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <br>
                        <div class="row">
                        {% if object.sistema_linfatico %}
                            <div class="col-md-4">
                                <div class="content">
                                    <p><b>Sistema linfatico</b></p>
                                    <p>{{ object.sistema_linfatico }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if object.sistema_tegumentario %}
                            <div class="col-md-4">
                                <div class="content">
                                    <p><b>Sistema tegumentario</b></p>
                                    <p>{{ object.sistema_tegumentario }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if object.sistema_cardiovascular %}
                            <div class="col-md-4">
                                <div class="content">
                                    <p><b>Sistema cardiovascular</b></p>
                                    <p>{{ object.sistema_cardiovascular }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if object.sistema_respiratorio %}
                            <div class="col-md-4">
                                <div class="content">
                                    <p><b>Sistema respiratorio</b></p>
                                    <p>{{ object.sistema_respiratorio }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if object.sistema_digestivo %}
                            <div class="col-md-4">
                                <div class="content">
                                    <p><b>Sistema digestivo</b></p>
                                    <p>{{ object.sistema_digestivo }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if object.sistema_musculoesqueletico %}
                            <div class="col-md-4">
                                <div class="content">
                                    <p><b>Sistema musculoesqueletico</b></p>
                                    <p>{{ object.sistema_musculoesqueletico }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if object.sistema_nervioso %}
                            <div class="col-md-4">
                                <div class="content">
                                    <p><b>Sistema nervioso</b></p>
                                    <p>{{ object.sistema_nervioso }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if object.sistema_urinario %}
                            <div class="col-md-4">
                                <div class="content">
                                    <p><b>Sistema urinario</b></p>
                                    <p>{{ object.sistema_urinario }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if object.sistema_respiratorio %}
                            <div class="col-md-4">
                                <div class="content">
                                    <p><b>Sistema respiratorio</b></p>
                                    <p>{{ object.sistema_respiratorio }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if object.sistema_reproductivo %}
                            <div class="col-md-4">
                                <div class="content">
                                    <p><b>Sistema reproductivo</b></p>
                                    <p>{{ object.sistema_reproductivo }}</p>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                        {% if object.comentarios_examen_clinico %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content">
                                    <p><b>Comentarios</b></p>
                                    <textarea id="descripcion_comentarios_examen_clinico" class="text-muted detalle_formula" readonly>{{ object.comentarios_examen_clinico }}</textarea>
                                    <div class="content" id="testing_comentarios_examen_clinico"></div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if archivos_adjuntos_examen_clinico %}
                        <br>
                        <div class="row archivo_adjunto">
                            <div class="col-md-12">
                                <div class="content">
                                    <p><b>Archivos: </b>
                                        {% for archivo in archivos_adjuntos_examen_clinico %}
                                            <a href="{{ archivo.file.url }}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Descargar" target="_blank"><i class="fa fa-cloud-download fa-lg"></i>{{ archivo.nombre }}</a>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                {% if object.listado_problemas %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title" style="text-align: center;">
                            <div style="width: 100%; display: flex; justify-content: center;">
                                <div>Listado de problemas</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p><b>Descripción</b></p>
                        <textarea id="descripcion_listado_problemas" class="text-muted detalle_formula" readonly>{{ object.listado_problemas }}</textarea>
                        <div class="content" id="testing_listado_problemas"></div>
                    </div>
                </div>
                {% endif %}

                {% if object.diagnostico_diferencial %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title" style="text-align: center;">
                            <div style="width: 100%; display: flex; justify-content: center;">
                                <div>Diagnóstico diferencial</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p><b>Descripción</b></p>
                        <textarea id="descripcion_diagnostico_diferencial" class="text-muted detalle_formula" readonly>{{ object.diagnostico_diferencial }}</textarea>
                        <div class="content" id="testing_diagnostico_diferencial"></div>
                        {% if archivos_adjuntos_diagnostico_diferencial %}
                        <br>
                        <div class="row archivo_adjunto">
                            <div class="col-md-12">
                                <div class="content">
                                    <p><b>Archivos: </b>
                                        {% for archivo in archivos_adjuntos_diagnostico_diferencial %}
                                            <a href="{{ archivo.file.url }}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Descargar" target="_blank"><i class="fa fa-cloud-download fa-lg"></i>{{ archivo.nombre }}</a>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                {% if object.diagnostico_presuntivo %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title" style="text-align: center;">
                            <div style="width: 100%; display: flex; justify-content: center;">
                                <div>Diagnóstico presuntivo</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p><b>Descripción</b></p>
                        <textarea id="descripcion_diagnostico_presuntivo" class="text-muted detalle_formula" readonly>{{ object.diagnostico_presuntivo }}</textarea>
                        <div class="content" id="testing_diagnostico_presuntivo"></div>
                        {% if archivos_adjuntos_diagnostico_presuntivo %}
                        <br>
                        <div class="row archivo_adjunto">
                            <div class="col-md-12">
                                <div class="content">
                                    <p><b>Archivos: </b>
                                        {% for archivo in archivos_adjuntos_diagnostico_presuntivo %}
                                            <a href="{{ archivo.file.url }}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Descargar" target="_blank"><i class="fa fa-cloud-download fa-lg"></i>{{ archivo.nombre }}</a>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                {% if object.examenes_laboratorio %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title" style="text-align: center;">
                            <div style="width: 100%; display: flex; justify-content: center;">
                                <div>Exámenes de laboratorio solicitados</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p><b>Descripción</b></p>
                        <textarea id="descripcion_examenes_laboratorio" class="text-muted detalle_formula" readonly>{{ object.examenes_laboratorio }}</textarea>
                        <div class="content" id="testing_examenes_laboratorio"></div>
                        {% if archivos_adjuntos_examenes_laboratorio %}
                        <br>
                        <div class="row archivo_adjunto">
                            <div class="col-md-12">
                                <div class="content">
                                    <p><b>Archivos: </b>
                                        {% for archivo in archivos_adjuntos_examenes_laboratorio %}
                                            <a href="{{ archivo.file.url }}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Descargar" target="_blank"><i class="fa fa-cloud-download fa-lg"></i>{{ archivo.nombre }}</a>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                {% if show_procedures %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center;">
                        Procedimiento
                        </h3>
                    </div>
                    <div class="panel-body">
                            {% if ver_area_consulta %}
                        <div class="row contenido_examen">
                            
                            <div class="col-md-6">
                                <div class="content_examen">
                                    <p><b>Áreas de consulta: </b>
                                    <div class="row-md-2"  style="margin: 12px;"  >
                                    {% for motivo in motivo_area %}
                                        <span class="label label-info">{{ motivo }}</span>   
                                    {% endfor %}
                                    </div></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="content_examen">
                                    <p><b>Descripcion procedimiento: </b> {{ object.descripcion_procedimiento }}</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        {% endif %}
                        {% if ver_intectologia %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content">
                                    <h3>Inyectologia </h3>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if object.descripcion_inyectologia %}
                        <div class="row">
                            <div class="col-md-12">
                                <p><b>Descripción: </b>{{ object.descripcion_inyectologia }}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if show_table %}
                        <div class="table-responsive horizontal-scroll">
                        <table class="table" >
                            <thead>
                                <tr>
                                    <th>Medicamento aplicado</th>
                                    <th>Cantidad</th>
                                    <th>Tipo de aplicacion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  v-for="(Item , index) in tabla_medicamentos">
                                    <td>[[ Item[1] ]] (cód : [[Item[2] ]])
                                            
                                    </td>
                                    <td>
                                        [[ Item[9] ]]
                                    </td>
                                    <td v-if ="Item[10] == 'fraccion'">
                                        [[ Item[4] ]]
                                    </td>
                                    <td v-else>
                                        unidad
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                        {% endif %}
                        {% if archivos_adjuntos_motivo %}
                        <br>
                        <div class="row archivo_adjunto">
                            <div class="col-md-12">
                                <div class="content">
                                    <p><b>Archivos: </b>
                                        {% for archivo in archivos_adjuntos_motivo %}
                                            <a href="{{ archivo.file.url }}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Descargar" target="_blank"><i class="fa fa-cloud-download fa-lg"></i>{{ archivo.nombre }}</a>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                {% if insumos_historia %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title" style="text-align: center;">
                            <div style="width: 100%; display: flex; justify-content: center;">
                                <div>Insumos utilizados</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive horizontal-scroll">
                            <table class="table" >
                                <thead>
                                    <tr>
                                        <th>Insumo</th>
                                        <th>Cantidad utilizada</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for insumo_historia in insumos_historia %}
                                    <tr>
                                        <td>
                                            {{ insumo_historia.insumo.nombre }}
                                        </td>
                                        <td>
                                            {{ insumo_historia.cantidad_requerida }}
                                            {% if insumo_historia.unidad_medida == 'fraccion' %}
                                                {{ insumo_historia.insumo.unidad_medida }}
                                            {% else %}
                                                Unidad(es)
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if object.imagenes_diagnosticas %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title" style="text-align: center;">
                            <div style="width: 100%; display: flex; justify-content: center;">
                                <div>Imágenes diagnósticas</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p><b>Descripción</b></p>
                        <textarea id="descripcion_imagenes_diagnosticas" class="text-muted detalle_formula" readonly>{{ object.imagenes_diagnosticas }}</textarea>
                        <div class="content" id="testing_imagenes_diagnosticas"></div>
                        <br>
                        <div class="row archivo_adjunto">
                            <div class="col-md-12">
                                <div class="content">
                                    <p><b>Archivos: </b>
                                        {% for archivo in archivos_adjuntos_imagenes_diagnosticas %}
                                            <a href="{{ archivo.file.url }}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Descargar" target="_blank"><i class="fa fa-cloud-download fa-lg"></i>{{ archivo.nombre }}</a>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if object.diagnostico_definitivo %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title" style="text-align: center;">
                            <div style="width: 100%; display: flex; justify-content: center;">
                                <div>Diagnóstico definitivo</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p><b>Descripción</b></p>
                        <textarea id="descripcion_diagnostico_definitivo" class="text-muted detalle_formula" readonly>{{ object.diagnostico_definitivo }}</textarea>
                        <div class="content" id="testing_diagnostico_definitivo"></div>
                    </div>
                </div>
                {% endif %}

                {% if object.observaciones_tratamiento %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title" style="text-align: center;">
                            <div style="width: 100%; display: flex; justify-content: center;">
                                <div>Tratamiento</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p><b>Descripción</b></p>
                        <textarea id="descripcion_observaciones_tratamiento" class="text-muted detalle_formula" readonly>{{ object.observaciones_tratamiento }}</textarea>
                        <div class="content" id="testing_observaciones_tratamiento"></div>
                    </div>
                </div>
                {% endif %}

                {% if object.pronostico %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title" style="text-align: center;">
                            <div style="width: 100%; display: flex; justify-content: center;">
                                <div>Pronóstico</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p><b>Descripción</b></p>
                        <textarea id="descripcion_pronostico" class="text-muted detalle_formula" readonly>{{ object.pronostico }}</textarea>
                        <div class="content" id="testing_pronostico"></div>
                    </div>
                </div>
                {% endif %}

                {% if object.notas %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title" style="text-align: center;">
                            <div style="width: 100%; display: flex; justify-content: center;">
                                <div>Notas</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p><b>Descripción</b></p>
                        <textarea id="descripcion_notas" class="text-muted detalle_formula" readonly>{{ object.notas }}</textarea>
                        <div class="content" id="testing_notas"></div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block plugins %}
    <script type="text/javascript">

            var app_detalle_historia = new Vue({
                        delimiters: ['[[', ']]'],
                        el: '#factura_imprimir',
                        data: {
                            tabla_medicamentos: [],
                            test_unit: "prueba show element",}
            });

            console.log(app_detalle_historia.test_unit)

        $( document ).ready(function() {
            app_detalle_historia.tabla_medicamentos = JSON.parse('{{ historia_medicamento|safe }}')
            console.log(app_detalle_historia.tabla_medicamentos)

            var motivo = $("#descripcion_motivo").val();
            $("#testing_motivo").html(motivo.replace(/\n\r?/g, "<br />"));

            {% if object.comentarios_examen_clinico %}
                var comentarios_examen_clinico = $("#descripcion_comentarios_examen_clinico").val();
                $("#testing_comentarios_examen_clinico").html(comentarios_examen_clinico.replace(/\n\r?/g, "<br />"));
            {% endif %}

            {% if object.listado_problemas %}
                var listado_problemas = $("#descripcion_listado_problemas").val();
                $("#testing_listado_problemas").html(listado_problemas.replace(/\n\r?/g, "<br />"));
            {% endif %}

            {% if object.diagnostico_diferencial %}
                var diagnostico_diferencial = $("#descripcion_diagnostico_diferencial").val();
                $("#testing_diagnostico_diferencial").html(diagnostico_diferencial.replace(/\n\r?/g, "<br />"));
            {% endif %}

            {% if object.diagnostico_presuntivo %}
                var diagnostico_presuntivo = $("#descripcion_diagnostico_presuntivo").val();
                $("#testing_diagnostico_presuntivo").html(diagnostico_presuntivo.replace(/\n\r?/g, "<br />"));
            {% endif %}

            {% if object.examenes_laboratorio %}
                var examenes_laboratorio = $("#descripcion_examenes_laboratorio").val();
                $("#testing_examenes_laboratorio").html(examenes_laboratorio.replace(/\n\r?/g, "<br />"));
            {% endif %}

            {% if object.imagenes_diagnosticas %}
                var imagenes_diagnosticas = $("#descripcion_imagenes_diagnosticas").val();
                $("#testing_imagenes_diagnosticas").html(imagenes_diagnosticas.replace(/\n\r?/g, "<br />"));
            {% endif %}

            {% if object.diagnostico_definitivo %}
                var diagnostico_definitivo = $("#descripcion_diagnostico_definitivo").val();
                $("#testing_diagnostico_definitivo").html(diagnostico_definitivo.replace(/\n\r?/g, "<br />"));
            {% endif %}

            {% if object.observaciones_tratamiento %}
                var observaciones_tratamiento = $("#descripcion_observaciones_tratamiento").val();
                $("#testing_observaciones_tratamiento").html(observaciones_tratamiento.replace(/\n\r?/g, "<br />"));
            {% endif %}

            {% if object.pronostico %}
                var pronostico = $("#descripcion_pronostico").val();
                $("#testing_pronostico").html(pronostico.replace(/\n\r?/g, "<br />"));
            {% endif %}

            {% if object.notas %}
                var notas = $("#descripcion_notas").val();
                $("#testing_notas").html(notas.replace(/\n\r?/g, "<br />"));
            {% endif %}
            {% if object.descripcion_inyectologia %}
                var desc_iny = $("#id_descripcion_inyectologia").val();
                $("#testing_desc_inyectologia").html(desc_iny.replace(/n\r?/g));
            {% endif %}
        });

        

        $('#boton_imprimir').on('click',function(){

            var printContents = document.getElementById("factura_imprimir").innerHTML;
             var originalContents = document.body.innerHTML;

             document.body.innerHTML = printContents;

             window.print();

             document.body.innerHTML = originalContents;
        })
    </script>
{% endblock %}