{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}
<style>
    .action-icon {color:#ffffff;}
    .boton_atender:hover {background-color: #09918a;}
</style>
<div class="modal-dialog modal-md">
    <div class="modal-content animated fadeIn">
        <div class="modal-header" style="background-color: {{ color_atencion }}; color: #ffffff;">
            <div  style="width: 100%; display: flex;justify-content:space-between;">
                <h4 class="modal-title">{{ titulo_cita }}</h4>
                <div>
                    {% if tipo_cita == 'cita_medica' %}
                        <a onclick="EliminarCita('{{atencion.id}}', '{{atencion.mascota.nombre}}', '{{atencion.fecha}}');" style="cursor: pointer;" title="Eliminar" class="action-icon dropdown-toggle"><i class="fa fa-trash m-r-5"></i></a>
                        <a href="{% url 'editar_cita_agenda' id_atencion %}" title="Editar" class="action-icon dropdown-toggle"><i class="fa fa-pencil m-r-5"></i></a>
                    {% elif tipo_cita == 'cita_estetica' %}
                        <a onclick="EliminarEstetica('{{atencion.id}}', '{{atencion.mascota.nombre}}', '{{atencion.fecha}}');" style="cursor: pointer;" title="Eliminar" class="action-icon dropdown-toggle"><i class="fa fa-trash m-r-5"></i></a>
                        <a href="{% url 'editar_factura_estetica_agenda' id_atencion %}" title="Editar" class="action-icon dropdown-toggle"><i class="fa fa-pencil m-r-5"></i></a>
                    {% elif tipo_cita == 'cita_vacunacion' %}
                        <a onclick="EliminarVacunacion('{{atencion.id}}', '{{atencion.mascota.nombre}}', '{{atencion.fecha}}');" style="cursor: pointer;" title="Eliminar" class="action-icon dropdown-toggle"><i class="fa fa-trash m-r-5"></i></a>
                        <a href="{% url 'editar_vacunacion_agenda' id_atencion %}" title="Editar" class="action-icon dropdown-toggle"><i class="fa fa-pencil m-r-5"></i></a>
                    {% elif tipo_cita == 'cita_desparasitacion' %}
                        <a onclick="EliminarDesparasitacion('{{atencion.id}}', '{{atencion.mascota.nombre}}', '{{atencion.fecha}}');" style="cursor: pointer;" title="Eliminar" class="action-icon dropdown-toggle"><i class="fa fa-trash m-r-5"></i></a>
                        <a href="{% url 'editar_desparasitacion_agenda' id_atencion %}" title="Editar" class="action-icon dropdown-toggle"><i class="fa fa-pencil m-r-5"></i></a>
                    {% elif tipo_cita == 'cita_guarderia' %}
                        <a onclick="EliminarGuarderia('{{atencion.id}}', '{{atencion.mascota.nombre}}', '{{atencion.fecha_inicio}}');" style="cursor: pointer;" title="Eliminar" class="action-icon dropdown-toggle"><i class="fa fa-trash m-r-5"></i></a>
                        <a href="{% url 'editar_guarderia_agenda' id_atencion %}" title="Editar" class="action-icon dropdown-toggle"><i class="fa fa-pencil m-r-5"></i></a>
                    {% endif %}
                    <a href="#" title="Cerrar" class="action-icon dropdown-toggle" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div style="display: flex;flex-wrap: wrap;">
                <div style="flex-basis: 0;flex-grow: 1;margin-right: 30px;align-content: center;">
                    {% if tipo_cita == 'cita_guarderia' %}
                        <p><strong>Desde: </strong> {{ atencion.fecha_inicio | date:"l, d F Y" }} a las {{ atencion.fecha_inicio | date:"h:i a" }}</p>
                        <p><strong>Hasta: </strong> {{ atencion.fecha_fin | date:"l, d F Y" }} a las {{ atencion.fecha_fin | date:"h:i a" }}</p>
                    {% else %}
                        <p><strong>Fecha: </strong> {{ atencion.fecha | date:"l, d F Y" }}</p>
                        <p><strong>Hora: </strong> {{ atencion.fecha | date:"h:i a" }}</p>
                    {% endif %}
                    <p><strong>Mascota: </strong> <a href="{% url 'detalle_mascota' mi_mascota.id %}" title="Ver">{{ mi_mascota.nombre }}</a></p>
                    {% if mi_mascota.numero_carnet %}
                        <p><strong>Número de historia: </strong> {{ mi_mascota.numero_carnet }}</p>
                    {% endif %}
                    {% if mi_mascota.raza %}
                        <p><strong>Raza: </strong> {{ mi_mascota.raza }}</p>
                    {% endif %}
                    {% if mi_mascota.fecha_nacimiento %}
                        <p><strong>Edad: </strong> {{ mi_mascota.edad }}</p>
                    {% endif %}
                    {% if mi_mascota.temperamento %}
                        <p><strong>Temperamento: </strong> {{ mi_mascota.temperamento }}</p>
                    {% endif %}
                    <p><strong>Propietario: </strong> <a href="{% url 'detalle_cliente' mi_mascota.cliente.id %}" title="Ver">{{ mi_mascota.cliente.nombreCompleto }}</a></p>
                </div>
                <div style="flex-basis: 0;flex-grow: 1;display: flex;flex-direction: column;justify-content: center;align-items: center;">
                    {% if mi_mascota.foto %}
                    <img alt="" src="{{ mi_mascota.foto.url }}" width="130px;" style="border-radius: 10px;">
                    {% else %}
                        <img alt="" src="{% static 'img/mascota_sin_foto.jpg' %}" width="130px;" style="border-radius: 10px;">
                    {% endif %}

                    {% if tipo_cita == 'cita_medica' %}
                        {% if atencion.estado == 'Activa' %}
                        <a href="{% url 'registrar_historia_cita' atencion.id %}" class="btn btn-primary btn-lg boton_atender" style="margin-top: 10px;" role="button">Atender</a>
                        {% else %}
                            <br>
                            <span class="label label-success">Atendida</span>
                        {% endif %}
                    {% elif tipo_cita == 'cita_estetica' %}
                        {% if atencion.estado_de_atencion == 'Activa' %}
                        <a href="#" onclick="AtenderEstetica('{{atencion.id}}', '{{atencion.mascota.nombre}}', '{{atencion.fecha}}');" class="btn btn-primary btn-lg boton_atender" style="margin-top: 10px;" role="button">Atender</a>
                        {% else %}
                            <br>
                            <span class="label label-success">Atendida</span>
                        {% endif %}
                    {% elif tipo_cita == 'cita_vacunacion' %}
                        {% if atencion.estado_aplicacion == 'Pendiente' %}
                        <a href="{% url 'aplicar_vacunacion' atencion.id %}" class="btn btn-primary btn-lg boton_atender" style="margin-top: 10px;" role="button">Atender</a>
                        {% else %}
                            <br>
                            <span class="label label-success">Atendida</span>
                        {% endif %}
                    {% elif tipo_cita == 'cita_desparasitacion' %}
                        {% if atencion.estado_aplicacion == 'Pendiente' %}
                        <a href="{% url 'aplicar_desparasitacion' atencion.id %}" class="btn btn-primary btn-lg boton_atender" style="margin-top: 10px;" role="button">Atender</a>
                        {% else %}
                            <br>
                            <span class="label label-success">Atendida</span>
                        {% endif %}
                    {% elif tipo_cita == 'cita_guarderia' %}
                        {% if datos_guarderia %}
                            {% for dato in datos_guarderia %}
                                {% if atencion.estado == 'Activa' %}
                                    {% if not dato.representante_retiro %}
                                        <a href="{% url 'registrar_representante_egreso' dato.id %}" class="btn btn-primary btn-md boton_atender" style="margin-top: 10px;background-color: #076FF1;" role="button">Terminar</a>
                                    {% else %}
                                        <br>
                                        <span class="label label-success">Atendida</span>
                                    {% endif %}
                                {% else %}
                                    <br>
                                    <span class="label label-success">Atendida</span>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% if atencion.estado == 'Activa' %}
                                <a href="{% url 'registrar_representante_ingreso' atencion.id %}" class="btn btn-primary btn-md boton_atender" style="margin-top: 10px;" role="button">Atender</a>
                            {% else %}
                                <br>
                                <span class="label label-success">Atendida</span>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function EliminarCita(id, nombre, fecha) {

        swal({
            title: "Estas seguro que deseas eliminar la cita programada para "+nombre+" el "+fecha+"?",
            text: "La cita sera eliminada permanenetemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: '/citas/eliminar_cita/',
                    data: {
                      'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.replace("/citas/listar_citas/");
                    }
                });
            }
        });

    }

    function EliminarEstetica(id, nombre, fecha) {

        swal({
            title: "Estas seguro que deseas eliminar la estetica programada para "+nombre+" el "+fecha+"?",
            text: "La estetica sera eliminada permanenetemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '/estetica/eliminar_estetica/',
                    data: {
                      'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.replace("/citas/listar_citas/");
                    }
                });
            }
        });

    }

    function EliminarVacunacion(id, nombre, fecha) {

        swal({
            title: "Estas seguro que deseas eliminar la vacunacion programada para "+nombre+" el "+fecha+"?",
            text: "La vacunacion sera eliminada permanenetemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: '/vacunacion/eliminar_vacunacion/',
                    data: {
                      'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.replace("/citas/listar_citas/");
                    }
                });
            }
        });

    }

    function EliminarDesparasitacion(id, nombre, fecha) {

        swal({
            title: "Estas seguro que deseas eliminar la desparasitacion programada para "+nombre+" el "+fecha+"?",
            text: "La desparasitacion sera eliminada permanenetemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '/desparasitacion/eliminar_desparasitacion/',
                    data: {
                      'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.replace("/citas/listar_citas/");
                    }
                });
            }
        });

    }

    function EliminarGuarderia(id, nombre, fecha) {

        swal({
            title: "Estas seguro que deseas eliminar la guarderia programada para "+nombre+" el "+fecha+"?",
            text: "La guarderia programada sera eliminada permanenetemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '/guarderia/eliminar_guarderia/',
                    data: {
                      'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.replace("/citas/listar_citas/");
                    }
                });
            }
        });

    }

    function AtenderEstetica(id, nombre, fecha) {

        swal({
            title: "Estas seguro que deseas dar por atendida esta cita de estetica programada para "+nombre+" ?",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '/estetica/atender_estetica/',
                    data: {
                    'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.replace("/citas/listar_citas/");
                    }
                });
            }
        });

    }

</script>