{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
Historias clinicas
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-4 col-xs-3">
        <h4 class="page-title">Historia clínica</h4>
    </div>

    <div class="col-sm-8 col-xs-9 text-right">
        {% if agregar_historia %}
        <a href="{% url 'registrar_historia_clinica' mascota.id %}" class="btn add-btn btn-custom pull-right m-b-30"><i
                class="fa fa-plus"></i>
            Agregar historia</a>
        {% endif %}

        <a href="#" id="boton_imprimir" class="btn add-btn btn-custom pull-right m-b-30 m-r-20"><i class="fa fa-print"></i> Imprimir</a>
    </div>
</div>
<div class="row">
    {% if mi_veterinaria.foto %}
    <img id="logo_veterinaria" src='{{mi_veterinaria.foto.url}}' width="200" height="auto" alt=" " style="display: none;margin-bottom: 10px;margin-top: 40px;">
    {% endif %}
    <div class="col-md-3" id="printTable2">
        <div class="card-box">
            <div class="user-profile-img">
                <div class="edit-profile-img">
                    {% if mascota.foto %}
                    <img alt="" src="{{ mascota.foto.url }}" class="avatar" style="height: 120px; width: 120px;">
                    {% else %}
                    <img alt="" src="{% static 'img/mascota_sin_foto.jpg' %}" class="avatar">
                    {% endif %}
                </div>
                <h3 class="user-name m-t-10 m-b-0">{{ mascota.nombre }}</h3>
                <small class="text-muted">{{ mascota.raza }}</small>
            </div>
            <div class="chat-profile-info">
                <ul class="personal-info">
                    <li>
                        <span class="title">Carnet:</span>
                        <span class="text">{{ mascota.numero_carnet }}</span>
                    </li>
                    <li>
                        <span class="title">Edad:</span>
                        <span class="text">
                            {% if mascota.fecha_nacimiento %}
                                {{mascota.edad}} años ({{ mascota.fecha_nacimiento }})
                            {% else %}
                            -
                            {% endif %}
                        </span>
                    </li>
                    <li>
                        <span class="title">Sexo:</span>
                        <span class="text">{{mascota.get_sexo_display}}</span>
                    </li>
                    <li>
                        <span class="title">Peso:</span>
                        <span class="text">
                            {% if mascota.peso %}
                                {{mascota.peso}}
                            {% else %}
                            -
                            {% endif %}
                        </span>
                    </li>
                    <li>
                        <span class="title">RH:</span>
                        <span class="text">
                            {% if mascota.rh %}
                                {{mascota.rh}}
                            {% else %}
                            -
                            {% endif %}
                        </span>
                    </li>
                    <li>
                        <span class="title">Dueño:</span>
                        <span class="text"><a href="{% url 'detalle_cliente' mascota.cliente.id %}" title="Ver">{{ mascota.cliente.nombreCompleto }}</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card-box">
            <div class="table-responsive">
                <table class="table table-striped" id="printTable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Motivo</th>
                        <th>Registrada por</th>
                        <th>Observaciones</th>
                        <th>Archivos</th>
                        <th class="opciones"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cita in mis_citas %}
                        {% for historia in object_list %}
                            {% if historia.cita.id == cita.id %}
                            <tr {% if historia.motivo == 'Estado inicial' %} style="background-color: #dfdde0;" {% endif %}>
                                <td>
                                    {{ forloop.parentloop.revcounter }}
                                </td>
                                <td>
                                    {{ historia.fecha }}
                                </td>
                                <td>
                                    {% if historia.motivo == 'Tratamiento' %}
                                    {{ historia.motivo }} ({{ historia.tratamiento }})
                                    {% else %}
                                    Estado inicial de la mascota
                                    {% endif %}
                                </td>
                                <td>
                                    {{ historia.creada_por }}
                                </td>
                                <td>
                                    {{ historia.descripcion }}
                                </td>
                                <td>
                                    {% if historia.archivo_zip %}
                                    <a href="{{ historia.archivo_zip.url }}" download class="action-icon dropdown-toggle"
                                       style="color: #076ff1" title="Descargar"><i class="fa fa-cloud-download fa-lg"></i></a>
                                    {% endif %}
                                </td>
                                <td class="opciones">
                                    {% if historia.motivo == 'Estado inicial' %}
                                    <a href="{% url 'agregar_otra_historia' historia.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Agregar"><i class="fa fa-plus fa-lg"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block plugins %}
    <script type="text/javascript">
        function printData()
        {
            var htmlToPrint = '' +
                '<style type="text/css">' +
                'table {' +
                'border: solid #000 !important;' +
                'border-width: 1px 0 0 1px !important;' +
                'width: 100%;'+
                '}' +
                'th, td {' +
                'border: solid #000 !important;' +
                'border-width: 0 1px 1px 0 !important;' +
                'min-width: 100px;' +
                '}' +
                '.opciones {'+
                'display: none;'+
                '}' +
                '</style>';
           var divToPrint=document.getElementById("printTable");
           var divToPrint2= "<div style='display: flex; justify-content: space-between; margin-bottom: 20px;'><div style='display: flex; flex-direction: column;'>" + "{% if mi_veterinaria.foto %}<img id=\"logo_veterinaria\" src='{{mi_veterinaria.foto.url}}' width=\"200\" height=\"auto\" alt=\" \" style=\"margin-bottom: 10px;margin-top: 40px;\"> {% endif %}" + "<p><span style='font-size: 20px;font-weight:bold;'>{{mi_veterinaria.nombre}}</span><br>{{mi_veterinaria.direccion}} ({{mi_veterinaria.ciudad}})<br>{{mi_veterinaria.telefono}} - {{mi_veterinaria.celular}}</p></div>" +
               "<div style='display: flex; flex-direction: column; align-items: flex-end;'><h4 style='font-size: 30px;'>Historia clinica</h4><p><span><span style='font-weight:bold;'>Cliente:</span> {{mascota.cliente.nombreCompleto}}</span> <br><span><span style='font-weight:bold;'>Documento:</span> {{mascota.cliente.numero_documento}}</span></p>" +
               "<p> <span> <span style='font-weight:bold;'>Nombre de la mascota:</span> {{mascota.nombre}}</span><br> <span> <span style='font-weight:bold;'>Carnet:</span> {{mascota.numero_carnet}}</span>" +
               "<br> <span> <span style='font-weight:bold;'>Raza</span> {{mascota.raza}}</span><br> <span> <span style='font-weight:bold;'>Sexo:</span> {{mascota.get_sexo_display}}</span>" +
               "<br> <span> <span style='font-weight:bold;'>RH:</span> {{mascota.rh}}</span> <br><span> <span style='font-weight:bold;'>Peso:</span> {{mascota.peso}}</span><br> <span> <span style='font-weight:bold;'>Edad:</span>{% if mascota.fecha_nacimiento %} {{mascota.edad}} años ({{mascota.fecha_nacimiento}}) {% endif %}</span></p>" +
               "</div></div>"
            var divToPrintFirma= "<div style='margin-top: 40px; display: flex; justify-content: flex-end;'><div><input type=\"text\" style='border: 0; border-bottom: 1px solid #000;' /><br /> Firma</div></div>"

            newWin= window.open("");

           newWin.document.write(htmlToPrint);
           newWin.document.write(divToPrint2);
           newWin.document.write(divToPrint.outerHTML);
           newWin.document.write(divToPrintFirma);
           newWin.print();
           newWin.close();
        }

        $('#boton_imprimir').on('click',function(){
        printData();
        })
    </script>
{% endblock %}