{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Citas
{% endblock title %}
{% block extrahead %}
<style>
.btn-custom-cita-medica {background-color:#00c7ff;border-color:#00c7ff;color:#fff;}
.btn-custom-cita-medica:hover {color:#fff;background-color: #076ff1;border: 1px solid #076ff1;}
.btn-custom-cita-estetica {background-color:#605fff;border-color:#605fff;color:#fff;}
.btn-custom-cita-estetica:hover {color:#fff;background-color: #076ff1;border: 1px solid #076ff1;}
.btn-custom-cita-vacunacion {background-color:#ff7e54;border-color:#ff7e54;color:#fff;}
.btn-custom-cita-vacunacion:hover {color:#fff;background-color: #076ff1;border: 1px solid #076ff1;}
.btn-custom-cita-desparacitacion {background-color:#ff5d86;border-color:#ff5d86;color:#fff;}
.btn-custom-cita-desparacitacion:hover {color:#fff;background-color: #076ff1;border: 1px solid #076ff1;}
.btn-custom-cita-guarderia {background-color:#94919d;border-color:#94919d;color:#fff;}
.btn-custom-cita-guarderia:hover {color:#fff;background-color: #076ff1;border: 1px solid #076ff1;}
</style>
{% endblock extrahead %}
{% block content %}

    <div class="row" style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
        <div class="col-sm-6 col-xs-8">
            <h4 class="page-title">Agenda de citas</h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li class="active"><a>Agenda</a></li>
            </ol>
        </div>
        <div class="col-sm-6 col-xs-4 text-right view-icons">
            <a class="grid-view btn btn-link" id="boton_grid" title="Agenda" style="text-decoration:none;"><i class="fa fa-calendar fa-lg"></i> <span>Agenda</span></a>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div id="calendarnow"class="myClickDisabledElm"></div>
        </div>
    </div>
    <div id="modal-detalle" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" style="top: 40%;">
        <div class="modal-dialog modal-md">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <div  style="width: 100%; display: flex;justify-content:space-between;">
                        <h4 class="modal-title">Crear nueva cita</h4>
                        <div>
                            <a href="#" title="Cerrar" class="action-icon dropdown-toggle" style="color: #333333;" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
                        </div>
                    </div>
                </div>
                <div class="modal-body" style="height: 100%; display: flex; flex-direction: column;justify-content: space-around"> 
                    <a id="cita_medica"style="margin-bottom: 3px"class="btn add-btn btn-custom-cita-medica pull-left">Adicionar cita médica</a>
                    <a id="cita_estetica"style="margin-bottom: 3px"class="btn add-btn btn-custom-cita-estetica pull-left">Adicionar cita estética</a>
                    <a id="cita_vacunacion" style="margin-bottom: 3px"class="btn add-btn btn-custom-cita-vacunacion pull-left">Adicionar cita vacunación</a>
                    <a id="cita_desparasitacion" style="margin-bottom: 3px"class="btn add-btn btn-custom-cita-desparacitacion pull-left">Adicionar cita desparasitación</a>
                    <a id="cita_guarderia" style="margin-bottom: 3px"class="btn add-btn btn-custom-cita-guarderia pull-left">Adicionar cita guardería</a>

                </div>
            </div>
        </div>
    </div>

    <div id="modal-detalle-cita" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true"></div>
    
{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/fullcalendar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fullcalendar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.flash.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jszip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vfs_fonts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/buttons.print.min.js' %}"></script>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.2.0/js/tableexport.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/script.js/2.5.9/script.min.js"></script>-->
<script type="text/javascript">

    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    var form = '';
    var today = new Date($.now());

    let url = '/citas/mostrar_citas/';

    var event_in_calendar = [];

    var promise2 = new Promise(function (resolve, reject) {    
        $.ajax({
            url: '/citas/mostrar_citas/',
            dataType: 'json',
            success : function(data){
                resolve(data);
            }
        });
    });

$(document).ready(function(){
    
    if(screen.width < 400){
        $('#boton_grid').find('span').remove();
        $('#boton_lista').find('span').remove();
    }

    $("#lista_productos").hide();
    $("#grid_productos").show();
    $("#boton_grid").addClass("active");

    function getRandomizer(bottom, top) {
        return Math.floor( Math.random() * ( 1 + top - bottom ) ) + bottom;
    }
        

    promise2.then(function (data){
        
        ShowCalendar(data.dates);

        var calendar = $('#calendarnow').fullCalendar('getCalendar');

        calendar.on('dayClick', function(date, jsEvent, view) {
            jsEvent.preventDefault();
            //console.log('clicked on ' + date.format("DD-MM-YYYY HH:mm"));
            $('#modal-detalle').modal('show');
        
            document.getElementById("cita_medica").onclick = function(){

                window.location.href = '/citas/registrar_citas/'+date.format("MM-DD-YYYY HH:mm");
            }
            document.getElementById("cita_estetica").onclick = function(){

                window.location.href = '/estetica/registrar_estetica_agenda/'+date.format("MM-DD-YYYY HH:mm");
            }
            document.getElementById("cita_vacunacion").onclick = function(){

                window.location.href = '/vacunacion/registrar_cita_vacunacion/'+date.format("MM-DD-YYYY HH:mm");
            }
            document.getElementById("cita_desparasitacion").onclick = function(){

                window.location.href = '/desparasitacion/registrar_cita_desparasitacion/'+date.format("MM-DD-YYYY HH:mm");
            }
            document.getElementById("cita_guarderia").onclick = function(){

                window.location.href = '/guarderia/registrar_cita_guarderia/'+date.format("MM-DD-YYYY HH:mm");
            }

        });
        
        calendar.on('eventClick', function(info){
            console.log(info);
            switch(info.tipoServicio) {
                case '1':
                    $('#modal-detalle-cita').load('/citas/detalle_cita_agenda/cita_medica/'+ info.codigoCita +'/', function () {
                        $(this).modal('show');
                    });
                break;
                case '2':
                    //Estética
                    $('#modal-detalle-cita').load('/citas/detalle_cita_agenda/cita_estetica/'+ info.codigoCita +'/', function () {
                        $(this).modal('show');
                    });
                break;
                case '3':
                    //Vacunación
                    $('#modal-detalle-cita').load('/citas/detalle_cita_agenda/cita_vacunacion/'+ info.codigoCita +'/', function () {
                        $(this).modal('show');
                    });
                break;
                case '4':
                    //Desparacitación
                    $('#modal-detalle-cita').load('/citas/detalle_cita_agenda/cita_desparasitacion/'+ info.codigoCita +'/', function () {
                        $(this).modal('show');
                    });
                break;
                case '5':
                    //Guardería
                    $('#modal-detalle-cita').load('/citas/detalle_cita_agenda/cita_guarderia/'+ info.codigoCita +'/', function () {
                        $(this).modal('show');
                    });
                break;                                              

            }
        });

        $("#modal-cita-detalle").on('hidden.bs.modal', function () {
            $('#modal-cita-detalle').find('.info-cita').html('');
            $('#modal-cita-detalle').find('.horario').html('');
        });

    });

});

   function ExportExcel(type, fn, dl) {
       var elt = document.getElementById('lista_agenda');
       var wb = XLSX.utils.table_to_book(elt, {sheet:"Sheet JS"});
       return dl ?
          XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
          XLSX.writeFile(wb, fn || ('Agenda de Citas.' + (type || 'xlsx')));
    }


    function ShowCalendar(array){
        
        $('#calendarnow').fullCalendar({
            
            locale: 'es',
            buttonText: {
                today: "Hoy",
                month: "Mes",
                week: "Semana",
                day: "Día",
                list: "Agenda"
            },
            allDayText:"Todo el día",
            slotDuration: '00:30:00', /* If we want to split day time each 15minutes */
            minTime: '00:00:00',
            maxTime: '24:00:00',
            defaultView: 'month',
            handleWindowResize: true,
            contentHeight: 'auto',
            height: $(window).height() - 200,   
            header: {
                left: 'prev,next today, timezone',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            events: array,
            timezone : 'UTF',
            allDay:true,
            //forceEventDuration:true,
            editable: false,
            droppable: true, // this allows things to be dropped onto the calendar !!!
            eventLimit: true, // allow "more" link when too many events
            selectable: true,
            timeFormat: 'H(:mm)',
            displayEventTime: false,
            eventTimeFormat: { // like '14:30:00'
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit'
            },
            
                
            viewRender: function(view, element) {
                $('.fc-center')[0].children[0].innerText = view.title.replace(new RegExp("undefined", 'g'), "");   
            },
            
            });

            $('.fc-agendaWeek-button').addClass('hidden-xs hidden-sm');
    }


    $('#funcionalidad_calendario').click(function(){
        /*swal({
            type: 'warning',
            title: 'Funcionalidad en desarrollo...',
            text: 'Muy pronto estará disponible',
            showConfirmButton: true
        });*/
    });

    $('#boton_grid').click(function(){
        $("#lista_productos").hide();
        $("#boton_lista").removeClass("active");
        $("#grid_productos").show();
        $("#boton_grid").addClass("active");
    });

    $('#boton_lista').click(function(){
        $("#lista_productos").show();
        $("#boton_lista").addClass("active");
        $("#grid_productos").hide();
        $("#boton_grid").removeClass("active");
        /*swal({
            type: 'warning',
            title: 'Funcionalidad en desarrollo...',
            text: 'Muy pronto estará disponible',
            showConfirmButton: true
        });*/
    });

    function EliminarCita(id, nombre, fecha) {
        swal({
            title: "Estas seguro que deseas eliminar la cita programada para "+nombre+" el "+fecha+"?",
            text: "La cita sera eliminada permanenetemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: '/citas/eliminar_cita/',
                    data: {
                    'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.reload();
                    }
                });
            }
        });

        }

    function EliminarVacunacion(id, nombre, fecha) {

        swal({
            title: "Estas seguro que deseas eliminar la vacunacion programada para "+nombre+" el "+fecha+"?",
            text: "La vacunacion sera eliminada permanenetemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: '/vacunacion/eliminar_vacunacion/',
                    data: {
                    'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.reload();
                    }
                });
            }
        });

    }

    function EliminarDesparasitacion(id, nombre, fecha) {

        swal({
            title: "Estas seguro que deseas eliminar la desparasitacion programada para "+nombre+" el "+fecha+"?",
            text: "La desparasitacion sera eliminada permanenetemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '/desparasitacion/eliminar_desparasitacion/',
                    data: {
                    'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.reload();
                    }
                });
            }
        });

    }

    function EliminarEstetica(id, nombre, fecha) {

        swal({
            title: "Estas seguro que deseas eliminar la estetica programada para "+nombre+" el "+fecha+"?",
            text: "La estetica sera eliminada permanenetemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '/estetica/eliminar_estetica/',
                    data: {
                    'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.reload();
                    }
                });
            }
        });

    }

    function EliminarGuarderia(id, nombre, fecha) {

        swal({
            title: "Estas seguro que deseas eliminar la guarderia programada para "+nombre+" el "+fecha+"?",
            text: "La guarderia programada sera eliminada permanenetemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '/guarderia/eliminar_guarderia/',
                    data: {
                    'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.reload();
                    }
                });
            }
        });

    }

</script>
{% endblock %}