{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
Nueva Jornada Hospitalización
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link href="{% static 'css/bootstrap-clockpicker.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<style>
    .select2-selection__rendered {
        line-height: 31px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 34px !important;
    }
    .elementos_modal{
        cursor: pointer;
    }
    .elementos_modal:hover{
        background-color: #d5d7d3;
    }
</style>
{% endblock%}

{% block content %}
<div id="app_nueva_hospitalizacion">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">
                Nueva jornada de hospitalización
            </h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li><a href="/mascotas/listar_mascotas/">Mascotas</a></li>
                <li><a href="#" onclick="window.history.back();">Detalle mascota</a></li>
                <li class="active"><a>Nueva jornada hospitalización</a></li>
            </ol>
        </div>
    </div>
    <form action = "" method="POST" enctype="multipart/form-data" class="form-horizontal" data-parsley-validate="true" autocomplete="off">
        {% csrf_token %}
        <div class="card-box" style="padding-left: 15px;">
            <div class="table-responsive horizontal-scroll">
                <table class="table" >
                    <tbody>
                        <tr>
                            <td>
                                Fecha
                            </td>
                            <td colspan="2">
                                {% bootstrap_field form.fecha_hospitalizacion layout='inline' field_class="col-lg-12" %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Hora
                            </td>
                            <td style="border-right: solid black;">
                                <label class="control-label">Mañana</label>
                                {% bootstrap_field form.hora_manana layout='inline' field_class="col-lg-12" %}
                            </td>
                            <td>
                                <label class="control-label">Tarde</label>
                                {% bootstrap_field form.hora_tarde layout='inline' field_class="col-lg-12" %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Temperatura
                            </td>
                            <td style="border-right: solid black;">
                                {% bootstrap_field form.temperatura_manana layout='inline' field_class="col-lg-12" %}
                            </td>
                            <td>
                                {% bootstrap_field form.temperatura_tarde layout='inline' field_class="col-lg-12" %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Frecuencia cardiaca
                            </td>
                            <td style="border-right: solid black;">
                                {% bootstrap_field form.frecuencia_manana layout='inline' field_class="col-lg-12" %}
                            </td>
                            <td>
                                {% bootstrap_field form.frecuencia_tarde layout='inline' field_class="col-lg-12" %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Color mucosas
                            </td>
                            <td style="border-right: solid black;">
                                {% bootstrap_field form.mucosas_manana layout='inline' field_class="col-lg-12" %}
                            </td>
                            <td>
                                {% bootstrap_field form.mucosas_tarde layout='inline' field_class="col-lg-12" %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Apetito
                            </td>
                            <td style="border-right: solid black;">
                                {% bootstrap_field form.apetito_manana layout='inline' field_class="col-lg-12" %}
                            </td>
                            <td>
                                {% bootstrap_field form.apetito_tarde layout='inline' field_class="col-lg-12" %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sed
                            </td>
                            <td style="border-right: solid black;">
                                {% bootstrap_field form.sed_manana layout='inline' field_class="col-lg-12" %}
                            </td>
                            <td>
                                {% bootstrap_field form.sed_tarde layout='inline' field_class="col-lg-12" %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Estado de animo
                            </td>
                            <td style="border-right: solid black;">
                                {% bootstrap_field form.estado_animo_manana layout='inline' field_class="col-lg-12" %}
                            </td>
                            <td>
                                {% bootstrap_field form.estado_animo_tarde layout='inline' field_class="col-lg-12" %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Consistencia fecal
                            </td>
                            <td style="border-right: solid black;">
                                {% bootstrap_field form.consistencia_fecal_manana layout='inline' field_class="col-lg-12" %}
                            </td>
                            <td>
                                {% bootstrap_field form.consistencia_fecal_tarde layout='inline' field_class="col-lg-12" %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Vomito
                            </td>
                            <td style="border-right: solid black;">
                                {% bootstrap_field form.vomito_manana layout='inline' field_class="col-lg-12" %}
                            </td>
                            <td>
                                {% bootstrap_field form.vomito_tarde layout='inline' field_class="col-lg-12" %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Produccion de orina
                            </td>
                            <td style="border-right: solid black;">
                                {% bootstrap_field form.orina_manana layout='inline' field_class="col-lg-12" %}
                            </td>
                            <td>
                                {% bootstrap_field form.orina_tarde layout='inline' field_class="col-lg-12" %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Pronóstico
                            </td>
                            <td style="border-right: solid black;">
                                {% bootstrap_field form.pronostico_manana layout='inline' field_class="col-lg-12" %}
                            </td>
                            <td>
                                {% bootstrap_field form.pronostico_tarde layout='inline' field_class="col-lg-12" %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Observaciones
                            </td>
                            <td style="border-right: solid black;">
                                {% bootstrap_field form.observaciones_manana layout='inline' field_class="col-lg-12" %}
                            </td>
                            <td>
                                {% bootstrap_field form.observaciones_tarde layout='inline' field_class="col-lg-12" %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <h3 align="center">Medicamentos aplicados</h3>
                                <div class="table-responsive horizontal-scroll">
                                    <table class="table" style="overflow: visible;">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Hora</th>
                                                <th class="text-center">Responsable</th>
                                                <th class="text-center">Medicamento</th>
                                                <th class="text-center">Disponibilidad</th>
                                                <th class="text-center" colspan="2">Cantidad a aplicar</th>
                                                <th class="text-center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(medicamento_agregado, index) in medicamentos_agregados">
                                                <td class="text-center">[[ medicamento_agregado.hora]]</td>
                                                <td class="text-center">[[ medicamento_agregado.nombre_responsable]]</td>
                                                <td class="text-center">[[ medicamento_agregado.nombre_medicamento]]</td>
                                                <td class="text-center">-</td>
                                                <td class="text-center" colspan="2">[[ medicamento_agregado.cantidad_requerida]] [[ medicamento_agregado.unidades]]</td>
                                                <td class="text-center">
                                                    <a title="Quitar" class="action-icon dropdown-toggle" style="color: #f10000; cursor:pointer;" v-on:click="RmvMedicamento(index);"><i class="fa fa-trash m-r-5"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100px;">
                                                    <input type="text" class="form-control" id="hora_aplicacion_medicamento">
                                                </td>
                                                <td>
                                                    <select class="form-control" id="select_responsable">
                                                        <option v-for="usuario in usuarios_responsables" v-bind:value="[[ usuario[0] ]]">
                                                            [[ usuario[1] ]] [[ usuario[2] ]] [[ usuario[3] ]] [[ usuario[4] ]]
                                                        </option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control" id="select_medicamento">
                                                        <option value="-1">-----------</option>
                                                        <option v-for="(medicamento, index) in medicamentos_por_codigo"
                                                            v-bind:value="[[ index ]]" v-if = "medicamento.fields.estado">
                                                            [[ medicamento.fields.nombre ]] (cód : [[ medicamento.fields.codigo_inventario ]])
                                                        </option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input class="form-control" id="disponible_medicamento" type="text" disabled>
                                                </td>
                                                <td width="100px;">
                                                    <input class="form-control" id="cantidad_medicamento" min="0" type="number" :step="step_unidades" onkeypress="return event.charCode >= 48" value="1">
                                                </td>
                                                <td width="130px;">
                                                    <select id="select_unidades_medicamento" class="form-control">
                                                        <option value="unidad(es)">unidad(es)</option>
                                                        <option v-if="cantidad_por_unidad_medicamento" v-bind:value="[[ unidades_medicamento ]]">[[unidades_medicamento]]</option>
                                                    </select>
                                                </td>
                                                <td class="text-center">
                                                    <a title="Agregar" class="action-icon dropdown-toggle"
                                                v-on:click="AddMedicamento()" style="color: #076ff1; cursor:pointer;"><i
                                                    class="fa fa-plus m-r-5"></i></a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <h3 align="center">Insumos utilizados</h3>
                                <div class="table-responsive horizontal-scroll">
                                    <table class="table" style="overflow: visible;">
                                        <thead>
                                            <tr>
                                                <th>Insumo</th>
                                                <th>Disponible</th>
                                                <th colspan="2" class="text-center">Cantidad utilizada</th>
                                                <th class="text-right">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(insumo_agregado, index) in insumos_agregados">
                                                <td>
                                                    [[ insumo_agregado.nombre_insumo ]]
                                                </td>
                                                <td>
                                                    -
                                                </td>
                                                <td colspan="2" class="text-center">
                                                    [[ insumo_agregado.cantidad_requerida ]] [[ insumo_agregado.unidades ]]
                                                </td>
                                                <td class="text-right">
                                                    <a title="Quitar" class="action-icon dropdown-toggle" style="color: #f10000" v-on:click="RmvInsumo(index);"><i class="fa fa-trash m-r-5"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <select class="form-control" id="select_insumo">
                                                        <option value="-1">-----------</option>
                                                        <option v-for="(insumo, index) in insumos_por_codigo"
                                                            v-bind:value="[[ index ]]" v-if = "insumo.fields.estado">
                                                            [[ insumo.fields.nombre ]] (cód : [[ insumo.fields.codigo_inventario ]])
                                                        </option>
                                                    </select>
                                                </td>
                                                <td style="max-width: 200px;">
                                                    <input class="form-control" id="disponible_insumo" min="0" type="text" disabled>
                                                </td>
                                                <td style="max-width: 100px;">
                                                    <input class="form-control" id="cantidad_insumo" min="0" :step="step_unidades_insumo" type="number"
                                                        onkeypress="return event.charCode >= 48" value="1">
                                                </td>
                                                <td style="min-width: 100px;">
                                                    <select id="select_unidades_insumo" class="form-control">
                                                        <option value="unidad(es)">unidad(es)</option>
                                                        <option v-if="cantidad_por_unidad_insumo" v-bind:value="[[ unidades_insumo ]]">[[unidades_insumo]]</option>
                                                    </select>
                                                </td>
                                                <td class="text-right">
                                                    <a title="Agregar" class="action-icon dropdown-toggle"
                                                        v-on:click="AddInsumo()" style="color: #076ff1"><i
                                                            class="fa fa-plus m-r-5"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--div class="text-center submit-btns">
            <button class="btn btn-primary m-r-20" id="boton_registrar">
                {% if modificar %}
                    Modificar
                {% else %}
                    Registrar
                {% endif %}
            </button>
            <a href="{% url 'detalle_mascota' mascota.id %}" class="btn btn-danger">Cancelar</a>
        </div-->
        <div class="text-center submit-btns">
            <a id="boton_registrar" class="btn btn-primary button_save">Agregar</a>
            <a href="{% url 'detalle_mascota' mascota.id %}" class="btn btn-danger button_save">Cancelar</a>
        </div>
    </form>

    <div class="modal inmodal" id="myModalMedicamento" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">[[ nombre_elemento_modal ]]</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha de vencimiento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(elemento,index) in all_medicamentos" v-if="elemento.fields.codigo_inventario == codigo_repetido_medicamento && elemento.fields.estado" class="elementos_modal" v-on:click="seleccionarMedicamentoModal(index);">
                                <td>
                                    <div v-if="elemento.fields.fecha_vencimiento">
                                        [[ elemento.fields.fecha_vencimiento ]]
                                    </div>
                                    <div v-else>
                                        Sin fecha
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal" id="myModalInsumo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">[[ nombre_elemento_modal ]]</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha de vencimiento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(elemento,index) in all_insumos" v-if="elemento.fields.codigo_inventario == codigo_repetido_insumo && elemento.fields.estado" class="elementos_modal" v-on:click="seleccionarInsumoModal(index);">
                                <td>
                                    <div v-if="elemento.fields.fecha_vencimiento">
                                        [[ elemento.fields.fecha_vencimiento ]]
                                    </div>
                                    <div v-else>
                                        Sin fecha
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/bootstrap-clockpicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>

<script type="text/javascript">

    var app_hospitalizacion = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app_nueva_hospitalizacion',
        data: {
            option_type : 'start',
            medicamentos: [],
            all_medicamentos: [],
            medicamentos_agregados: [],
            medicamentos_por_codigo: {},
            codigos_medicamentos: [],
            nombre_elemento_modal: '',
            codigo_repetido_medicamento: 0,
            countryValMedicamento: -1,
            modalValMedicamento: -1,
            index_elemento_medicamento: '',
            id_medicamento_seleccionado: '',
            medicamento_seleccionado: [],
            unidades_medicamento: '',
            cantidad_por_unidad_medicamento: false,
            step_unidades: 1,
            usuarios_responsables: [],
            hospitalizaciones_mascota: [],
            all_insumos: [],
            insumos_agregados: [],
            insumos_por_codigo: {},
            codigos_insumos: [],
            nombre_elemento_modal: '',
            codigo_repetido_insumo: 0,
            countryValInsumo: -1,
            modalValInsumo: -1,
            index_elemento_insumo: '',
            id_insumo_seleccionado: '',
            insumo_seleccionado: [],
            unidades_insumo: '',
            cantidad_por_unidad_insumo: false,
            step_unidades_insumo: 1,
        },
        updated: function(){
            this.$nextTick(function(){ $('.selectpicker').selectpicker('refresh'); });
        },
        methods: {
            seleccionarInsumoModal:function(index){
                app_hospitalizacion.index_elemento_insumo = app_hospitalizacion.modalValInsumo;
                var element = app_hospitalizacion.all_insumos[index];
                app_hospitalizacion.unidades_insumo = element.fields.unidad_medida;
                app_hospitalizacion.cantidad_por_unidad_insumo = element.fields.cantidad_por_unidad;
                app_hospitalizacion.insumo_seleccionado = element;
                app_hospitalizacion.id_insumo_seleccionado = element.pk;
                $('#disponible_insumo').val(element.fields.descripcion);
                $('#disponible_insumo').attr('title', element.fields.descripcion);
                $("#cantidad").val(1);
                app_hospitalizacion.unidad_granel_insumo = element.fields.unidad_medida;
                $('#myModalInsumo').modal('hide');
                $('#select_insumo').val(app_hospitalizacion.modalValInsumo);
                $('#select_insumo').select2();
                app_hospitalizacion.countryValInsumo = app_hospitalizacion.modalValInsumo;
            },
            seleccionarMedicamentoModal:function(index){
                app_hospitalizacion.index_elemento_medicamento = app_hospitalizacion.modalValMedicamento;
                var element = app_hospitalizacion.all_medicamentos[index];
                app_hospitalizacion.unidades_medicamento = element.fields.unidad_medida;
                app_hospitalizacion.cantidad_por_unidad_medicamento = element.fields.cantidad_por_unidad;
                app_hospitalizacion.medicamento_seleccionado = element;
                app_hospitalizacion.id_medicamento_seleccionado = element.pk;
                $('#disponible_medicamento').val(element.fields.descripcion);
                $('#disponible_medicamento').attr('title', element.fields.descripcion);
                $("#cantidad_medicamento").val(1);
                app_hospitalizacion.unidad_granel_medicamento = element.fields.unidad_medida;
                $('#myModalMedicamento').modal('hide');
                $('#select_medicamento').val(app_hospitalizacion.modalValMedicamento);
                $('#select_medicamento').select2();
                app_hospitalizacion.countryValMedicamento = app_hospitalizacion.modalValMedicamento;
                console.log("app_hospitalizacion.index_elemento_medicamento: ", app_hospitalizacion.index_elemento_medicamento);
            },
            AddMedicamento: function () {

                if ($("#hora_aplicacion_medicamento").val() == ''){
                    swal({
                        icon: 'error',
                        title: 'Debe seleccionar una hora',
                        showConfirmButton: true
                    });
                }else if($('#select_medicamento').val() == '-1'){

                    swal({
                        icon: 'error',
                        title: 'Debe seleccionar un medicamento'
                    });

                }else{

                    medicamento = app_hospitalizacion.medicamento_seleccionado;

                    var quotient = Number(medicamento.fields.cantidad);

                    if(medicamento.fields.cantidad_por_unidad){
                        quotient = Math.floor(medicamento.fields.cantidad_total_unidades / medicamento.fields.cantidad_unidad);
                    }


                    if($('#select_unidades_medicamento').val() == 'unidad(es)' && $('#cantidad_medicamento').val() > quotient){
                        swal({
                            type: 'error',
                            title: 'La cantidad requerida no debe superar la cantidad disponible',
                            showConfirmButton: true
                        });

                    }else if ($('#select_unidades_medicamento').val() != 'unidad(es)' && $('#cantidad_medicamento').val() > Number(medicamento.fields.cantidad_total_unidades)){
                        swal({
                            type: 'error',
                            title: 'La cantidad requerida no deben superar la cantidad disponible',
                            showConfirmButton: true
                        });
                    }else{

                        app_hospitalizacion.all_medicamentos.forEach(elemento => {
                            if(app_hospitalizacion.medicamento_seleccionado.pk == elemento.pk){
                                elemento.fields.estado = false;
                            }
                        });



                        var cantidadElementos = 0;
                        app_hospitalizacion.all_medicamentos.forEach(elemento => {
                            if(app_hospitalizacion.medicamento_seleccionado.fields.codigo_inventario != null && elemento.fields.estado != false && elemento.fields.codigo_inventario == app_hospitalizacion.medicamento_seleccionado.fields.codigo_inventario){
                                cantidadElementos += 1;
                            }
                        });

                        if(cantidadElementos == 0) {
                            app_hospitalizacion.medicamentos_por_codigo[app_hospitalizacion.index_elemento_medicamento].fields.estado = false;
                        }

                        var tipo_unidades = '';

                        if($('#select_unidades_medicamento').val() == 'unidad(es)'){
                            tipo_unidades = 'unidad';
                        }else{
                            tipo_unidades = 'granel';
                        }

                        objeto = {
                            "hora": $("#hora_aplicacion_medicamento").val(),
                            "id_responsable": Number($("#select_responsable").val()),
                            "nombre_responsable": $("#select_responsable option:selected").html(),
                            "tipo_responsable": '',
                            "id_medicamento": medicamento.pk,
                            "nombre_medicamento": medicamento.fields.nombre,
                            "cantidad_requerida": $('#cantidad_medicamento').val(),
                            "unidades": $('#select_unidades_medicamento').val(),
                            "tipo_unidades": tipo_unidades,
                            "unidad_medida": $("#select_unidades_medicamento option:selected").html(),
                            "index_medicamentos_por_codigo": app_hospitalizacion.index_elemento_medicamento
                        }

                        app_hospitalizacion.usuarios_responsables.forEach((element) => {
                            if(element[0] == objeto.id_responsable){
                                objeto.tipo_responsable = element[5];
                            }
                        });

                        $('#cantidad_medicamento').val('1');
                        $('#select_unidades_medicamento').val('unidad(es)');
                        app_hospitalizacion.unidades_disponibles_medicamento = '';

                        app_hospitalizacion.medicamentos_agregados.push(objeto);

                        console.log("app_hospitalizacion.medicamentos_agregados: ", app_hospitalizacion.medicamentos_agregados);

                        $('#select_medicamento').val('-1');
                        $('#select_medicamento').select2();
                        app_hospitalizacion.countryValMedicamento = '-1';
                        app_hospitalizacion.modalValMedicamento = '-1';
                        $('#disponible_medicamento').val('');
                        $('#disponible_medicamento').attr('title', '');
                        app_hospitalizacion.cantidad_por_unidad_medicamento = false;
                        $("#hora_aplicacion_medicamento").val('');

                        $('#select_medicamento').select2();
                    }
                }
            },
            RmvMedicamento: function (i) {
                var id_medicamento_eliminar = app_hospitalizacion.medicamentos_agregados[i].id_medicamento;
                var index_medicamento_codigo = app_hospitalizacion.medicamentos_agregados[i].index_medicamentos_por_codigo;

                app_hospitalizacion.medicamentos_agregados.splice(i, 1);

                app_hospitalizacion.all_medicamentos.forEach(function (medicamento) {
                    if(medicamento.pk == id_medicamento_eliminar){
                        medicamento.fields.estado = true;
                    }
                });

                app_hospitalizacion.medicamentos_por_codigo[index_medicamento_codigo].fields.estado = true;

                $('#select_medicamento').select2();
            },
            AddInsumo: function () {
                if($('#select_insumo').val() == '-1'){

                    swal({
                        icon: 'error',
                        title: 'Debe seleccionar un insumo'
                    });

                }else{

                    insumo = app_hospitalizacion.insumo_seleccionado;



                    var quotient = Number(insumo.fields.cantidad);

                    if(insumo.fields.cantidad_por_unidad){
                        quotient = Math.floor(insumo.fields.cantidad_total_unidades / insumo.fields.cantidad_unidad);
                    }


                    if($('#select_unidades_insumo').val() == 'unidad(es)' && $('#cantidad_insumo').val() > quotient){
                        swal({
                            type: 'error',
                            title: 'La cantidad requerida no debe superar la cantidad disponible',
                            showConfirmButton: true
                        });

                    }else if ($('#select_unidades_insumo').val() != 'unidad(es)' && $('#cantidad_insumo').val() > Number(insumo.fields.cantidad_total_unidades)){
                        swal({
                            type: 'error',
                            title: 'La cantidad requerida no deben superar la cantidad disponible',
                            showConfirmButton: true
                        });
                    }else{

                        app_hospitalizacion.all_insumos.forEach(elemento => {
                            if(app_hospitalizacion.insumo_seleccionado.pk == elemento.pk){
                                elemento.fields.estado = false;
                            }
                        });



                        var cantidadElementos = 0;
                        app_hospitalizacion.all_insumos.forEach(elemento => {
                            if(app_hospitalizacion.insumo_seleccionado.fields.codigo_inventario != null && elemento.fields.estado != false && elemento.fields.codigo_inventario == app_hospitalizacion.insumo_seleccionado.fields.codigo_inventario){
                                cantidadElementos += 1;
                            }
                        });

                        if(cantidadElementos == 0) {
                            app_hospitalizacion.insumos_por_codigo[app_hospitalizacion.index_elemento_insumo].fields.estado = false;
                        }

                        objeto = {
                            "id_insumo": insumo.pk,
                            "nombre_insumo": insumo.fields.nombre,
                            "cantidad_requerida": $('#cantidad_insumo').val(),
                            "unidades": $('#select_unidades_insumo').val(),
                            "index_insumos_por_codigo": app_hospitalizacion.index_elemento_insumo
                        }

                        $('#cantidad_insumo').val('1');
                        $('#select_unidades_insumo').val('unidad(es)');
                        app_hospitalizacion.unidades_disponibles_insumo = '';

                        app_hospitalizacion.insumos_agregados.push(objeto);

                        $('#select_insumo').val('-1');
                        $('#select_insumo').select2();
                        app_hospitalizacion.countryValInsumo = '-1';
                        app_hospitalizacion.modalValInsumo = '-1';
                        $('#disponible_insumo').val('');
                        $('#disponible_insumo').attr('title', '');
                        app_hospitalizacion.cantidad_por_unidad_insumo = false;
                    }
                }
            },
            RmvInsumo: function (i) {
                var id_insumo_eliminar = app_hospitalizacion.insumos_agregados[i].id_insumo;
                var index_insumo_codigo = app_hospitalizacion.insumos_agregados[i].index_insumos_por_codigo;

                app_hospitalizacion.insumos_agregados.splice(i, 1);

                app_hospitalizacion.all_insumos.forEach(function (insumo) {
                    if(insumo.pk == id_insumo_eliminar){
                        insumo.fields.estado = true;
                    }
                });

                app_hospitalizacion.insumos_por_codigo[index_insumo_codigo].fields.estado = true;

                $('#select_insumo').select2();

            },
        }
    });

    function calcularValortypeInsumo() {
        var in_comming = $("#select_insumo").val()
        var array_coming = in_comming.split(",")
        var check_bool = JSON.parse(array_coming[8]);
        app_hospitalizacion.option_type_insumo = array_coming[4];
        app_hospitalizacion.seleccionador_tipo_insumo =!check_bool;
        if (!check_bool) {
            array_coming[10]= false
            $("#cantidad_por_unidad_insumo").val(1)
            if(array_coming[3] * array_coming[5] != array_coming[6]){

                $("#disponible_insumo").val(array_coming[3] +" unidades y una unidad de "+(array_coming[6] - (array_coming[3] * array_coming[5])))

            }else{
                $("#disponible_insumo").val(parseInt(array_coming[3]))
            }

        }
        else {

            if($("#cantidad_por_unidad_insumo").val() == 1){
                array_coming[10] = false
                if(array_coming[3] * array_coming[5] != array_coming[6]){

                    $("#disponible_insumo").val(parseInt(array_coming[3])+" unidades y una unidad de "+(array_coming[6] - (array_coming[3] * array_coming[5])))

                }else{
                    $("#disponible_insumo").val(parseInt(array_coming[3]))
                }
            }
            if($("#cantidad_por_unidad_insumo").val() == 2){
                array_coming[10] = true

                $("#disponible_insumo").val(array_coming[6]+" "+array_coming[4])

            }
        }

    }

    $(document).ready(function () {
        $('#select_responsable').select2();

        $('#select_insumo').select2();
        $.ajax({
            url: '/insumos/ajax/obtener_insumos/',
            data: {
              'tipo': 'adad'
            },
            dataType: 'json',
            success: function (data) {

               app_hospitalizacion.all_insumos = JSON.parse(data.all_insumos);

               app_hospitalizacion.all_insumos.forEach( (element, i) => {
                    element.fields.estado = true;

                    disponibilidad = "";

                    if(element.fields.cantidad != 0){
                        disponibilidad = element.fields.cantidad + " unidades";
                    }

                    if(element.fields.cantidad_por_unidad){
                        if(element.fields.cantidad != 0){
                            disponibilidad += " (" + element.fields.cantidad_unidad + " " + element.fields.unidad_medida + ')';
                        }
                        residuo = (parseFloat(element.fields.cantidad_total_unidades) % parseInt(element.fields.cantidad_unidad)).toFixed(1);

                        if(residuo != 0){
                            if(element.fields.cantidad != 0){
                                disponibilidad += " y ";
                            }
                            disponibilidad += "1 unidad ("+residuo+ " " + element.fields.unidad_medida + ')';
                        }
                    }

                    if(disponibilidad == ""){
                        disponibilidad= "0 unidades"
                    }

                    element.fields.descripcion = disponibilidad;
               });

               app_hospitalizacion.insumos_por_codigo = JSON.parse(data.elementos_por_codigo);
               app_hospitalizacion.codigos_insumos = data.codigos_elementos;
            }
        });

        $('#select_medicamento').select2();

        $.ajax({
            url: '/productos/ajax/obtener_medicamentos/',
            data: {
              'tipo': 'adad'
            },
            dataType: 'json',
            success: function (data) {

               app_hospitalizacion.all_medicamentos = JSON.parse(data.all_medicamentos);

               app_hospitalizacion.all_medicamentos.forEach( (element, i) => {
                    element.fields.estado = true;

                    disponibilidad = "";

                    if(element.fields.cantidad != 0){
                        disponibilidad = element.fields.cantidad + " unidades";
                    }

                    if(element.fields.cantidad_por_unidad){
                        if(element.fields.cantidad != 0){
                            disponibilidad += " (" + element.fields.cantidad_unidad + " " + element.fields.unidad_medida + ')';
                        }
                        residuo = (parseFloat(element.fields.cantidad_total_unidades) % parseInt(element.fields.cantidad_unidad)).toFixed(1);

                        if(residuo != 0){
                            if(element.fields.cantidad != 0){
                                disponibilidad += " y ";
                            }
                            disponibilidad += "1 unidad ("+residuo+ " " + element.fields.unidad_medida + ')';
                        }
                    }

                    if(disponibilidad == ""){
                        disponibilidad= "0 unidades"
                    }

                    element.fields.descripcion = disponibilidad;
               });

               app_hospitalizacion.medicamentos_por_codigo = JSON.parse(data.elementos_por_codigo);
               app_hospitalizacion.codigos_medicamentos = data.codigos_elementos;
               $('#select_medicamento').select2();
            }
        });

        var dateNow = new Date();
        $('#id_fecha_hospitalizacion').datetimepicker({
            format: 'DD/MM/YYYY',
            defaultDate:dateNow
        });

        $('#id_hora_manana').clockpicker({
            donetext: 'Ok',
            twelvehour: true,
            'default': 'now',
        });

        $('#id_hora_tarde').clockpicker({
            donetext: 'Ok',
            twelvehour: true,
            'default': 'now',
        });

        $('#hora_aplicacion_medicamento').clockpicker({
            donetext: 'Ok',
            twelvehour: true,
            'default': 'now',
        });

        var med = '{{array_medicamentos|safe}}';
        var usuarios = '{{array_usuarios|safe}}';

        //console.log("med: ", med);

        //console.log("app_hospitalizacion.medicamentos: ", app_hospitalizacion.medicamentos);

        app_hospitalizacion.medicamentos = JSON.parse(med);
        //app_hospitalizacion.all_medicamentos = JSON.parse(med);
        app_hospitalizacion.usuarios_responsables = JSON.parse(usuarios);

        //console.log("app_hospitalizacion.medicamentos: ", app_hospitalizacion.medicamentos);
        //console.log("app_hospitalizacion.usuarios_responsables: ", app_hospitalizacion.usuarios_responsables);

        app_hospitalizacion.hospitalizaciones_mascota = JSON.parse('{{hospitalizaciones_mascota|safe}}')
    });

    $("#select_insumo").change(function () {
        var index_insumo_seleccionado = $("#select_insumo option:selected").val();

        if(index_insumo_seleccionado != '-1'){
            app_hospitalizacion.index_elemento_insumo = index_insumo_seleccionado;
            var codigo_insumo_seleccionado = app_hospitalizacion.insumos_por_codigo[index_insumo_seleccionado].fields.codigo_inventario;

            if(app_hospitalizacion.codigos_insumos.includes(codigo_insumo_seleccionado)){
                app_hospitalizacion.nombre_elemento_modal = $("#select_insumo option:selected").text();
                $('#myModalInsumo').modal('show');
                app_hospitalizacion.codigo_repetido_insumo = codigo_insumo_seleccionado;
                $(this).val(app_hospitalizacion.countryValInsumo);
                app_hospitalizacion.modalValInsumo = index_insumo_seleccionado;
            }else{
                app_hospitalizacion.countryValInsumo = index_insumo_seleccionado;
                app_hospitalizacion.all_insumos.forEach(element => {
                    if(element.pk ==  app_hospitalizacion.insumos_por_codigo[index_insumo_seleccionado].pk){
                        app_hospitalizacion.unidades_insumo = element.fields.unidad_medida;
                        app_hospitalizacion.cantidad_por_unidad_insumo = element.fields.cantidad_por_unidad;
                        app_hospitalizacion.id_insumo_seleccionado = element.pk;
                        app_hospitalizacion.insumo_seleccionado = element;
                        $('#disponible_insumo').val(element.fields.descripcion);
                        $('#disponible_insumo').attr('title', element.fields.descripcion);
                    }
                })
            }
        }else{
            $('#disponible_insumo').val('');
            $('#disponible_insumo').attr('title', '');
            $("#cantidad_insumo").val(1);
            $("#cantidad_por_unidad_insumo").val('1');
            app_hospitalizacion.cantidad_por_unidad_insumo = false;
        }

    });

    $("#select_medicamento").change(function () {
        var index_medicamento_seleccionado = $("#select_medicamento option:selected").val();

        if(index_medicamento_seleccionado != '-1'){
            app_hospitalizacion.index_elemento_medicamento = index_medicamento_seleccionado;
            var codigo_medicamento_seleccionado = app_hospitalizacion.medicamentos_por_codigo[index_medicamento_seleccionado].fields.codigo_inventario;

            if(app_hospitalizacion.codigos_medicamentos.includes(codigo_medicamento_seleccionado)){
                app_hospitalizacion.nombre_elemento_modal = $("#select_medicamento option:selected").text();
                $('#myModalMedicamento').modal('show');
                app_hospitalizacion.codigo_repetido_medicamento = codigo_medicamento_seleccionado;
                $(this).val(app_hospitalizacion.countryValMedicamento);
                app_hospitalizacion.modalValMedicamento = index_medicamento_seleccionado;
            }else{
                app_hospitalizacion.countryValMedicamento = index_medicamento_seleccionado;
                app_hospitalizacion.all_medicamentos.forEach(element => {
                    if(element.pk ==  app_hospitalizacion.medicamentos_por_codigo[index_medicamento_seleccionado].pk){
                        app_hospitalizacion.unidades_medicamento = element.fields.unidad_medida;
                        app_hospitalizacion.cantidad_por_unidad_medicamento = element.fields.cantidad_por_unidad;
                        app_hospitalizacion.id_medicamento_seleccionado = element.pk;
                        app_hospitalizacion.medicamento_seleccionado = element;
                        $('#disponible_medicamento').val(element.fields.descripcion);
                        $('#disponible_medicamento').attr('title', element.fields.descripcion);
                    }
                })
            }
        }else{
            $('#disponible_medicamento').val('');
            $('#disponible_medicamento').attr('title', '');
            $("#cantidad_medicamento").val(1);
            $("#cantidad_por_unidad_medicamento").val('1');
            app_hospitalizacion.cantidad_por_unidad_medicamento = false;
        }

    });

    function cargarMedicamento() {
        app_hospitalizacion.step_unidades = 1;
        $("#cantidad_requerida").val(1);
        app_hospitalizacion.all_medicamentos.forEach( (element, i) => {
            if(element[0] == $("#select_medicamento").val()){
                app_hospitalizacion.medicamento_seleccionado = element;
                var unidad_medida= element[7];
                var cantidad_por_unidad = element[5];
                var cantidad = element[3];
                var cantidad_total_unidades = element[9];
                var cantidad_unidad = element[8];
                if(cantidad_por_unidad){
                    app_hospitalizacion.unidades_medicamento_seleccionado = unidad_medida;
                    var quotient = Math.floor(cantidad_total_unidades / cantidad_unidad);
                    var remainder = cantidad_total_unidades % cantidad_unidad;

                    if( remainder == 0 ){
                        app_hospitalizacion.disponibilidad_medicamento_seleccionado = quotient + " unidades ("+ cantidad_unidad + " "+ unidad_medida +" c/u)";
                    }else{
                        app_hospitalizacion.disponibilidad_medicamento_seleccionado = quotient + " unidades ("+ cantidad_unidad + " "+ unidad_medida +" c/u) y 1 unidad (" + remainder + " "+ unidad_medida +")";
                    }
                }else {
                    app_hospitalizacion.unidades_medicamento_seleccionado = '';
                    app_hospitalizacion.disponibilidad_medicamento_seleccionado = cantidad + " unidades";
                }

            }
        });
    }

    $("#select_unidades_medicamento").change(function () {
        if($("#select_unidades_medicamento").val() == 'unidad(es)'){
            $("#cantidad_medicamento").val(1);
            app_hospitalizacion.step_unidades = 1;
        }else{
            $("#cantidad_medicamento").val(1);
            app_hospitalizacion.step_unidades = 0.1;
        }
    })

    $("#select_unidades_insumo").change(function () {
        if($("#select_unidades_insumo").val() == 'unidad(es)'){
            $("#cantidad_insumo").val(1);
            app_hospitalizacion.step_unidades_insumo = 1;
        }else{
            $("#cantidad_insumo").val(1);
            app_hospitalizacion.step_unidades_insumo = 0.1;
        }
    })

    function validar_fecha_hospitalizacion() {

        var fecha_invalida = false;

        var fecha = $('#id_fecha_hospitalizacion').val();
        var fecha_parts = fecha.split('/');
        var fecha_date = new Date(fecha_parts[2], fecha_parts[1] - 1, fecha_parts[0]);
        //console.log("fecha_date: ", fecha_date);
        app_hospitalizacion.hospitalizaciones_mascota.forEach(element => {
            var element_parts = element[1].split('-');
            var element_date = new Date(element_parts[0], element_parts[1] - 1, element_parts[2]);
            //console.log("element_date: ", element_date.toDateString());
            if (element_date.toDateString() == fecha_date.toDateString()){
                fecha_invalida = true;
            }
        })
        return fecha_invalida;
    }

    $("#boton_registrar").click(function () {
        //console.log("Click en registrarrrrrrrrrrrrrrrr!!!!!!");

        if($("#id_fecha_hospitalizacion").val() == ''){
            swal({
                icon: 'error',
                title: 'Debe seleccionar una fecha',
                button: 'Ok'
            });
            setTimeout(function(){
                $("#pageLoader").hide();
                $('.button_save').removeAttr('disabled');
            }, 500);
        }else if(validar_fecha_hospitalizacion()){
            swal({
                type: 'error',
                title: 'Esta mascota ya tiene registrada una hospitalizacion para la fecha seleccionada',
                showConfirmButton: true
            });
            setTimeout(function () {
                $("#pageLoader").hide();
                $('.button_save').removeAttr('disabled');
            }, 500);
        }else{

            setTimeout(function(){
                $("#pageLoader").hide();
                $('.button_save').removeAttr('disabled');
            }, 500);

            var csrftoken = $('[name="csrfmiddlewaretoken"]').val();

            var values = {
                "fecha_hospitalizacion": $("#id_fecha_hospitalizacion").val(),
                'id_hospitalizacion_anterior': '{{id_hospitalizacion_anterior}}',
                'medicamentos_agregados': app_hospitalizacion.medicamentos_agregados,
                'hora_manana': $("#id_hora_manana").val(),
                'hora_tarde': $("#id_hora_tarde").val(),
                'temperatura_manana': $("#id_temperatura_manana").val(),
                'temperatura_tarde': $("#id_temperatura_tarde").val(),
                'frecuencia_manana': $("#id_frecuencia_manana").val(),
                'frecuencia_tarde': $("#id_frecuencia_tarde").val(),
                'mucosas_manana': $("#id_mucosas_manana").val(),
                'mucosas_tarde': $("#id_mucosas_tarde").val(),
                'apetito_manana': $("#id_apetito_manana").val(),
                'apetito_tarde': $("#id_apetito_tarde").val(),
                'sed_manana': $("#id_sed_manana").val(),
                'sed_tarde': $("#id_sed_tarde").val(),
                'estado_animo_manana': $("#id_estado_animo_manana").val(),
                'estado_animo_tarde': $("#id_estado_animo_tarde").val(),
                'consistencia_fecal_manana': $("#id_consistencia_fecal_manana").val(),
                'consistencia_fecal_tarde': $("#id_consistencia_fecal_tarde").val(),
                'vomito_manana': $("#id_vomito_manana").val(),
                'vomito_tarde': $("#id_vomito_tarde").val(),
                'orina_manana': $("#id_orina_manana").val(),
                'orina_tarde': $("#id_orina_tarde").val(),
                'pronostico_manana': $("#id_pronostico_manana").val(),
                'pronostico_tarde': $("#id_pronostico_tarde").val(),
                'observaciones_manana': $("#id_observaciones_manana").val(),
                'observaciones_tarde': $("#id_observaciones_tarde").val(),
                'insumos_seleccionados': app_hospitalizacion.insumos_agregados,
            };

            //console.log("values: ", values);

            $.ajax({
                type:"POST",
                url:"/citas/ajax_nueva_hospitalizacion/",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    "X-CSRFToken": csrftoken
                },
                async: false,
                processData: false,
                data: JSON.stringify(values),
                success: function(data){
                    window.location.replace("/mascotas/detalle_mascota/"+'{{mascota.id}}'+"/");
                }
            });

        }
    })

</script>
{% endblock %}