{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <!--[if lt IE 9]>
		<script src="{% static 'js/html5shiv.min.js' %}"></script>
		<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->

    <style>
        .panel-estetica > .panel-heading {
            color: #94919d;
            background-color: #b8b3ff;
            border-color: #b8b3ff;
        }

        .panel-vacunacion > .panel-heading {
            color: #de6f4e;
            background-color: #ffd2a8;
            border-color: #ffd2a8;
        }

        .panel-desparasitacion > .panel-heading {
            color: #ff5d86;
            background-color: #ffcae8;
            border-color: #ffcae8;
        }

        .panel-guarderia > .panel-heading {
            color: #de6f4e;
            background-color: #ffd2a8;
            border-color: #ffd2a8;
        }

        .panel:hover {
            box-shadow: 0 0 11px rgba(33, 33, 33, .2);
        }

        .panel {
            cursor: pointer;
        }

        .descripcion_formula {
            display: none;
        }

        .content {
            padding: 0px;
        }

        .contenido_examen {
            display: flex;
            flex-wrap: wrap;
        }

        .content_examen {
            padding: 0px;
            width: 250px;
        }

        .contenido_paciente {
            display: flex;
            flex-wrap: wrap;
        }

        .content_paciente {
            width: 250px;
        }

        .detalle_formula {
            display: none;
            height: 600px;
            overflow: visible;
            border: none;
        }
    </style>
</head>

<body>
<div id="todo">
<div class="encabezado" style="display: flex; justify-content: space-between; margin: 20px; margin-bottom: 30px;">
    <div class="info_veterinaria">
        {% if mi_veterinaria.foto %}
            <img id="logo_veterinaria" src='{{ mi_veterinaria.foto.url }}' class="m-b-20" alt="" width="200">
        {% endif %}
        <ul class="list-unstyled">
            <li>{{ mi_veterinaria.nombre }}</li>
            {% if mi_veterinaria.nit %}
                <li>Nit: {{ mi_veterinaria.nit }}</li>
            {% endif %}
            <li>{{ mi_veterinaria.direccion }} ({{ mi_veterinaria.ciudad }})</li>
            <li>{{ mi_veterinaria.telefono }} - {{ mi_veterinaria.celular }}</li>
        </ul>
    </div>
    <div class="info_cliente">
        <div class="titulo_factura">
            <h3 class="text-uppercase">Historia médica</h3>
            <ul class="list-unstyled">
                <li>Fecha: <span>{{ fecha_hoy }}</span></li>
            </ul>
        </div>
        <div class="datos_mascota" style="margin-top: 20px;">
            <ul class="list-unstyled">
                <li>Cliente:<span
                        style="padding-left: 80px;"><strong>{{ mi_mascota.cliente.nombreCompleto }}</strong></span></li>
                <li>{{ mi_mascota.cliente.tipo_documento }}: <span
                        style="padding-left: 106px;">{{ mi_mascota.cliente.numero_documento }}</span></li>
                <li>Mascota: <span style="padding-left: 66px;">{{ mi_mascota.nombre }}</span></li>
                {% if mi_mascota.numero_carnet %}
                    <li>Carnet: <span style="padding-left: 78px;">{{ mi_mascota.numero_carnet }}</span></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="historia" id="app_detalle_impresion">
    {% for historia in historial_mascota %}
        {% if historia.seguimiento %}
            <div class="panel panel-default panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                    Seguimiento
                </h3>
              </div>
              <div class="panel-body" style="display: flex;">
                  <div class="info_historia" style="width: 250px; padding: 5px; border-right: solid #31708f; padding-right: 10px;">
                      <p>Fecha: {{ historia.fecha }}</p>
                      <p>Registrada por: {{ historia.registrado_por }}</p>
                  </div>
                  <div class="comentarios_historia" style="width: 100%;padding: 5px; padding-left: 10px;">
                    <p>{{ historia.comentarios }}</p>
                  </div>
              </div>
            </div>
        {% endif %}
        {% if historia.tipo_estetica %}
            <div class="panel panel-default panel-estetica">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Estetica: {{ historia.tipo_estetica }}
                    </h3>
                </div>
                <div class="panel-body" style="display: flex;">
                    <div class="info_historia"
                         style="width: 250px; padding: 5px; border-right: solid #5352d6; padding-right: 10px;">
                        <p>Fecha: {{ historia.fecha }}</p>
                    </div>
                    <div class="comentarios_historia" style="width: 100%;padding: 5px; padding-left: 10px;">
                        {% if historia.tipo_estetica %}
                            <p><b>Tipo de estetica: </b>{{ historia.tipo_estetica }}</p>
                        {% endif %}
                        {% if historia.tipo_corte %}
                            <p><b>Tipo de corte: </b>{{ historia.tipo_corte }}</p>
                        {% endif %}
                        {% if historia.otras_instrucciones %}
                            <p><b>Otras instrucciones: </b>{{ historia.otras_instrucciones }}</p>
                        {% endif %}
                        {% if historia.veterinario %}
                            <p><b>Responsable: </b>{{ historia.veterinario }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if historia.hospitalizacion %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: flex; justify-content: space-between;">
                        Hospitalizacion
                    </h3>
                </div>
                <div class="panel-body" style="display: flex;">
                    <div class="info_historia" style="width: 250px; padding: 5px; border-right: solid #31708f;">
                        <p>Fecha: {{ historia.fecha_hospitalizacion }}</p>
                        <p>Registrada por: {{ historia.historia_clinica.creada_por }}</p>
                    </div>
                    <div class="comentarios_historia" style="width: 100%;padding: 5px; padding-left: 10px;">
                        <div class="panel panel-info">
                            <div class="panel-heading">Mañana</div>
                            <div class="panel-body">
                                {% if historia.hora_manana %}
                                    <span class="sintomas_hospitalizacion"><b>Hora: </b>{{ historia.hora_manana }}</span>
                                {% endif %}
                                {% if historia.temperatura_manana %}
                                    <span class="sintomas_hospitalizacion"><b>Temperatura: </b>{{ historia.temperatura_manana }}</span>
                                {% endif %}
                                {% if historia.frecuencia_manana %}
                                    <span class="sintomas_hospitalizacion"><b>Frecuencia cardiaca: </b>{{ historia.frecuencia_manana }}</span>
                                {% endif %}
                                {% if historia.mucosas_manana %}
                                    <span class="sintomas_hospitalizacion"><b>Color mucosas: </b>{{ historia.mucosas_manana }}</span>
                                {% endif %}
                                {% if historia.apetito_manana %}
                                    <span class="sintomas_hospitalizacion"><b>Apetito: </b>{{ historia.apetito_manana }}</span>
                                {% endif %}
                                {% if historia.sed_manana %}
                                    <span class="sintomas_hospitalizacion"><b>Sed: </b>{{ historia.sed_manana }}</span>
                                {% endif %}
                                {% if historia.estado_animo_manana %}
                                    <span class="sintomas_hospitalizacion"><b>Estado animo: </b>{{ historia.estado_animo_manana }}</span>
                                {% endif %}
                                {% if historia.consistencia_fecal_manana %}
                                    <span class="sintomas_hospitalizacion"><b>Consistencia fecal: </b>{{ historia.consistencia_fecal_manana }}</span>
                                {% endif %}
                                {% if historia.vomito_manana %}
                                    <span class="sintomas_hospitalizacion"><b>Vomito: </b>{{ historia.vomito_manana }}</span>
                                {% endif %}
                                {% if historia.orina_manana %}
                                    <span class="sintomas_hospitalizacion"><b>Produccion de orina: </b>{{ historia.orina_manana }}</span>
                                {% endif %}
                                {% if historia.pronostico_manana %}
                                    <span class="sintomas_hospitalizacion"><b>Pronostico: </b>{{ historia.pronostico_manana }}</span>
                                {% endif %}
                                {% if historia.observaciones_manana %}
                                    <span class="sintomas_hospitalizacion"><b>Observaciones: </b>{{ historia.observaciones_manana }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">Tarde</div>
                            <div class="panel-body">
                                {% if historia.hora_tarde %}
                                    <span class="sintomas_hospitalizacion"><b>Hora: </b>{{ historia.hora_tarde }}</span>
                                {% endif %}
                                {% if historia.temperatura_tarde %}
                                    <span class="sintomas_hospitalizacion"><b>Temperatura: </b>{{ historia.temperatura_tarde }}</span>
                                {% endif %}
                                {% if historia.frecuencia_tarde %}
                                    <span class="sintomas_hospitalizacion"><b>Frecuencia cardiaca: </b>{{ historia.frecuencia_tarde }}</span>
                                {% endif %}
                                {% if historia.mucosas_tarde %}
                                    <span class="sintomas_hospitalizacion"><b>Color mucosas: </b>{{ historia.mucosas_tarde }}</span>
                                {% endif %}
                                {% if historia.apetito_tarde %}
                                    <span class="sintomas_hospitalizacion"><b>Apetito: </b>{{ historia.apetito_tarde }}</span>
                                {% endif %}
                                {% if historia.sed_tarde %}
                                    <span class="sintomas_hospitalizacion"><b>Sed: </b>{{ historia.sed_tarde }}</span>
                                {% endif %}
                                {% if historia.estado_animo_tarde %}
                                    <span class="sintomas_hospitalizacion"><b>Estado animo: </b>{{ historia.estado_animo_tarde }}</span>
                                {% endif %}
                                {% if historia.consistencia_fecal_tarde %}
                                    <span class="sintomas_hospitalizacion"><b>Consistencia fecal: </b>{{ historia.consistencia_fecal_tarde }}</span>
                                {% endif %}
                                {% if historia.vomito_tarde %}
                                    <span class="sintomas_hospitalizacion"><b>Vomito: </b>{{ historia.vomito_tarde }}</span>
                                {% endif %}
                                {% if historia.orina_tarde %}
                                    <span class="sintomas_hospitalizacion"><b>Produccion de orina: </b>{{ historia.orina_tarde }}</span>
                                {% endif %}
                                {% if historia.pronostico_tarde %}
                                    <span class="sintomas_hospitalizacion"><b>Pronostico: </b>{{ historia.pronostico_tarde }}</span>
                                {% endif %}
                                {% if historia.observaciones_tarde %}
                                    <span class="sintomas_hospitalizacion"><b>Observaciones: </b>{{ historia.observaciones_tarde }}</span>
                                {% endif %}
                            </div>
                        </div>
                        {% if historia.id in medicamentos_aplicados_hospitalizaciones_id_historias %}
                            <div class="panel panel-info">
                                <div class="panel-heading">Medicamentos aplicados</div>
                                <div class="panel-body">
                                    <div class="table-responsive horizontal-scroll">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th class="text-center">Hora</th>
                                                <th class="text-center">Responsable</th>
                                                <th class="text-center">Medicamento</th>
                                                <th class="text-center" colspan="2">Cantidad aplicada</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for medicamento_aplicado in medicamentos_aplicados_hospitalizaciones %}
                                                {% if medicamento_aplicado.hospitalizacion.id == historia.id %}
                                                    <tr>
                                                        <td class="text-center">{{ medicamento_aplicado.hora }}</td>
                                                        <td class="text-center">{{ medicamento_aplicado.responsable.first_name }} {{ medicamento_aplicado.responsable.segundo_nombre }} {{ medicamento_aplicado.responsable.last_name }} {{ medicamento_aplicado.responsable.segundo_apellido }}</td>
                                                        <td class="text-center">{{ medicamento_aplicado.medicamento.nombre }}</td>
                                                        <td class="text-center"
                                                            colspan="2">{{ medicamento_aplicado.cantidad_requerida }} {{ medicamento_aplicado.unidad_medida }}</td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if historia.historia %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: flex; justify-content: space-between;">
                        {% if historia.motivo == 'Estado inicial' %}
                            {% if historia.tratamiento %}
                                {{ historia.tratamiento }}
                            {% else %}
                                Cumplimiento de cita médica
                            {% endif %}
                        {% elif historia.motivo == 'Tratamiento' %}
                            {{ historia.tratamiento }}
                        {% endif %}
                    </h3>
                </div>
                <div class="panel-body" style="display: flex;">
                    <div class="info_historia" style="width: 250px; padding: 5px; border-right: solid #31708f;">
                        <p>Fecha: {{ historia.fecha }}</p>
                        <p>Registrada por: {{ historia.creada_por }}</p>
                    </div>
                    <div class="comentarios_historia" style="width: 100%;padding: 5px; padding-left: 10px;">
                        <div class="panel panel-info">
                            <div class="panel-heading">Motivo de consulta</div>
                            <div class="panel-body">
                                <div class="row">
                                {% if historia.motivo_cita %}
                                    <div class="col-md-3">
                                        <div class="content">
                                            <p><b>Motivo de Cita : </b>{{ historia.motivo_cita }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if historia.descripcion %}
                                    <div class="col-md-3">
                                        <div class="content">
                                            <p><b>Estado de la mascota: </b>{{ historia.descripcion }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if historia.tipo_alimento %}
                                    <div class="col-md-3">
                                        <div class="content">
                                            <p><b>Tipo de alimento: </b>{{ historia.tipo_alimento }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if historia.racion_alimento %}
                                    <div class="col-md-3">
                                        <div class="content">
                                            <p><b>Ración alimento: </b>{{ historia.racion_alimento }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if historia.vacunacion %}
                                    <div class="col-md-3">
                                        <div class="content">
                                            <p><b>Vacunación: </b>{{ historia.vacunacion }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if historia.desparasitacion %}
                                    <div class="col-md-3">
                                        <div class="content">
                                            <p><b>Desparasitación: </b>{{ historia.desparasitacion }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if historia.heces %}
                                    <div class="col-md-3">
                                        <div class="content">
                                            <p><b>Heces: </b>{{ historia.heces }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if historia.orina %}
                                    <div class="col-md-3">
                                        <div class="content">
                                            <p><b>Orina: </b>{{ historia.orina }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if historia.frecuencia_cardiaca or historia.frecuencia_respiratoria or historia.temperatura or historia.pulso or historia.peso or historia.actitud or historia.comentarios_examen_clinico  %}
                        <div class="panel panel-info">
                            <div class="panel-heading">Examen clinico</div>
                            <div class="panel-body">
                                <div class="row">
                                {% if historia.frecuencia_cardiaca %}
                                    <div class="col-md-4">
                                        <div class="content_examen">
                                            <p><b>Frecuencia cardíaca: </b>{{ historia.frecuencia_cardiaca }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if historia.frecuencia_respiratoria %}
                                    <div class="col-md-4">
                                        <div class="content_examen">
                                            <p><b>Frecuencia respiratoria: </b>{{ historia.frecuencia_respiratoria }}
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if historia.temperatura %}
                                    <div class="col-md-4">
                                        <div class="content_examen">
                                            <p><b>Temperatura: </b>{{ historia.temperatura }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if historia.tiempo_llenado_capilar %}
                                    <div class="col-md-4">
                                        <div class="content_examen">
                                            <p><b>Tiempo de llenado capilar: </b>{{ historia.tiempo_llenado_capilar }}
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if historia.pulso %}
                                    <div class="col-md-3">
                                        <div class="content_examen">
                                            <p><b>Pulso: </b>{{ historia.pulso }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if historia.peso %}
                                    <div class="col-md-4">
                                        <div class="content_examen">
                                            <p><b>Peso: </b>{{ historia.peso }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if historia.actitud %}
                                    <div class="col-md-4">
                                        <div class="content_examen">
                                            <p><b>Actitud: </b>{{ historia.actitud }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if historia.estado_corporal %}
                                    <div class="col-md-4">
                                        <div class="content_examen">
                                            <p><b>Estado corporal: </b>{{ historia.estado_corporal }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                    {% if historia.sistema_linfatico %}
                                        <div class="col-md-4">
                                            <div class="content">
                                                <p><b>Sistema linfatico</b></p>
                                                <p>{{ historia.sistema_linfatico }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if historia.sistema_tegumentario %}
                                        <div class="col-md-4">
                                            <div class="content">
                                                <p><b>Sistema tegumentario</b></p>
                                                <p>{{ historia.sistema_tegumentario }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if historia.sistema_cardiovascular %}
                                        <div class="col-md-4">
                                            <div class="content">
                                                <p><b>Sistema cardiovascular</b></p>
                                                <p>{{ historia.sistema_cardiovascular }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if historia.sistema_respiratorio %}
                                        <div class="col-md-4">
                                            <div class="content">
                                                <p><b>Sistema respiratorio</b></p>
                                                <p>{{ historia.sistema_respiratorio }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if historia.sistema_digestivo %}
                                        <div class="col-md-4">
                                            <div class="content">
                                                <p><b>Sistema digestivo</b></p>
                                                <p>{{ historia.sistema_digestivo }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if historia.sistema_musculoesqueletico %}
                                        <div class="col-md-4">
                                            <div class="content">
                                                <p><b>Sistema musculoesqueletico</b></p>
                                                <p>{{ historia.sistema_musculoesqueletico }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if historia.sistema_nervioso %}
                                        <div class="col-md-4">
                                            <div class="content">
                                                <p><b>Sistema nervioso</b></p>
                                                <p>{{ historia.sistema_nervioso }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if historia.sistema_urinario %}
                                        <div class="col-md-4">
                                            <div class="content">
                                                <p><b>Sistema urinario</b></p>
                                                <p>{{ historia.sistema_urinario }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if historia.sistema_respiratorio %}
                                        <div class="col-md-4">
                                            <div class="content">
                                                <p><b>Sistema respiratorio</b></p>
                                                <p>{{ historia.sistema_respiratorio }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if historia.sistema_reproductivo %}
                                        <div class="col-md-4">
                                            <div class="content">
                                                <p><b>Sistema reproductivo</b></p>
                                                <p>{{ historia.sistema_reproductivo }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if historia.comentarios_examen_clinico %}
                                        <div class="col-md-4">
                                            <div class="content">
                                                <p><b>Comentarios</b></p>
                                                <p>{{ historia.comentarios_examen_clinico }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if historia.listado_problemas %}
                            <div class="panel panel-info">
                                <div class="panel-heading">Listado de problemas</div>
                                <div class="panel-body">
                                    <p>{{ historia.listado_problemas }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if historia.diagnostico_diferencial %}
                            <div class="panel panel-info">
                                <div class="panel-heading">Diagnóstico diferencial</div>
                                <div class="panel-body">
                                    <p>{{ historia.diagnostico_diferencial }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if historia.diagnostico_presuntivo %}
                            <div class="panel panel-info">
                                <div class="panel-heading">Diagnóstico presuntivo</div>
                                <div class="panel-body">
                                    <p>{{ historia.diagnostico_presuntivo }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if historia.examenes_laboratorio %}
                            <div class="panel panel-info">
                                <div class="panel-heading">Exámenes de laboratorio</div>
                                <div class="panel-body">
                                    <p>{{ historia.examenes_laboratorio }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if historia.descripcion_procedimiento or historia.descripcion_inyectologia or historia.id in inyectologias_id_historias or historia.id in procedimientos_id_historias %}
                            <div class="panel panel-info">
                                <div class="panel-heading">Procedimientos</div>
                                <div class="panel-body">
                                    {% if historia.id in procedimientos_id_historias %}
                                    <p>
                                        <b>Procedimientos: </b>
                                        {% for procedimiento in procedimientos_mascota %}
                                            {% if procedimiento.historia_clinica.id == historia.id %}
                                            <span class="label label-info">{{ procedimiento.area_consulta.nombre }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                    {% endif %}
                                    {% if historia.descripcion_procedimiento %}
                                    <p><b>Descripción: </b>{{ historia.descripcion_procedimiento }}</p>
                                    {% endif %}
                                    {% if historia.id in inyectologias_id_historias %}
                                    <div class="panel panel-info">
                                        <div class="panel-heading">Inyectologia</div>
                                        <div class="panel-body">
                                            {% if historia.descripcion_inyectologia %}
                                            <p><b>Descripción: </b>{{ historia.descripcion_inyectologia }}</p>
                                            {% endif %}
                                            <div class="table-responsive horizontal-scroll">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th class="text-center">Medicamento</th>
                                                        <th class="text-center">Cantidad</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for inyectologia in inyectologias %}
                                                        {% if inyectologia.historia_clinica.id == historia.id %}
                                                            <tr>
                                                                <td class="text-center">{{ inyectologia.medicamento.nombre }}</td>
                                                                <td class="text-center">{{ inyectologia.cantidad }} {% if inyectologia.unidad_medida == 'fraccion' %}{{ inyectologia.medicamento.unidad_medida }}{% else %}unidad(es){% endif %}</td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if historia.imagenes_diagnosticas %}
                            <div class="panel panel-info">
                                <div class="panel-heading">Imágenes diagnósticas</div>
                                <div class="panel-body">
                                    <p>{{ historia.imagenes_diagnosticas }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if historia.diagnostico_definitivo %}
                            <div class="panel panel-info">
                                <div class="panel-heading">Diagnóstico definitivo</div>
                                <div class="panel-body">
                                    <p>{{ historia.diagnostico_definitivo }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if historia.observaciones_tratamiento %}
                            <div class="panel panel-info">
                                <div class="panel-heading">Tratamiento</div>
                                <div class="panel-body">
                                    <p>{{ historia.observaciones_tratamiento }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if historia.pronostico %}
                            <div class="panel panel-info">
                                <div class="panel-heading">Pronóstico</div>
                                <div class="panel-body">
                                    <p>{{ historia.pronostico }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if historia.notas %}
                            <div class="panel panel-info">
                                <div class="panel-heading">Notas</div>
                                <div class="panel-body">
                                    <p>{{ historia.notas }}</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if historia.tipo == 'Cirugia' %}
            <div class="panel panel-default panel-cirugia">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Cirugia
                    </h3>
                </div>
                <div class="panel-body" style="display: flex;">
                    <div class="info_historia" style="width: 250px; padding: 5px; border-right: solid #31708f;">
                        <p>Fecha: {{ historia.fecha }}</p>
                        <p>Registrada por: {{ historia.historia_clinica.creada_por }}</p>
                    </div>
                    <div class="comentarios_historia" style="width: 100%;padding: 5px; padding-left: 10px;">
                        <p><b>Procedimiento quirurgico: </b>{{ historia.procedimiento_quirurgico }}</p>
                        <p><b>Abordaje: </b>{{ historia.abordaje }}</p>
                        <p><b>Diagnostico quirurgico: </b>{{ historia.diagnostico_quirurgico }}</p>
                        {% if historia.id in medicamentos_aplicados_cirugias_id_historias %}
                        <div class="panel panel-info">
                          <div class="panel-heading">Medicamentos aplicados</div>
                          <div class="panel-body">
                              <div class="table-responsive horizontal-scroll">
                                  <table class="table" >
                                    <thead>
                                        <tr>
                                            <th class="text-center">Medicamento</th>
                                            <th class="text-center" colspan="2">Cantidad aplicada</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for medicamento_aplicado in medicamentos_aplicados_cirugias %}
                                          {% if medicamento_aplicado.cirugia.id == historia.id %}
                                            <tr>
                                                <td class="text-center">{{medicamento_aplicado.medicamento.nombre}}</td>
                                                <td class="text-center" colspan="2">
                                                    {{medicamento_aplicado.cantidad_requerida}}
                                                    {% if medicamento_aplicado.unidad_medida == 'fraccion' %}
                                                        {{medicamento_aplicado.medicamento.unidad_medida}}
                                                    {% else %}
                                                        unidad(es)
                                                    {% endif %}
                                                </td>
                                            </tr>
                                          {% endif %}
                                        {% endfor %}
                                    </tbody>
                                  </table>
                              </div>
                          </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if historia.tipo == 'Vacunacion' %}
            <div class="panel panel-default panel-vacunacion">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Vacunación
                    </h3>
                </div>
                <div class="panel-body" style="display: flex;">
                    <div class="info_historia" style="width: 250px; padding: 5px; border-right: solid #de6f4e;">
                        <p>Fecha: {{ historia.fecha }}</p>
                        <p>{{ historia.veterinario }}</p>
                    </div>
                    <div class="comentarios_historia" style="width: 100%;padding: 5px; padding-left: 10px;">
                        Vacunas aplicadas:
                        <ul>
                            {% for vacunacion_aplicada in vacunaciones_aplicadas %}
                                {% if vacunacion_aplicada.vacunacion.id == historia.id %}
                                    <li>
                                        <b>{{ vacunacion_aplicada.vacuna.nombre }}</b> {{ vacunacion_aplicada.cantidad }} {{ vacunacion_aplicada.unidad }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% if historia.descripcion %}
                            Descripción: {{ historia.descripcion }}
                        {% endif %}
                        {% if historia.observaciones %}
                            Observaciones: {{ historia.observaciones }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if historia.tipo == 'Desparasitacion' %}
            <div class="panel panel-default panel-desparasitacion">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Desparasitación
                    </h3>
                </div>
                <div class="panel-body" style="display: flex;">
                    <div class="info_historia" style="width: 250px; padding: 5px; border-right: solid #ff5d86;">
                        <p>Fecha: {{ historia.fecha }}</p>
                        <p>{{ historia.veterinario }}</p>
                    </div>
                    <div class="comentarios_historia" style="width: 100%;padding: 5px; padding-left: 10px;">
                        Desparasitantes aplicados:
                        <ul>
                            {% for desparasitacion_aplicada in desparasitaciones_aplicadas %}
                                {% if desparasitacion_aplicada.desparasitacion.id == historia.id %}
                                    <li>
                                        <b>{{ desparasitacion_aplicada.desparasitante.nombre }}</b> {{ desparasitacion_aplicada.cantidad }} {{ desparasitacion_aplicada.unidad }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% if historia.descripcion %}
                            Descripción: {{ historia.descripcion }}
                        {% endif %}
                        {% if historia.observaciones %}
                            Observaciones: {{ historia.observaciones }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if historia.formula %}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Formula Médica
                    </h3>
                </div>
                <div class="panel-body" style="display: flex;">
                    <div class="info_historia" style="width: 250px; padding: 5px; border-right: solid #3c763d;">
                        <p>Fecha: {{ historia.fecha }}</p>
                        <p>Veterinario: {{ historia.veterinario }}</p>
                    </div>
                    <div class="comentarios_historia" style="width: 100%;padding: 5px; padding-left: 10px;">
                        <div class="content{{ historia.id }}">{{ historia.descripcion | slice:":60" }}...</div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
</div>
<script type="text/javascript" src="{% static 'js/modernizr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        //var a = document.getElementById('descripcion');
        //a.style.height = 'auto';
        //a.style.height = a.scrollHeight+20+'px';


        //var contenido = $(".content");
        //var texto_contenido = contenido.text();
        //contenido.html(texto_contenido.replace(/\n\r?/g, "<br />"));
        //document.replace(/\n\r?/g, "<br />");

        //console.log(texto_contenido);
        //console.log($("#descripcion11").val());

        var formulas_id = '{{ formulas_id|safe }}';

        formulas_id = JSON.parse(formulas_id);

        console.log(formulas_id);

        formulas_id.forEach(function (id) {

            var nombre_contenedor = '.content';

            nombre_contenedor += id;

            console.log(nombre_contenedor)

            $(nombre_contenedor).html($(nombre_contenedor).text().replace(/\n\r?/g, "<br />"));

        });

        //$(".content11").html($(".content11").text().replace(/\n\r?/g, "<br />"));
        //$(".content12").html($(".content12").text().replace(/\n\r?/g, "<br />"));

        var element = document.getElementById('todo');
        html2pdf(element);
    });

</script>
</body>

</html>