{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
Registrar Cita
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">

    <style>
        .select2-selection__rendered {
            line-height: 31px !important;
        }
        .select2-container .select2-selection--single {
            height: 35px !important;
        }
        .select2-selection__arrow {
            height: 34px !important;
        }
    </style>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">
            {% if modificar %}
            Modificar cita
            {% else %}
            Agregar cita
            {% endif %}
        </h4>
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li><a href="/citas/listar_citas/">Agenda</a></li>
            <li class="active"><a>{% if modificar %}Modificar cita{% else %}Agregar cita{% endif %}</a></li>
        </ol>
    </div>
</div>
<form class="form-horizontal" method="POST" action="" autocomplete="off">{% csrf_token %}
    <div class="card-box">
        <div class="row">
            {% for field in form %}
            <div class="col-md-6">
                <div class="form-group" style="margin: 15px;">
                    {% bootstrap_field field label_class="control-label col-lg-3" field_class="col-lg-9" %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="text-center submit-btns">
        {% if modificar %}
            {% bootstrap_button "Guardar cambios" button_type="submit" button_class="btn btn-primary m-r-20" %}
        {% else %}
            {% bootstrap_button "Agregar" button_type="submit" button_class="btn btn-primary m-r-20 boton_agregar" %}
        {% endif %}
        <a href="#" onclick="window.history.back();" class="btn btn-danger">Cancelar</a>
    </div>
</form>
{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>


<script type="text/javascript">



    //console.log('{{ fecha }}')
    $(function () {
        $('#firstdate').datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
            date: new Date("{{ fecha }}")
        });
        $('#seconddate').datetimepicker({
            format: 'DD/MM/YYYY HH:mm'
        });

        $('#id_mascota').select2();
        $('#id_veterinario').select2();

        $('.boton_agregar').click(
            function () {
                if($('#id_mascota').val() == ''){
                    swal({
                        icon: 'error',
                        title: 'Debe seleccionar una mascota',
                        button: 'Ok'
                    });
                    setTimeout(function(){
                        $("#pageLoader").hide();
                        $('.button_save').removeAttr('disabled');
                    }, 500);
                    
                }
                if($('#id_veterinario').val() == ''){
                    swal({
                        icon: 'error',
                        title: 'Debe seleccionar un veterinario',
                        button: 'Ok'
                    });
                    setTimeout(function(){
                        $("#pageLoader").hide();
                        $('.button_save').removeAttr('disabled');
                    }, 500);
                    
                }
            }
        );
    });
</script>
{% endblock %}