#pageLoader {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

.breadcrumb{
    background-color: transparent !important;
}

.breadcrumb li.active a{
    color: #23527c;
}

#inventario-dropdown, .dropdown-right{
    left: auto !important;
    right: 0;
}

#grid_productos .product-widget .img-responsive{
    height: 120px !important;
}

#grid_cat_punto .categoria .img-responsive{
    height: 60px !important;
    margin-left: 20%;
}

.chart-container{
    position: relative;
    margin: auto;
    height: 50vh;
}

.dataTables_wrapper{
    overflow-x: auto;
}

.dataTables_wrapper .col-sm-6{
    margin-top: 20px;
}

.dataTables_wrapper .col-sm-6 .dataTables_filter{
    text-align: left;
}

.col-sm-6 .dataTables_filter{
    text-align: left;
}

@media (min-width: 700px){
    .col-sm-6 .dataTables_filter{
        text-align: right;
    }
}

.menu-mobile-table{
    text-align: center;
    line-height: 60px;
    width: 60px;
    height: 60px;
    font-size: 24px;
}

.modal-menu-mobile-table {
    text-align: center;
    line-height: 17px;
    width: 60px;
    height: 17px;
    font-size: 24px;
}

.menu-mobile-table .dropdown-menu>li>a{
    padding: 7px 20px;
    color: #076ff1;
}

#btn-main-add-pet{
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 40px;
    padding: 3px 20px;
    border-radius: 50%;
    font-weight: 700;
}

.fc-toolbar .fc-left, .fc-toolbar .fc-center, .fc-toolbar .fc-right {
    display: flex !important;
    width: auto !important;
    justify-content: center !important;
}

#opciones-caja li{
    padding: 5px 0px;
    font-size: 17px;
}

#opciones-caja li .text-danger{
    color:#a94442;
}

#opciones-caja li.divider{
    padding: 1px;
}

#opciones-caja li i{
    margin-right: 10px;
}

.horizontal-scroll {
    overflow-x: auto;
    overflow-y: visible;
    clear: both;
    width: 100%;
}

.horizontal-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
   /* Estilos barra (thumb) de scroll */
.horizontal-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
  
.horizontal-scroll::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
  
.horizontal-scroll::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
  
   /* Estilos track de scroll */
.horizontal-scroll::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}
  
.horizontal-scroll::-webkit-scrollbar-track:hover, .horizontal-scroll::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

.img-factura-anulada {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    opacity: 0.3;
}

.btn-edit-profile{
    font-size: 24px;
    color: #333;
    position: relative;
    width: 100%;
    white-space: pre-wrap;
}

.btn-edit-profile i{
    color: #076ff1;
    font-size: 17px;
    position: absolute;
    bottom: 36%;
    right: -15px;
}

.toPrint{
    margin: 25mm 0mm 25mm 0mm;
}

.footer-cobrar{
    color: #19b519;
    font-size: 19px;
}

.footer-pagar{
    color: #b90000;
    font-size: 19px;
}

.label-warning-or{
    background-color: #fb8219;
}

#home-box-container .card-box{
    background-color: #2668bb;
    position: relative;
}
#home-box-container .card-title-spl, #home-box-container .card-title{
    color: #fff;
}

#home-box-container .card-title-spl{
    font-size: 22px;
}

#home-box-container .card-title{
    font-size: 16px;
}

#home-box-container .card-box i:before{
    position: absolute;
    color: #ffffff;
    right: 9px;
    opacity: 0.2;
    font-size: 116px;
    top: 26px;
}

.card-box .nav>li>a{
    text-decoration: none;
    background-color: #eee;
}

.card-box .nav>li>a:focus, .card-box .nav>li>a:hover{
    text-decoration: none;
    background-color: #8ad6d3;
    color: #fff;
}

#historia .panel-info .label{
    white-space: pre-wrap;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block !important;
}

.copy-footer{
    background-color: #001D38;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 99999;
}

.copy-footer p{
    margin-bottom: 0px;
    padding: 5px 0px;
    font-weight: 500;
    color: #fff;    

}

@media (min-width: 700px) {
    .dataTables_wrapper .col-sm-6 .dataTables_filter{
        text-align: right;
    }

    .btn-edit-profile{
        font-size: 24px;
        color: #333;
        position: relative;
    }
    
    .btn-edit-profile i{
        display: none;
    }

    #home-box-container .card-title-spl{
        font-size: 35px;
    }
    
    #home-box-container .card-title{
        font-size: 25px;
    }

    #home-box-container .card-box i:before{
        right: 20px;
        font-size: 120px;
        top: 12px;
    }    
 }

 @media (min-width: 1024px) {

    #home-box-container .card-title-spl{
        font-size: 24px;
    }
    
    #home-box-container .card-title{
        font-size: 17px;
    }

    #home-box-container .card-box i:before{
        right: 10px;
        font-size: 110px;
        top: 30px;
    }  

 }

 @media (min-width: 1300px) {

    #home-box-container .card-title-spl{
        font-size: 32px;
    }
    
    #home-box-container .card-title{
        font-size: 25px;
    }
    
    #home-box-container .card-box i:before{
        position: absolute;
        color: #ffffff;
        right: 20px;
        opacity: 0.2;
        font-size: 150px;
        top: 30px;
    }

 }