/*
Author       : Senseclouds
Template Name: Dradmin - Bootstrap Admin Template
Version      : 1.0
*/

/*------------------------------------------------------------------

[Table of contents]

1. General
2. Helper Class
3. Bootstrap Classes
4. Header
5. Notifications
6. Sidebar
7. Content
8. Login
9. Add Patient
10. Check Health
11. Calendar
12. Today Treatment
13. Treatment form
14. Invoices
15. Expenses
16. Add expense
17. Profile
18. Edit Profile
19. All Notifications
20. Doctors
21. Nav tabs
22. Responsive
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[1. General]
*/

body{font-family: 'poppins', sans-serif;font-size:14px;color:#333;background-color:#fbfbfb;overflow-x: hidden;}
h1, h2, h3, h4, h5, h6{margin-top:0;}
a:focus, a:hover{text-decoration:none;}
input[type=text], input[type=password] {-webkit-appearance: none;-moz-appearance: none;appearance: none;}
textarea {-webkit-appearance: none;-moz-appearance: none;appearance: none;}
input[type="file"] {height: auto;}
.form-control {border-radius: 20px;box-shadow: none;height: 40px;}
.form-control:focus {border-color: #F44336;box-shadow: none;outline: 0 none;}
textarea.form-control {resize: vertical;}

/*------------------------------------------------------------------
[2. Helper Class]
*/

.m-r-5 {margin-right: 5px !important;}
.m-r-15 {margin-right: 15px !important;}
.m-r-20 {margin-right: 20px !important;}
.m-l-15 {margin-left: 15px !important;}
.m-t-10 {margin-top: 10px !important;}
.m-t-20 {margin-top: 20px !important;}
.m-b-0 {margin-bottom: 0 !important;}
.m-b-20 {margin-bottom: 20px !important;}
.m-b-30 {margin-bottom: 30px !important;}

/*------------------------------------------------------------------
[3. Bootstrap Classes]
*/

.btn-white {background-color: #fff;border: 1px solid #ccc;color: #333;}
.rounded, .circle {border-radius: 500px;}
.bg-primary, .label-primary {background-color:#09ADA6;}
.bg-success, .label-success {background-color:#2fea45;}
.bg-info, .label-info {background-color:#076ff1;}
.bg-warning, .label-warning {background-color:#f9c851;}
.bg-danger, .label-danger {background-color:#f44836;}
.bg-white {background-color:#fff;}
.text-primary, .dropdown-menu > li > a.text-primary {color:#F44336;}
.text-success, .dropdown-menu > li > a.text-success {color:#2fea45;}
.text-danger, .dropdown-menu > li > a.text-danger {color:#F44336;}
.text-info, .dropdown-menu > li > a.text-info {color:#009efb;}
.text-warning, .dropdown-menu > li > a.text-warning {color:#ffbc34;}
.btn-primary {background-color: #09ADA6; border: 1px solid #09ADA6;}
.btn-primary .active{background-color: #09ADA6;border: 1px solid #09ADA6;}
.btn-primary:hover, .btn-primary:focus {background-color: #09ADA6;border: 1px solid #09ADA6;}
.btn-success {background-color: #2fea45;border: 1px solid #2fea45}
.btn-success:hover, .btn-success:focus {background: #4ab657;border: 1px solid #4ab657}
.btn-info {background-color: #009efb;border: 1px solid #009efb}
.btn-info:hover, .btn-info:focus {background-color: #028ee1;border: 1px solid #028ee1}
.btn-warning {background: #ffbc34;border: 1px solid #ffbc34}
.btn-warning:hover, .btn-warning:focus {background: #e9ab2e;border: 1px solid #e9ab2e}
.btn-custom {background-color:#09ADA6;border-color:#09ADA6;color:#fff;}
.btn-custom:hover {color:#fff;background-color: #076ff1;border: 1px solid #076ff1;}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {background-color: #09ADA6;border-color: #09ADA6;}
.pagination > li > a, .pagination > li > span {color:#09ADA6;}
.table {color:#000;}
.table > tbody > tr > td {font-weight: 300;}
.table > thead > tr > th {font-weight: normal;}


/*------------------------------------------------------------------
[4. Header]
*/

.header {background-color: #fff; left: 0;position: fixed;right: 0;top: 0;z-index: 999;height: 60px;}
.header .header-left{float:left;text-align:center;height:60px;position:relative;width:250px;z-index:1;}
.header .header-left .logo {display: inline-block;line-height: 60px;}
.page-title-box {border-radius: 0;height: 60px;margin-bottom: 0;padding: 17px 20px;}
.page-title-box h3 {color: #333;font-size: 24px;font-weight: normal;margin: 0;}
.welcome-text {font-size: 18px;font-weight: normal;}
.user-menu {margin: 0;position:relative;z-index:99;	}
.user-menu.nav > li > a {color: #076ff1;font-size: 18px;line-height: 60px;padding: 0 15px;}
.user-menu.nav > li > a:hover, .user-menu.nav > li > a:focus {color: #fff; background-color:#076ff1;}
.user-menu.navbar-nav > li {float:left;}
.user-menu.navbar-right .dropdown-menu {left: auto;right: 0;float: left;position: absolute;}
.user-menu.nav > li > a .badge { position: absolute;right: 3px;top: 6px;}
.user-menu.nav > li > a > i {font-size: 20px;line-height: 60px;}
.menu-title {background-color:transparent;color: #fbfbfb;font-size: 18px;line-height: 70px;min-height: 40px;padding: 0 20px;border-bottom: 1px solid #2042c185;}
.navbar-nav .open .dropdown-menu {background-color: #fff;border: 1px solid rgba(0, 0, 0, 0.1);}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {background-color: #076ff1;}

/*------------------------------------------------------------------
[5. Notifications]
*/

.notifications{padding:0;}
.notifications .drop-scroll{height:290px;width:400px;}
.notifications.msg-noti .drop-scroll{width:310px;}
.notifications .notification-heading{margin:0;font-size:14px;font-weight:normal;line-height:1.45;color:#616161;}
.notifications .notification-time{font-size:12px;line-height:1.35;color:#bdbdbd;}
.notifications .media{margin-top:0;border-bottom:1px solid #f5f5f5;}
.notifications .media:last-child{border-bottom:none;}
.notifications .media a{display:block;padding:12px;border-radius:2px;}
.notifications .media a:hover{background-color:#fafafa;}
.notifications .media-list .media-left{padding-right:8px;}
.drop-scroll {overflow-y: scroll;position: relative;}
.topnav-dropdown-header {border-bottom: 1px solid #eee;text-align: center;}
.topnav-dropdown-header, .topnav-dropdown-footer {font-size: 12px;height: 32px;line-height: 32px;padding-left: 12px;padding-right: 12px;}
.topnav-dropdown-footer a {display: block;text-align: center;color: #333;}
.noti-details {color: #989c9e;margin: 0;}
.noti-time {margin: 0;}
.noti-title {color: #333;}
.topnav-dropdown-footer {border-top: 1px solid #eee;}
.avatar {
    background-color: #aaa;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    height: 38px;
    line-height: 38px;
    margin: 0 10px 0 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    width: 38px;
}
.avatar > img {display: block;width: 100%;}
.mobile-user-menu {color: #fff;display: none;font-size: 24px;height: 60px;line-height: 60px;padding: 0 20px;position: absolute;right: 0;text-align: right;top: 0;width: 60px;z-index: 10;}
.mobile-user-menu a {color:#f44336;}
.mobile-user-menu a:hover {color:#f44336;}
.mobile_btn {display:none;}

/*------------------------------------------------------------------
[6. Sidebar]
*/

.sidebar-menu{background-color:#076ff1;min-height: 100%;}
.sidebar-carrito{background-color:transparent;min-height: 100%;}
.sidebar-menu ul {font-size: 14px;list-style-type: none;margin: 0;padding: 0px; background-color: transparent;}
.sidebar-menu ul li:last-child{border-bottom: none;}
.sidebar-menu li a {color: #fff;display: block;font-size: 14px;height: auto;line-height: 42px;min-height: 42px;padding: 0 20px;white-space: nowrap;}
.sidebar-menu li a:hover{transition: all 0.2s ease-in-out;transform: translate(10px,0);-webkit-transform: translate(10px,0);-o-transform: translate(10px,0);-moz-transform: translate(10px,0);color:#00c7ff;}
.sidebar-menu li:hover{transition: all 0.2s ease-in-out;color:#00c7ff;}
.sidebar-menu li.active a {color: #00c7ff; background-color: #001D38; font-weight: 600;margin-left: 10px;}
.sidebar-menu li.active:hover{transition: all 0.2s ease-in-out;transform: translate(0px,0);-webkit-transform: translate(0px,0);-o-transform: translate(0px,0);-moz-transform: translate(0px,0);color:#00c7ff;}
.sidebar-menu li.active{color: #00c7ff; padding-left: 30px;background-color:#001D38;}
.sidebar{border-right: 1px solid #f1f1f1;top:60px;width:250px;z-index:1040;background-color: #f8f8f8;bottom:0;margin-top:0px;position: fixed;-webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; transition: all 0.4s ease;overflow: hidden auto;}
.sidebar-carrito-menu{top:60px;width:400px;z-index:1040;background-color: transparent;bottom:0;margin-top:0px;position: fixed;-webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; transition: all 0.4s ease;overflow: hidden auto;}
.sidebar::-webkit-scrollbar {width: 8px;height: 8px;}
.sidebar::-webkit-scrollbar-thumb {background: #ccc;border-radius: 4px;}
.sidebar::-webkit-scrollbar-thumb:hover {background: #b3b3b3;box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);}
.sidebar::-webkit-scrollbar-thumb:active {background-color: #999999;}
.sidebar::-webkit-scrollbar-track {background: #e1e1e1;border-radius: 4px;}
.sidebar::-webkit-scrollbar-track:hover, .sidebar::-webkit-scrollbar-track:active{background: #d4d4d4;}
.sidebar-inner{height:100%;}
.sidebar-overlay {display: none;position: fixed;height: 100%;left: 0;top: 60px;width: 100%;z-index: 1039;background-color: rgba(0, 0, 0, 0.6);}
.sidebar-overlay.opened {display: block;}
.sidebar-menu.opened {opacity: 1; -webkit-transform: translateX(0px); -moz-transform: translateX(0px); -ms-transform: translateX(0px); -o-transform: translateX(0px); transform: translateX(0px);margin-left:0;}
body.menu-opened {overflow: hidden;position:fixed;width: 100%;}

/*------------------------------------------------------------------
[7. Content]
*/

.content{padding:30px;}
.page-title {color: #001D38;font-size: 30px;font-weight: normal;margin-bottom: 20px;}
.card-box {background-color: #fff;border: 1px solid #c3c3c3;border-radius: 4px;margin-bottom: 20px;padding:20px; box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);}
h2.card-title{font-size: 30px;}
.card-title {color: #0883A6;font-size: 18px;font-weight: normal;margin-bottom: 20px;}
.card-title-spl {color: #636363;font-size: 25px;font-weight: normal;padding: 0px;}
.content-wrap {left: 0;margin-left: 250px;padding-top: 60px;position: relative;-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;transition: all 0.4s ease;}
.content-wrap-punto {left: 0;margin-left: 400px;padding-top: 60px;position: relative;-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;transition: all 0.4s ease;}
.content-wrap > .content{padding:30px;}
.table.table-borderless > tbody > tr > td, .table.table-borderless > tbody > tr > th, .table.table-borderless > tfoot > tr > td, .table.table-borderless > tfoot > tr > th, .table.table-borderless > thead > tr > td, .table.table-borderless > thead > tr > th {border:none;}
.card-box-pdv-v {background-color: #fff;border: 1px solid #c3c3c3;border-radius: 10px;margin-top:100px;margin-bottom: 20px;padding:50px; box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);}
.card-box-pdv {background-color: #fff;border: 1px solid #c3c3c3;border-radius: 10px;margin-top:40px;margin-bottom: 20px;padding:50px; box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);}
.card-box-pdv-pago {background-color: #fff;border: 1px solid #c3c3c3;border-radius: 10px;margin-bottom: 20px;padding:15px; box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);}
.card-box-pdv-carrito {background-color: #fff;border: 1px solid #c3c3c3;border-radius: 10px;margin-bottom: 20px;padding:15px; box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);}
.cont {background: url('../img/medicamento.png');}
/*------------------------------------------------------------------
[8. Login]
*/

.account-box {background-color: #fff;border: 1px solid #eaeaea;margin: 0 auto;padding: 0px;width: 500px;height: auto;margin-top:50px;}
.account-box .form-control {border: 1px solid #ccc;border-radius: 0;box-shadow: inherit;font-size: 18px;height: 50px;}
.account-box label {color: #323232;font-size: 16px;font-weight: normal;}
.account-box .form-group {margin-bottom: 30px;}
.account-box .account-btn {border-radius: 30px;font-size: 24px;padding: 8px 26px;}
.account-box a {color: #323232;font-size: 16px;}
.account-box a:hover {color: #F44336;}
.account-title h3 {color: #282628;font-size: 32px;font-weight: normal;margin: 0 0 50px;text-align: center;}
.account-logo {background-color: #fff;min-height: 70px;padding: 14px 15px;text-align: center;}
.account-bottom {background-color: #fff;padding: 20px;}
.account-title {font-size: 32px;font-weight: normal;margin-bottom: 50px;text-align: center;}

/*------------------------------------------------------------------
[9. Add Patient]
*/

.form-horizontal .control-label:not(.text-right) {font-weight: 300;text-align: left;}
.add-btn {border-radius: 0;color: #fff;padding: 9px 12px;border-radius: 20px;}
.submit-btns {margin-top:30px;}
.submit-btns .btn {border-radius: 30px;font-size: 24px;min-width: 140px;}
.submit-btns.invoice-submit .btn {min-width: 174px;}
.submit-btns-pdv {margin-top:0px;}
.submit-btns-pdv .btn {border-radius: 30px;font-size: 24px;min-width: 140px;}
.submit-btns-pdv.invoice-submit .btn {min-width: 174px;}
.cal-icon::after {background: transparent url("../img/calander.png") no-repeat scroll 0 0;bottom: 0;content: "";display: block;height: 19px;margin: auto;position: absolute;right: 15px;top: 0;width: 17px;}
.cal-icon {position: relative;}
.select2-container .select2-selection--single {border: 1px solid #ccc;height: 40px;border-radius: 20px;}
.select2-container--default .select2-selection--single .select2-selection__arrow {height: 38px;right: 7px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b {border-color: #ccc transparent transparent;border-style: solid;border-width: 6px 6px 0;height: 0;left: 50%;margin-left: -10px;margin-top: -2px;position: absolute;top: 50%;width: 0;}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {border-color: transparent transparent #ccc;border-width: 0 6px 6px;}
.select2-container .select2-selection--single .select2-selection__rendered {padding-right:30px;padding-left: 15px;}
.select2-container--default .select2-selection--single .select2-selection__rendered {color: #676767;font-size: 14px;font-weight: normal;line-height: 38px;}
.select2-container--default .select2-results__option--highlighted[aria-selected] {background-color: #09ADA6;}

/*------------------------------------------------------------------
[10. Check Health]
*/

.form-inline td .form-control {width: 100%;}
.patient-check > span {color: #000;font-size: 16px;font-weight: 300;}
.patient-check > a {color: #3086c7;font-size: 18px;font-weight: 600;}
.health-table.table > tbody > tr > td {vertical-align: middle;}

/*------------------------------------------------------------------
[11. Calendar]
*/

.calendar {float: left;margin-bottom: 0;}
.fc-view {margin-top: 30px;}
.none-border .modal-footer {border-top: none;}
.fc-toolbar h2 {font-size: 18px;font-weight: 600;font-family: 'poppins', sans-serif;line-height: 30px;text-transform: uppercase;}
.fc-day-grid-event .fc-time {font-family: 'poppins', sans-serif;}
.fc-day {background: #fff;}
.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar button:focus,
.fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {z-index: 0;}
.fc th.fc-widget-header {background: #eeeeee;font-size: 14px;line-height: 20px;padding: 10px 0;text-transform: uppercase;}
.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {border-color: #f3f3f3;}
.fc-button {background: #f1f1f1;border: none;color: #797979;text-transform: capitalize;box-shadow: none !important;border-radius: 20px !important;margin: 0 3px !important;padding: 10px 20px !important;height: auto !important;}
.fc-text-arrow {font-family: inherit;font-size: 16px;}
.fc-state-hover {background: #f3f3f3;}
.fc-state-highlight {background: #f0f0f0;}
.fc-state-down,
.fc-state-active,
.fc-state-disabled {background-color: #09ADA6 !important;color: #fff !important;text-shadow: none !important;}
.fc-cell-overlay {background: #f0f0f0;}
.fc-event {border-radius: 20px;border: none;cursor: pointer;font-size: 13px;margin: 1px 7px;padding: 5px 5px;text-align: center;}
.fc-basic-view td.fc-week-number span {padding-right: 8px;font-weight: 700;font-family: 'poppins', sans-serif;}
.fc-basic-view td.fc-day-number {padding-right: 8px;font-weight: 700;font-family: 'poppins', sans-serif;}

/*------------------------------------------------------------------
[12. Today Treatment]
*/

.staff-name{color: #076ff1;}
.search-box .input-group-btn > .btn {border-radius: 20px;padding: 9px 12px;margin-left: 5px;}
.widget {background-color: #fff;border: 1px solid #F44336;margin-bottom: 30px;padding: 20px;border-radius:4px; box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08)}
.widget-title {color: #3086c7;font-size: 18px;font-weight: normal;margin-bottom: 20px;}
.Treatment-time {color: #000;font-weight: normal;margin: 0 0 30px;}
.Treatment-room {color: #000;font-weight: normal;margin: 0 0 30px;}
.Treatment-box {background-color: #F44336;color: #fff;font-size: 14px;padding: 10px 15px;text-align: center;border-radius: 20px;}
.search-box {margin-bottom: 30px;}

/*------------------------------------------------------------------
[13. Treatment form]
*/

.form-nest > ul {list-style: none;margin: 0;padding: 0;}
.form-nest > ul > li > a {background-color: #F44336;color: #fff;display: block;font-size: 16px;margin-bottom: 2px;padding: 13px 15px;}
.form-nest > ul > li > ul {list-style: none;margin: 0;padding: 0 0 0 50px;}
.form-nest > ul > li > ul > li > a {background-color: #dbdbdb;color: #000;display: block;font-size: 14px;margin-bottom: 2px;padding: 10px 15px;}
.form-nest > ul > li > ul > li > ul {list-style: none;margin: 0;padding: 0 0 0 50px;}
.form-nest > ul > li > ul > li > ul > li > a {background-color: #fff;color: #000;display: block;font-size: 14px;margin-bottom: 2px;padding: 10px 15px;}
.form-nest > ul > li a {position:relative;}
.form-nest > ul > li a[aria-expanded="false"]:after {position:absolute;content:"\f067";top:14px; right:15px; font-family:'FontAwesome';}
.form-nest > ul > li a[aria-expanded="true"]:after {position:absolute;content:"\f068";top:14px; right:15px; font-family:'FontAwesome';}
.form-nest > ul > li > ul > li > a[aria-expanded="false"]:after {position:absolute;content:"\f067";top:11px; right:15px; font-family:'FontAwesome';}
.form-nest > ul > li > ul > li > a[aria-expanded="true"]:after {position:absolute;content:"\f068";top:11px; right:15px; font-family:'FontAwesome';}

/*------------------------------------------------------------------
[14. Invoices]
*/

.action-icon {color: #777;font-size: 15px;padding: 0 5px;display: inline-block;}
.action-icon2 {font-size: 18px;}
.invoice-details, .invoice-payment-details > li span {float: right;text-align: right;}
.filter-row .btn {border-radius: 0;min-height: 40px;padding: 9px 12px;text-transform: uppercase;}

/*------------------------------------------------------------------
[15. Expenses]
*/

.action-label > a {display: inline-block;min-width: 103px;}
.action-label i {margin-right: 3px;}
.action-label i.caret {margin-left: 3px;margin-right: 0;}
.dropdown.action-label {display: inline-block;}
.action-label .btn-sm {padding: 5px;}
.action-label .dropdown-menu > li > a {padding: 3px 10px;}
.table .dropdown-menu {font-size: 12px;}
.modal-header.bg-danger .modal-title {color: #fff;}
.modal-header.bg-danger .close {font-size: 28px;}

/*------------------------------------------------------------------
[16. Add expense]
*/

.attach-files > ul {list-style: none;margin: 0;padding: 0;}
.attach-files li {display: inline-block;margin-right: 10px;position: relative;}
.attach-files li img {width: 50px;}
.file-remove {color: #f00;position: absolute;right: -6px;top: -7px;}
.attach-files li:last-child {margin-right: 0;}
table.table td h2 {display: inline-block;font-size: inherit;font-weight: 400;margin: 0;padding: 0;vertical-align: middle;}
table.table td h2 a {color: #757575;}

/*------------------------------------------------------------------
[17. Profile]
*/

.personal-info li {margin-bottom: 10px;}
.personal-info li .title {color: #515365;float: left;font-weight: 500;margin-right: 30px;width: 30%;}
.personal-info li .text {color: #888da8;display: block;overflow: hidden;}
.personal-info {list-style: none;margin-bottom: 0;padding: 0;}

/*------------------------------------------------------------------
[18. Edit Profile]
*/

.user-profile-img {position: relative;text-align: center;}
.edit-profile-img {cursor: pointer;height: 120px;margin: 0 auto;position: relative;width: 120px;}
.change-img {background-color: rgba(0, 0, 0, 0.3);border-radius: 50%;color: #fff;display: none;height: 100%;left: 0;line-height: 120px;position: absolute;top: 0;width: 100%;}
.edit-profile-img:hover .change-img {display: block;}
.edit-profile-img .avatar {height: auto;margin: 0;width: 120px;}
.user-name {color: #333;}
.chat-profile-info {margin-top: 20px;}
.user-det-list {list-style: none;padding: 0;}
.user-det-list > li {padding: 6px 15px;}

/*------------------------------------------------------------------
[19. All Notifications]
*/

.activity-box {position: relative;}
.activity-list {list-style: none;margin: 0 0 0 10px;padding: 0;position: relative;}
.activity .activity-list {list-style: none;margin: 0;padding: 0;position: relative;}
.activity .activity-list > li .activity-user {height: 32px;margin: 0;padding: 0;position: absolute;top: 12px;left: 8px;width: 32px;}
.activity .activity-list > li .activity-content {background-color: #fff;margin: 0 0 0 40px;padding: 0;position: relative;}
.activity-list > li {background-color: #fff;margin-bottom: 10px;padding: 10px;position: relative;border: 1px solid #076ff1;}
.activity-list > li:last-child .activity-content {margin-bottom:0;}
.activity-user .avatar {height: 32px;line-height: 32px;margin: 0;width: 32px;}
.activity-list > li .activity-user {background: #fff;height: 32px;left: -7px;margin: 0;padding: 0;position: absolute;top: 3px;width: 32px;}
.activity-list > li .activity-content {background-color: #fff;margin: 0 0 20px 40px;padding: 0;position: relative;}
.activity-list > li .activity-content .timeline-content {color: #9e9e9e;}
.activity-list > li .activity-content .timeline-content a.name {color: #616161;font-weight: bold;}
.activity-list > li .time {color: #bdbdbd;display: block;font-size: 12px;line-height: 1.35;}

/*------------------------------------------------------------------
[20. Doctors]
*/

.table .dropdown-menu {font-size:12px;}
.product-widget {background-color: #fff;border: 1px solid #c3c3c3;border-radius: 4px;margin-bottom: 30px;padding: 20px;text-align: center;position:relative; box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08)}
.product-widget.red{border: 1px solid #F44336;border-radius: 4px;margin-bottom: 30px;padding: 20px;text-align: center;position:relative; box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08)}
.profile-widget {background-color: #fff;border: 1px solid #076ff1;border-radius: 4px;margin-bottom: 30px;padding: 20px;text-align: center;position:relative; box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08)}
.profile-widget .user-name > a {color: #333;}
.product-widget .product-name > a {color: #333;}
.doctor-name {margin: 10px 0 5px;}
.dropdown.profile-action {position: absolute;right: 5px;text-align: right;top: 10px;}
.profile-img {cursor: pointer;height: 80px;margin: 0 auto;position: relative;width: 80px;}
.profile-img .avatar {font-size: 24px;height: 80px;line-height: 80px;margin: 0;width: 80px;}
.mobile-no > a {color: #777;display: inline-block;}
.view-icons {float: right;margin-right: 10px;}
.view-icons .btn {color: #888;font-size: 18px;margin-right: 5px;padding: 4px;}
.view-icons .btn.active {color:#333;}
.user-country {color: #777;font-size: 12px;margin-top: 5px;}
.user-country.red {color: #F44336;font-size: 12px;margin-top: 5px;}
.dropdown-menu {font-size: 13px;}
.custom-table tr {background-color: #fff;box-shadow: 0 0 3px #e5e5e5;}
.table.custom-table > tbody > tr > td,
.table.custom-table > tbody > tr > th,
.table.custom-table > tfoot > tr > td,
.table.custom-table > tfoot > tr > th,
.table.custom-table > thead > tr > td,
.table.custom-table > thead > tr > th {padding: 10px 8px;vertical-align: middle;}

/*------------------------------------------------------------------
[21. Nav tabs]
*/

.nav-tabs > li > a {margin-right: 0;color: #888;border-radius: 0;}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {border-color: transparent;color: #333;}
.nav-tabs.nav-justified > li > a {border-radius: 0;margin-bottom: 0;}
.nav-tabs.nav-justified > li > a:hover, .nav-tabs.nav-justified > li > a:focus {border-bottom-color: #ddd;}
/*.nav-tabs.nav-justified.nav-tabs-solid > li > a {border-color: transparent;}*/
.nav-tabs.nav-tabs-solid > li > a {color: #333;}
.nav-tabs.nav-tabs-solid > .active > a, .nav-tabs.nav-tabs-solid > .active > a:hover, .nav-tabs.nav-tabs-solid > .active > a:focus {background-color: #09ADA6;border-color: #09ADA6;color: #fff;border: 1px solid;}
.nav-tabs-justified > li > a {border-radius: 0;margin-bottom: 0;}
.nav-tabs-justified > li > a:hover,
.nav-tabs-justified > li > a:focus {border-bottom-color: #ddd;}
.nav-tabs-justified.nav-tabs-solid > li > a {border-color: transparent;}

/*------------------------------------------------------------------
[22. Responsive]
*/

@media only screen and (max-width:991px){
	.Treatment-box {margin-bottom:15px;}
	.slide-nav .content-wrap {left: 225px;margin-left: 0;}
	.header .header-left {position:absolute; width:100%;}
	.mobile_btn {display:block;}
	.page-title-box {display:none;}
	.sidebar {margin-left: -225px;width: 225px;overflow-y: scroll; -webkit-overflow-scrolling: touch;}
	.content-wrap {margin-left: 0;}
	.slide-nav .sidebar {margin-left: 0;}
	a.mobile_btn {color: #f44336;font-size: 24px;height: 60px;left: 0;line-height: 60px;padding: 0 20px;position: absolute;top: 0;width: 60px;z-index: 10;}
}
@media only screen and (max-width: 767px) {
	.account-box {width:450px}
	.submit-btns.invoice-submit .btn {margin-bottom:10px;}
	h1 {font-size: 2em;}
    h2 {font-size: 1.5em;}
    h3 {font-size: 1.17em;}
    h4 {font-size: 1.12em;}
    h5 {font-size: .83em;}
    h6 {font-size: .75em;}
	.page-title { font-size: 1.2em; }
	.submit-btns .btn {font-size:18px;}
	.form-nest {margin-bottom:20px;}
	.account-box .account-btn {font-size:16px;}
	.account-title {font-size: 22px;}
}
@media only screen and (max-width: 479px) {
	.user-menu {display:none;}
	.mobile-user-menu {display:block;}
	.filter-row > .col-xs-6 {width: 100%;}
	.filter-row {margin-bottom: 15px;}
	.content-wrap > .content {padding: 15px;}
	.account-box {width:100%;}
	.doctor-grid > div {width:100%;}
	.submit-btns .btn {width:100%;margin-right:0 !important; margin-bottom:10px;}
	.account-box {width:100%}
	.Treatment-details .col-xs-6 {width:100%;}
	.Treatment-time {margin: 0 0 15px;}
	body {font-size:12px;}
	.page-title {font-size:18px;}
	.fc-toolbar .fc-right {display: inline-block;float: none;margin: 10px auto 0;width: 200px;clear: both;}
	.fc-toolbar .fc-left {float: none;margin: 0 auto;width: 200px;}
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #076ff1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #076ff1;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
.text-area-staff{
    width: 100%;
    height: 387px;
    border-color: #f1f1f1;
}
.widget-options {
    z-index: 999;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    float: right;
}
.widget-options-attence {
    z-index: 999;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: left;

.dash-stat
{
    font-size: 33px;
}

.info-box-stats
{
        float: left;
    margin-top: 5px;
}

.info-box-icon {
    float: right;
}


.homecol8 {color: #076ff1;font-size: 18px;font-weight: normal;margin-bottom: 20px;}


.login-block{
float:left;
width:100%;
padding : 50px 0;
}
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #DE6262; color:#fff; font-weight:600;}

/* demo style */
.cd-nugget-info {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  top: 0;
  left: 0;
}
.cd-nugget-info a {
  position: relative;
  font-size: 14px;
  color: #718ca1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.cd-nugget-info a:hover {
  opacity: .8;
}
.cd-nugget-info span {
  vertical-align: middle;
  display: inline-block;
}
.cd-nugget-info span svg {
  display: block;
}
.cd-nugget-info .cd-nugget-info-arrow {
  fill: #718ca1;
}

/*************Calculadora********************/
.cont form {
  width: 100%;
  max-width: 400px;
  text-align: center;
  border: solid 1px #c2c2c2;
  padding-bottom: 10px;
  margin: auto;
  background: #fafafa;
}
.cont .calculadora input[type=textfield] {
    width: 75%;
    padding: 16px 32px;
    font-size: 16px;
    margin: 8px 0;
    border: 1px solid silver;
    border-radius: 1px;
    text-align: left;
    color: #333;
    background: #ccc;
}
.calculadora input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    min-width: 21%;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.content-wrap > .content-punto {
  padding: 20px;
}
