{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Desparasitación
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />

<style>
    .selectpicker:hover, .selectpicker:focus, .selectpicker:active.focus{
        background-color: #fff;
    }
    .open>.dropdown-toggle.btn-default:hover,.open>.dropdown-toggle.btn-default {
        color: #333;
        background-color: #fff;
        border-color: #8c8c8c;
    }
    .select2-selection__rendered {
        line-height: 31px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 34px !important;
    }
    .elementos_modal{
        cursor: pointer;
    }
    .elementos_modal:hover{
        background-color: #d5d7d3;
    }

</style>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">
            {% if modificar %}
            Desparasitación
            {% else %}
            Desparasitación
            {% endif %}
        </h4>
    </div>
</div>
<div id="app_aplicar_desparasitacion">
    <form class="form-horizontal" method="post" action="" autocomplete="off">{% csrf_token %}
        <div class="card-box" style="padding-left: 15px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Mascota ({{mi_desparasitacion.id}})</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" disabled value="{{mi_desparasitacion.mascota.nombre}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Cliente</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" disabled value="{{mi_desparasitacion.mascota.cliente}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive horizontal-scroll">
                        <table class="table" style="overflow: visible;">
                            <thead>
                                <tr>
                                    <th>Desparasitante</th>
                                    <th colspan="2">Cantidad</th>
                                    <th>Disponible</th>
                                    <th class="text-right">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(desparasitante_agregado, index) in desparasitantes_agregados">
                                    <td>
                                        [[ desparasitante_agregado.nombre_desparasitante ]]
                                    </td>
                                    <td>
                                        [[ desparasitante_agregado.cantidad_requerida ]]
                                    </td>
                                    <td>
                                        [[ desparasitante_agregado.unidades ]]
                                    </td>
                                    <td>
                                        -
                                    </td>
                                    <td class="text-right">
                                        <a href="#" title="Quitar" class="action-icon dropdown-toggle" style="color: #f10000"
                                            v-on:click="eliminarDesparasitanteAgregado(index);"><i class="fa fa-trash m-r-5"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="min-width: 200px; max-width: 200px;">
                                        <select class="form-control" id="select_desparasitante">
                                            <option value="-1">-----------</option>
                                            <option v-for="(desparasitante, index) in desparasitantes_por_codigo" v-bind:value="[[ index ]]"
                                                v-if="desparasitante.fields.estado">[[ desparasitante.fields.nombre ]]</option>
                                        </select>
                                    </td>
                                    <td style="min-width: 100px; max-width: 100px;">
                                        <input class="form-control" id="cantidad" min="0" type="number" step="0.1" onkeypress="return event.charCode >= 48"
                                            value="1">
                                    </td>
                                    <td style="min-width: 130px; max-width: 130px;">
                                        <select class="form-control" id="select_unidades">
                                            <option value="Unidad(es)">Unidad(es)</option>
                                            <option v-if="cantidad_por_unidad" v-bind:value="[[ unidades_desparasitante ]]">[[unidades_desparasitante]]</option>
                                        </select>
                                    </td>
                                    <td style="min-width: 270px;">
                                        <input class="form-control" v-bind:value="[[ unidades_disponibles ]]" id="cantidad_disponible"
                                            disabled type="text">
                                    </td>
                                    <td class="text-right">
                                        <a title="Agregar" class="action-icon dropdown-toggle" style="color: #076ff1"
                                            v-on:click="agregarDesparasitante();"><i class="fa fa-plus m-r-5"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2 class="text-center">Insumos utilizados</h2>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive horizontal-scroll">
                        <table class="table" style="overflow: visible;">
                            <thead>
                                <tr>
                                    <th>Insumo</th>
                                    <th colspan="2" class="text-center">Cantidad</th>
                                    <th>Disponible</th>
                                    <th class="text-right">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  v-for="(Item , index) in insumos_añadidos">
                                    <td>[[ Item[1] ]] (cód : [[Item[2] ]])

                                    </td>
                                    <td colspan="2" class="text-center" v-if ="JSON.parse(Item[10])">
                                        [[ Item[11] ]] [[ Item[4] ]]
                                    </td>
                                    <td colspan="2" class="text-center" v-else>
                                        [[ Item[11] ]] unidad(es)
                                    </td>
                                    <td>
                                        -
                                    </td>
                                    <td class="text-right">
                                        <a title="Quitar" class="action-icon dropdown-toggle" style="color: #f10000" v-on:click="RmvInsumo(index,Item[0]);"><i class="fa fa-trash m-r-5"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="min-width: 200px; max-width: 200px;">
                                        <select class="form-control" id="select_insumo">
                                            <option value="-1">-----------</option>
                                            <option v-for="(insumo, index) in insumos_por_codigo"
                                                v-bind:value="[[ index ]]" v-if = "JSON.parse(insumo[3])">
                                                [[ insumo[0] ]] (cód : [[insumo[1] ]])
                                            </option>
                                        </select>
                                    </td>
                                    <td style="min-width: 100px; max-width: 100px;">
                                        <input class="form-control" id="cantidad_insumo" min="0" step="0.1" type="number"
                                            onkeypress="return event.charCode >= 48" value="1">
                                    </td>
                                    <td style="min-width: 130px; max-width: 130px;">
                                        <select id="cantidad_por_unidad_insumo" class="form-control">
                                            <option value="1">unidad</option>
                                            <option v-if="cantidad_por_unidad_insumo" v-bind:value="[[ unidades_insumo ]]">[[ unidades_insumo ]]</option>
                                        </select>
                                    </td>
                                    <td style="min-width: 270px;">
                                        <input class="form-control" id="disponible_insumo" min="0" type="text" disabled>
                                    </td>
                                    <td class="text-right">
                                        <a title="Agregar" class="action-icon dropdown-toggle"
                                            v-on:click="AddInsumo()" style="color: #076ff1"><i
                                                class="fa fa-plus m-r-5"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center submit-btns">
            <!--button id="id_boton_registrar_pago" class="btn btn-primary m-r-20">Agregar</button-->
            <a v-on:click="aplicarDesparasitacion();" id="id_boton_registrar_pago" class="btn btn-primary">Guardar</a>
            <a onclick="window.history.back();" class="btn btn-danger">Cancelar</a>
        </div>
    </form>

    <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">[[ nombre_elemento_modal ]]</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha de vencimiento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(elemento,index) in all_desparasitantes" v-if="elemento.fields.codigo_inventario == codigo_repetido && elemento.fields.estado" class="elementos_modal" v-on:click="seleccionarElementoModal(index);">
                                <td>
                                    <div v-if="elemento.fields.fecha_vencimiento">
                                        [[ elemento.fields.fecha_vencimiento ]]
                                    </div>
                                    <div v-else>
                                        Sin fecha
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal" id="myModalInsumo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content animated flipInY">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">[[ nombre_elemento_modal ]]</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha de vencimiento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(elemento,index) in all_insumos" v-if="elemento[7] == codigo_repetido_insumo && elemento[11]" class="elementos_modal" v-on:click="seleccionarElementoModalInsumo(index);">
                                <td>
                                    <div v-if="elemento[9]">
                                        [[ elemento[9] ]]
                                    </div>
                                    <div v-else>
                                        Sin fecha
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript">

    var app_aplicar_desparasitacion = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app_aplicar_desparasitacion',
        data: {
            all_desparasitantes: {},
            unidades_desparasitante: '',
            cantidad_por_unidad: false,
            unidades_disponibles: '',
            desparasitantes_agregados: [],
            all_insumos: [],
            insumos_añadidos: [],
            option_type_insumo: 'start',
            seleccionador_tipo_insumo: false,
            nombre_elemento_modal: '',
            codigo_repetido: 0,
            codigo_repetido_insumo: 0,
            desparasitantes_por_codigo: {},
            codigos_desparasitantes: [],
            countryValDesparasitante: -1,
            modalValDesparasitante: -1,
            index_elemento: '',
            index_elemento_insumo: '',
            id_desparasitante_seleccionado: '',
            desparasitante_seleccionado: [],
            insumos_por_codigo: {},
            codigos_insumos: [],
            countryValInsumo: -1,
            modalValInsumo: -1,
            id_insumo_seleccionado: '',
            insumo_seleccionado: [],
            unidades_insumo: '',
            cantidad_por_unidad_insumo: false,
            copia_insumos_por_codigo: [],
            copia_all_insumos: [],
        },
        methods: {
            seleccionarElementoModal:function(index){
                app_aplicar_desparasitacion.index_elemento = app_aplicar_desparasitacion.modalValDesparasitante;
                var element = app_aplicar_desparasitacion.all_desparasitantes[index];
                app_aplicar_desparasitacion.unidades_desparasitante = element.fields.unidad_medida;
                app_aplicar_desparasitacion.cantidad_por_unidad = element.fields.cantidad_por_unidad;
                app_aplicar_desparasitacion.desparasitante_seleccionado = element;
                app_aplicar_desparasitacion.id_desparasitante_seleccionado = element.pk;
                app_aplicar_desparasitacion.unidades_disponibles = element.fields.descripcion;
                $('#cantidad_disponible').val(element.fields.descripcion);
                $('#cantidad_disponible').attr('title', element.fields.descripcion);
                $('#costo_unidad').val(element.fields.precio_venta);
                $("#cantidad").val(1);
                app_aplicar_desparasitacion.unidad_granel = element.fields.unidad_medida;
                app_aplicar_desparasitacion.desactivartipoventa = element.fields.cantidad_por_unidad
                $('#myModal2').modal('hide');
                $('#select_desparasitante').val(app_aplicar_desparasitacion.modalValDesparasitante);
                $('#select_desparasitante').select2();
                app_aplicar_desparasitacion.countryValDesparasitante = app_aplicar_desparasitacion.modalValDesparasitante;
            },

            seleccionarElementoModalInsumo:function(index){
                app_aplicar_desparasitacion.index_elemento_insumo = app_aplicar_desparasitacion.modalValInsumo;
                var element = app_aplicar_desparasitacion.all_insumos[index];
                app_aplicar_desparasitacion.unidades_insumo = element[4];
                app_aplicar_desparasitacion.cantidad_por_unidad_insumo = element[8];
                app_aplicar_desparasitacion.insumo_seleccionado = element;
                app_aplicar_desparasitacion.id_insumo_seleccionado = element[0];
                $('#disponible_insumo').val(element[10]);
                $('#disponible_insumo').attr('title', element[10]);
                $("#cantidad_insumo").val(1);
                $('#myModalInsumo').modal('hide');
                $('#select_insumo').val(app_aplicar_desparasitacion.modalValInsumo);
                $('#select_insumo').select2();
                app_aplicar_desparasitacion.countryValInsumo = app_aplicar_desparasitacion.modalValInsumo;
            },

            agregarDesparasitante: function () {

                if ($('#select_desparasitante').val() == '-1') {

                    swal({
                        icon: 'error',
                        title: 'Debe seleccionar un desparasitante',
                    });

                } else {
                    desparasitante = app_aplicar_desparasitacion.desparasitante_seleccionado;

                    var quotient = Number(desparasitante.fields.cantidad);

                    if(desparasitante.fields.cantidad_por_unidad){
                        quotient = Math.floor(desparasitante.fields.cantidad_total_unidades / desparasitante.fields.cantidad_unidad);
                    }

                    if($('#select_unidades').val() == 'Unidad(es)' && $('#cantidad').val() > quotient){
                        swal({
                            type: 'error',
                            title: 'La cantidad requerida no debe superar la cantidad disponible',
                            showConfirmButton: true
                        });

                    }else if ($('#select_unidades').val() != 'Unidad(es)' && $('#cantidad').val() > Number(desparasitante.fields.cantidad_total_unidades)){
                        swal({
                            type: 'error',
                            title: 'La cantidad requerida no deben superar la cantidad disponible',
                            showConfirmButton: true
                        });
                    }else{

                        app_aplicar_desparasitacion.all_desparasitantes.forEach(elemento => {
                            if(app_aplicar_desparasitacion.desparasitante_seleccionado.pk == elemento.pk){
                                elemento.fields.estado = false;
                            }
                        });

                        var cantidadElementos = 0;
                        app_aplicar_desparasitacion.all_desparasitantes.forEach(elemento => {
                            if(app_aplicar_desparasitacion.desparasitante_seleccionado.fields.codigo_inventario != null && elemento.fields.estado != false && elemento.fields.codigo_inventario == app_aplicar_desparasitacion.desparasitante_seleccionado.fields.codigo_inventario){
                                cantidadElementos += 1;
                            }
                        });

                        if(cantidadElementos == 0) {
                            app_aplicar_desparasitacion.desparasitantes_por_codigo[app_aplicar_desparasitacion.index_elemento].fields.estado = false;
                        }

                        objeto = {
                            "id_desparasitante": desparasitante.pk,
                            "nombre_desparasitante": desparasitante.fields.nombre,
                            "cantidad_requerida": $('#cantidad').val(),
                            "unidades": $('#select_unidades').val(),
                            "index_desparasitantes_por_codigo": app_aplicar_desparasitacion.index_elemento
                        }

                        $('#cantidad').val('1');
                        $('#select_unidades').val('Unidad(es)');
                        app_aplicar_desparasitacion.unidades_disponibles = '';

                        app_aplicar_desparasitacion.desparasitantes_agregados.push(objeto)

                        $('#select_desparasitante').val('-1');
                        $('#select_desparasitante').select2();
                        app_aplicar_desparasitacion.countryValDesparasitante = '-1';
                        app_aplicar_desparasitacion.modalValDesparasitante = '-1';
                    }

                    /*desparasitante = {};

                    app_aplicar_desparasitacion.all_desparasitantes.forEach((element, i) => {
                        if (element.pk == $("#select_desparasitante").val()) {
                            desparasitante = element;
                        }
                    });

                    var unidades_disponibles = desparasitante.fields.cantidad;
                    var cantidad_unidad = Number(desparasitante.fields.cantidad_unidad) * Number(desparasitante.fields.cantidad);

                    var quotient = Number(desparasitante.fields.cantidad);

                    if (desparasitante.fields.cantidad_por_unidad) {
                        quotient = Math.floor(desparasitante.fields.cantidad_total_unidades / desparasitante.fields.cantidad_unidad);
                    }

                    if ($('#select_unidades').val() == 'Unidad(es)' && $('#cantidad').val() > quotient) {
                        swal({
                            type: 'error',
                            title: 'La cantidad requerida no deben superar la cantidad disponible',
                            showConfirmButton: true
                        });

                    } else if ($('#select_unidades').val() != 'Unidad(es)' && $('#cantidad').val() > Number(desparasitante.fields.cantidad_total_unidades)) {

                        swal({
                            type: 'error',
                            title: 'La cantidad requerida no deben superar la cantidad disponible',
                            showConfirmButton: true
                        });
                    } else {
                        app_aplicar_desparasitacion.all_desparasitantes.forEach((element, i) => {
                            if (element.pk == $("#select_desparasitante").val()) {
                                element.fields.estado = false;
                            }
                        });

                        objeto = {
                            "id_desparasitante": $('#select_desparasitante').val(),
                            "nombre_desparasitante": desparasitante.fields.nombre,
                            "cantidad_requerida": $('#cantidad').val(),
                            "unidades": $('#select_unidades').val(),
                        }

                        $('#cantidad').val('1');
                        $('#select_unidades').val('Unidad(es)');
                        app_aplicar_desparasitacion.unidades_disponibles = '';

                        app_aplicar_desparasitacion.desparasitantes_agregados.push(objeto)
                    }*/
                }

            },
            eliminarDesparasitanteAgregado: function (i) {

                var id_desparasitante_eliminar = app_aplicar_desparasitacion.desparasitantes_agregados[i].id_desparasitante;
                var index_desparasitante_codigo = app_aplicar_desparasitacion.desparasitantes_agregados[i].index_desparasitantes_por_codigo;

                app_aplicar_desparasitacion.desparasitantes_agregados.splice(i, 1);

                app_aplicar_desparasitacion.all_desparasitantes.forEach(function (desparasitante) {
                    if (desparasitante.pk == id_desparasitante_eliminar) {
                        desparasitante.fields.estado = true;
                    }
                });

                app_aplicar_desparasitacion.desparasitantes_por_codigo[index_desparasitante_codigo].fields.estado = true;

                $('#select_desparasitante').select2();

            },
            aplicarDesparasitacion: function () {

                if (app_aplicar_desparasitacion.desparasitantes_agregados.length == 0) {
                    swal({
                        type: 'error',
                        title: 'Debe agregar por lo menos un desparasitante',
                        showConfirmButton: true
                    });
                } else {

                    var id_desparasitacion = '{{ mi_desparasitacion.id }}';

                    var csrftoken = $('[name="csrfmiddlewaretoken"]').val();

                    var values = {
                        'id_desparasitacion': id_desparasitacion,
                        'desparasitantes_agregados': app_aplicar_desparasitacion.desparasitantes_agregados,
                        'insumos_seleccionados': app_aplicar_desparasitacion.insumos_añadidos,
                    };

                    console.log("values: ", values);

                    $.ajax({
                        type: "POST",
                        url: '/desparasitacion/aplicar_desparasitacion/' + id_desparasitacion + "/",
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json',
                            "X-CSRFToken": csrftoken
                        },
                        async: false,
                        processData: false,
                        data: JSON.stringify(values),
                        success: function (data) {
                            window.location.replace("/mascotas/detalle_mascota/" + data.id_mascota);
                            //window.history.back();
                        }
                    });
                }

            },
            AddInsumo: function () {

                if($('#select_insumo').val() == '-1'){

                    swal({
                        icon: 'error',
                        title: 'Debe seleccionar un insumo'
                    });

                }else{
                    insumo = app_aplicar_desparasitacion.insumo_seleccionado;

                    var quotient = Number(insumo[3]);

                    if(insumo[8]){
                        quotient = Math.floor(insumo[6] / insumo[5]);
                    }

                    if($('#cantidad_por_unidad_insumo').val() == '1' && $('#cantidad_insumo').val() > quotient){
                        swal({
                            type: 'error',
                            title: 'La cantidad requerida no debe superar la cantidad disponible',
                            showConfirmButton: true
                        });

                    }else if ($('#cantidad_por_unidad_insumo').val() != '1' && $('#cantidad_insumo').val() > Number(insumo[6])){
                        swal({
                            type: 'error',
                            title: 'La cantidad requerida no deben superar la cantidad disponible',
                            showConfirmButton: true
                        });
                    }else{

                        app_aplicar_desparasitacion.all_insumos.forEach((elemento,i) => {
                            if(app_aplicar_desparasitacion.insumo_seleccionado[0] == elemento[0]){
                                elemento[11] = false;
                                app_aplicar_desparasitacion.all_insumos.splice(i, 1);
                            }
                        });

                        var cantidadElementos = 0;
                        app_aplicar_desparasitacion.all_insumos.forEach(elemento => {
                            if(app_aplicar_desparasitacion.insumo_seleccionado[7] != null && elemento[11] != false && elemento[7] == app_aplicar_desparasitacion.insumo_seleccionado[7]){
                                cantidadElementos += 1;
                            }
                        });

                        if(cantidadElementos == 0) {
                            app_aplicar_desparasitacion.insumos_por_codigo.splice(app_aplicar_desparasitacion.index_elemento_insumo, 1);
                        }

                        $('#select_insumo').val('-1');
                        $('#select_insumo').select2();

                        app_aplicar_desparasitacion.countryValInsumo = '-1';
                        app_aplicar_desparasitacion.modalValInsumo = '-1';

                        objeto = app_aplicar_desparasitacion.insumo_seleccionado;

                        objeto[11] = $("#cantidad_insumo").val();
                        if ($('#cantidad_por_unidad_insumo').val() != '1') {
                            objeto[10] = true;
                        }else{
                            objeto[10] = false;
                        }

                        this.insumos_añadidos.push(objeto);

                        $('#disponible_insumo').val('');
                        $('#disponible_insumo').attr('title', '');
                        $("#cantidad_insumo").val(1);
                        $('#cantidad_por_unidad_insumo').val('1');
                    }
                }

                /*if ($("#select_insumo").val() != 0) {
                    this
                    var in_comming = $("#select_insumo").val()
                    var array_coming = in_comming.split(",")
                    console.log("array_coming: ", array_coming);
                    if($("#cantidad_por_unidad_insumo").val() == 1 && parseFloat(array_coming[3]) < parseFloat($("#cantidad_insumo").val())){
                        swal({
                            type: 'error',
                            title: 'La cantidad requerida no puede superar la cantidad disponible',
                            showConfirmButton: true
                        });
                    }else if($("#cantidad_por_unidad_insumo").val() == 2 && parseFloat(array_coming[6]) < parseFloat($("#cantidad_insumo").val())){
                        swal({
                            type: 'error',
                            title: 'La cantidad requerida no puede superar la cantidad disponible',
                            showConfirmButton: true
                        });
                    }else {
                        array_coming.push($("#cantidad_insumo").val())
                        if ($("#cantidad_por_unidad_insumo").val() == 2) {
                            array_coming[10] = true;
                        }
                        this.insumos_añadidos.push(array_coming);
                    }
                }
                this.ActualizarInsumos();*/

                //console.log(this.insumos_añadidos)
            },
            ActualizarInsumos: function() {
                app_aplicar_desparasitacion.all_insumos.forEach(element=> {
                    var check_selected_element = false;

                    for(var i = 0; i < this.insumos_añadidos.length; i++){

                        if(element[0] == this.insumos_añadidos[i][0]){

                            check_selected_element = true
                        }
                    }
                    if(check_selected_element){
                        element[9] = false
                    }
                })

            },
            RmvInsumo: function (index) {
                 for(var i = 0; i < this.all_insumos.length; i++){

                        if(this.all_insumos[i][0] == this.insumos_añadidos[index][0]){

                            this.all_insumos[i][9] = true;
                        }
                    }
                this.insumos_añadidos.splice(index, 1)

            },
        }
    });

    $(document).ready(function () {
        $('#select_desparasitante').select2();
        $('#select_insumo').select2();
        app_aplicar_desparasitacion.all_insumos = JSON.parse('{{insumos|safe}}')
        app_aplicar_desparasitacion.all_insumos.forEach(element=> {
            disponibilidad = "";

            if(element[3] != 0){
                disponibilidad = element[3] + " unidades";
            }

            if(element[8]){
                if(element[3] != 0){
                    disponibilidad += " (" + element[5] + " " + element[4] + ')';
                }
                residuo = (parseFloat(element[6]) % parseInt(element[5])).toFixed(1);

                if(residuo != 0){
                    if(element[3] != 0){
                        disponibilidad += " y ";
                    }
                    disponibilidad += "1 unidad ("+residuo+ " " + element[4] + ')';
                }
            }

            if(disponibilidad == ""){
                disponibilidad= "0 unidades"
            }

            element[10] = disponibilidad;
            element[11] = true;
        })
        app_aplicar_desparasitacion.copia_all_insumos = JSON.parse('{{insumos|safe}}')
        app_aplicar_desparasitacion.copia_all_insumos.forEach(element => {
            disponibilidad = "";

            if(element[3] != 0){
                disponibilidad = element[3] + " unidades";
            }

            if(element[8]){
                if(element[3] != 0){
                    disponibilidad += " (" + element[5] + " " + element[4] + ')';
                }
                residuo = (parseFloat(element[6]) % parseInt(element[5])).toFixed(1);

                if(residuo != 0){
                    if(element[3] != 0){
                        disponibilidad += " y ";
                    }
                    disponibilidad += "1 unidad ("+residuo+ " " + element[4] + ')';
                }
            }

            if(disponibilidad == ""){
                disponibilidad= "0 unidades"
            }

            element[10] = disponibilidad;
            element[11] = true;
        });
        app_aplicar_desparasitacion.insumos_por_codigo = JSON.parse('{{insumos_por_codigo|safe}}');
        app_aplicar_desparasitacion.insumos_por_codigo.forEach(element => {
            element[3]=true;
        });
        app_aplicar_desparasitacion.copia_insumos_por_codigo = JSON.parse('{{insumos_por_codigo|safe}}');
        app_aplicar_desparasitacion.codigos_insumos = {{codigos_insumos|safe}};
        $.ajax({
            url: '/desparasitacion/ajax/obtener_desparasitantes/',
            data: {
                'tipo': 'adad'
            },
            dataType: 'json',
            success: function (data) {
                console.log(JSON.parse(data.all_desparasitantes));
                app_aplicar_desparasitacion.all_desparasitantes = JSON.parse(data.all_desparasitantes);

                app_aplicar_desparasitacion.all_desparasitantes.forEach((element, i) => {
                    element.fields.estado = true;

                    disponibilidad = "";

                    if(element.fields.cantidad != 0){
                        disponibilidad = element.fields.cantidad + " unidades";
                    }

                    if(element.fields.cantidad_por_unidad){
                        if(element.fields.cantidad != 0){
                            disponibilidad += " (" + element.fields.cantidad_unidad + " " + element.fields.unidad_medida + ')';
                        }
                        residuo = (parseFloat(element.fields.cantidad_total_unidades) % parseInt(element.fields.cantidad_unidad)).toFixed(1);

                        if(residuo != 0){
                            if(element.fields.cantidad != 0){
                                disponibilidad += " y ";
                            }
                            disponibilidad += "1 unidad ("+residuo+ " " + element.fields.unidad_medida + ')';
                        }
                    }

                    if(disponibilidad == ""){
                        disponibilidad= "0 unidades"
                    }

                    element.fields.descripcion = disponibilidad;
                });

                app_aplicar_desparasitacion.desparasitantes_por_codigo = JSON.parse(data.elementos_por_codigo);
                app_aplicar_desparasitacion.codigos_desparasitantes = data.codigos_elementos;
            }
        });
    });

    $("#select_desparasitante").change(function () {

        var index_elemento_seleccionado = $("#select_desparasitante option:selected").val();

        if(index_elemento_seleccionado != '-1'){
            app_aplicar_desparasitacion.index_elemento = index_elemento_seleccionado;
            var codigo_elemento_seleccionado = app_aplicar_desparasitacion.desparasitantes_por_codigo[index_elemento_seleccionado].fields.codigo_inventario;

            if(app_aplicar_desparasitacion.codigos_desparasitantes.includes(codigo_elemento_seleccionado)){
                app_aplicar_desparasitacion.nombre_elemento_modal = $("#select_desparasitante option:selected").text();
                $('#myModal2').modal('show');
                app_aplicar_desparasitacion.codigo_repetido = codigo_elemento_seleccionado;
                $(this).val(app_aplicar_desparasitacion.countryValDesparasitante);
                app_aplicar_desparasitacion.modalValDesparasitante = index_elemento_seleccionado;
            }else{
                app_aplicar_desparasitacion.countryValDesparasitante = index_elemento_seleccionado;
                app_aplicar_desparasitacion.all_desparasitantes.forEach(element => {
                    if(element.pk ==  app_aplicar_desparasitacion.desparasitantes_por_codigo[index_elemento_seleccionado].pk){
                        app_aplicar_desparasitacion.unidades_desparasitante = element.fields.unidad_medida;
                        app_aplicar_desparasitacion.cantidad_por_unidad = element.fields.cantidad_por_unidad;
                        app_aplicar_desparasitacion.id_desparasitante_seleccionado = element.pk;
                        app_aplicar_desparasitacion.desparasitante_seleccionado = element;
                        app_aplicar_desparasitacion.unidades_disponibles = element.fields.descripcion;
                        $('#cantidad_disponible').attr('title', element.fields.descripcion);
                    }
                })
            }
        }else{
            app_aplicar_desparasitacion.unidades_disponibles = '';
            $('#cantidad_disponible').attr('title', '');
            $("#cantidad").val(1);
            $("#select_unidades").val('Unidad(es)');
        }

    });

    $("#select_insumo").change(function () {
        var index_elemento_seleccionado = $("#select_insumo option:selected").val();

        if(index_elemento_seleccionado != '-1'){
            app_aplicar_desparasitacion.index_elemento_insumo = index_elemento_seleccionado;
            var codigo_elemento_seleccionado = app_aplicar_desparasitacion.insumos_por_codigo[index_elemento_seleccionado][1];

            if(app_aplicar_desparasitacion.codigos_insumos.includes(codigo_elemento_seleccionado)){
                app_aplicar_desparasitacion.nombre_elemento_modal = $("#select_insumo option:selected").text();
                $('#myModalInsumo').modal('show');
                app_aplicar_desparasitacion.codigo_repetido_insumo = codigo_elemento_seleccionado;
                $(this).val(app_aplicar_desparasitacion.countryValInsumo);
                app_aplicar_desparasitacion.modalValInsumo = index_elemento_seleccionado;
            }else{
                app_aplicar_desparasitacion.countryValInsumo = index_elemento_seleccionado;
                app_aplicar_desparasitacion.all_insumos.forEach(element => {
                    if(element[0] ==  app_aplicar_desparasitacion.insumos_por_codigo[index_elemento_seleccionado][2]){
                        app_aplicar_desparasitacion.option_type_insumo = element[4];
                        app_aplicar_desparasitacion.cantidad_por_unidad_insumo = element[8];
                        app_aplicar_desparasitacion.unidades_insumo = element[4];
                        app_aplicar_desparasitacion.id_insumo_seleccionado = element[0];
                        app_aplicar_desparasitacion.insumo_seleccionado = element;
                        $('#disponible_insumo').val(element[10]);
                        $('#disponible_insumo').attr('title', element[10]);
                    }
                })
            }
        }else{
            $('#disponible_insumo').val('');
            $('#disponible_insumo').attr('title', '');
            $("#cantidad_insumo").val(1);
            $('#cantidad_por_unidad_insumo').val('1');
        }

    });

</script>
{% endblock %}