{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Desparasitantes
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-xs-3">
            <h4 class="page-title">Desparasitantes registrados</h4>
        </div>
        <div class="col-sm-8 col-xs-9 text-right">
            <a href="{% url 'registrar_desparasitante' %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-plus"></i>
                Agregar desparasitante</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Número de lote</th>
                            <th>Descripción</th>
                            <th class="text-right">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for desparasitante in object_list %}
                            <tr>
                                <td>
                                    {{ desparasitante.nombre }}
                                </td>
                                <td>
                                    {% if desparasitante.codigo %}
                                    {{ desparasitante.codigo }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if desparasitante.descripcion %}
                                    {{ desparasitante.descripcion }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td class="text-right">
                                    <a href="{% url 'editar_desparasitante' desparasitante.id %}" class="action-icon dropdown-toggle"><i class="fa fa-pencil m-r-5"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}