{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Desparasitacion
{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
<style>
    .selectpicker:hover, .selectpicker:focus, .selectpicker:active.focus{
        background-color: #fff;
    }
    .open>.dropdown-toggle.btn-default:hover,.open>.dropdown-toggle.btn-default {
        color: #333;
        background-color: #fff;
        border-color: #8c8c8c;
    }
    .select2-selection__rendered {
        line-height: 31px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 34px !important;
    }
</style>
{% endblock%}

{% block content %}
<div id="app_registrar_desparasitacion" v-cloak>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">
                {% if modificar %}
                    Modificar desparasitacion
                {% else %}
                    Programar desparasitación
                {% endif %}
            </h4>
        </div>
    </div>
    <form class="form-horizontal" method="POST" action="" autocomplete="off">{% csrf_token %}
        <div class="card-box" style="padding-left: 15px;">
            <div class="row">
                
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.mascota label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.fecha label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.descripcion label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.veterinario label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.observaciones label_class="control-label col-lg-3" field_class="col-lg-9" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        {% bootstrap_field form.periocidad_field label_class="control-label col-lg-4" field_class="col-lg-5" %}
                        <div id="otras_fechas">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="table-responsive horizontal-scroll">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Fecha y hora</th>
                                            <th>Descripción</th>
                                            <th class="text-center"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(elemento_seleccionado, index) in elementos_seleccionados">
                                                <td>
                                                    [[ elemento_seleccionado.fecha ]]
                                                </td>
                                                <td>
                                                    <div v-if="elemento_seleccionado.descripcion">
                                                        [[ elemento_seleccionado.descripcion ]]
                                                    </div>
                                                    <div v-else>
                                                        -
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <a href="#" title="Quitar" class="action-icon dropdown-toggle" style="color: #f10000" v-on:click="eliminarElementoSeleccionado(index);"><i class="fa fa-trash m-r-5"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="min-width: 50%;">
                                                    <input class="form-control datetime-input" id="fecha">
                                                </td>
                                                <td style="max-width: 50%;">
                                                    <input class="form-control" id="descripcion" type="text">
                                                </td>
                                                <td class="text-center">
                                                    <a href="#" title="Agregar" class="action-icon dropdown-toggle" style="color: #076ff1" v-on:click="agregarElemento();"><i class="fa fa-plus m-r-5"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center submit-btns">
            {% if modificar %}
                {% bootstrap_button "Guardar cambios" button_type="submit" button_class="btn btn-primary m-r-20" %}
            {% else %}
                <a v-on:click="registrarDesparasitacion();" id="id_boton_registrar_pago" class="btn btn-primary button_save">Agregar</a>
            {% endif %}
            <a href="#" onclick="window.history.back();" class="btn btn-danger button_save">Cancelar</a>
        </div>
    </form>
</div>
{% endblock content %}

{% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#id_mascota').select2();
            $('#id_veterinario').select2();

            $('#firstdate').datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
            date: new Date("{{ fecha }}")
        })
            $('.datetime-input').datetimepicker({
                format:'DD/MM/YYYY HH:mm'
            });
            if($("#id_periocidad_field").val() == 'No'){
                $('#otras_fechas').hide();
            }
        });

        var app_registrar_desparasitacion = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app_registrar_desparasitacion',
            data: {
                elementos_seleccionados: [],
            },
            methods: {
                agregarElemento: function () {
                    if($("#fecha").val() == ''){
                        swal({
                            type: 'error',
                            title: 'Debe seleccionar una fecha',
                            showConfirmButton: true
                        });                        

                    }
                    else if($("#descripcion").val() == ''){
                        swal({
                            type: 'error',
                            title: 'Debe ingresar una descripcion',
                            showConfirmButton: true
                        });                        

                    }
                    else {
                        var fecha = $("#fecha").val();
                        console.log("Click: ", fecha);

                        objeto = {
                            "fecha": $("#fecha").val(),
                            "descripcion": $("#descripcion").val()
                        }

                        app_registrar_desparasitacion.elementos_seleccionados.push(objeto);

                        $("#fecha").val('');
                        $("#descripcion").val('');

                        console.log("app_registrar_desparasitacion.elementos_seleccionados: ", app_registrar_desparasitacion.elementos_seleccionados);
                        
                    }

                },
                eliminarElementoSeleccionado: function (i) {
                    this.elementos_seleccionados.splice(i, 1);
                },
                registrarDesparasitacion: function () {

                    if($("#id_mascota").val() == ''){
                        swal({
                            type: 'error',
                            title: 'Debe seleccionar una mascota para la desparasitación',
                            showConfirmButton: true
                        });
                        setTimeout(function(){
                            $("#pageLoader").hide();
                            $('.button_save').removeAttr('disabled');
                        }, 500);
                    }
                    else if($("#firstdate").val() == ''){
                        swal({
                            type: 'error',
                            title: 'Debe seleccionar una fecha para la desparasitación',
                            showConfirmButton: true
                        });
                        setTimeout(function(){
                            $("#pageLoader").hide();
                            $('.button_save').removeAttr('disabled');
                        }, 500);
                    }
                    else if($("#id_descripcion").val() == ''){
                        swal({
                            type: 'error',
                            title: 'Debe ingresar una descripción para la desparasitación',
                            showConfirmButton: true
                        });
                        setTimeout(function(){
                            $("#pageLoader").hide();
                            $('.button_save').removeAttr('disabled');
                        }, 500);
                    }else if($("#id_veterinario").val() == ''){
                        swal({
                            type: 'error',
                            title: 'Debe seleccionar un veterinario para la desparasitación',
                            showConfirmButton: true
                        });
                        setTimeout(function(){
                            $("#pageLoader").hide();
                            $('.button_save').removeAttr('disabled');
                        }, 500);
                    }else{

                        if(($("#id_periocidad_field").val() == 'Si') && (app_registrar_desparasitacion.elementos_seleccionados.length == 0)){
                            swal({
                                type: 'error',
                                title: 'Debe agregar por lo menos una fecha para repetir la desparasitación',
                                showConfirmButton: true
                            });
                            setTimeout(function(){
                                $("#pageLoader").hide();
                                $('.button_save').removeAttr('disabled');
                            }, 500);
                        }else{

                            var id_mascota = '{{ mascota.id }}';

                            var csrftoken = $('[name="csrfmiddlewaretoken"]').val();

                            var values = {};

                            if($("#id_periocidad_field").val() == 'No'){
                                values = {
                                    'mascota': $("#id_mascota").val(),
                                    'fecha': $("#firstdate").val(),
                                    'veterinario': $("#id_veterinario").val(),
                                    'descripcion': $("#id_descripcion").val(),
                                    'observaciones': $("#id_observaciones").val(),
                                    'repetir_desparasitacion': false,
                                };
                            }else{
                                values = {
                                    'mascota': $("#id_mascota").val(),
                                    'fecha': $("#firstdate").val(),
                                    'veterinario': $("#id_veterinario").val(),
                                    'descripcion': $("#id_descripcion").val(),
                                    'observaciones': $("#id_observaciones").val(),
                                    'elementos_seleccionados': app_registrar_desparasitacion.elementos_seleccionados,
                                    'repetir_desparasitacion': true,
                                };
                            }

                            $.ajax({
                                type:"POST",
                                url: '/desparasitacion/registrar_cita_desparasitacion/'+'{{ fecha }}'+"/",
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json',
                                    "X-CSRFToken": csrftoken
                                },
                                async: false,
                                processData: false,
                                data: JSON.stringify(values),
                                success: function () {
                                    var ruta = "/citas/listar_citas";
                                    window.location.replace(ruta);
                                    console.log("Registro exitoso")
                                }
                            });

                        }

                    }
                }
            }
        });

        $("#id_periocidad_field").change(function (){
            if($("#id_periocidad_field").val() == 'No'){
                $('#otras_fechas').hide();
            }else{
                $('#otras_fechas').show();
            }
        });
    </script>
{% endblock %}