{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Abrir Punto de Venta
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
{% endblock%}

{% block content %}

{% if not punto_activo %}
  <div class= "row">
      <div class= "col-sm-4 col-xs-4">
          <h1>Punto de Venta</h1>
          <form class="form-horizontal" method="POST" action="" autocomplete="off">{% csrf_token %}
              <div class="card-box-pdv">
                  <div class="text-center submit-btns-pdv">
                      <a href="{% url 'especificacion_punto' %}" class="btn btn-primary m-r-20">Crear</a>
                  </div>
              </div>
          </form>
      </div>
      <div class="col-sm-8 col-xs-4">
        {% if user.usuario.roles == "Administrador" %}
          <a href="{% url 'historial_punto_de_venta' %}" style="font-size: 15px;float:right;" class="btn btn-primary m-r-20"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Historial del Punto de Venta</a>
        {% endif %}
      </div>
  </div>
  {% else %}
  <div class="row">
      <div class="col-sm-12">
          <div class="panel panel-info">
              <div class="panel-body" style="display: flex;flex-wrap: wrap;">
                  <div class="card-box-pdv" style="display: flex;flex-wrap: wrap;margin-top: 10px!important;">
                      <div style="margin-right: 50px;">
                          <p><b>Responsable:</b> {{ puntos.responsable }}</p>
                          <div class="col-md-8" style="margin-top: 15px;">
                              <p><b>Fecha de Apertura:</b> {{ puntos.fecha_inicio | date }}</p>
                              <p><b>Dinero total:</b> ${{ total |intcomma |default:'0' }}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% endif %}

{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>


<script type="text/javascript">


</script>
{% endblock %}
