{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Punto de Venta
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
{% endblock%}

{% block content %}
{% if not punto_activo %}
<div class= "row">
    <div class= "col-md-3">
        <h1>Punto de Venta</h1>
    </div>
    <div class= "col-md-6">
        <form class="form-horizontal" method="POST" action="" autocomplete="off">{% csrf_token %}
            <div class="card-box-pdv-v">
                <div class="submit-btns-pdv">
                    <div class="form-group" style="margin: 15px;">
                        <label class="col-lg-6 control-label" style="font-size: 16px;display:contents;">Nombre: </label>
                        <input class="form-control" id="nombre_punto" type="text" placeholder="Ingrese un Nombre" style="display:inline-block;width:50%;">
                    </div>
                    <div class="form-group" style="margin: 15px;">
                        <label class="col-lg-6 control-label" style="font-size: 16px;">Especificar cantidad de dinero inicial: </label>
                        <input class="form-control" id="dinero_inicial" type="number" defailt= "0">
                    </div>
                    <div class="text-center" style="margin-top: 20px;">
                        <a onclick="Abrir_punto_alert()" class="btn btn-primary m-r-20">Crear</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class= "col-md-3">
    </div>
</div>
{% else %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Punto en curso</h3>
                </div>
                <div class="panel-body">
                    <h3><b>Apertura:</b> {{ punto_activo.fecha_inicio | date }} {{ punto_activo.fecha_inicio | date:"h:i a" }}</h3>
                    <h3><b>Responsable:</b> {{ punto_activo.responsable }}</h3>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</div>
</div>
{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>


<script type="text/javascript">


function Abrir_punto_alert(){

    var csrftoken = $('[name="csrfmiddlewaretoken"]').val();

    if  ($("#dinero_inicial").val() == undefined || $("#dinero_inicial").val() == ''){
        $("#dinero_inicial").val(0)
    }
    var money = $("#dinero_inicial").val()
    var nombre_punto = $("#nombre_punto").val()

    swal({
        title: "Estas seguro que desea Abrir el punto con $"+$("#dinero_inicial").val().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.") +" y con nombre " + $("#nombre_punto").val() +"?",
        text: "Una vez abierta el punto no puede cambiar el monto inicial.",
        icon: "warning",
        buttons: {
            cancel: {
                text: "No, cancelar",
                value: null,
                visible: true,
                className: "",
                closeModal: true,
            },
            confirm: {
                text: "Si, abrir punto!",
                value: true,
                visible: true,
                className: "",
                closeModal: true
            }
        },
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {
            $.ajax({
                url: '/puntoDeVenta/agregar_punto/',
                data: {
                    'dinero': money,
                    'nombre_punto': nombre_punto
                },
                dataType: 'json',
                success: function (data) {
                    window.location.replace("/puntoDeVenta/listar_puntos_hoy/");
                }
            });
        }
    });

}
</script>
{% endblock %}
