{% extends 'basePunto.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Generar Pago
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css"/>

<style>
    .selected{
      background-color: #0A6FF1;
      color: #fff;
    }
    .selected a{
      color:#fff;
      font-size:25px;
    }
    .detalle-cliente{
      border-radius: 20px;
      text-align: center;
      border: 4px solid #9E9E9E;
    }
    .numpago button {
        float: left;
        height: 45px;
        width: 45px;
        font-weight: bold;
        vertical-align: middle;
        color: #076ff1;
        border-radius: 0;
        border: none;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-color: #000;
        transition: all 150ms linear;
        background-color: transparent;
    }
    #debito .metodo{
      color: #fff!important;
      background-color: #076ff1!important;
      border-color: #076ff1!important;
    }
    #debito .metodo:hover {
      background-color: #09ADA6!important;
      border: 1px solid #09ADA6!important;
    }
    #credito .metodo{
      color: #fff!important;
      background-color: #076ff1!important;
      border-color: #076ff1!important;
    }
    #credito .metodo:hover {
      background-color: #09ADA6!important;
      border: 1px solid #09ADA6!important;
    }
</style>
{% endblock%}

{% block content %}
<a id="mobile_btn" class="pull-left" href="#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>
<div class="sidebar-carrito-menu" id="sidebar" style="top:145px;">
    <div class="sidebar-inner slimscroll">
        <div class="sidebar-carrito" id="app_menu">
            <div class="col-12" style="background-color: #fff;">
                <div class="card-box-pdv-carrito">
                    <h1 class="text-center">Forma de Pago</h1>
                    <div class="text-center submit-btns-pdv" id="debito">
                        <a href="#" style="margin-top:20px;" class="btn btn-primary m-r-20"><i class="fa fa-money"></i> Débito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-wrap-punto">
<div class="content-punto container-fluid">
<div class="row">
    <div class="col-12">
        <div class="col-sm-5">
          <a href="{% url 'abrir_punto_de_venta' %}" style="font-size: 15px;margin-left:40px;" class="btn btn-primary m-r-20"><i class="fa fa-mail-reply"></i> Regresar</a>
            <h4 class="page-title" style="display: contents;">
                Generar Pago
            </h4>
        </div>
        <div class="col-sm-2">
            <div class="" style="width: 225px;display: -webkit-inline-box;margin-top: 20px;">
                <div class="text-center input-group search-box" style="margin-bottom: 0px;">
                    <input placeholder="Buscar" class="form-control search-input" id="buscar_inventario" type="text">
                    <span class="input-group-btn boton_buscar">
                        <a class="btn btn-primary"><i class="fa fa-search"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="text-right submit-btns-pdv" style="margin:20px;">
                <a href="#" onclick="Cerrar_punto_alert('{{punto.id}}')" style="background: red;border-color:red; font-size: 15px;" class="btn btn-primary m-r-20"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar punto</a>
            </div>
        </div>
    </div>
</div>
<div class="card-box-pdv-pago">
    <div class="text-right submit-btns-pdv validar">
        <a href="#" class="btn btn-primary m-r-20">Validar</a>
    </div>
    <div id="total_pagar" data-pago="{{pago}}">
      <h1 class="text-center" style="font-size: 50px;">Total a Pagar <span style="color:#076ff1;">${{ pago }}</span></h1>
      <div class="text-center submit-btns-pdv" id="generar_tabla">
          <a href="#" class="btn btn-primary m-r-20" style="background:#0A6FF1;margin-bottom:25px;margin-top:25px;">Generar Pago</a>
      </div>
    </div>
    <div id="pago_generado" class="table-responsive">
        <table class="table" id="pagos_metodos">
            <thead>
                <tr>
                    <th class="text-center">Valor a Pagar</th>
                    <th class="text-center">Medio de Pago</th>
                    <th class="text-center">Valor Recibido</th>
                    <th class="text-center">Cambio</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="pagos">
                    <td class="text-center valor-pagar"><p>$<span class="pagar">{{ pago }}</span></p></td>
                    <td class="text-center tipo">
                        <select class="form-control">
                            <option value="Efectivo">Efectivo</option>
                            <option value="Tarjeta debito">Tarjeta débito</option>
                            <option value="Consignacion">Consignación</option>
                            <option value="Tarjeta credito">Tarjeta crédito</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </td>
                    <td class="text-center valor-recibido" data-total_pago="{{ pago }}">
                      <a data-valor_pagar="0">
                        <p>$<span class="costo">0</span></p>
                      </a>
                    </td>
                    <td class="text-center vuelto"><p class="cambio" data-cambio="0">$0</p></td>
                    <td>
                      <a href="#" style="color: #076ff1" title="Agregar"
                       class="action-icon dropdown-toggle agregar"><i class="fa fa-plus-square fa-lg"></i></a>
                      <a href="#" style="color: #076ff1" title="Eliminar"
                        class="action-icon dropdown-toggle eliminar"><i class="fa fa-close fa-lg"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-box-pdv-pago">
      <div class="row doctor-grid" id="grid_cat_punto">
          <div style="display: flex;flex-direction: row; flex-wrap: wrap;">
            <div class="col-md-6 text-right">
              {% include "calculadora_generar_pago.html" %}
            </div>
            <div class="col-md-4 text-left">
              <div class="detalle-cliente">
                <img src="{% static 'img/perfil.png' %}" height="110" style="padding-left: 20px;" />
                <h1 class="text-center">Cliente</h1>
                {% if cliente != 0 %}
                  <div id="datos_cliente" class="text-center">
                    <div class="nombre-completo" data-cliente="{{ cliente.id }}">
                      <p><strong>Nombre Completo</strong></p>
                      <p style="color:#0A6FF1;margin-top: -13px;">{{ cliente.nombres}} {{ cliente.apellidos }}</p>
                      <p><strong>Documento</strong></p>
                      <p style="color:#0A6FF1;margin-top: -13px;">{{ cliente.tipo_documento}} - {{ cliente.numero_documento }}</p>
                      <p><strong>Ciudad</strong></p>
                      <p style="color:#0A6FF1;margin-top: -13px;">{{ cliente.ciudad }}</p>
                    </div>
                  </div>
                {% endif %}
              </div>
              
            </div>
            <div class="col-md-2">
            </div>
          </div>
      </div>
    </div>
</div>

{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/puntoDeVenta/generar_pago.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

<script type="text/javascript">
</script>
{% endblock %}
