{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Historial del Punto de Venta
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
{% endblock%}

{% block content %}
<div class="row">
  <div class= "col-sm-6 col-xs-4">
      <h4 class="page-title" style="font-weight:bolder;">Historial del Punto de Venta</h4>
      <ol class="breadcrumb">
          <li><a href="/usuario/index/">Inicio</a></li>
          <li class="active"><a>Historial del Punto de Venta</a></li>
      </ol>
  </div>
  <div class="col-sm-6 col-xs-4">
    <a href="{% url 'abrir_punto_de_venta' %}" style="font-size: 15px;float:right;" class="btn btn-primary m-r-20"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Retornar al Punto de Venta</a>
  </div>
</div>
<div class="row">
  {% if puntos_generales %}
    {% for puntos_gen in puntos_generales %}
      <div class="col-md-4">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <h3 class="panel-title">Punto en curso</h3>
              </div>
              <div class="panel-body">
                  <h3><b>Apertura:</b> {{ puntos_gen.fecha_inicio | date }} {{ puntos_gen.fecha_inicio | date:"h:i a" }}</h3>
                  <h3><b>Responsable:</b> {{ puntos_gen.responsable }}</h3>
                  <p><b>Dinero Inicial:</b> {{ puntos_gen.dinero_inicial }}</p>
                  <p><b>Total ventas:</b> ${{ puntos_gen.total_venta |intcomma |default:'0' }}</p>
                  {% if puntos_gen.total_compra %}
                      <p><b>Total compras:</b> $<span style="color:red;">{{ puntos_gen.total_compra |intcomma }}</span></p>
                  {% endif %}
                  {% if puntos_gen.total_efectivo > puntos_gen.dinero_inicial %}
                      <p><b>Total efectivo:</b> ${{ puntos_gen.total_efectivo |intcomma |default:'0' }}</p>
                  {% endif %}
                  <p><b>Dinero total:</b> ${{ puntos_gen.total |intcomma |default:'0' }}</p>
                  {% if puntos_gen.total_ventas_efectivo %}
                      <p><b>Ventas en efectivo:</b> ${{ puntos_gen.total_ventas_efectivo |intcomma |default:'0' }}</p>
                  {% endif %}
                  {% if puntos_gen.total_tarjeta_debito %}
                      <p><b>Ventas por tarjeta débito:</b> ${{ puntos_gen.total_tarjeta_debito |intcomma |default:'0' }}</p>
                  {% endif %}
                  {% if puntos_gen.total_consignacion %}
                      <p><b>Ventas por consignación:</b> ${{ puntos_gen.total_consignacion |intcomma |default:'0' }}</p>
                  {% endif %}
                  {% if puntos_gen.total_tarjeta_credito %}
                      <p><b>Ventas por tarjeta crédito:</b> ${{ puntos_gen.total_tarjeta_credito |intcomma |default:'0' }}</p>
                  {% endif %}
                  {% if puntos_gen.total_otros %}
                      <p><b>Ventas por otro medios:</b> ${{ puntos_gen.total_otros |intcomma |default:'0' }}</p>
                  {% endif %}
                  {% if puntos_gen.total_compras_efectivo %}
                      <p><b>Compras con efectivo:</b> <span style="color:#FF1001;">$-{{ puntos_gen.total_compras_efectivo |intcomma |default:'0' }}</span></p>
                  {% endif %}
                  {% if puntos_gen.total_compras_tarjeta_debito %}
                      <p><b>Compras con tarjeta débito:</b> <span style="color: red">$-{{ puntos_gen.total_compras_tarjeta_debito |intcomma |default:'0' }}</span></p>
                  {% endif %}
                  {% if puntos_gen.total_compras_consignacion %}
                      <p><b>Compras con consignación:</b> <span style="color: red">$-{{ puntos_gen.total_compras_consignacion |intcomma |default:'0' }}</span></p>
                  {% endif %}
                  {% if puntos_gen.total_compras_tarjeta_credito %}
                      <p><b>Compras con tarjeta crédito:</b> <span style="color: red">$-{{ puntos_gen.total_compras_tarjeta_credito |intcomma |default:'0' }}</span></p>
                  {% endif %}
                  {% if puntos_gen.total_compras_otros %}
                      <p><b>Compras con otros medios:</b> <span style="color: red">$-{{ puntos_gen.total_compras_otros |intcomma |default:'0' }}</span></p>
                  {% endif %}
              </div>
          </div>
      </div>
    {% endfor %}
  {% endif %}
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Fecha de inicio</th>
                        <th>Fecha de cierre</th>
                        <th>Responsable</th>
                        <th>Nombre Del Punto</th>
                        <th>Dinero inicial</th>
                        <th>Dinero final</th>
                        <th class="text-right">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for punt in puntos %}
                      {% if not punt.estado %}
                          <tr>
                              <td>
                                  {{ punt.fecha_inicio }}
                              </td>
                              <td>
                                  {{ punt.fecha_final }}
                              </td>
                              <td>
                                  {{ punt.responsable | default:'-'}}
                              </td>
                              <td>
                                {% if punt.nombre_punto %}
                                  {{ punt.nombre_punto }}
                                {% else %}
                                  No hay Nombre Asignado
                                {% endif %}
                              </td>
                              <td>
                                  ${{ punt.dinero_inicial | intcomma}}
                              </td>
                              <td>
                                  ${{ punt.dinero_final | intcomma}}
                              </td>

                              <td class="text-center">
                                <a href="{% url 'detalle_punto' punt.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                  <!--a href="#" title="Ver" class="action-icon dropdown-toggle" style="color: #076ff1"><i class="fa fa-file m-r-5"></i></a-->
                              </td>
                          </tr>
                      {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
<script type="text/javascript">
</script>
{% endblock %}
