{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    Punto de Venta
{% endblock title %}

{% block content %}
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm-6 col-xs-4">
            <h4 class="page-title">Punto de Venta</h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li class="active"><a>Punto de Venta</a></li>
            </ol>
        </div>
        <div class="col-sm-6 col-xs-4">
          <a href="#" onclick="Cerrar_punto_alert('{{punto.id}}')" style="background: red;border-color:red; font-size: 15px;float:right;" class="btn btn-primary m-r-20"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar punto</a>
          {% if user.usuario.roles == "Administrador" %}
            <a href="{% url 'historial_punto_de_venta' %}" style="font-size: 15px;float:right;" class="btn btn-primary m-r-20"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Historial del Punto de Venta</a>
          {% endif %}
          <a href="../registrar_compra_punto_de_venta/" style="font-size: 15px;float:right;" class="btn btn-primary m-r-20"><i class="fa fa-cart-plus" aria-hidden="true"></i> Añadir Compra</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-body" style="display: flex;flex-wrap: wrap;">
                    <div class="card-box-pdv" style="display: flex;flex-wrap: wrap;margin-top: 10px!important;">
                        <div style="">
                            <p style="color:#076ff1;">{{ punto.nombre_punto }}</p>
                            <p><b>Responsable:</b> {{ punto.responsable }}</p>
                            <div class="col-md-3" style="margin-top: 15px;">
                                <div class="submit-btns-pdv">
                                    <a href="{% url 'registrar_pago_pdv' %}" class="btn btn-primary m-r-20">Iniciar</a>
                                </div>
                            </div>
                            <div class="col-md-3" style="margin-top: 15px;">
                                <p><b>Fecha de Apertura:</b> {{ punto.fecha_inicio | date }}</p>
                                <p><b>Dinero Inicial:</b> $<span>{{ dinero_inicial | intcomma |default:'0' }}</span></p>
                                {% if total > 0 %}
                                  <p><b>Dinero total:</b> ${{ total |intcomma |default:'0' }}</p>
                                {% else %}
                                  <p><b>Dinero total:</b> $<span style="color:red;">{{ total |intcomma |default:'0' }}</span></p>
                                {% endif %}
                            </div>
                            <div class="col-md-3" style="margin-top: 15px;">
                                {% if total_compra %}
                                    <p><b>Total compras:</b> ${{ total_compra |intcomma }}</p>
                                {% endif %}
                                {% if total_efectivo > dinero_inicial %}
                                    <p><b>Total efectivo:</b> ${{ total_efectivo |intcomma |default:'0' }}</p>
                                {% endif %}
                                {% if total_ventas_efectivo %}
                                    <p><b>Ventas en efectivo:</b> ${{ total_ventas_efectivo |intcomma |default:'0' }}</p>
                                {% endif %}
                                {% if total_tarjeta_debito %}
                                    <p><b>Ventas por tarjeta débito:</b> ${{ total_tarjeta_debito |intcomma |default:'0' }}</p>
                                {% endif %}
                                {% if total_consignacion %}
                                    <p><b>Ventas por consignación:</b> ${{ total_consignacion |intcomma |default:'0' }}</p>
                                {% endif %}
                                {% if total_tarjeta_credito %}
                                    <p><b>Ventas por tarjeta crédito:</b> ${{ total_tarjeta_credito |intcomma |default:'0' }}</p>
                                {% endif %}
                            </div>
                            <div class="col-md-3" style="margin-top: 15px;">
                                {% if total_otros %}
                                    <p><b>Ventas por otro medios:</b> ${{ total_otros |intcomma |default:'0' }}</p>
                                {% endif %}
                                {% if total_compras_efectivo %}
                                    <p><b>Compras con efectivo:</b> <span style="color:#FF1001;">$-{{ total_compras_efectivo |intcomma |default:'0' }}</span></p>
                                {% endif %}
                                {% if total_compras_tarjeta_debito %}
                                    <p><b>Compras con tarjeta débito:</b> <span style="color: red">$-{{ total_compras_tarjeta_debito |intcomma |default:'0' }}</span></p>
                                {% endif %}
                                {% if total_compras_consignacion %}
                                    <p><b>Compras con consignación:</b> <span style="color: red">$-{{ total_compras_consignacion |intcomma |default:'0' }}</span></p>
                                {% endif %}
                                {% if total_compras_tarjeta_credito %}
                                    <p><b>Compras con tarjeta crédito:</b> <span style="color: red">$-{{ total_compras_tarjeta_credito |intcomma |default:'0' }}</span></p>
                                {% endif %}
                                {% if total_compras_otros %}
                                    <p><b>Compras con otros medios:</b> <span style="color: red">$-{{ total_compras_otros |intcomma |default:'0' }}</span></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Numero de recibo</th>
                            <th>Cliente-proveedor / Número de identificación</th>
                            <th>Motivo</th>
                            <th>Tipo</th>
                            <th>Medio de pago</th>
                            <th>Abono</th>
                            <th>Valor total</th>
                            <th class="text-right">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pago in pagos_hoy %}
                            {% if pago.forma_pago == 'Debito' %}
                            <tr>
                                <td>
                                    {% if pago.id < 10 %}
                                        0000{{ pago.id }}
                                    {% elif pago.id < 100 %}
                                        000{{ pago.id }}
                                    {% elif pago.id < 1000 %}
                                        00{{ pago.id }}
                                    {% elif pago.id < 10000 %}
                                        0{{ pago.id }}
                                    {% elif pago.id < 100000 %}
                                        {{ pago.id }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if pago.cliente %}
                                    <a href="{% url 'detalle_cliente' pago.cliente.id %}" title="Ver">{{ pago.cliente.nombreCompleto }} / CC: {{ pago.cliente.numero_documento }}</a>
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>

                                <td>
                                    {% for motivos in motivos_pagos %}
                                        {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                            {% for motivo in motivos %}
                                            <span class="label label-info">{{ motivo }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>Venta</td>
                                <td>
                                    {% for metodo in metodos %}
                                      {% if metodo.pago == pago %}
                                        {{ metodo.medio_pago }}
                                      {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for pago_in in abonos_pago %}
                                        {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                        {% if pago_in != '-' %}
                                           ${{ pago_in | intcomma}}
                                        {% endif %}
                                        {% if pago_in == '-' %}
                                            {{ pago_in }}
                                        {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    $ {{ pago.total_factura | intcomma}}
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'detalle_pago' pago.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                    {% if pago.estado_pago != 'Anulada' %}
                                    <a onclick="AnularPago('{{pago.id}}', '{{pago.total_factura}}', '{{pago.fecha}}');" class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Anular"><i class="fa fa-ban fa-lg"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% for abono in abonos_pagos %}
                            <tr>
                                <td>
                                    {% if abono.pago.id < 10 %}
                                        0000{{ abono.pago.id }}
                                    {% elif abono.pago.id < 100 %}
                                        000{{ abono.pago.id }}
                                    {% elif abono.pago.id < 1000 %}
                                        00{{ abono.pago.id }}
                                    {% elif abono.pago.id < 10000 %}
                                        0{{ abono.pago.id }}
                                    {% elif abono.pago.id < 100000 %}
                                        {{ abono.pago.id }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if abono.pago.cliente %}
                                    <a href="{% url 'detalle_cliente' abono.pago.cliente.id %}" title="Ver">{{ abono.pago.cliente.nombreCompleto }} / CC: {{ abono.pago.cliente.numero_documento }}</a>
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>

                                <td>
                                    -
                                </td>
                                <td>Abono a venta</td>
                                <td>
                                    {{ abono.medio_pago }}
                                </td>
                                <td>
                                    $ {{ abono.valor_abonado | intcomma }}
                                </td>
                                <td>
                                    $ {{ abono.pago.total_factura | intcomma}}
                                </td>
                                <td class="text-center">
                                    {% if abono.pago %}
                                    <a href="{% url 'detalle_pago' abono.pago.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for gasto in compras_hoy %}
                            {% if gasto.forma_pago == 'Debito' %}
                                <tr>
                                    <td>
                                      {% if gasto.id < 10 %}
                                          0000{{ gasto.id }}
                                      {% elif gasto.id < 100 %}
                                          000{{ gasto.id }}
                                      {% elif gasto.id < 1000 %}
                                          00{{ gasto.id }}
                                      {% elif gasto.id < 10000 %}
                                          0{{ gasto.id }}
                                      {% elif gasto.id < 100000 %}
                                          {{ gasto.id }}
                                      {% endif %}
                                    </td>
                                    <td>
                                        {% if gasto.proveedor %}
                                            {% if gasto.proveedor.tipo_documento == 'CC' %}
                                            {{ gasto.proveedor.nombre }} / CC: {{ gasto.proveedor.numero_documento }}
                                            {% endif %}
                                            {% if gasto.proveedor.tipo_documento == 'NI' %}
                                            {{ gasto.proveedor.nombre }} / NI: {{ gasto.proveedor.numero_documento }}
                                            {% endif %}
                                            {% if gasto.proveedor.tipo_documento == 'RU' %}
                                            {{ gasto.proveedor.nombre }} / RU: {{ gasto.proveedor.numero_documento }}
                                            {% endif %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% for motivos in motivos_gastos %}
                                            {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                                {% for motivo in motivos %}
                                                <span class="label label-info">{{ motivo }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>Compra</td>
                                    <td>
                                        {{ gasto.tipo_pago_debito }}
                                    </td>
                                    <td>
                                        {% for compra_in in abonos_compra %}
                                            {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                            {% if compra_in != '-' %}
                                            ${{ compra_in | intcomma}}
                                         {% endif %}
                                         {% if compra_in == '-' %}
                                             {{ compra_in }}
                                         {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <p style="color:#FF1001;">$- {{ gasto.valor_total | intcomma}}</p>
                                    </td>
                                    <td class="text-center">
                                        <a href="{% url 'detalle_compra' gasto.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                        {% if gasto.estado_pago != 'Anulada' %}
                                            <a onclick="AnularCompra('{{gasto.id}}', '{{gasto.valor_total}}', '{{gasto.fecha}}');" class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Anular"><i class="fa fa-ban fa-lg"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% for abono in abonos_compras %}
                            <tr>
                                <td>
                                    -
                                </td>
                                <td>
                                    {% if abono.gasto.cliente %}
                                    <a href="{% url 'detalle_cliente' abono.gasto.cliente.id %}" title="Ver">{{ abono.gasto.cliente.nombreCompleto }} / CC: {{ abono.gasto.cliente.numero_documento }}</a>
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>

                                <td>
                                    -
                                </td>
                                <td>Abono a compra</td>
                                <td>
                                    {{ abono.medio_pago }}
                                </td>
                                <td>
                                    $ {{ abono.valor_abonado | intcomma }}
                                </td>
                                <td>
                                    $ {{ abono.gasto.valor_total | intcomma}}
                                </td>
                                <td class="text-center">
                                    {% if abono.gasto %}
                                    <a href="{% url 'detalle_compra' abono.gasto.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


  {% endblock content %}
  {% block plugins %}
  <script type="text/javascript" src="{% static 'js/puntoDeVenta/listar_puntos.js' %}"></script>
    <script>
    </script>
{% endblock %}
