{% extends 'basePunto.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Registrar Venta Punto
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css"/>

<style>
    .selectpicker:hover, .selectpicker:focus, .selectpicker:active.focus{
        background-color: #fff;
    }
    .open>.dropdown-toggle.btn-default:hover,.open>.dropdown-toggle.btn-default {
        color: #333;
        background-color: #fff;
        border-color: #8c8c8c;
    }
    .select2-selection__rendered {
        line-height: 31px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 34px !important;
    }
    .product-car {
        color: #000;
    }
    .numpad button {
        float: left;
        height: 45px;
        width: 45px;
        font-weight: bold;
        vertical-align: middle;
        color: #076ff1;
        border-radius: 0;
        border: none;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-color: #000;
        transition: all 150ms linear;
        background-color: transparent;
    }
    .selected .col-md-10 {
        padding: 10px;
        padding-bottom: 3px;
        background-color: #0A6FF1;
        color: #fff;
    }
    .selected .col-md-2 {
        height: 79px;
        color: #fff;
        background-color: #0A6FF1;
        padding-top:8px;
    }
    .selected .precio_productos p {
        padding-top: 20px;
        font-size: 16px;
        padding-right: 15px;
    }
    .selected-mode {
      background-color: #09ADA6!important;
    }
    .categoria-select {
      background-color: #09ADA6!important;
    }
    .product-select .card-box-pdv-pago{
      border: 5px solid #096ff1;
    }
    #datos_cliente .nombre-completo p {
        font-size:10px;
    }
    #barras:focus {
      outline: none;
    }
    #barras {
      border-color: transparent;
    }
</style>
{% endblock%}

{% block content %}
<a id="mobile_btn" class="pull-left" href="#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>
<div class="sidebar-carrito-menu" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div class="sidebar-carrito" id="app_menu">
            <div class="col-12" style="background-color: #fff;">
                <div class="card-box-pdv-carrito" style="background: url( '{% static 'img/carrito.png' %}') 10% 0 no-repeat;
                color: #fff;height: 350px;background-size: 84% 87%;display:table;width: -webkit-fill-available;">
                    <div id="carrito_total" style="color:#000;">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-3">
                            <h2 >Total</h2>
                        </div>
                        <div class="col-md-4" id="precio_total" data-subtotal="0">
                            <h3>0</h3>
                        </div>
                    </div>
                    <div class="descuento" style="color:#000;display:none;">
                      <div class="col-md-6">
                          <p>Descuento Total</p>
                      </div>
                      <div class="col-md-6" id="descuento_total" data-descuento_total="0">
                          <p>0</p>
                      </div>
                    </div>
                </div>
                <div class="card-box-pdv-carrito" style="background:#f4f4f4;">
                    <div class="text-center submit-btns-pdv">
                        <a href="#" style="margin-bottom:20px;background: #076FF1;font-size: 15px;" class="btn btn-primary m-r-20 cliente_punto">Ver Clientes</a>
                    </div>
                    <div class="col-md-5 text-center" style="padding-right: 0px;padding-left: 0px;background:#fff;border-radius: 20px;">
                        <img src="{% static 'img/perfil.png' %}" height="70" style="padding-left: 20px;" />
                        <h3>Cliente</h3>
                        <div id="datos_cliente">
                        </div>
                    </div>
                    {% include "calculadora.html" %}
                    <div id="generar_pago" class="text-center submit-btns-pdv">
                        <!-- Colocar el monto para enviar a la pagina de pagos  -->
                        <a href="#" style="margin-top:20px;background: #076FF1;" class="btn btn-primary m-r-20"><i class="fa fa-money"></i> Generar Pago</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-wrap-punto">
<div class="content-punto container-fluid">
<div id="app_punto_venta">
    <div class="row">
        <div class="col-12">
            <div class="col-sm-5">
              <a href="{% url 'abrir_punto_de_venta' %}" style="font-size: 15px;margin-left:40px;" class="btn btn-primary m-r-20"><i class="fa fa-mail-reply"></i> Regresar</a>
                <h4 class="page-title" style="display: contents;">
                    Punto de Venta
                </h4>
            </div>
            <div class="col-sm-7">
                <div class="text-right submit-btns-pdv" style="margin:20px;">
                  {% if user.usuario.roles == "Administrador" %}
                    <a href="{% url 'historial_punto_de_venta' %}" style="font-size: 15px;" class="btn btn-primary m-r-20"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Historial del Punto de Venta</a>
                  {% endif %}
                    <a href="../registrar_compra_punto_de_venta/" style="font-size: 15px;" class="btn btn-primary m-r-20"><i class="fa fa-cart-plus" aria-hidden="true"></i> Añadir Compra</a>
                    <a href="#" onclick="Cerrar_punto_alert('{{punto.id}}')" style="background: red;border-color:red; font-size: 15px;" class="btn btn-primary m-r-20"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar punto</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="text-right" style="width: 225px; margin-left:40px;">
                <div class="input-group search-box">
                    <input placeholder="Buscar" class="form-control search-input" id="buscar_inventario" type="text">
                    <span class="input-group-btn boton_buscar">
                        <a class="btn btn-primary"><i class="fa fa-search"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Empieza lo bueno -->
    <form class="form-horizontal" method="post" action="" autocomplete="off">{% csrf_token %}
        <div class="card-box-pdv-pago">
            <div class="row doctor-grid" id="grid_cat_punto">
                <div style="display: flex;flex-direction: row; flex-wrap: wrap;">
                    <div class="col-md-12">
                        <div class="submit-btns-pdv categoria">
                            <a href="#"  onclick="Inventario('Producto')" style="margin-bottom:20px;background: #076FF1;font-size: 15px;" class="producto btn btn-primary m-r-20">
                                <img src="{% static 'img/producto.png' %}" class="img-responsive">
                                Producto
                            </a>
                            <a href="#"  onclick="Inventario('Medicamento')" style="margin-bottom:20px;background: #076FF1;font-size: 15px;" class="medicamento btn btn-primary m-r-20">
                                <img src="{% static 'img/medicamento.png' %}" class="img-responsive">
                                Medicamento
                            </a>
                            <a href="#"  onclick="Inventario('Vacuna')" style="margin-bottom:20px;background: #076FF1;font-size: 15px;" class="vacuna btn btn-primary m-r-20">
                                <img src="{% static 'img/vacunas.png' %}" class="img-responsive">
                                Vacuna
                            </a>
                            <a href="#"  onclick="Inventario('Desparasitante')" style="margin-bottom:20px;background: #076FF1;font-size: 15px;" class="desparasitante btn btn-primary m-r-20">
                                <img src="{% static 'img/desparasitante.png' %}" class="img-responsive">
                                Desparasitante
                            </a>
                            <a href="#"  onclick="Inventario('Otro')" style="margin-bottom:20px;background: #076FF1;font-size: 15px;" class="otro btn btn-primary m-r-20">
                                <img src="{% static 'img/otros.png' %}" class="img-responsive">
                                Otro
                            </a>
                            <a href="#"  onclick="Inventario('Nuevas_Categorias')" style="margin-bottom:20px;background: #076FF1;font-size: 15px;" class="nuevas_categorias btn btn-primary m-r-20">
                                <img src="{% static 'img/insumo.png' %}" class="img-responsive">
                                Categorías Nuevas
                            </a>
                            <a href="#"  onclick="Inventario('Servicios')" style="margin-bottom:20px;background: #076FF1;font-size: 15px;" class="servicios btn btn-primary m-r-20 servicios">
                                <img src="{% static 'img/insumo.png' %}" class="img-responsive">
                                Servicios
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-box-pdv-pago">
            <div id="sin_productos" class="contenedor">
                <I><h3 class="text-center">No Has Seleccionado una Categoría</h3></I>
            </div>
            <div id="contenedor_productos" class="contenedor">
                <div class="row" style="display: flex;flex-direction: row; flex-wrap: wrap;">
                    <div class="col-md-3 col-sm-3 col-xs-6 col-lg-3" v-for="elemento in lista_elementos">
                      <a href="#" v-bind:data-id="[[ elemento.pk ]]" data-tipo="Producto" v-bind:data-nombre="[[ elemento.fields.nombre ]]" v-bind:data-precio="[[ elemento.fields.precio_venta ]]" v-bind:data-cantidad_disponible="[[ elemento.fields.cantidad ]]" v-bind:data-cantidad_por_unidad_producto="[[ elemento.fields.cantidad_por_unidad ]]" v-bind:data-cantidad_unidad="[[ elemento.fields.cantidad_unidad ]]" v-bind:data-unidad_medida_producto="[[ elemento.fields.unidad_medida ]]" v-bind:data-precio_medida="[[ elemento.fields.precio_por_unidad ]]" style="color:#000;">
                        <div class="card-box-pdv-pago text-center">
                            <img width="180" height="150" v-if="elemento.fields.foto" v-bind:src="'/media/' + elemento.fields.foto" style="margin-bottom:10px;">
                            <img v-else width="180" height="150" src="/static/img/producto_sin_foto.jpg" style="margin-bottom:10px;">
                            <p style="font-weight: bolder;font-size: 15px;" class="producto_escoger">[[ elemento.fields.nombre ]]</p>
                            <p style="font-size: 20px;">$[[ elemento.fields.precio_venta | formatoMoneda ]]</p>
                            <p style="font-size: 15px;">[[ elemento.fields.disponibilidad ]]</p>
                            <p v-if="elemento.fields.codigo" style="font-size: 10px;">Cb. [[ elemento.fields.codigo ]]</p>
                            <p v-if="elemento.fields.fecha_vencimiento" style="font-size: 10px;">Vencimiento: [[ elemento.fields.fecha_vencimiento ]]</p>
                        </div>
                      </a>
                    </div>
                </div>
            </div>
            <div id="contenedor_medicamentos" class="contenedor">
                <div class="row" style="display: flex;flex-direction: row; flex-wrap: wrap;">
                    <div class="col-md-3 col-sm-3 col-xs-6 col-lg-3" v-for="elemento in lista_elementos">
                      <a href="#" v-bind:data-id="[[ elemento.pk ]]" data-tipo="Medicamentos" v-bind:data-nombre="[[ elemento.fields.nombre ]]" v-bind:data-precio="[[ elemento.fields.precio_venta ]]" v-bind:data-cantidad_disponible="[[ elemento.fields.cantidad ]]" v-bind:data-cantidad_por_unidad_producto="[[ elemento.fields.cantidad_por_unidad ]]" v-bind:data-cantidad_unidad="[[ elemento.fields.cantidad_unidad ]]" v-bind:data-unidad_medida_producto="[[ elemento.fields.unidad_medida ]]" v-bind:data-precio_medida="[[ elemento.fields.precio_por_unidad ]]" style="color:#000;">
                        <div class="card-box-pdv-pago text-center">
                            <img width="180" height="150" v-if="elemento.fields.foto" v-bind:src="'/media/' + elemento.fields.foto" style="margin-bottom:10px;">
                            <img v-else width="180" height="150" src="/static/img/producto_sin_foto.jpg" style="margin-bottom:10px;">
                            <p style="font-weight: bolder;font-size: 15px;" class="producto_escoger">[[ elemento.fields.nombre ]]</p>
                            <p style="font-size: 20px;">$[[ elemento.fields.precio_venta | formatoMoneda ]]</p>
                            <p style="font-size: 15px;">[[ elemento.fields.disponibilidad ]]</p>
                            <p v-if="elemento.fields.codigo" style="font-size: 10px;">Cb. [[ elemento.fields.codigo ]]</p>
                            <p v-if="elemento.fields.fecha_vencimiento" style="font-size: 10px;">Vencimiento: [[ elemento.fields.fecha_vencimiento ]]</p>
                        </div>
                      </a>
                    </div>
                </div>
            </div>
            <div id="contenedor_vacunas" class="contenedor">
                <div class="row" style="display: flex;flex-direction: row; flex-wrap: wrap;">
                    <div class="col-md-3 col-sm-3 col-xs-6 col-lg-3" v-for="elemento in lista_elementos">
                      <a href="#" v-bind:data-id="[[ elemento.pk ]]" data-tipo="Vacunas" v-bind:data-nombre="[[ elemento.fields.nombre ]]" v-bind:data-precio="[[ elemento.fields.precio_venta ]]" v-bind:data-cantidad_disponible="[[ elemento.fields.cantidad ]]" v-bind:data-cantidad_por_unidad_producto="[[ elemento.fields.cantidad_por_unidad ]]" v-bind:data-cantidad_unidad="[[ elemento.fields.cantidad_unidad ]]" v-bind:data-unidad_medida_producto="[[ elemento.fields.unidad_medida ]]" v-bind:data-precio_medida="[[ elemento.fields.precio_por_unidad ]]" style="color:#000;">
                        <div class="card-box-pdv-pago text-center">
                            <img width="180" height="150" v-if="elemento.fields.foto" v-bind:src="'/media/' + elemento.fields.foto" style="margin-bottom:10px;">
                            <img v-else width="180" height="150" src="/static/img/producto_sin_foto.jpg" style="margin-bottom:10px;">
                            <p style="font-weight: bolder;font-size: 15px;" class="producto_escoger">[[ elemento.fields.nombre ]]</p>
                            <p style="font-size: 20px;">$[[ elemento.fields.precio_venta | formatoMoneda ]]</p>
                            <p style="font-size: 15px;">[[ elemento.fields.disponibilidad ]]</p>
                            <p v-if="elemento.fields.codigo" style="font-size: 10px;">Cb. [[ elemento.fields.codigo ]]</p>
                            <p v-if="elemento.fields.fecha_vencimiento" style="font-size: 10px;">Vencimiento: [[ elemento.fields.fecha_vencimiento ]]</p>
                        </div>
                      </a>
                    </div>
                </div>
            </div>
            <div id="contenedor_desparasitantes" class="contenedor">
                <div class="row" style="display: flex;flex-direction: row; flex-wrap: wrap;">
                    <div class="col-md-3 col-sm-3 col-xs-6 col-lg-3" v-for="elemento in lista_elementos">
                      <a href="#" v-bind:data-id="[[ elemento.pk ]]" data-tipo="Desparasitantes" v-bind:data-nombre="[[ elemento.fields.nombre ]]" v-bind:data-precio="[[ elemento.fields.precio_venta ]]" v-bind:data-cantidad_disponible="[[ elemento.fields.cantidad ]]" v-bind:data-cantidad_por_unidad_producto="[[ elemento.fields.cantidad_por_unidad ]]" v-bind:data-cantidad_unidad="[[ elemento.fields.cantidad_unidad ]]" v-bind:data-unidad_medida_producto="[[ elemento.fields.unidad_medida ]]" v-bind:data-precio_medida="[[ elemento.fields.precio_por_unidad ]]" style="color:#000;">
                        <div class="card-box-pdv-pago text-center">
                            <img width="180" height="150" v-if="elemento.fields.foto" v-bind:src="'/media/' + elemento.fields.foto" style="margin-bottom:10px;">
                            <img v-else width="180" height="150" src="/static/img/producto_sin_foto.jpg" style="margin-bottom:10px;">
                            <p style="font-weight: bolder;font-size: 15px;" class="producto_escoger">[[ elemento.fields.nombre ]]</p>
                            <p style="font-size: 20px;">$[[ elemento.fields.precio_venta | formatoMoneda ]]</p>
                            <p style="font-size: 15px;">[[ elemento.fields.disponibilidad ]]</p>
                            <p v-if="elemento.fields.codigo" style="font-size: 10px;">Cb. [[ elemento.fields.codigo ]]</p>
                            <p v-if="elemento.fields.fecha_vencimiento" style="font-size: 10px;">Vencimiento: [[ elemento.fields.fecha_vencimiento ]]</p>
                        </div>
                      </a>
                    </div>
                </div>
            </div>
            <div id="contenedor_otros" class="contenedor">
                <div class="row">
                    <div class="col-md-4">
                      <label>Ingrese el nombre de su producto</label>
                      <input class="form-control" id="nombre_otro" type="text">
                    </div>
                    <div class="col-md-4">
                      <label>Ingrese el precio de su producto</label>
                      <input class="form-control" id="precio_otro" type="number">
                    </div>
                    <div class="col-md-4" style="margin-top:20px;">
                      <a href="#" style="color:#fff;" data-tipo="Otros" data-id="1" class="btn btn-primary m-r-20"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        Agregar
                      </a>
                    </div>
                </div>
            </div>
            <div id="contenedor_nuevas_categorias">
                <div class="row">
                  {% for producto in categorias_nuevas %}
                    <div class="col-md-2">
                      <div class="submit-btns-pdv categorias_nuevas">
                        <a href="#" style="margin-bottom:20px;background: #076FF1;font-size: 15px;" data-id="{{producto.id}}" data-tipo="{{producto}}" class="btn btn-primary m-r-20">
                            <img src="{% static 'img/producto.png' %}" class="img-responsive">
                            {{producto}}
                        </a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
            <div id="contenedor_categorias_nuevas" class="contenedor">
                <h2 style="text-align:center;" class="titulos_categorias">[[ nombreCategoria ]]</h2>
                <div class="row" style="display: flex;flex-direction: row; flex-wrap: wrap;">
                    <div class="col-md-3 col-sm-3 col-xs-6 col-lg-3" v-for="elemento in lista_elementos">
                      <a href="#" v-bind:data-id="[[ elemento.pk ]]" v-bind:data-tipo="[[nombreCategoria]]" v-bind:data-nombre="[[ elemento.fields.nombre ]]" v-bind:data-precio="[[ elemento.fields.precio_venta ]]" v-bind:data-cantidad_disponible="[[ elemento.fields.cantidad ]]" v-bind:data-cantidad_por_unidad_producto="[[ elemento.fields.cantidad_por_unidad ]]" v-bind:data-cantidad_unidad="[[ elemento.fields.cantidad_unidad ]]" v-bind:data-unidad_medida_producto="[[ elemento.fields.unidad_medida ]]" v-bind:data-precio_medida="[[ elemento.fields.precio_por_unidad ]]" style="color:#000;">
                        <div class="card-box-pdv-pago text-center">
                            <img width="180" height="150" v-if="elemento.fields.foto" v-bind:src="'/media/' + elemento.fields.foto" style="margin-bottom:10px;">
                            <img v-else width="180" height="150" src="/static/img/producto_sin_foto.jpg" style="margin-bottom:10px;">
                            <p style="font-weight: bolder;font-size: 15px;" class="producto_escoger">[[ elemento.fields.nombre ]]</p>
                            <p style="font-size: 20px;">$[[ elemento.fields.precio_venta | formatoMoneda ]]</p>
                            <p style="font-size: 15px;">[[ elemento.fields.disponibilidad ]]</p>
                            <p v-if="elemento.fields.codigo" style="font-size: 10px;">Cb. [[ elemento.fields.codigo ]]</p>
                            <p v-if="elemento.fields.fecha_vencimiento" style="font-size: 10px;">Vencimiento: [[ elemento.fields.fecha_vencimiento ]]</p>
                        </div>
                      </a>
                    </div>
                </div>
            </div>
            <div id="contenedor_servicios" class="contenedor">

                <div class="row">
                </div>
            </div>
        </div>
    </form>
</div>

<div id="modal-client" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated fadeIn">
            <div class="modal-header" style="background: #076ff1;">
                <div  style="width: 100%; display: flex;justify-content:space-between;">
                    <h4 class="modal-title" style="color:#fff;">Clientes</h4>
                    <div>
                        <a href="#" title="Cerrar" class="action-icon dropdown-toggle" style="color: #333333;" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-center" style="padding-top: 20px;">
                <div class="col-md-6 clientes-pendientes">
                    <a href="#" class="hidden-xs btn add-btn btn-custom m-b-30" style="margin: 20px;">
                        <i class="fa fa-diamond"></i> Clientes Pendientes <br> por Pagos
                    </a>
                </div>
                <div class="col-md-6">
                    <a href='/clientes/registrar_cliente_punto/' class="hidden-xs btn add-btn btn-custom m-b-30" style="margin: 20px;">
                        <i class="fa fa-diamond"></i> Agregar Cliente
                    </a>
                </div>
                <div class="col-lg-12">
                    <div class="select-client">
                        <select name="cliente" class="form-control selectpicker" data-live-search="true" id="id_cliente" tabindex="-1" aria-hidden="true">');
                            <option value="0">----------------</option>');
                            {% for cliente in clientes %}
                                <option value="{{ cliente.id }}" data-tokens="{{ cliente.nombres }} {{ cliente.apellidos }} - {{ cliente.tipo_documento}} {{ cliente.numero_documento}}">{{ cliente.nombres }} {{ cliente.apellidos }} - {{ cliente.tipo_documento}} {{ cliente.numero_documento}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="height: 100%; display: flex; justify-content: space-around">
                <div class="col-md-12 text-center eleccion_cliente">
                    <a href='#' class="hidden-xs btn add-btn btn-custom m-b-30" style="margin: 20px;">
                        <i class="fa fa-diamond"></i> Elegir Cliente
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal_producto" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md" style="padding-top:150px;">
      <div class="modal-content animated fadeIn">
          <div class="modal-header" style="background: #076ff1;">
              <div  style="width: 100%; display: flex;justify-content:space-between;">
                  <h4 class="modal-title" style="color:#fff;">Escoger el Tipo de Venta</h4>
                  <div>
                      <a href="#" title="Cerrar" class="action-icon dropdown-toggle" style="color: #333333;" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
                  </div>
              </div>
          </div>
          <div class="modal-body" style="height: 100%; display: flex; justify-content: space-around">
            <div class="text-center" style="padding-top: 20px;">
              <p>Escoja el tipo de venta de este producto que desee realizar</p>
                <div class="col-md-6 escoger-venta">
                    <a href="#" class="hidden-xs btn add-btn btn-custom m-b-30" data-tipo_venta="unidad-select" style="margin: 20px;">
                        <i class="fa fa-diamond"></i> Producto por Unidad
                    </a>
                </div>
                <div class="col-md-6 escoger-venta">
                    <a href='#' class="hidden-xs btn add-btn btn-custom m-b-30" data-tipo_venta="granel-select" style="margin: 20px;">
                        <i class="fa fa-diamond"></i> Producto a Granel
                    </a>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>

<div id="modal_cantidad" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
      <div class="modal-content animated fadeIn">
          <div class="modal-header" style="background: #076ff1;">
              <div  style="width: 100%; display: flex;justify-content:space-between;">
                  <h4 class="modal-title" style="color:#fff;">Productos y Cantidades Disponibles</h4>
                  <div>
                      <a href="#" title="Cerrar" class="action-icon dropdown-toggle" style="color: #333333;" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
                  </div>
              </div>
          </div>
          <div class="text-center" style="padding-top: 20px;">
            <h4>El producto no tiene más stock disponible para agregar al carrito</h4>
          </div>
          <div class="modal-body" style="height: 100%; display: flex; justify-content: space-around">
              <div class="col-md-12 text-center">
              </div>
          </div>
      </div>
  </div>
</div>

<div id="modal_servicios" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated fadeIn">
            <div class="modal-header" style="background: #076ff1;">
                <div  style="width: 100%; display: flex;justify-content:space-between;">
                    <h4 class="modal-title" style="color:#fff;">Servicios Adquiridos</h4>
                    <div>
                        <a href="#" title="Cerrar" class="action-icon dropdown-toggle" style="color: #333333;" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-center" style="padding-top: 20px;">
              <h4>Debe seleccionar un cliente para la visualización de los servicios prestados.</h4>
            </div>
            <div class="modal-body" style="height: 100%; display: flex; justify-content: space-around">
                <div class="col-md-12 text-center">
                </div>
            </div>
        </div>
    </div>
  </div>

  <div id="modal_cliente_deben" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated fadeIn">
            <div class="modal-header" style="background: #076ff1;">
                <div  style="width: 100%; display: flex;justify-content:space-between;">
                    <h4 class="modal-title" style="color:#fff;">Clientes Pendientes por Pagar</h4>
                    <div>
                        <a href="#" title="Cerrar" class="action-icon dropdown-toggle" style="color: #333333;" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-center vis_client" style="padding: 20px;">
                Clientes Pendientes por Pagar Servicios
            </div>
            <div class="modal-body" style="height: 100%; display: flex; justify-content: space-around">
                <div class="col-md-12 text-center eleccion_cliente_deben">
                    <a href='#' class="hidden-xs btn add-btn btn-custom m-b-30" style="margin: 20px;">
                        <i class="fa fa-diamond"></i> Elegir Cliente
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-info" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated fadeIn">
            <div class="modal-header" style="background: #076ff1;">
                <div  style="width: 100%; display: flex;justify-content:space-between;">
                    <h4 class="modal-title" style="color:#fff;">Generar Pagos</h4>
                    <div>
                        <a href="#" title="Cerrar" class="action-icon dropdown-toggle" style="color: #333333;" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-center" style="padding-top: 20px;">
                <h1>Debes Ingresar aunque sea un producto para generar un ingreso</h1>
            </div>
        </div>
    </div>
</div>
<input type="text" name="delay" id="barras" autofocus autocomplete="false">
<div id="respuesta"></div>
{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/puntoDeVenta/registrar_punto_de_venta.js' %}"></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>-->

<script type="text/javascript">
</script>
{% endblock %}
