{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Bodegas de inventario
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-xs-3">
            <h4 class="page-title">Bodegas de inventario</h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li class="active"><a>Bodegas de inventario</a></li>
            </ol>
        </div>
        <div class="col-sm-8 col-xs-9 text-right">
            <a href="{% url 'registrar_bodega' %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-plus"></i>
                Agregar bodega de inventario</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th class="text-right">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for bodega in object_list %}
                            <tr>
                                <td>
                                    {{ bodega.nombre }}
                                </td>
                                <td>
                                    {{ bodega.descripcion }}
                                </td>
                                <td class="text-right">
                                    {% if bodega.id != 1 %}
                                    <a href="{% url 'editar_bodega' bodega.id %}" class="action-icon dropdown-toggle" style="color: #076ff1;"><i class="fa fa-pencil fa-lg"></i></a>
                                    <a onclick="Eliminar('{{bodega.id}}', '{{bodega.nombre}}');" class="action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Eliminar"><i class="fa fa-trash fa-lg"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block plugins %}
    <!--script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script-->
    <script type="text/javascript">

        function Eliminar(id, nombre) {

            swal({
                title: 'Estas seguro que deseas eliminar la bodega "'+nombre+'"?',
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No, cancelar",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Si, eliminar permanentemente!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: '/bodegas/eliminar_bodega/',
                        data: {
                          'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.replace("/bodegas/listar_bodegas/");
                        }
                    });
                }
            });

        }
    </script>
{% endblock %}