{% extends 'basePublico.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


    {% block title %}
        Listado de Imagenes de Promociones y Eventos
    {% endblock title %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    {% endblock%}

    {% block content %}
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <h4 class="page-title">Imagenes de Promociones y Eventos</h4>
        </div>
        <div class="col-sm-6 col-xs-6 text-right">
            <a href="{% url 'subida_promocion_evento' %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-plus"></i>
                Agregar Imagen de Promociones y Eventos</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="row">
                    {% for object in promocionEvento %}
                        <div class="col-md-6 text-center" style="padding-bottom: 40px;">
                            <a onclick="return abrirmodal('{% url 'detalle_promo_evento' object.id %}')">
                                <img width="350" height="250" src="/media/{{object.promocion_evento}}">
                            </a>
                            <div class="text-left" style="margin-top: 20px;background: #076FF1;color: #fff;display: inline-block;padding: 20px;">
                                <p>Nombre: {{ object.titulo_promo_eve }}</p>
                                <p>Fecha: {{ object.fecha_subida }}</p>
                                <p>Descripcion: {{ object.descripcion_promo_eve }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="modal-img-pe" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" style="top: 5%;"></div>
    {% endblock %}

    {% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script>
        function abrirmodal(url){
            $('#modal-img-pe').load(url, function (){
                $(this).modal('show');
            });
            return false;
        }
    </script>

    {% endblock %}
