{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>{% block title %}Detalle de Impresion de Estetica{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <!--[if lt IE 9]>
		<script src="{% static 'js/html5shiv.min.js' %}"></script>
		<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->

    <style>
        .panel-estetica > .panel-heading {
            color: #fff;
            background-color: #b8b3ff;
            border-color: #b8b3ff;
        }

        .panel:hover {
            box-shadow: 0 0 11px rgba(33, 33, 33, .2);
        }

        .panel {
            cursor: pointer;
        }

        .content {
            padding: 0px;
        }

        .contenido_examen {
            display: flex;
            flex-wrap: wrap;
        }

        .content_examen {
            padding-left: 70px;
            padding-top: 20px;

        }
        .content_examen_2 {
            padding-left: 0px;
            padding-top:20px;
        }

        .contenido_paciente {
            display: flex;
            flex-wrap: wrap;
        }

        .content_paciente {
            width: 250px;
        }
    </style>
</head>

<body id="estetica_pdf">
<div>
    <div class="encabezado" style="display: flex; justify-content: space-between; margin: 20px; margin-bottom: 30px;">
        <div class="info_veterinaria">
            {% if mi_veterinaria.foto %}
                <img id="logo_veterinaria" src='{{ mi_veterinaria.foto.url }}' class="m-b-20" alt="" width="200">
            {% endif %}
            <ul class="list-unstyled">
                <li>{{ mi_veterinaria.nombre }}</li>
                {% if mi_veterinaria.nit %}
                    <li>Nit: {{ mi_veterinaria.nit }}</li>
                {% endif %}
                <li>{{ mi_veterinaria.direccion }} ({{ mi_veterinaria.ciudad }})</li>
                <li>{{ mi_veterinaria.telefono }} - {{ mi_veterinaria.celular }}</li>
            </ul>
        </div>
        <div class="info_cliente">
            <div class="titulo_factura">
                <h3 class="text-uppercase">Estética Realizada</h3>
                <ul class="list-unstyled">
                    <li>Fecha: <span>{{ fecha_hoy }}</span></li>
                </ul>
            </div>
            <div class="datos_mascota" style="margin-top: 20px;">
                <ul class="list-unstyled">
                    <li>Cliente:<span
                            style="padding-left: 80px;"><strong>{{ mi_mascota.cliente.nombreCompleto }}</strong></span></li>
                    <li>{{ mi_mascota.cliente.tipo_documento }}: <span
                            style="padding-left: 106px;">{%if mi_mascota.cliente.numero_documento %}{{ mi_mascota.cliente.numero_documento }} {% else %} No Tiene {% endif %}</span></li>
                    <li>Mascota: <span style="padding-left: 66px;">{{ mi_mascota.nombre }}</span></li>
                    {% if mi_mascota.numero_carnet %}
                        <li>Carnet: <span style="padding-left: 78px;">{{ mi_mascota.numero_carnet }}</span></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row estetica" id="app_detalle_impresion">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="panel panel-info panel-estetica">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="text-align: center;">
                            Datos de la Mascota
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row contenido_paciente">
                                <div class="col-md-4">
                                    <div class="content_paciente">
                                        <p><b>Nombre: </b>{{ mi_mascota.nombre }}</p>
                                    </div>
                                </div>
                                {% if mi_mascota.numero_carnet %}
                                <div class="col-md-4">
                                    <div class="content_paciente">
                                        <p><b>Carnet: </b>{{ mi_mascota.numero_carnet }}</p>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="col-md-4">
                                    <div class="content_paciente">
                                        <p><b>Raza: </b>{{ mi_mascota.raza }}</p>
                                    </div>
                                </div>
                                {% if mi_mascota.fecha_nacimiento %}
                                <div class="col-md-4">
                                    <div class="content_paciente">
                                        <p><b>Edad: </b>{{ mi_mascota.edad }}</p>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="col-md-4">
                                    <div class="content_paciente">
                                        <p><b>Sexo: </b>{{ mi_mascota.get_sexo_display }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="panel panel-info panel-estetica">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="text-align: center;">
                            Estética: {{ estetica.tipo_estetica }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row contenido_examen">
                                <div class="col-md-6">
                                    <div class="content_examen">
                                        {% if estetica.tipo_estetica %}
                                            <p><b>Tipo de Estética : </b>{{ estetica.tipo_estetica }}</p>
                                        {% endif %}
                                        {% if estetica.tipo_corte %}
                                            <p><b>Descripción de Estética: </b>{{ estetica.tipo_corte }}</p>
                                        {% endif %}
                                        {% if estetica.otras_instrucciones %}
                                            <p><b>Otras Instrucciones: </b>{{ estetica.otras_instrucciones }}</p>
                                        {% endif %}
                                        {% if estetica.valor_transporte %}
                                            <p><b>Valor Transporte: </b>{{ estetica.valor_transporte }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="content_examen_2">
                                        {% if estetica.valor_otros %}
                                            <p><b>Valor Otros: </b>{{ estetica.valor_otros }}</p>
                                        {% endif %}
                                        {% if estetica.valor_total %}
                                            <p><b>Valor Total: </b>{{ estetica.valor_total }}</p>
                                        {% endif %}
                                        {% if estetica.fecha %}
                                            <p><b>Fecha de Atención: </b>{{ estetica.fecha }}</p>
                                        {% endif %}
                                        {% if estetica.veterinario %}
                                            <p><b>Atendido por: </b>{{ estetica.veterinario }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/modernizr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.slimscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        window.print();
        //window.close();

    });

</script>
</body>

</html>