{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    Estetica
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-xs-3">
            <h4 class="page-title">Estetica</h4>
        </div>
        <!--div class="col-sm-8 col-xs-9 text-right">
            <a href="{% url 'registrar_factura_estetica' %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-plus"></i>
                Agregar estetica</a>
        </div-->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Mascota</th>
                            <th>Tipo de estetica</th>
                            <th>Tipo de corte</th>
                            <th>Otras instrucciones</th>
                            <th>Valor total</th>
                            <th>Saldo</th>
                            <th>Estado</th>
                            <th>Estado de cita</th>
                            <!--th class="text-right">Acciones</th-->
                        </tr>
                        </thead>
                        <tbody>
                        {% for factura in object_list %}
                            <tr>
                                <td>
                                    {{ factura.fecha }}
                                </td>
                                <td>
                                    {{ factura.mascota }}
                                </td>
                                <td>
                                    {{ factura.tipo_estetica }}
                                </td>
                                <td>
                                    {{ factura.tipo_corte }}
                                </td>
                                <td>
                                    {{ factura.otras_instrucciones }}
                                </td>
                                <td>
                                    $ {{ factura.valor_total | intcomma }}
                                </td>
                                <td>
                                    $ {{ factura.saldo | intcomma }}
                                </td>
                                <td>
                                    {% if factura.estado == 'Activa' %}
                                    <span class="label label-warning">{{ factura.estado }}</span>
                                    {% elif factura.estado == 'Pagada' %}
                                    <span class="label label-success">{{ factura.estado }}</span>
                                    {% endif %}
                                </td>
                                <!---<td>
                                    {% if factura.estado_cita == 'Activa' %}
                                    <span class="label label-warning">{{ cita.estado }}</span>
                                    {% elif factura.estado_cita == 'Activo' %}
                                    <span class="label label-warning">{{ cita.estado }}</span>
                                    {% elif factura.estado_cita == 'Atendida' %}
                                    <span class="label label-success">{{ cita.estado }}</span>
                                    {% elif factura.estado_cita == 'Cancelada' %}
                                    <span class="label label-danger">{{ cita.estado }}</span>
                                    {% endif %}
                                </td>-->
                                <!--td class="text-right">
                                    {% if factura.estado != 'Pagada' %}
                                    <a href="{% url 'pagar_factura_estetica' factura.id %}" title="Pagar" class="action-icon dropdown-toggle"><i class="fa fa-money m-r-5"></i></a>
                                    <a href="{% url 'editar_factura_estetica' factura.id %}" title="Editar" class="action-icon dropdown-toggle"><i class="fa fa-pencil m-r-5"></i></a>
                                    {% endif %}
                                </td-->
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}