{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    Registrar Factura Estetica
{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
{% endblock extrahead %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">
                {% if modificar %}
                    Modificar factura estética
                {% else %}
                    Agregar factura estética
                {% endif %}
            </h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li><a href="/mascotas/listar_mascotas/">Mascotas</a></li>
                <li><a href="{% url 'detalle_mascota' mascota.id %}">{{mascota.nombre}}</a></li>
                <li class="active"><a>{% if modificar %}Modificar factura estética{% else %}Agregar factura estética{% endif %}</a></li>
            </ol>             
        </div>
    </div>
    <form class="form-horizontal" method="POST" action="" autocomplete="off">{% csrf_token %}
        <div class="card-box">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Cliente</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" disabled value="{{mascota.cliente}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Mascota</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" disabled value="{{mascota.nombre}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Carnet</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" disabled value="{{mascota.numero_carnet}}">
                            </div>
                        </div>
                    </div>
                </div>
                {% for field in form %}
                    <div class="col-md-6">
                        <div class="form-group" style="margin: 15px;">
                            {% bootstrap_field field label_class="control-label col-lg-3" field_class="col-lg-9" %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-center submit-btns">
            {% if modificar %}
                {% bootstrap_button "Guardar cambios" button_type="submit" button_class="btn btn-primary m-r-20" %}
            {% else %}
                {% bootstrap_button "Agregar" button_type="submit" button_class="btn btn-primary m-r-20" %}
            {% endif %}
            <a href="#" onclick="window.history.back();" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
{% endblock content %}

{% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

    <script type="text/javascript">

        $(function () {
            $('.datetime-input').datetimepicker({
                format:'DD/MM/YYYY HH:mm'
            });
        });

        function calcularValorTotal() {

            var todos = {{ all_tipos_estetica|safe }};

            var valor_tipo_estetica = 0;

            //console.log("todos: ",todos);

            todos.forEach(function(element) {

                //console.log("element: ", element.fields);
                if($('#id_tipo_estetica').val() == element.pk ){
                    valor_tipo_estetica = Number( element.fields.valor_estetica );
                }
            });

            var valor_otros = Number($('#id_valor_otros').val());
            var valor_transporte = Number($('#id_valor_transporte').val());
            var nuevo_valor_total = valor_transporte + valor_otros + valor_tipo_estetica;
            $('#id_valor_total').val(nuevo_valor_total);
        }

        $('#id_valor_transporte').keyup(calcularValorTotal);
        $('#id_valor_otros').keyup(calcularValorTotal);
        $('#id_tipo_estetica').change(calcularValorTotal);

        $( document ).ready(function() {
            calcularValorTotal();
        });
    </script>
{% endblock %}