{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Registrar Factura Estética
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <style>
        .select2-selection__rendered {
            line-height: 31px !important;
        }
        .select2-container .select2-selection--single {
            height: 35px !important;
        }
        .select2-selection__arrow {
            height: 34px !important;
        }
    </style>
{% endblock extrahead %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">
                {% if modificar %}
                    Modificar Factura Estética
                {% else %}
                    Agregar Factura Estética
                {% endif %}
            </h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li><a href="/mascotas/listar_mascotas/">Mascotas</a></li>
                <li><a href="#" onclick="window.history.back();">Detalle Mascota</a></li>
                <li class="active"><a>{% if modificar %}Modificar factura Estética{% else %}Agregar Factura Estética{% endif %}</a></li>
            </ol>             
        </div>
    </div>
    <form class="form-horizontal" method="POST" action="" autocomplete="off">{% csrf_token %}
        <div class="card-box">
            <div class="row">
                {% for field in form %}
                    <div class="col-md-6">
                        <div class="form-group" style="margin: 15px;">
                            {% bootstrap_field field label_class="control-label col-lg-3" field_class="col-lg-9" %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-center submit-btns">
            {% if modificar %}
                {% bootstrap_button "Guardar cambios" button_type="submit" button_class="btn btn-primary m-r-20" %}
            {% else %}
                {% bootstrap_button "Agregar" button_type="submit" button_class="btn btn-primary m-r-20 boton_agregar" %}
            {% endif %}
            <a href="#" onclick="window.history.back();" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
{% endblock content %}

{% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

    <script type="text/javascript">
         $(function () {
            $('#id_mascota').select2();
            $('#id_tipo_estetica').select2();
            $('#id_tipo_corte').select2();
            $('#id_veterinario').select2();

            $('.datetime-input').datetimepicker({
                format:'DD/MM/YYYY HH:mm',
                date: new Date("{{ fecha }}")

            });

            $('.boton_agregar').click(
                function () {
                    if($('#id_mascota').val() == '' && $('#id_fecha').val() != ''){
                        swal({
                            icon: 'error',
                            title: 'Debe seleccionar una mascota',
                            button: 'Ok'
                        });
                        setTimeout(function(){
                            $("#pageLoader").hide();
                        }, 500);
                    }else if($('#id_tipo_estetica').val() == ''){
                        swal({
                            icon: 'error',
                            title: 'Debe Seleccionar un Tipo de Estética',
                            button: 'Ok'
                        });
                        setTimeout(function(){
                            $("#pageLoader").hide();
                        }, 500);
                    }
                }
            );
        });

        function calcularValorTotal() {

            var todos1 = '{{ all_tipos_estetica|safe }}';
            var todos = JSON.parse(todos1);

            var valor_tipo_estetica = 0;

            //console.log("todos: ",todos);

            todos.forEach(function(element) {

                //console.log("element: ", element.fields);
                if($('#id_tipo_estetica').val() == element.pk ){
                    valor_tipo_estetica = Number( element.fields.valor_estetica );
                }
            });

            var val_ot = Number($('#id_valor_otros').val());
            if(!/^([0-9])*$/.test(val_ot)){
                //alert("El valor de Costos Adicionales "+val_ot+" no es un monto válido");
                //var error = "Error"
            }else{
                valor_otros = val_ot;
            }


            var val_transp = $('#id_valor_transporte').val();
            if(!/^([0-9])*$/.test(val_transp)){
                //alert("El valor de Transporte "+val_transp+" no es un monto válido");
            }else{
                valor_transporte = Number(val_transp);
            }
            
            var nuevo_valor_total = valor_transporte + valor_otros + valor_tipo_estetica;
            $('#id_valor_total').val(nuevo_valor_total);
        }

        $('#id_valor_transporte').keyup(calcularValorTotal);
        $('#id_valor_otros').keyup(calcularValorTotal);
        $('#id_tipo_estetica').change(calcularValorTotal);

        $( document ).ready(function() {
            calcularValorTotal();
        });
    </script>
{% endblock %}