<div class="modal-dialog modal-md">
    <div class="modal-content animated fadeIn" style="background-color: transparent;">
        <div class="modal-header" style="background: #076ff1;">
            <div  style="width: 100%; display: flex;justify-content:space-between;">
                <h4 class="modal-title" style="color:#fff;">Nuestras Imágenes de Actualización</h4>
                <div>
                    <a href="#" title="Cerrar" class="action-icon dropdown-toggle" style="color: #333333;" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
                </div>
            </div>
        </div>
        <div class="text-center" style="padding-top: 20px;background-color: #fff;padding-bottom: 20px;">
            <h3>{{ img.titulo_imagen }}</h3>
            <p>{{ img.descripcion_imagen }}</p>
        </div>
        <div class="modal-body" style="height: 100%; display: flex; justify-content: space-around"> 
            <img width="auto" height="auto" src="/media/{{img.imagen_actualizacion}}">
        </div>
    </div>
</div>