{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Detalle del Propietario
{% endblock title %}

{% block extrahead %}
<style>
    .clickable-row{
        cursor: pointer;
    }
</style>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-xs-10">
        <h4 class="page-title">Detalle de Propietario</h4>
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li><a href="/clientes/listar_clientes/">Propietarios</a></li>
            <li class="active"><a>{{ object.nombres }} {{ object.apellidos }}</a></li>
        </ol>
    </div>
    <div class="col-sm-6 col-xs-2 text-right">
        <a href="{% url 'registrar_mascota_cliente' cliente.id %}" class="hidden-xs btn add-btn btn-custom pull-right m-b-30">
            <i class="fa fa-plus"></i>Agregar mascota
        </a>
        <a style = "padding: 9px 14px;" href="{% url 'registrar_mascota_cliente' cliente.id %}" class="hidden-sm hidden-md hidden-lg btn add-btn btn-custom pull-right m-b-30">
            <i class="fa fa-plus"></i>
        </a>        
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <div class="user-profile-img">
                <h3 class="user-name m-t-10 m-b-0"><a href="{% url 'editar_cliente' cliente.id %}" class="btn btn-edit-profile">{{ object.nombres }} {{ object.apellidos }} <i class=" fa fa-pencil fa-lg"></i></a></h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="chat-profile-info">
                        <ul class="personal-info">
                            <li>
                                <span class="title">Nombres:</span>
                                <span id="nombrep" class="text">{{ object.nombres }}</span>
                            </li>
                            <li>
                                <span class="title">Apellidos:</span>
                                <span class="text">
                                    {% if object.apellidos %}
                                    {{ object.apellidos }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </span>
                            </li>
                            <li>
                                <span class="title">Direccion:</span>
                                <span class="text">
                                    {% if object.direccion %}
                                    {{ object.direccion }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </span>
                            </li>
                            <li>
                                <span class="title">Ciudad:</span>
                                <span class="text">
                                    {% if object.ciudad %}
                                    {{ object.ciudad }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </span>
                            </li>
                            <li>
                                <span class="title">{{ object.tipo_documento }}:</span>
                                <span class="text">{{ object.numero_documento | default:"-"}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="chat-profile-info">
                        <ul class="personal-info">
                            <li>
                                <span class="title">Teléfono:</span>
                                <span class="text">
                                    {% if object.telefono %}
                                    {{ object.telefono }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </span>
                            </li>
                            <li>
                                <span class="title">Celular:</span>
                                <span class="text">
                                    {% if object.celular %}
                                    {{ object.celular }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </span>
                            </li>
                            <li>
                                <span class="title">Profesion:</span>
                                <span class="text">
                                    {% if object.profesion %}
                                    {{ object.profesion}}
                                    {% else %}
                                    -
                                    {% endif %}
                                </span>
                            </li>
                            <li>
                                <span class="title">E-mail:</span>
                                <span class="text">
                                    {% if object.email %}
                                    {{ object.email }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </span>
                            </li>
                            <li>
                                <span class="title">Notificacion <i class="fa fa-whatsapp fa-lg"></i></span>
                                {% if object.notificaciones_wpp%}
                                <span class="label label-success">Activada</span>
                                {% else %}
                                <span class="label label-warning">Desactivada</span>
                                {% endif %}
                            </li>
                            <li>
                                <span class="title">Estado financiero</span>
                                {% if estado_financiero == 'Al día' %}
                                <span class="label label-success">Al día</span>
                                {% elif estado_financiero == 'En deuda' %}
                                <span class="label label-warning">En deuda</span>
                                {% elif estado_financiero == 'Moroso' %}
                                <span class="label label-danger">En mora</span>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card-box">
            <ul class="nav nav-tabs nav-tabs-solid nav-justified m-b-30">
                <li class="active"><a data-toggle="tab" href="#lista_mascotas">Mascotas</a></li>
                <li><a data-toggle="tab" href="#pagos">Pagos</a></li>
            </ul>
            <div class="tab-content">
                <div id="lista_mascotas" class="tab-pane active">
                    <div class="table-responsive">
                        <table id="mascota-propietario" class="table">
                            <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th>Nombre</th>
                                <th>Carnet</th>
                                <th>Tipo</th>
                                <th>Sexo</th>
                                <th>Fecha de nacimiento</th>
                                <th>Opciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for mascota in mascotas_cliente %}
                            <tr>
                                <td class="text-center clickable-row" data-href="{% url 'detalle_mascota' mascota.id %}">
                                    {% if mascota.foto %}
                                        {% if mascota.estado == False %}
                                        <img alt="" src="{{ mascota.foto.url }}" class="avatar" style="filter: brightness(50%);">
                                        {% else %}
                                        <img alt="" src="{{ mascota.foto.url }}" class="avatar">
                                        {% endif %}
                                    {% else %}
                                        {% if mascota.estado == False %}
                                        <img alt="" src="{% static 'img/mascota_sin_foto.jpg' %}" class="avatar" style="filter: brightness(50%);">
                                        {% else %}
                                        <img alt="" src="{% static 'img/mascota_sin_foto.jpg' %}" class="avatar">
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class='clickable-row' data-href="{% url 'detalle_mascota' mascota.id %}">{{ mascota.nombre }}</td>
                                <td class='clickable-row' data-href="{% url 'detalle_mascota' mascota.id %}">
                                    {% if mascota.numero_carnet %}
                                    {{ mascota.numero_carnet }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td class='clickable-row' data-href="{% url 'detalle_mascota' mascota.id %}">{{ mascota.raza }}</td>
                                <td class='clickable-row' data-href="{% url 'detalle_mascota' mascota.id %}">{{ mascota.get_sexo_display }}</td>
                                <td class='clickable-row' data-href="{% url 'detalle_mascota' mascota.id %}">
                                    {% if mascota.fecha_nacimiento %}
                                        {{ mascota.fecha_nacimiento }} ({{ mascota.edad }})
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="hidden-xs hidden-sm">
                                        <a href="{% url 'detalle_mascota' mascota.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Detalle"><i class="fa fa-eye fa-lg"></i></a>
                                        <a href="{% url 'editar_mascota' mascota.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Editar"><i class="fa fa-pencil fa-lg"></i></a>
                                        <a href="#" onclick="EliminarMascota('{{mascota.id}}', '{{mascota.nombre}}');" class="action-icon dropdown-toggle" style="color: #076ff1" title="Eliminar">
                                            <i class="fa fa-trash fa-lg"></i>
                                        </a>
                                    </div>
                                    <div class="dropdown menu-mobile-table hidden-md hidden-lg">
                                        <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a> 
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="{% url 'detalle_mascota' mascota.id %}" class="action-icon dropdown-toggle" title="Detalle"><i class="fa fa-eye fa-lg" aria-hidden="true"></i> Ver</a>
                                            </li> 
                                            <li>
                                                <a href="{% url 'editar_mascota' mascota.id %}" class="action-icon dropdown-toggle" title="Editar"><i class="fa fa-pencil fa-lg"></i> Editar</a>
                                            </li>
                                            <li>
                                                <a href="#" onclick="EliminarMascota('{{mascota.id}}', '{{mascota.nombre}}');" class="action-icon dropdown-toggle" title="Eliminar"><i class="fa fa-trash fa-lg"></i> Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="pagos" class="tab-pane">
                    <div class="table-responsive">
                        <table id="pagos-propietario" class="table display responsive nowrap" cellspacing="0" width="100%">
                            <div class="dt-buttons">
                                <button onclick="ExportExcel('xlsx')" class="dt-button buttons-excel buttons-html5 btn btn-primary" tabindex="0" aria-controls="pagos-propietario" type="button">Exportar a Excel</button>
                            </div>
                            <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>N° Recibo</th>
                                <th>Motivo</th>
                                <th>Estado</th>
                                <th>Valor total</th>
                                <th>Valor pagado</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pago in pagos_cliente %}
                            <tr>
                                <td>
                                    {{ pago.fecha }}
                                </td>
                                <td>
                                    {% if pago.id < 10 %}
                                        0000{{ pago.id }}
                                    {% elif pago.id < 100 %}
                                        000{{ pago.id }}
                                    {% elif pago.id < 1000 %}
                                        00{{ pago.id }}
                                    {% elif pago.id < 10000 %}
                                        0{{ pago.id }}
                                    {% elif pago.id < 100000 %}
                                        {{ pago.id }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% for motivos in motivos_pagos %}
                                        {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                            {% for motivo in motivos %}
                                            <span class="label label-info">{{ motivo }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if pago.estado_pago == 'Pagado' %}
                                        <span class="label label-success">{{ pago.estado_pago }}</span>
                                    {% elif pago.estado_pago == 'Anulada' %}
                                        <span class="label label-danger">{{ pago.estado_pago }}</span>
                                    {% else %}
                                        <span class="label label-warning">{{ pago.estado_pago }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    $ {{ pago.total_factura | intcomma}}
                                </td>
                                <td>
                                    $ {{ pago.valor_pagado | intcomma}}
                                </td>
                                <td class="text-center">
                                    {% if pago.estado_pago == 'Pendiente' %}
                                    <a class="action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Abonar" onclick="return abrir_modal('{% url 'abonar_pago' pago.id %}')"><i class="fa fa-dollar fa-lg"></i></a>
                                    {% endif %}
                                    <a href="{% url 'detalle_pago' pago.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                    {% if user.usuario.roles == "Administrador"%}
                                        {% if pago.estado_pago != 'Anulada' %}
                                        <a onclick="AnularPago('{{pago.id}}', '{{pago.total_factura}}', '{{pago.fecha}}');" class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Anular"><i class="fa fa-ban fa-lg"></i></a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="4" style="text-align:right">Total:</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-abono" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true"></div>
{% endblock content %}

{% block plugins %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
    <script type="text/javascript">

        function ExportExcel(type, fn, dl) {
            var fileName = $('.page-title').text();
            var nombre = $('#nombrep').text();
            var elt = document.getElementById('pagos-propietario');
            var wb = XLSX.utils.table_to_book(elt, {sheet:"Sheet JS"});
            return dl ?
               XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
               XLSX.writeFile(wb, fn || (fileName + " " + nombre + "." + (type || 'xlsx')));
        }

        $('.clickable-row').on('click',function(){
            window.location = $(this).data("href");
        });

        $(function () {
            
            $('.btn-edit-profile').hover(
                function() {
                    $( this ).find('i').fadeIn();
                }, function() {
                    $( this ).find('i').fadeOut();
                }
            );

            $("#mascota-propietario").dataTable({
                searching: false,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No hay información registrada",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "",
                    "infoFiltered": "(filtrado de _MAX_ registros en total)",
                    "search": "Buscar :",
                    "paginate": {
                        "first":      "Primera",
                        "last":       "Ultima",
                        "next":       "Siguiente",
                        "previous":   "Anterior"
                    }
                },
                'columnDefs': [ {
                    'targets': [2,3,4,5,6], // column index (start from 0)
                    'orderable': false, // set orderable false for selected columns
                }]
            });

            $('#pagos-propietario').dataTable({
                "lengthChange": false,
                "paging": false,
                "autoWidth": false,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No hay información registrada",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "",
                    "infoFiltered": "(filtrado de _MAX_ registros en total)",
                    "search": "Buscar :",
                    "paginate": {
                        "first":      "Primera",
                        "last":       "Ultima",
                        "next":       "Siguiente",
                        "previous":   "Anterior"
                    }
                },
                'columnDefs': [ {
                    'targets': [5], // column index (start from 0)
                    'orderable': false // set orderable false for selected columns
                }],
                "footerCallback": function ( row, data, start, end, display ) {
                    var api = this.api(), data;
                    // Remove the formatting to get integer data for summation
                    var intVal = function ( i ) {
                        return typeof i === 'string' ?
                            i.replace(/[\$.]/g, '')*1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
                    // Total over all pages
                    total = api
                        .column( 4 )
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );
                    // Total over this page
                    pageTotal = api
                        .column( 4, { page: 'current'} )
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );
                        pageTotal = pageTotal.toString().split('').reverse().join('').replace(/(?=\d*\.?)(\d{3})/g,'$1.');
                        pageTotal = pageTotal.split('').reverse().join('').replace(/^[\.]/,'');
                    // Update footer
                    $( api.column( 4 ).footer() ).html(
                        //'$'+pageTotal +' ( $'+ total +' Total)'
                        '$'+pageTotal
                    );
                }                               
            });

        });

        

        function EliminarMascota(id, nombre) {

            swal({
                title: "Estas seguro que deseas eliminar la mascota "+nombre+"?",
                text: "La mascota y toda la informacion asociada a ella sera eliminada permanenetemente.",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No, cancelar",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Si, eliminar permanentemente!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: '/mascotas/eliminar_mascota/',
                        data: {
                          'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.replace("/clientes/detalle_cliente/"+data.id_cliente+"/");
                        }
                    });
                } else {
                    swal("Tu mascota esta a salvo!");
                }
            });

        }

        function abrir_modal(url) {
            $('#modal-abono').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function AnularPago(id, total, fecha) {

            swal({
                title: "Estas seguro que deseas anular la factura de venta #"+id+" del dia "+fecha+" por valor de $"+total+"?",
                text: "Este cambio es irreversible. El inventario relacionado en la venta será sumado nuevamente en el inventario y las atenciones cobradas quedaran de nuevo pendientes por pago.",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No, cancelar",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Si, anular permanentemente!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '/productos/anular_venta/',
                        data: {
                          'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.replace("/clientes/detalle_cliente/"+data.id_cliente+"/");
                        }
                    });
                }
            });

        }
    </script>
{% endblock %}