{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
Propietarios
{% endblock title %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-xs-10">
        {% if clientes_deudores %}
            <h4 class="page-title">Propietarios Deudores</h4>
        {% else %}
            <h4 class="page-title">Propietarios Registrados</h4>
        {% endif %}
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li class="active"><a>Propietarios</a></li>
        </ol>
    </div>
    <div class="col-sm-6 col-xs-2 text-right">
        <a href="{% url 'registrar_cliente' %}" class="hidden-xs btn add-btn btn-custom pull-right m-b-30">
            <i class="fa fa-plus"></i> Agregar Propietario
        </a>
        <a style = "padding: 9px 14px;" href="{% url 'registrar_cliente' %}" class="hidden-sm hidden-md hidden-lg btn add-btn btn-custom pull-right m-b-30">
            <i class="fa fa-plus"></i>
        </a>        
    </div>
</div>
<!--div class="row">
    <div class="col-sm-12 col-xs-12">
        <label class="control-label">Estado financiero</label>
        <select class="form-control" id="filtrar_estado_financiero" style="width: 200px;">
            <option value="todos">Todos</option>
            <option value="al_dia">Al día</option>
            <option value="en_deuda">En deuda</option>
            <option value="moroso">En mora</option>
        </select>
    </div>
</div>
<br-->
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <div style="display: flex;justify-content: space-between;flex-wrap: wrap;width: 100%">
                <div style="display: flex;width: 225px;margin: 5px;">
                    <div class="dt-buttons">
                        <a href="{% url 'reporte' %}" class="dt-button buttons-excel buttons-html5 btn btn-primary btn-custom">
                            <i class="fa fa-file-excel-o"></i> Exportar a Excel
                        </a>
                    </div>
                    {% if clientes_deudores %}
                        <div class="dt-buttons" style="margin-left: 5px;">
                            <a href="{% url 'listar_clientes' %}" class="dt-button buttons-excel buttons-html5 btn btn-primary btn-custom">
                                <i class="fa fa-filter"></i> Filtrar: Todos
                            </a>
                        </div>
                    {% else %}
                        <div class="dt-buttons" style="margin-left: 5px;">
                            <a href="{% url 'listar_clientes_deudores' %}" class="dt-button buttons-excel buttons-html5 btn btn-primary btn-custom">
                                <i class="fa fa-filter"></i> Filtrar: Deudores
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div style="width: 225px;">
                    <div class="input-group search-box">
                        <input placeholder="Buscar" class="form-control search-input" id="buscar_cliente" type="text">
                        <span class="input-group-btn" id="boton_buscar">
                            <a class="btn btn-primary"><i class="fa fa-search"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table" id="lista">
                    <thead>
                    <tr>
                        <th>Nombre completo</th>
                        <th>Número de documento</th>
                        <th>Dirección</th>
                        <th>Teléfonos</th>
                        <th>Estado financiero</th>
                        <th>Notificacion whatsapp</th>
                        <th class="text-right">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cliente, estado_financiero in combined_list %}
                        <tr>
                            <td>
                                <a href="{% url 'detalle_cliente' cliente.id %}" title="Ver">{{ cliente.nombreCompleto }}</a>
                            </td>
                            <td>
                                {{ cliente.tipo_documento }} - {{ cliente.numero_documento }}
                            </td>
                            <td>
                                {{ cliente.direccion }}
                            </td>
                            <td>
                                {{ cliente.telefono }} {% if cliente.telefono and cliente.celular %} - {% endif %} {{ cliente.celular }}
                            </td>
                            <td>
                                {% if estado_financiero == 'Al día' %}
                                <span class="label label-success">Al día</span>
                                {% elif estado_financiero  == 'En deuda' %}
                                <span class="label label-warning">En deuda</span>
                                {% elif estado_financiero == 'Moroso' %}
                                <span class="label label-danger">En mora</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if cliente.notificaciones_wpp %}
                                <span class="label label-success">Activada</span>
                                {% else %}
                                <span class="label label-warning">Desactivada</span>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                <a href="{% url 'detalle_cliente' cliente.id %}" style="color: #076ff1" title="Ver"
                                   class="action-icon dropdown-toggle"><i class="fa fa-eye fa-lg"></i></a>
                                <a href="{% url 'editar_cliente' cliente.id %}" style="color: #076ff1" title="Editar"
                                   class="action-icon dropdown-toggle"><i class="fa fa-pencil fa-lg"></i></a>
                                <a href="#" onclick="EliminarCliente('{{cliente.id}}', '{{cliente.nombreCompleto}}');" class="action-icon dropdown-toggle" style="color: #076ff1" title="Eliminar">
                                    <i class="fa fa-trash fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% for registro, estado_financiero in combined_list_deudores %}
                        <tr>
                            <td>
                                <a href="{% url 'detalle_cliente' registro.pago__cliente %}" title="Ver">{{ registro.pago__cliente__nombres }} {{ registro.pago__cliente__apellidos }}</a>
                            </td>
                            <td>
                                {{ registro.pago__cliente__tipo_documento }} - {{ registro.pago__cliente__numero_documento }}
                            </td>
                            <td>
                                {{ registro.pago__cliente__direccion }}
                            </td>
                            <td>
                                {{ registro.pago__cliente__telefono }} {% if registro.pago__cliente__telefono and registro.pago__cliente__celular %} - {% endif %} {{ registro.pago__cliente__celular }}
                            </td>
                            <td>
                                {% if estado_financiero == 'Al día' %}
                                <span class="label label-success">Al día</span>
                                {% elif estado_financiero  == 'En deuda' %}
                                <span class="label label-warning">En deuda</span>
                                {% elif estado_financiero == 'Moroso' %}
                                <span class="label label-danger">En mora</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if registro.pago__cliente__notificaciones_wpp %}
                                <span class="label label-success">Activada</span>
                                {% else %}
                                <span class="label label-warning">Desactivada</span>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                <a href="{% url 'detalle_cliente' registro.pago__cliente %}" style="color: #076ff1" title="Ver"
                                   class="action-icon dropdown-toggle"><i class="fa fa-eye fa-lg"></i></a>
                                <a href="{% url 'editar_cliente' registro.pago__cliente %}" style="color: #076ff1" title="Editar"
                                   class="action-icon dropdown-toggle"><i class="fa fa-pencil fa-lg"></i></a>
                                <a href="#" onclick="EliminarCliente('{{registro.pago__cliente}}', '{{registro.pago__cliente__nombres}} {{ registro.pago__cliente__apellidos }}');" class="action-icon dropdown-toggle" style="color: #076ff1" title="Eliminar">
                                    <i class="fa fa-trash fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div style="display: flex;justify-content: flex-end;width: 100%">
                {% if is_paginated %}
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                      <li><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                    {% else %}
                      <li class="disabled"><span>Anterior</span></li>
                    {% endif %}
                    <li class="active">
                        <span>Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
                    </li>
                    {% if page_obj.has_next %}
                      <li><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                    {% else %}
                      <li class="disabled"><span>Siguiente</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block plugins %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
    <script type="text/javascript">

        /*$("#filtrar_estado_financiero").val('{{ estado }}');
        $('#filtrar_estado_financiero').on('change', function(){
           window.location = '/clientes/listar_clientes/'+$(this).val()+'/';
        });*/

        function EliminarCliente(id, nombre) {

            console.log("id: ", id);
            console.log("nombre: ", nombre);

            swal({
                title: "Estas seguro que deseas eliminar el cliente "+nombre+"?",
                text: "Este cliente y toda la informacion asiciada a él sera eliminada permanenetemente.",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No, cancelar",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Si, eliminar permanentemente!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: '/clientes/eliminar_cliente/',
                        data: {
                          'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.reload();
                        }
                    });
                } else {
                    swal("Tu cliente esta a salvo!");
                }
            });

        }

        $('#boton_buscar').click(function () {
            if($('#buscar_cliente').val() == ''){
                swal({
                    icon: 'error',
                    title: 'Debe ingresar un criterio de busqueda',
                    button: 'Ok'
                });
            }else{
                window.location.replace("/clientes/buscar_cliente/"+$('#buscar_cliente').val()+"/");
            }
        });

        $(document).keypress(function (e) {
            if (e.which == 13) {
                if($('#buscar_cliente').val() == ''){
                    swal({
                        icon: 'error',
                        title: 'Debe ingresar un criterio de busqueda',
                        button: 'Ok'
                    });
                }else{
                    window.location.replace("/clientes/buscar_cliente/"+$('#buscar_cliente').val()+"/");
                }
            }
        });
    </script>
{% endblock %}