{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
	<title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fullcalendar.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/toastr.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}" />
    <link href="{% static 'css/fuente_google_family_poppins.css' %}" rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/sweetalert.min.css' %}">
    <script src="{% static 'js/sweetalert1.1.3.min.js' %}"></script>
	{% block extrahead %}
	{% endblock%}
    <style>
        body{
            background-image: url("{% static 'img/fondo_huellas.jpg' %}");
        }
        .label{
            font-size: 12px;
        }
        .label-success{
            background-color: #48c900;
        }
        .label_cita{
            font-size: 12px; background-color: #00c7ff;
        }

        .label_estetica{
            font-size: 12px; background-color: #605fff;
        }

        .label_vacunacion{
            font-size: 12px; background-color: #ff7e54;
        }

        .label_desparasitacion{
            font-size: 12px; background-color: #ff5d86;
        }

        .label_guarderia{
            font-size: 12px; background-color: #94919d;
        }
        [v-cloak] { display: none; }
    </style>
</head>

<body>
    <div id="pageLoader"></div>
    {% if request.path == '/mascotas/registrar_mascota/' %}
        <a id="btn-main-add-pet" class="btn add-btn btn-custom hidden" href="{% url 'registrar_mascota' %}">+</a> 
    {% else %}
        <a id="btn-main-add-pet" class="btn add-btn btn-custom hidden" href="{% url 'registrar_mascota' %}">+</a> 
    {% endif %}
    <div class="main-wrapper">
        <div class="header" id="app_header">
           {% include "header.html" %}

        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div class="sidebar-menu" id="app_menu">
                    {% include "menuPanel.html" %}

                </div>
            </div>
        </div>

        <div class="content-wrap">
            <div class="content container-fluid">
				{% block content %}			
				{% endblock %}
            </div>
        </div>
        <div id="delete_patient" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete Patient</h4>
                    </div>
                    <form>
                        <div class="modal-body">
                            <p>Are you sure want to delete Patient?</p>
                        </div>
                        <div class="modal-footer"> <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="modal-detalle" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true"></div>
    </div>
    <div class="sidebar-overlay" data-reff="#sidebar"></div>

    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fullcalendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.fullcalendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>

    {% comment %}
    <script type="text/javascript" src="{% static 'js/modernizr.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/fullcalendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.fullcalendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    {% endcomment %}
    <script type="text/javascript" src="{% static 'vue-2.6.10/package/dist/vue.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <script type="text/javascript">

        function enviar_notificacion(title, msj) {
            if (Notification) {
                if (Notification.permission !== "granted" || Notification.permission !== 0) {
                    Notification.requestPermission()
                }
                title = title;
                var options = {
                    icon: "{% static 'img/favicon.png' %}",
                    body: msj,
                    vibrate: [200, 100, 200]
                    
                }
                var noti = new Notification( title, options)
                noti.onclick = {
                    // Al hacer click
                }
                noti.onclose = {
                    // Al cerrar
                }
                setTimeout( function() { noti.close() }, 8000)
            }
        }

        //enviar_notificacion("Hops pet's", "HOLAAAAAA!");

        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app_header',
            data: {
                numero_notificaciones_hoy: 0,
                citas_hoy: {},
                esteticas_hoy: {},
                vacunaciones_hoy: {},
                desparasitaciones_hoy: {},
                guarderias_hoy: {},
                notificaciones_vistas: false,
                ocultar_numero_notificaciones: false,
                mostrar_numero_notificaciones: true,
                cumpleaños_hoy: {},
                mostrar_numero_notificaciones_cumpleaños: true,
                proximos_cumpleaños: {},
                fecha_hoy: '',
                soluciones_pres: {},
                mostrar_numero_notificaciones_inventario: true,
                inventario_stock: {},
                inventario_vencido: {},
                numero_notificaciones_inventario: 0,
            },
            methods:{
                verNotificaciones: function(){
                    app.mostrar_numero_notificaciones = false;
                    var cookies = { mostrar_numero_notificaciones: false };

                    if (localStorage.notificacionesCookies) {
                        localStorage.notificacionesCookies = JSON.stringify(cookies);
                    } else {
                        localStorage.setItem('notificacionesCookies', JSON.stringify(cookies));
                    }
                },
                borrarCookies: function(){
                    var cookies = { mostrar_numero_notificaciones: true };

                    if (localStorage.notificacionesCookies) {
                        localStorage.notificacionesCookies = JSON.stringify(cookies);
                    } else {
                        localStorage.setItem('notificacionesCookies', JSON.stringify(cookies));
                    }

                    var cookiesCumple = { mostrar_numero_notificaciones_cumpleaños: true };

                    if (localStorage.notificacionesCumpleañosCookies) {
                        localStorage.notificacionesCumpleañosCookies = JSON.stringify(cookiesCumple);
                    } else {
                        localStorage.setItem('notificacionesCumpleañosCookies', JSON.stringify(cookiesCumple));
                    }

                    var cookiesInventario = { mostrar_numero_notificaciones_inventario: true };

                    if (localStorage.notificacionesInventarioCookies) {
                        localStorage.notificacionesInventarioCookies = JSON.stringify(cookiesInventario);
                    } else {
                        localStorage.setItem('notificacionesInventarioCookies', JSON.stringify(cookiesInventario));
                    }
                },
                verNotificacionesCumpleaños: function(){
                    app.mostrar_numero_notificaciones_cumpleaños = false;
                    var cookies = { mostrar_numero_notificaciones_cumpleaños: false };

                    if (localStorage.notificacionesCumpleañosCookies) {
                        localStorage.notificacionesCumpleañosCookies = JSON.stringify(cookies);
                    } else {
                        localStorage.setItem('notificacionesCumpleañosCookies', JSON.stringify(cookies));
                    }
                },
                verNotificacionesInventario: function(){
                    app.mostrar_numero_notificaciones_inventario = false;
                    var cookies = { mostrar_numero_notificaciones_inventario: false };

                    if (localStorage.notificacionesInventarioCookies) {
                        localStorage.notificacionesInventarioCookies = JSON.stringify(cookies);
                    } else {
                        localStorage.setItem('notificacionesInventarioCookies', JSON.stringify(cookies));
                    }
                },
                abrir_modal: function (id,tipo_elemento) {
                    var url='';
                    if (tipo_elemento == 'productos.producto'){
                        url = '/productos/detalle_producto/'+id;
                    }else if (tipo_elemento == 'productos.medicamento'){
                        url = '/productos/detalle_medicamento/'+id;
                    }else if (tipo_elemento == 'vacunacion.vacuna'){
                        url = '/vacunacion/detalle_vacuna/'+id;
                    }else if (tipo_elemento == 'desparasitacion.desparasitante'){
                        url = '/desparasitacion/detalle_desparasitante/'+id;
                    }else if (tipo_elemento == 'insumos.insumo'){
                        url = '/insumos/detalle_insumo/'+id;
                    }
                    $('#modal-detalle').load(url, function () {
                        $(this).modal('show');
                    });
                    return false;
                }
            }
        });

        var app_menu = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app_menu',
            data: {
                fecha_hoy: '',
            }
        });

        var promise = new Promise(function (resolve, reject) {

            $.ajax({
                url: '/usuario/ajax/notificaciones/',
                data: {},
                dataType: 'json',
                success: function (data) {
                    resolve(data);
                    setTimeout(function() {
                        $.each(JSON.parse(data.soluciones_pres), function( index, element ) {
                            let url = $($('#notificacion li a')[index]).attr('href');
                            $($('#notificacion li a')[index]).attr('href', url + element.fields.pres);
                        
                        });
                    }, 1000);
                }
            });
        });

        $(document).ready(function () {

            $(".button_save").on('click', function(){
                $('.button_save').attr('disabled', 'disabled');
                $("#pageLoader").show();
            });
            var copyage = moment().format('YYYY');
            $('#copyano').html(copyage);

            promise.then(function (data) {

                app_menu.fecha_hoy = data.fecha_hoy;
                //console.log("app_menu.fecha_hoy: ", app_menu.fecha_hoy);

                if(localStorage.notificacionesCookies){
                    if(JSON.parse(localStorage.notificacionesCookies).mostrar_numero_notificaciones == false){
                        app.mostrar_numero_notificaciones = false;
                    }
                }

                if(localStorage.notificacionesCumpleañosCookies){
                    if(JSON.parse(localStorage.notificacionesCumpleañosCookies).mostrar_numero_notificaciones_cumpleaños == false){
                        app.mostrar_numero_notificaciones_cumpleaños = false;
                    }
                }

                if(localStorage.notificacionesInventarioCookies){
                    if(JSON.parse(localStorage.notificacionesInventarioCookies).mostrar_numero_notificaciones_inventario == false){
                        app.mostrar_numero_notificaciones_inventario = false;
                    }
                }

                //console.log("data.numero_notificaciones_hoy = ", data.numero_notificaciones_hoy);

                app.numero_notificaciones_hoy = data.numero_notificaciones_hoy;


                var mascotas = JSON.parse(data.mascotas);

                var options = {
                  hour: 'numeric',
                  minute: 'numeric',
                  hour12: true
                };

                app.citas_hoy = JSON.parse(data.citas_hoy);
                app.citas_hoy.forEach(function (cita) {
                    var mi_fecha = new Date(cita.fields.fecha);
                    //console.log("cita.fields.fecha: ", mi_fecha.toLocaleTimeString());
                    //var fecha = String(cita.fields.fecha);
                    //fecha = fecha.slice(11, 16);
                    //cita.fields.hora = mi_fecha.toTimeString().match(/\d{2}:\d{2}|[]+/g).join(' ');
                    cita.fields.hora = mi_fecha.toLocaleString('en-US', options);
                    mascotas.forEach(function (mascota) {
                        if(cita.fields.mascota == mascota.pk){
                            cita.fields.nombre_mascota = mascota.fields.nombre
                        }
                    });
                });

                app.esteticas_hoy = JSON.parse(data.esteticas_hoy);
                app.esteticas_hoy.forEach(function (estetica) {
                    var mi_fecha = new Date(estetica.fields.fecha);
                    //console.log("mi_fecha: ",mi_fecha);
                    //var fecha = String(estetica.fields.fecha);
                    //fecha = fecha.slice(11, 16);
                    //estetica.fields.hora = mi_fecha.toTimeString().match(/\d{2}:\d{2}|[]+/g).join(' ');
                    estetica.fields.hora = mi_fecha.toLocaleString('en-US', options);
                    mascotas.forEach(function (mascota) {
                        if(estetica.fields.mascota == mascota.pk){
                            estetica.fields.nombre_mascota = mascota.fields.nombre
                        }
                    });
                });

                app.vacunaciones_hoy = JSON.parse(data.vacunaciones_hoy);
                app.vacunaciones_hoy.forEach(function (vacunacion) {
                    var mi_fecha = new Date(vacunacion.fields.fecha);
                    //var fecha = String(vacunacion.fields.fecha);
                    //fecha = fecha.slice(11, 16);
                    //vacunacion.fields.hora = mi_fecha.toTimeString().match(/\d{2}:\d{2}|[]+/g).join(' ');
                    vacunacion.fields.hora = mi_fecha.toLocaleString('en-US', options);
                    mascotas.forEach(function (mascota) {
                        if(vacunacion.fields.mascota == mascota.pk){
                            vacunacion.fields.nombre_mascota = mascota.fields.nombre
                        }
                    });
                });

                app.desparasitaciones_hoy = JSON.parse(data.desparasitaciones_hoy);
                app.desparasitaciones_hoy.forEach(function (desparasitacion) {
                    var mi_fecha = new Date(desparasitacion.fields.fecha);
                    //console.log("mi_fecha: ",mi_fecha);
                    //var fecha = String(desparasitacion.fields.fecha);
                    //fecha = fecha.slice(11, 16);
                    //desparasitacion.fields.hora = mi_fecha.toTimeString().match(/\d{2}:\d{2}|[]+/g).join(' ');
                    desparasitacion.fields.hora = mi_fecha.toLocaleString('en-US', options);
                    mascotas.forEach(function (mascota) {
                        if(desparasitacion.fields.mascota == mascota.pk){
                            desparasitacion.fields.nombre_mascota = mascota.fields.nombre
                        }
                    });
                });

                app.guarderias_hoy = JSON.parse(data.guarderias_hoy);
                app.guarderias_hoy.forEach(function (guarderia) {
                    var mi_fecha = new Date(guarderia.fields.fecha_inicio);
                    //var fecha = String(guarderia.fields.fecha_inicio);
                    //fecha = fecha.slice(11, 16);
                    //guarderia.fields.hora = mi_fecha.toTimeString().match(/\d{2}:\d{2}|[]+/g).join(' ');
                    guarderia.fields.hora = mi_fecha.toLocaleString('en-US', options);
                    mascotas.forEach(function (mascota) {
                        if(guarderia.fields.mascota == mascota.pk){
                            guarderia.fields.nombre_mascota = mascota.fields.nombre
                        }
                    });
                });

                var cumpleaños_hoy = JSON.parse(data.cumpleaños_hoy);

                app.cumpleaños_hoy = cumpleaños_hoy;

                app.cumpleaños_hoy.forEach(function (mascota) {
                    var mi_fecha = new Date(mascota.fields.fecha_nacimiento);
                    var fecha_hoy = new Date();
                    mascota.fields.edad = fecha_hoy.getFullYear() - mi_fecha.getFullYear();
                });


                var proximos_cumpleaños = JSON.parse(data.proximos_cumpleaños);

                app.proximos_cumpleaños = proximos_cumpleaños;

                app.proximos_cumpleaños.forEach(function (mascota) {
                    var mi_fecha = new Date(mascota.fields.fecha_nacimiento);
                    var fecha_hoy = new Date();
                    mascota.fields.edad_a_cumplir = fecha_hoy.getFullYear() - mi_fecha.getFullYear();

                    var fecha_cumple = new Date(mascota.fields.fecha_nacimiento).toISOString();
                    var fecha_proximo_cumple = new Date(fecha_hoy.getFullYear(), (fecha_cumple.slice(5, 7)-1), fecha_cumple.slice(8, 10));
                    //fecha_cumple.setFullYear(fecha_hoy.getFullYear());
                    //console.log(fecha_hoy.getFullYear());
                    //console.log(fecha_cumple.slice(5, 7));
                    //console.log(fecha_cumple.slice(8, 10));
                    //console.log("fecha_proximo_cumple: ", fecha_proximo_cumple);
                    mascota.fields.dia_cumpleaños = fecha_proximo_cumple;
                });

                app.inventario_stock = JSON.parse(data.inventario_stock);

                app.inventario_stock.forEach((element, i) => {

                    disponibilidad = "";

                    if(element.fields.cantidad != 0){
                        disponibilidad = element.fields.cantidad + " unidades";
                    }

                    if(element.fields.cantidad_por_unidad){
                        if(element.fields.cantidad != 0){
                            disponibilidad += " (" + element.fields.cantidad_unidad + " " + element.fields.unidad_medida + ')';
                        }
                        residuo = (parseFloat(element.fields.cantidad_total_unidades) % parseInt(element.fields.cantidad_unidad)).toFixed(1);

                        if(residuo != 0){
                            if(element.fields.cantidad != 0){
                                disponibilidad += " y ";
                            }
                            disponibilidad += "1 unidad ("+residuo+ " " + element.fields.unidad_medida + ')';
                        }
                    }

                    if(disponibilidad == ""){
                        disponibilidad= "0 unidades"
                    }

                    element.fields.descripcion = disponibilidad;
                });

                app.inventario_vencido = JSON.parse(data.inventario_vencido);

                app.inventario_vencido.forEach((element, i) => {

                    disponibilidad = "";

                    if(element.fields.cantidad != 0){
                        disponibilidad = element.fields.cantidad + " unidades";
                    }

                    if(element.fields.cantidad_por_unidad){
                        if(element.fields.cantidad != 0){
                            disponibilidad += " (" + element.fields.cantidad_unidad + " " + element.fields.unidad_medida + ')';
                        }
                        residuo = (parseFloat(element.fields.cantidad_total_unidades) % parseInt(element.fields.cantidad_unidad)).toFixed(1);

                        if(residuo != 0){
                            if(element.fields.cantidad != 0){
                                disponibilidad += " y ";
                            }
                            disponibilidad += "1 unidad ("+residuo+ " " + element.fields.unidad_medida + ')';
                        }
                    }

                    if(disponibilidad == ""){
                        disponibilidad= "0 unidades"
                    }

                    element.fields.descripcion = disponibilidad;
                });

                app.numero_notificaciones_inventario = app.inventario_stock.length + app.inventario_vencido.length

                var soluciones_pres = JSON.parse(data.soluciones_pres);
                app.soluciones_pres = soluciones_pres;
                app.soluciones_pres.forEach(function(sol_pres){
                    sol_pres.fields.estado = sol_pres.estado;
                });

            }, function (err) {
                console.log(err); // Error: "It broke"
            });

            $('#submenu_configuracion').on('click',function(){
                $("#sidebar").animate({ scrollTop: 9999}, 1000); 
            });

            $('#submenu_usuarios').on('click',function(){
                $("#sidebar").animate({ scrollTop: 9999 }, 'slow');
            });

            $('#submenu_informes').on('click',function(){
                $("#sidebar").animate({ scrollTop: 9999 }, 'slow');
            });

            $(".table-striped").dataTable({
                searching: true,
                ordering: false,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No hay información registrada",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "",
                    "infoFiltered": "(filtrado de _MAX_ registros en total)",
                    "search": "Buscar :",
                    "paginate": {
                        "first":      "Primera",
                        "last":       "Ultima",
                        "next":       "Siguiente",
                        "previous":   "Anterior"
                    }
                }
            });
            
            $(".table-hover").dataTable({
                searching: true,
                ordering: false,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No hay información registrada",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "",
                    "infoFiltered": "(filtrado de _MAX_ registros en total)",
                    "search": "Buscar :",
                    "paginate": {
                        "first":      "Primera",
                        "last":       "Ultima",
                        "next":       "Siguiente",
                        "previous":   "Anterior"
                    }
                }
            });

        });
    </script>
    {% if messages %}
        {% for message in messages %}
            <script>
                $(document).ready(function() {
                    setTimeout(function() {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 4000
                        };

                        toastr['{{ message.tags }}']('{{ message }}');

                    }, 10);
                });
            </script>
        {% endfor %}
    {% endif %}    
    {% block plugins %}
    {% endblock %}
    <div class="copy-footer">
        <p>Hops Pets © <span id="copyano"></span></p>
    </div>
</body>

</html>