

{% load staticfiles %}

<div class="numpad" style="display: inline-block;float: right;text-align: center;
    margin: 16px;margin-top: 8px;margin-left: 0px;
    border: none;border-radius: 0;border-top: 1px solid;border-color: #bfbfbf;border-top-right-radius: 4px;">
    <button class="input-button number-char" value="1">1</button>
    <button class="input-button number-char" value="2">2</button>
    <button class="input-button number-char" value="3">3</button>
    <button class="mode-button" data-mode="unidad" style="font-size: 11px;background-color: #132362;color:#fff;">Ctdad</button>
    <br>
    <button class="input-button number-char" value="4">4</button>
    <button class="input-button number-char" value="5">5</button>
    <button class="input-button number-char" value="6">6</button>
    <button class="mode-button" data-mode="descuento" style="font-size: 11px;background-color: #132362;color:#fff;">Desc</button>
    <br>
    <button class="input-button number-char" value="7">7</button>
    <button class="input-button number-char" value="8">8</button>
    <button class="input-button number-char" value="9">9</button>
    <button class="mode-button" data-mode="precio" style="font-size: 11px;background-color: #132362;color:#fff;">Precio</button>
    <br>
    <button class="input-button numpad-minus">+/-</button>
    <button class="input-button number-char" value="0">0</button>
    <button class="input-button number-char" value=".">.</button>
    <button class="input-button numpad-backspace" data-borrar="borrar">
        <img height="21" src="{% static 'img/backspace.png' %}" style="pointer-events: none;" width="24">
    </button>
</div>