{% load staticfiles %}

<div class="numpago" style="display: inline-block;border-top: 1px solid;border-left:1px solid;">
    <button class="input-button number-char" value="1">1</button>
    <button class="input-button number-char" value="2">2</button>
    <button class="input-button number-char" value="3">3</button>
    <button class="input-button number-char" value="10" style="font-size: 15px;">+10</button>
    <br>
    <button class="input-button number-char" value="4">4</button>
    <button class="input-button number-char" value="5">5</button>
    <button class="input-button number-char" value="6">6</button>
    <button class="input-button number-char" value="20" style="font-size: 15px;">+20</button>
    <br>
    <button class="input-button number-char" value="7">7</button>
    <button class="input-button number-char" value="8">8</button>
    <button class="input-button number-char" value="9">9</button>
    <button class="input-button number-char" value="50" style="font-size: 15px;">+50</button>
    <br>
    <button class="input-button numpad-c-borra">C</button>
    <button class="input-button number-char" value="0">0</button>
    <button class="input-button number-char">.</button>
    <button class="input-button numpad-backspace" data-borrar="borrar">
        <img height="21" src="{% static 'img/backspace.png' %}" style="pointer-events: none;" width="24">
    </button>
</div>
