{% load static %}

<div class="header-left">
    <a href="{% url 'index' %}" class="logo">
        <img src="{% static 'img/logo.png' %}" width="125" height="50" alt=" ">

    </a>
</div>

<div class="page-title-box pull-left">
    <h3><span class="welcome-text"> </span></h3>
</div>
<a id="mobile_btn" class="mobile_btn pull-left" href="#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>
<ul class="nav navbar-nav navbar-right user-menu pull-right" v-cloak>
    <li class="dropdown hidden-xs" v-if="cumpleaños_hoy.length != 0 || proximos_cumpleaños.length != 0">
        <a href="#" class="hasnotifications dropdown-toggle" data-toggle="dropdown" v-on:click="verNotificacionesCumpleaños();"><i class="fa fa-birthday-cake"></i> <span class="badge bg-danger pull-right" v-cloak v-if="mostrar_numero_notificaciones_cumpleaños">[[cumpleaños_hoy.length]]</span></a>
        <div class="dropdown-menu notifications">
            <div class="topnav-dropdown-header" v-if="cumpleaños_hoy.length != 0">
                <span>Cumpleaños de hoy</span>
            </div>
            <div class="" style="height: 100%;">
                <ul class="media-list scroll-content">
                    <li class="media notification-message" v-for="mascota in cumpleaños_hoy">
                        <a v-bind:href="'/mascotas/detalle_mascota/' + mascota.pk">
                            <div class="media-left">
                                <!--span class="avatar" style="background-color: #00c7ff;">C</span-->
                                <img v-if="mascota.fields.foto != ''" alt="" v-bind:src="'/media/' + mascota.fields.foto" class="avatar">
                                <img v-if="mascota.fields.foto == ''" alt="" src="{% static 'img/mascota_sin_foto.jpg' %}" class="avatar">
                            </div>
                            <div class="media-body">
                                <p class="noti-details"><span class="noti-title">[[mascota.fields.nombre]]</span> esta cumpliendo <span class="noti-title">[[mascota.fields.edad]] <span v-if="mascota.fields.edad == 1">año</span> <span v-if="mascota.fields.edad != 1">años</span></span></p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topnav-dropdown-header" v-if="proximos_cumpleaños.length != 0">
                <span>Próximos cumpleaños</span>
            </div>
            <div class="drop-scroll" style="height: 100%; max-height: 200px;">
                <ul class="media-list scroll-content">
                    <li class="media notification-message" v-for="mascota in proximos_cumpleaños">
                        <a v-bind:href="'/mascotas/detalle_mascota/' + mascota.pk">
                            <div class="media-left">
                                <!--span class="avatar" style="background-color: #00c7ff;">C</span-->
                                <img v-if="mascota.fields.foto != ''" alt="" v-bind:src="'/media/' + mascota.fields.foto" class="avatar">
                                <img v-if="mascota.fields.foto == ''" alt="" src="{% static 'img/mascota_sin_foto.jpg' %}" class="avatar">
                            </div>
                            <div class="media-body">
                                <p class="noti-details"><span class="noti-title">[[mascota.fields.nombre]]</span> cumplirá <span class="noti-title">[[mascota.fields.edad_a_cumplir]] <span v-if="mascota.fields.edad == 1">año</span> <span v-if="mascota.fields.edad != 1">años</span></span></p>
                                <p class="noti-time"><span class="notification-time">Nacimiento: [[mascota.fields.fecha_nacimiento]]</span></p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li class="dropdown hidden-xs" v-if="numero_notificaciones_hoy != 0">
        <a href="#" class="hasnotifications dropdown-toggle" data-toggle="dropdown" v-on:click="verNotificaciones();"><i class="fa fa-bell"></i> <span class="badge bg-danger pull-right" v-cloak v-if="mostrar_numero_notificaciones">[[numero_notificaciones_hoy]]</span></a>
        <div class="dropdown-menu notifications">
            <div class="topnav-dropdown-header">
                <span>Atenciones hoy</span>
            </div>
            <div class="drop-scroll" style="height: 100%; max-height: 200px;">
                <ul class="media-list scroll-content">
                    <li class="media notification-message" v-for="cita in citas_hoy">
                        <a href="/usuario/index/">
                            <div class="media-left">
                                <span class="avatar" style="background-color: #00c7ff;">C</span>
                            </div>
                            <div class="media-body">
                                <p class="noti-details"><span class="noti-title">[[cita.fields.nombre_mascota]]</span> tiene <span class="label label-warning label_cita">Cita</span></p>
                                <p class="noti-time"><span class="notification-time">Hora: [[cita.fields.hora]]</span></p>
                            </div>
                        </a>
                    </li>
                    <li class="media notification-message" v-for="estetica in esteticas_hoy">
                        <a href="/usuario/index/">
                            <div class="media-left">
                                <span class="avatar" style="background-color: #605fff;">E</span>
                            </div>
                            <div class="media-body">
                                <p class="noti-details"><span class="noti-title">[[estetica.fields.nombre_mascota]]</span> tiene <span class="label label-warning label_estetica">Estetica</span></p>
                                <p class="noti-time"><span class="notification-time">Hora: [[estetica.fields.hora]]</span></p>
                            </div>
                        </a>
                    </li>
                    <li class="media notification-message" v-for="vacunacion in vacunaciones_hoy">
                        <a href="/usuario/index/">
                            <div class="media-left">
                                <span class="avatar" style="background-color: #ff7e54;">V</span>
                            </div>
                            <div class="media-body">
                                <p class="noti-details"><span class="noti-title">[[vacunacion.fields.nombre_mascota]]</span> tiene <span class="label label-warning label_vacunacion">Vacunacion</span></p>
                                <p class="noti-time"><span class="notification-time">Hora: [[vacunacion.fields.hora]]</span></p>
                            </div>
                        </a>
                    </li>
                    <li class="media notification-message" v-for="desparasitacion in desparasitaciones_hoy">
                        <a href="/usuario/index/">
                            <div class="media-left">
                                <span class="avatar" style="background-color: #ff5d86;">D</span>
                            </div>
                            <div class="media-body">
                                <p class="noti-details"><span class="noti-title">[[desparasitacion.fields.nombre_mascota]]</span> tiene <span class="label label-warning label_desparasitacion">Desparasitacion</span></p>
                                <p class="noti-time"><span class="notification-time">Hora: [[desparasitacion.fields.hora]]</span></p>
                            </div>
                        </a>
                    </li>
                    <li class="media notification-message" v-for="guarderia in guarderias_hoy">
                        <a href="/usuario/index/">
                            <div class="media-left">
                                <span class="avatar" style="background-color: #94919d;">G</span>
                            </div>
                            <div class="media-body">
                                <p class="noti-details"><span class="noti-title">[[guarderia.fields.nombre_mascota]]</span> tiene <span class="label label-warning label_guarderia">Guarderia</span></p>
                                <p class="noti-time"><span class="notification-time">Hora: [[guarderia.fields.hora]]</span></p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topnav-dropdown-footer">
                <a href="/usuario/index/">Ver más</a>
            </div>
        </div>
    </li>
    <li class="dropdown">
        {% if request.user.usuario.foto %}
        <a href="#" class="dropdown-toggle user-link" data-toggle="dropdown" title="Admin"><img class="img-circle" src="{{ request.user.usuario.foto.url }}" width="40" alt=""> {% block nombre_usuario %}{{ request.user.first_name }}{% endblock %} <i class="fa fa-sort-down"></i></a>
        {% else %}
        <a href="#" class="dropdown-toggle user-link" data-toggle="dropdown" title="Admin"><img class="img-circle" src="{% static 'img/user.jpg' %}" width="40" alt=""> {{ request.user.first_name }} <i class="fa fa-sort-down"></i></a>
        {% endif %}
        <ul class="dropdown-menu">
            <li><a href="{% url 'cambiar_contrasena' %}">Cambiar contraseña</a></li>
            <li><a href="{% url 'cerrar_sesion' %}" v-on:click="borrarCookies();">Cerrar sesión</a></li>
        </ul>

    </li>
</ul>
<div class="dropdown mobile-user-menu pull-right">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
    <ul class="dropdown-menu pull-right">
        <li><a href="{% url 'cambiar_contrasena' %}">Cambiar contraseña</a></li>
        <li><a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>

    </ul>
</div>