{% load static %}

<div class="header-left">
    <a href="{% url 'index' %}" class="logo">
        <img src="{% static 'img/logo.png' %}" width="125" height="50" alt=" ">

    </a>

</div>

<div class="page-title-box pull-left">
    <h3><span class="welcome-text"> </span></h3>
</div>
<a id="mobile_btn" class="mobile_btn pull-left" href="#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>
<ul class="nav navbar-nav navbar-right user-menu pull-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle user-link" data-toggle="dropdown" title="Admin">
                {% block nombre_usuario %}{{ user.get_username }}{% endblock %} <i class="fa fa-sort-down"></i></a>
        <ul class="dropdown-menu">
            <li><a href="#">Cambiar Contraseña</a></li>
            <li><a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
        </ul>
    </li>
</ul>
<div class="dropdown mobile-user-menu pull-right">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
    <ul class="dropdown-menu pull-right">
        <li><a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>

    </ul>
</div>
