{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}


{% block title %}
Inicio
{% endblock title %}

{% block extrahead %}

{% endblock%}

{% block content %}

{% if user.usuario.roles == "Administrador"%}
<div class="row">
    <div class="col-sm-12">
        <h2 class="card-title">Estadísticas</h2>
    </div>
</div>
<div class="row">

</div>
<div class="row" id="home-box-container">
    <div class="col-md-12">
    </div>
    <div class="col-md-6">
        <a href="/citas/listar_citas/">
            <div class="card-box">
                <div>
                    <p class="card-title-spl">{{ total_citas_atendidas }}</p>
                </div>
                <span class="card-title">Citas atendidas</span>
                <i class="fa fa-calendar"></i>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a href="/mascotas/listar_mascotas/">
            <div class="card-box">
                <p class="card-title-spl">{{ total_mascotas }}</p>
                <span class="card-title">Mascotas</span>
                <i class="fa fa-paw" aria-hidden="true"></i>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a href="/gastos/listar_gasto/todos/hoy/">
            <div class="card-box">
                <p class="card-title-spl">
                    $ {{ egresos_diarios | intcomma }}
                </p>
                <span class="card-title">Egresos diarios</span>
                <i class="fa fa-money" aria-hidden="true"></i>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a href="/productos/listar_pagos/todos/hoy/">
            <div class="card-box">
                <p class="card-title-spl">
                    $ {{ ingresos_diarios | intcomma }}
                </p>
                <span class="card-title">Ingresos diarios</span>
                <i class="fa fa-line-chart" aria-hidden="true"></i>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <h3 class="card-title">Agendas de HOY</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Fecha y hora</th>
                        <th>Cliente</th>
                        <th>Mascota</th>
                        <th>Veterinario</th>
                        <th>Estado de atención</th>
                        <th>Estado de pago</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cita in citas_hoy %}
                    <tr>
                        <td>
                            <span class="label label-warning label_cita">Cita</span>
                        </td>
                        <td>{{ cita.fecha | date:"d F Y" }} a las {{ cita.fecha | date:"h:i a" }}</td>
                        <td><a href="{% url 'detalle_cliente' cita.mascota.cliente.id %}">{{ cita.mascota.cliente.nombreCompleto }}</a></td>
                        <td><a href="{% url 'detalle_mascota' cita.mascota.id %}">{{ cita.mascota.nombre }}</a></td>
                        <td>{{ cita.veterinario }}</td>
                        <td>
                            {% if cita.estado == 'Activa' %}
                            <span class="label label-warning">Pendiente</span>
                            {% elif cita.estado == 'Atendida' %}
                            <span class="label label-success">{{ cita.estado }}</span>
                            {% elif cita.estado == 'Cancelada' %}
                            <span class="label label-danger">{{ cita.estado }}</span>
                            {% endif %}
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            <div class="hidden-xs hidden-sm">      
                                <a href="/citas/editar_cita/{{cita.id}}/" title="Editar" class="action-icon btn-edit"><i class="fa fa-pencil m-r-5"></i></a>
                                <a href="#" onclick="EliminarCita({{cita.id}}, '{{cita.mascota.nombre}}', '{{cita.fecha}}')" class="action-icon btn-remove" title="Eliminar"><i class="fa fa-trash fa-lg"></i></a>
                            </div>
                            <div class="dropdown modal-menu-mobile-table hidden-md hidden-lg">
                                <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">
                                    <i class="fa fa-ellipsis-v"></i>
                                </a> 
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="/citas/editar_cita/{{cita.id}}/" title="Editar" class="action-icon btn-edit"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="EliminarCita({{cita.id}},{{cita.nombre}}, '{{cita.fecha}}')" class="action-icon btn-remove" title="Eliminar"><i class="fa fa-trash fa-lg"></i> Eliminar</a> 
                                    </li>
                                </ul>
                            </div> 
                        </td>
                    </tr>
                    {% endfor %}
                    {% for estetica in esteticas_hoy %}
                    <tr>
                        <td>
                            <span class="label label-warning label_estetica">Estética</span>
                        </td>
                        <td>{{ estetica.fecha | date:"d F Y" }} a las {{ estetica.fecha | date:"h:i a" }}</td>
                        <td><a href="{% url 'detalle_cliente' estetica.mascota.cliente.id %}">{{ estetica.mascota.cliente.nombreCompleto }}</a></td>
                        <td><a href="{% url 'detalle_mascota' estetica.mascota.id %}">{{ estetica.mascota.nombre }}</a></td>
                        <td> - </td>
                        <td>
                            {% if estetica.estado_de_atencion == 'Activa' %}
                            <span class="label label-warning">Pendiente</span>
                            {% elif estetica.estado_de_atencion == 'Atendida' %}
                            <span class="label label-success">Atendida</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if estetica.estado == 'Activa' %}
                            <span class="label label-warning">Pendiente</span>
                            {% elif estetica.estado == 'Pagada' %}
                            <span class="label label-success">Pagada</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="hidden-xs hidden-sm">      
                                <a href="/estetica/editar_factura_estetica/{{estetica.id}}/" title="Editar" class="action-icon btn-edit"><i class="fa fa-pencil m-r-5"></i></a>
                                <a href="#" onclick="EliminarEstetica({{estetica.id}}, '{{estetica.mascota.nombre}}', '{{estetica.fecha}}')" class="action-icon btn-remove" title="Eliminar"><i class="fa fa-trash fa-lg"></i></a>
                            </div>
                            <div class="dropdown modal-menu-mobile-table hidden-md hidden-lg">
                                <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">
                                    <i class="fa fa-ellipsis-v"></i>
                                </a> 
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="/estetica/editar_factura_estetica/{{estetica.id}}/" title="Editar" class="action-icon btn-edit"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="EliminarEstetica({{estetica.id}},'{{estetica.mascota.nombre}}', '{{estetica.fecha}}')" class="action-icon btn-remove" title="Eliminar"><i class="fa fa-trash fa-lg"></i> Eliminar</a> 
                                    </li>
                                </ul>
                            </div> 
                        </td>                        
                    </tr>
                    {% endfor %}
                    {% for vacunacion in vacunaciones_hoy %}
                    <tr>
                        <td>
                            <span class="label label-warning label_vacunacion">Vacunación</span>
                        </td>
                        <td>{{ vacunacion.fecha | date:"d F Y" }} a las {{ vacunacion.fecha | date:"h:i a" }}</td>
                        <td><a href="{% url 'detalle_cliente' vacunacion.mascota.cliente.id %}">{{ vacunacion.mascota.cliente.nombreCompleto }}</a></td>
                        <td><a href="{% url 'detalle_mascota' vacunacion.mascota.id %}">{{ vacunacion.mascota.nombre }}</a></td>
                        <td>{{ vacunacion.veterinario }}</td>
                        <td>
                            {% if vacunacion.estado_aplicacion == 'Pendiente' %}
                            <span class="label label-warning">Pendiente</span>
                            {% elif vacunacion.estado_aplicacion == 'Aplicada' %}
                            <span class="label label-success">Aplicada</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if vacunacion.estado == 'Activa' %}
                            <span class="label label-warning">Pendiente</span>
                            {% elif vacunacion.estado == 'Pagada' %}
                            <span class="label label-success">Pagada</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="hidden-xs hidden-sm">      
                                <a href="/vacunacion/editar_vacunacion/{{vacunacion.id}}/" title="Editar" class="action-icon btn-edit"><i class="fa fa-pencil m-r-5"></i></a>
                                <a href="#" onclick="EliminarVacunacion({{vacunacion.id}}, '{{vacunacion.mascota.nombre}}', '{{vacunacion.fecha}}')" class="action-icon btn-remove" title="Eliminar"><i class="fa fa-trash fa-lg"></i></a>
                            </div>
                            <div class="dropdown modal-menu-mobile-table hidden-md hidden-lg">
                                <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">
                                    <i class="fa fa-ellipsis-v"></i>
                                </a> 
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="/vacunacion/editar_vacunacion/{{vacunacion.id}}/" title="Editar" class="action-icon btn-edit"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="EliminarVacunacion({{vacunacion.id}},'{{vacunacion.mascota.nombre}}', '{{vacunacion.fecha}}')" class="action-icon btn-remove" title="Eliminar"><i class="fa fa-trash fa-lg"></i> Eliminar</a> 
                                    </li>
                                </ul>
                            </div>
                        </td>                        
                    </tr>
                    {% endfor %}
                    {% for desparasitacion in desparasitaciones_hoy %}
                    <tr>
                        <td>
                            <span class="label label-warning label_desparasitacion">Desparasitación</span>
                        </td>
                        <td>{{ desparasitacion.fecha | date:"d F Y" }} a las {{ desparasitacion.fecha | date:"h:i a" }}</td>
                        <td><a href="{% url 'detalle_cliente' desparasitacion.mascota.cliente.id %}">{{ desparasitacion.mascota.cliente.nombreCompleto }}</a></td>
                        <td><a href="{% url 'detalle_mascota' desparasitacion.mascota.id %}">{{ desparasitacion.mascota.nombre }}</a></td>
                        <td>{{ desparasitacion.veterinario }}</td>
                        <td>
                            {% if desparasitacion.estado_aplicacion == 'Pendiente' %}
                            <span class="label label-warning">Pendiente</span>
                            {% elif desparasitacion.estado_aplicacion == 'Aplicada' %}
                            <span class="label label-success">Aplicada</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if desparasitacion.estado == 'Activo' %}
                            <span class="label label-warning">Pendiente</span>
                            {% elif desparasitacion.estado == 'Pagada' %}
                            <span class="label label-success">Pagada</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="hidden-xs hidden-sm">      
                                <a href="/desparasitacion/editar_desparasitacion/{{desparasitacion.id}}/" title="Editar" class="action-icon btn-edit"><i class="fa fa-pencil m-r-5"></i></a>
                                <a href="#" onclick="EliminarDesparasitacion({{desparasitacion.id}}, '{{desparasitacion.mascota.nombre}}', '{{desparasitacion.fecha}}')" class="action-icon btn-remove" title="Eliminar"><i class="fa fa-trash fa-lg"></i></a>
                            </div>
                            <div class="dropdown modal-menu-mobile-table hidden-md hidden-lg">
                                <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">
                                    <i class="fa fa-ellipsis-v"></i>
                                </a> 
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="/desparasitacion/editar_desparasitacion/{{desparasitacion.id}}/" title="Editar" class="action-icon btn-edit"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="EliminarDesparasitacion({{desparasitacion.id}}, '{{desparasitacion.mascota.nombre}}', '{{desparasitacion.fecha}}')" class="action-icon btn-remove" title="Eliminar"><i class="fa fa-trash fa-lg"></i> Eliminar</a> 
                                    </li>
                                </ul>
                            </div>
                        </td>                        
                    </tr>
                    {% endfor %}
                    {% for guarderia in guarderias_hoy %}
                    <tr>
                        <td>
                            <span class="label label-warning label_guarderia">Guardería</span>
                        </td>
                        <td>{{ guarderia.fecha_inicio | date:"d F Y" }} a las {{ guarderia.fecha_inicio | date:"h:i a" }} - {{ guarderia.fecha_fin | date:"d F Y" }} a las {{ guarderia.fecha_fin | date:"h:i a" }}</td>
                        <td><a href="{% url 'detalle_cliente' guarderia.mascota.cliente.id %}">{{ guarderia.mascota.cliente.nombreCompleto }}</a></td>
                        <td><a href="{% url 'detalle_mascota' guarderia.mascota.id %}">{{ guarderia.mascota.nombre }}</a></td>
                        <td> - </td>
                        <td> - </td>
                        <td>
                            {% if guarderia.estado == 'Activa' %}
                            <span class="label label-warning">Pendiente</span>
                            {% elif guarderia.estado == 'Pagada' %}
                            <span class="label label-success">Pagada</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="hidden-xs hidden-sm">      
                                <a href="/guarderia/editar_guarderia/{{guarderia.id}}/" title="Editar" class="action-icon btn-edit"><i class="fa fa-pencil m-r-5"></i></a>
                                <a href="#" onclick="EliminarGuarderia({{guarderia.id}}, '{{guarderia.mascota.nombre}}', '{{guarderia.fecha}}')" class="action-icon btn-remove" title="Eliminar"><i class="fa fa-trash fa-lg"></i></a>
                            </div>
                            <div class="dropdown modal-menu-mobile-table hidden-md hidden-lg">
                                <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">
                                    <i class="fa fa-ellipsis-v"></i>
                                </a> 
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="/guarderia/editar_guarderia/{{guarderia.id}}/" title="Editar" class="action-icon btn-edit"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="EliminarGuarderia({{guarderia.id}}, '{{guarderia.mascota.nombre}}', '{{guarderia.fecha}}')" class="action-icon btn-remove" title="Eliminar"><i class="fa fa-trash fa-lg"></i> Eliminar</a> 
                                    </li>
                                </ul>
                            </div>
                        </td>                        
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <h3 class="card-title">Pacientes hospitalizados</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Nro Carnet</th>
                            <th>Propietario</th>
                            <th>Documento</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hospitalizacion in hospitalizaciones_activas %}
                            <tr>
                                <td><a href="{% url 'detalle_mascota' hospitalizacion.historia_clinica.mascota.id %}">{{hospitalizacion.historia_clinica.mascota.nombre}}</a></td>
                                <td>{{hospitalizacion.historia_clinica.mascota.numero_carnet}}</td>
                                <td><a href= "{% url 'detalle_cliente' hospitalizacion.historia_clinica.mascota.id %}">{{hospitalizacion.historia_clinica.mascota.cliente.nombres}} {{hospitalizacion.historia_clinica.mascota.cliente.apellidos}}</a></td>
                                <td>{{hospitalizacion.historia_clinica.mascota.cliente.tipo_documento}} {{hospitalizacion.historia_clinica.mascota.cliente.numero_documento}}</td>
                                <td>
                                    <div class="opciones">
                                        <div class="hidden-xs">
                                            <a href="{% url 'actualizar_hospitalizacion' hospitalizacion.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Completar información"><i class="fa fa-pencil fa-lg"></i></a>  
                                        </div>
                                        <div class="dropdown menu-mobile-table hidden-md hidden-lg">
                                            <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a> 
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a href="{% url 'actualizar_hospitalizacion' hospitalizacion.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Completar información"><i class="fa fa-pencil fa-lg"></i> Editar</a>
                                                </li> 
                                            </ul>
                                        </div> 
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {% if cuentas_por_cobrar %}
    <div class="col-md-6">
        <div class="card-box">
            <h3 class="card-title">Cuentas por cobrar este mes</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Fecha limite de pago</th>
                        <th>Valor de cuota</th>
                        <th>Cliente</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cuenta in cuentas_por_cobrar %}
                    <tr>
                        <td>{{ cuenta.fecha_limite }}</td>
                        <td>$ {{ cuenta.saldo_cuota | intcomma }}</td>
                        <td>
                            {{ cuenta.pago.cliente.nombreCompleto }}
                        </td>
                        <td>
                            <a class="action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Abonar" onclick="return abrir_modal('{% url 'abonar_pago' cuenta.pago.id %}')"><i class="fa fa-dollar fa-lg"></i></a>
                            <a href="{% url 'detalle_pago' cuenta.pago.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <h3 class="footer-cobrar">Total a cobrar: <b>$ {{ valor_cuentas_por_cobrar | intcomma }}</b></h3>
        </div>
    </div>
    {% endif %}
    {% if cuentas_por_pagar %}
    <div class="col-md-6">
        <div class="card-box">
            <h3 class="card-title">Cuentas por pagar este mes</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Fecha limite de pago</th>
                        <th>Valor de cuota</th>
                        <th>Proveedor</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cuenta in cuentas_por_pagar %}
                    <tr>
                        <td>{{ cuenta.fecha_limite }}</td>
                        <td>$ {{ cuenta.saldo_cuota | intcomma }}</td>
                        <td>
                            {{ cuenta.gasto.proveedor | default:'-' }}
                        </td>
                        <td>
                            <a class="action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Abonar" onclick="return abrir_modal('{% url 'abonar_gasto' cuenta.gasto.id %}')"><i class="fa fa-dollar fa-lg"></i></a>
                            <a href="{% url 'detalle_compra' cuenta.gasto.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <h3 class="footer-pagar">Total a pagar: <b>$ {{ valor_cuentas_por_pagar | intcomma }}</b></h3>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}

<div id="modal-abono" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true"></div>

{% if user.usuario.roles == "Asistente"%}
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <h3 class="card-title">Hoy</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Fecha y hora</th>
                        <th>Cliente</th>
                        <th>Mascota</th>
                        <th>Veterinario</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cita in citas_hoy %}
                    <tr>
                        <td>
                            <span class="label label-warning label_cita">Cita</span>
                        </td>
                        <td>{{ cita.fecha }}</td>
                        <td><a href="{% url 'detalle_cliente' cita.mascota.cliente.id %}">{{ cita.mascota.cliente.nombreCompleto }}</a></td>
                        <td><a href="{% url 'detalle_mascota' cita.mascota.id %}">{{ cita.mascota.nombre }}</a></td>
                        <td>{{ cita.veterinario }}</td>
                        <td>
                            {% if cita.estado == 'Activa' %}
                            <span class="label label-warning">{{ cita.estado }}</span>
                            {% elif cita.estado == 'Atendida' %}
                            <span class="label label-success">{{ cita.estado }}</span>
                            {% elif cita.estado == 'Cancelada' %}
                            <span class="label label-danger">{{ cita.estado }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% for estetica in esteticas_hoy %}
                    <tr>
                        <td>
                            <span class="label label-warning label_estetica">Estética</span>
                        </td>
                        <td>{{ estetica.fecha }}</td>
                        <td><a href="{% url 'detalle_cliente' estetica.mascota.cliente.id %}">{{ estetica.mascota.cliente.nombreCompleto }}</a></td>
                        <td><a href="{% url 'detalle_mascota' estetica.mascota.id %}">{{ estetica.mascota.nombre }}</a></td>
                        <td> - </td>
                        <td>
                            {% if estetica.estado == 'Activa' %}
                            <span class="label label-warning">Pago pendiente</span>
                            {% elif estetica.estado == 'Pagada' %}
                            <span class="label label-success">Pagada</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% for vacunacion in vacunaciones_hoy %}
                    <tr>
                        <td>
                            <span class="label label-warning label_vacunacion">Vacunación</span>
                        </td>
                        <td>{{ vacunacion.fecha }}</td>
                        <td><a href="{% url 'detalle_cliente' vacunacion.mascota.cliente.id %}">{{ vacunacion.mascota.cliente.nombreCompleto }}</a></td>
                        <td><a href="{% url 'detalle_mascota' vacunacion.mascota.id %}">{{ vacunacion.mascota.nombre }}</a></td>
                        <td>{{ vacunacion.veterinario }}</td>
                        <td>
                            {% if vacunacion.estado_aplicacion == 'Pendiente' %}
                            <span class="label label-warning">Aplicacion pendiente</span>
                            {% elif vacunacion.estado_aplicacion == 'Aplicada' %}
                            <span class="label label-success">Aplicada</span>
                            {% endif %}

                            {% if vacunacion.estado == 'Activa' %}
                            <span class="label label-warning">Pago pendiente</span>
                            {% elif vacunacion.estado == 'Pagada' %}
                            <span class="label label-success">Pagada</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% for desparasitacion in desparasitaciones_hoy %}
                    <tr>
                        <td>
                            <span class="label label-warning label_desparasitacion">Desparasitación</span>
                        </td>
                        <td>{{ desparasitacion.fecha }}</td>
                        <td><a href="{% url 'detalle_cliente' desparasitacion.mascota.cliente.id %}">{{ desparasitacion.mascota.cliente.nombreCompleto }}</a></td>
                        <td><a href="{% url 'detalle_mascota' desparasitacion.mascota.id %}">{{ desparasitacion.mascota.nombre }}</a></td>
                        <td>{{ desparasitacion.veterinario }}</td>
                        <td>
                            {% if desparasitacion.estado_aplicacion == 'Pendiente' %}
                            <span class="label label-warning">Aplicacion pendiente</span>
                            {% elif desparasitacion.estado_aplicacion == 'Aplicada' %}
                            <span class="label label-success">Aplicada</span>
                            {% endif %}

                            {% if desparasitacion.estado == 'Activo' %}
                            <span class="label label-warning">Pago pendiente</span>
                            {% elif desparasitacion.estado == 'Pagada' %}
                            <span class="label label-success">Pagada</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% for guarderia in guarderias_hoy %}
                    <tr>
                        <td>
                            <span class="label label-warning label_guarderia">Guardería</span>
                        </td>
                        <td>{{ guarderia.fecha_inicio }} - {{ guarderia.fecha_fin }}</td>
                        <td><a href="{% url 'detalle_cliente' guarderia.mascota.cliente.id %}">{{ guarderia.mascota.cliente.nombreCompleto }}</a></td>
                        <td><a href="{% url 'detalle_mascota' guarderia.mascota.id %}">{{ guarderia.mascota.nombre }}</a></td>
                        <td> - </td>
                        <td>
                            {% if guarderia.estado == 'Activa' %}
                            <span class="label label-warning">Pago pendiente</span>
                            {% elif guarderia.estado == 'Pagada' %}
                            <span class="label label-success">Pagada</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if user.usuario.roles == "Veterinario"%}
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <h3 class="card-title">Hoy</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Fecha y hora</th>
                        <th>Cliente</th>
                        <th>Mascota</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cita in citas_hoy %}
                    <tr>
                        <td>
                            <span class="label label-warning label_cita">Cita</span>
                        </td>
                        <td>{{ cita.fecha }}</td>
                        <td><a href="{% url 'detalle_cliente' cita.mascota.cliente.id %}">{{ cita.mascota.cliente.nombreCompleto }}</a></td>
                        <td><a href="{% url 'detalle_mascota' cita.mascota.id %}">{{ cita.mascota.nombre }}</a></td>
                        <td>
                            {% if cita.estado == 'Activa' %}
                            <span class="label label-warning">{{ cita.estado }}</span>
                            {% elif cita.estado == 'Atendida' %}
                            <span class="label label-success">{{ cita.estado }}</span>
                            {% elif cita.estado == 'Cancelada' %}
                            <span class="label label-danger">{{ cita.estado }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% for estetica in esteticas_hoy %}
                    <tr>
                        <td>
                            <span class="label label-warning label_estetica">Estetica</span>
                        </td>
                        <td>{{ estetica.fecha }}</td>
                        <td><a href="{% url 'detalle_cliente' estetica.mascota.cliente.id %}">{{ estetica.mascota.cliente.nombreCompleto }}</a></td>
                        <td><a href="{% url 'detalle_mascota' estetica.mascota.id %}">{{ estetica.mascota.nombre }}</a></td>
                        <td>
                            {% if estetica.estado == 'Activa' %}
                            <span class="label label-warning">Pago pendiente</span>
                            {% elif estetica.estado == 'Pagada' %}
                            <span class="label label-success">Pagada</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% for vacunacion in vacunaciones_hoy %}
                    <tr>
                        <td>
                            <span class="label label-warning label_vacunacion">Vacunación</span>
                        </td>
                        <td>{{ vacunacion.fecha }}</td>
                        <td><a href="{% url 'detalle_cliente' vacunacion.mascota.cliente.id %}">{{ vacunacion.mascota.cliente.nombreCompleto }}</a></td>
                        <td><a href="{% url 'detalle_mascota' vacunacion.mascota.id %}">{{ vacunacion.mascota.nombre }}</a></td>
                        <td>
                            {% if vacunacion.estado_aplicacion == 'Pendiente' %}
                            <span class="label label-warning">Aplicacion pendiente</span>
                            {% elif vacunacion.estado_aplicacion == 'Aplicada' %}
                            <span class="label label-success">Aplicada</span>
                            {% endif %}

                            {% if vacunacion.estado == 'Activa' %}
                            <span class="label label-warning">Pago pendiente</span>
                            {% elif vacunacion.estado == 'Pagada' %}
                            <span class="label label-success">Pagada</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% for desparasitacion in desparasitaciones_hoy %}
                    <tr>
                        <td>
                            <span class="label label-warning label_desparasitacion">Desparasitación</span>
                        </td>
                        <td>{{ desparasitacion.fecha }}</td>
                        <td><a href="{% url 'detalle_cliente' desparasitacion.mascota.cliente.id %}">{{ desparasitacion.mascota.cliente.nombreCompleto }}</a></td>
                        <td><a href="{% url 'detalle_mascota' desparasitacion.mascota.id %}">{{ desparasitacion.mascota.nombre }}</a></td>
                        <td>
                            {% if desparasitacion.estado_aplicacion == 'Pendiente' %}
                            <span class="label label-warning">Aplicacion pendiente</span>
                            {% elif desparasitacion.estado_aplicacion == 'Aplicada' %}
                            <span class="label label-success">Aplicada</span>
                            {% endif %}

                            {% if desparasitacion.estado == 'Activo' %}
                            <span class="label label-warning">Pago pendiente</span>
                            {% elif desparasitacion.estado == 'Pagada' %}
                            <span class="label label-success">Pagada</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% for guarderia in guarderias_hoy %}
                    <tr>
                        <td>
                            <span class="label label-warning label_guarderia">Guardería</span>
                        </td>
                        <td>{{ guarderia.fecha_inicio }} - {{ guarderia.fecha_fin }}</td>
                        <td><a href="{% url 'detalle_cliente' guarderia.mascota.cliente.id %}">{{ guarderia.mascota.cliente.nombreCompleto }}</a></td>
                        <td><a href="{% url 'detalle_mascota' guarderia.mascota.id %}">{{ guarderia.mascota.nombre }}</a></td>
                        <td>
                            {% if guarderia.estado == 'Activa' %}
                            <span class="label label-warning">Pago pendiente</span>
                            {% elif guarderia.estado == 'Pagada' %}
                            <span class="label label-success">Pagada</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if imagen_actualizacion %}
    <div id="modal-img-act" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" style="top: 5%;">
        <div class="modal-dialog modal-md">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <div  style="width: 100%; display: flex;justify-content:space-between;">
                        <h4 class="modal-title">Nuestras Actualizaciones</h4>
                        <div>
                            <a href="#" title="Cerrar" class="action-icon dropdown-toggle" style="color: #333333;" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="padding-top: 20px;">
                    <p>{{ imagen_actualizacion.titulo_imagen }}</p>
                    <p>{{ imagen_actualizacion.descripcion_imagen }}</p>
                </div>
                <div class="modal-body" style="height: 100%; display: flex; justify-content: space-around"> 
                    <img width="400" height="350" src="/media/{{imagen_actualizacion.imagen_actualizacion}}">
                </div>
                <div class="text-center">
                    <a href="{% url 'videos_tutoriales' %}" class="btn btn-custom" style="margin: 20px;">
                        <i class="fa fa-film"></i> Ver Video
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if promocion_evento %}
    <div id="modal-img-pe" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" style="top: 5%;">
        <div class="modal-dialog modal-md">
            <div class="modal-content animated fadeIn">
                <div class="modal-header" style="background: #076ff1;">
                    <div  style="width: 100%; display: flex;justify-content:space-between;">
                        <h4 class="modal-title" style="color:#fff;">Nuestras Promociones y Eventos</h4>
                        <div>
                            <a href="#" title="Cerrar" class="action-icon dropdown-toggle" style="color: #333333;" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="padding-top: 20px;">
                    <h3>{{ promocion_evento.titulo_promo_eve }}</h3>
                    <p>{{ promocion_evento.descripcion_promo_eve }}</p>
                </div>
                <div class="modal-body" style="height: 100%; display: flex; justify-content: space-around"> 
                    <img width="400" height="350" src="/media/{{promocion_evento.promocion_evento}}">
                </div>
                <div class="text-center">
                    <a href="{% url 'promociones_eventos' %}" class="btn btn-custom" style="margin: 20px;">
                        <i class="fa fa-diamond"></i> Ver todas nuestras promociones
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock content %}

{% block plugins %}
    <script>
        setTimeout(function(){ $('#modal-img-act').modal('show'); }, 1000);
        setTimeout(function(){ $('#modal-img-pe').modal('show'); }, 2000);
        
        function abrir_modal(url) {
            $('#modal-abono').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

    function EliminarCita(id, nombre, fecha) {

        swal({
            title: "Estas seguro que deseas eliminar la cita programada para "+nombre+" el "+fecha+"?",
            text: "La cita sera eliminada permanentemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: '/citas/eliminar_cita/',
                    data: {
                    'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.reload();
                    }
                });
            }
        });

    }

    function EliminarVacunacion(id, nombre, fecha) {

        swal({
            title: "Estas seguro que deseas eliminar la vacunacion programada para "+nombre+" el "+fecha+"?",
            text: "La vacunacion sera eliminada permanenetemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: '/vacunacion/eliminar_vacunacion/',
                    data: {
                    'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.reload();
                    }
                });
            }
        });

    }

    function EliminarDesparasitacion(id, nombre, fecha) {

        swal({
            title: "Estas seguro que deseas eliminar la desparasitacion programada para "+nombre+" el "+fecha+"?",
            text: "La desparasitacion sera eliminada permanenetemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '/desparasitacion/eliminar_desparasitacion/',
                    data: {
                    'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.reload();
                    }
                });
            }
        });

    }

    function EliminarEstetica(id, nombre, fecha) {

        swal({
            title: "Estas seguro que deseas eliminar la estetica programada para "+nombre+" el "+fecha+"?",
            text: "La estetica sera eliminada permanenetemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '/estetica/eliminar_estetica/',
                    data: {
                    'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.reload();
                    }
                });
            }
        });

    }

    function EliminarGuarderia(id, nombre, fecha) {

        swal({
            title: "Estas seguro que deseas eliminar la guarderia programada para "+nombre+" el "+fecha+"?",
            text: "La guarderia programada sera eliminada permanenetemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '/guarderia/eliminar_guarderia/',
                    data: {
                    'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.reload();
                    }
                });
            }
        });

    }

    </script>
{% endblock %}