{% comment %}
    Aquí deben ir los enlaces a los menús de cada sección de la aplicación.
{% endcomment %}

<ul>
    {% if user.usuariopublico.roles == "Administrador" %}
        <li {% if veterinarias %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
            <a href="/veterinarias/listar_veterinarias/" style="font-size: 16px;"><i class="fa fa-institution"></i> <span>Veterinarias</span></a>
        </li>
    {% endif %}
    {% if user.usuariopublico.roles == "Administrador" %}
        <li {% if administradores %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
            <a href="/usuario/listar_administradores/" style="font-size: 16px;"><i class="fa fa-users"></i> <span>Administradores</span></a>
        </li>
    {% endif %}
    {% if user.usuariopublico.roles == "Administrador" %}
        <li {% if pago %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
            <a href="/pagoAdmin/listar_pago_admin/semana/" style="font-size: 16px;"><i class="fa fa-money"></i> <span>Pagos</span></a>
        </li>
        <li {% if comerciales %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
            <a href="/usuario/listar_comerciales/" style="font-size: 16px;"><i class="fa fa-user-circle-o"></i> <span>Comerciales</span></a>
        </li>
    {% endif %}
    {% if user.usuariopublico.roles == "Administrador" %}
        <li {% if videosTutoriales %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
            <a href="/videosTutoriales/listar_videos_tutoriales/" style="font-size: 16px;"><i class="fa fa-film"></i> <span>Video Tutoriales</span></a>
        </li>
        <li {% if imagenesActualizaciones %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
            <a href="/imagenesActualizacion/listar_imagenes_actualizaciones/" style="font-size: 16px;"><i class="fa fa-file-picture-o"></i> <span>Imagenes de <br>Actualizaciones</span></a>
        </li>
    {% endif %}
    <li {% if pres %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
        <a href="/pres/listar_pres/semana/" style="font-size: 16px;"><i class="fa fa-gears"></i> <span>PRES (Preguntas, <br>Reporte de Errores, <br>Sugerencias)</span></a>
    </li>
    <li {% if posibles_clientes %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
        <a href="/posiblesClientes/listar_posibles_clientes/semana/" style="font-size: 16px;"><i class="fa fa-child"></i><span> Posibles Clientes</span></a>
    </li>
    {% if user.usuariopublico.roles == "Administrador" %}
        <li {% if promocionEvento %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
            <a href="/promocionEvento/listar_promo_evento/" style="font-size: 16px;"><i class="fa fa-star-o"></i> <span>Promociones y <br>Eventos</span></a>
        </li>
    {% endif %}
</ul>