{% comment %}
Aquí deben ir los enlaces a los menús de cada sección de la aplicación.
{% endcomment %}

<ul>
    <li {% if inicio %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
        <a href="/usuario/index/" style="font-size: 18px;"><i class="fa fa-home"></i> Regresar al Inicio</a>
    </li>

    <li {% if panel %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
        <a href="/veterinaria/panel_usuario/" style="font-size: 18px;"><i class="fa fa-cogs"></i> Panel de Usuario</a>
    </li>
    {% if user.usuario.roles == "Administrador"%}
        <li {% if pago %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
            <a href="/veterinaria/pago_admin/semana/" style="font-size: 16px;"><i class="fa fa-money"></i> <span>Pagos</span></a>
        </li>
        <li {% if datos %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
            <a href="/veterinaria/detalle_plan" style="font-size: 18px;"><i class="fa fa-map"></i>
                <span>Detalle de Plan</span></a>
        </li>
    {% endif %}
    <li {% if videosTutoriales %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
        <a href="/veterinaria/videos_tutoriales/" style="font-size: 18px;"><i class="fa fa-film"></i> Videos Tutoriales</a>
    </li>
    <li {% if imagenesActualizacion %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
        <a href="/veterinaria/imagenes_actualizacion/" style="font-size: 18px;"><i class="fa fa-file-picture-o"></i> Actualizaciones</a>
    </li>
    {% if user.usuario.roles == "Administrador"%}
        <li {% if promociones %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
            <a href="/veterinaria/promociones_eventos/" style="font-size: 18px;"><i class="fa fa-diamond"></i>
                <span>Promociones y <br>Eventos</span></a>
        </li>
    {% endif %}
    <li {% if pres %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
        <a href="/veterinaria/pres_solucion/semana/" style="font-size: 18px;"><i class="fa fa-tags"></i> Crear Tickets</a>
    </li>
</ul>