{% comment %}
Aquí deben ir los enlaces a los menús de cada sección de la aplicación.
{% endcomment %}

<ul>
    <li {% if inicio %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
        <a href="/usuario/index/" style="font-size: 18px;"><i class="fa fa-home"></i> Inicio</a>
    </li>

    <li {% if citas %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
        <a href="/citas/listar_citas/" style="font-size: 18px;"><i class="fa fa-calendar"></i> Agenda</a>
    </li>

    <li {% if clientes %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
        <a href="/clientes/listar_clientes" style="font-size: 18px;"><i class="fa fa-users"></i>
            <span>Propietarios</span></a>
    </li>

    <li {% if mascotas %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
        <a href="/mascotas/listar_mascotas/" style="font-size: 18px;"><i class="fa fa-paw"></i> Mascotas</a>
    </li>

    {% if user.usuario.roles != "Veterinario"%}
    <li {% if menu_inventario %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
        <a href="/productos/listar_productos/" style="font-size: 18px;"><i class="fa fa-cubes"></i> Inventario</a>
    </li>
    <li {% if proveedores or gastos or menu_pagos or menu_caja %} class="menu-title" {% else %} class="menu-title"
        {% endif %} style="padding: 15px;">
        <a {% if proveedores or gastos or menu_pagos or menu_caja %} aria-expanded="true" {% endif %} href="#"
            id="submenu_finanzas" data-toggle="collapse" data-target="#finanzas" style="font-size: 18px;"><i
                class="fa fa-money" aria-hidden="true"></i> Finanzas</a>
        <ul id="finanzas" {% if proveedores or gastos or menu_pagos or menu_caja or menu_punto %} class="collapse in" {% endif %}
            class="collapse">
            <li {% if proveedores %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/productos/listar_proveedores/"> Terceros</a>
            </li>
            <li {% if gastos %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/gastos/listar_gasto/todos/semana"> Egresos</a>
            </li>
            <li {% if menu_pagos %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/productos/listar_pagos/todos/semana/"> Ingresos</a>
            </li>
            <li {% if menu_caja %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/caja/abrir_caja/"> Caja</a>
            </li>
            <li {% if menu_punto %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/puntoDeVenta/abrir_punto_de_venta/">Punto de Venta</a>
            </li>
            <li {% if menu_punto %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/puntoDeVenta/abrir_punto_de_venta/">Ventas Online</a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if user.usuario.roles == "Administrador"%}
    <li {% if usuarios %} class="menu-title active" {% else %} class="menu-title" {% endif %} style="padding: 15px;">
        <a {% if veterinarios or administradores or asistentes %} aria-expanded="true" {% endif %} href="#"
            id="submenu_usuarios" data-toggle="collapse" data-target="#usuarios" style="font-size: 18px;"><i
                class="fa fa-users"></i> Usuarios</a>
        <ul id="usuarios" {% if veterinarios or administradores or asistentes %} class="collapse in" {% endif %}
            class="collapse">
            <li {% if administradores %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/usuario/listar_administradores/">Administradores</a>
            </li>
            <li {% if veterinarios %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/usuario/listar_veterinarios/">Veterinarios</a>
            </li>
            <li {% if asistentes %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/usuario/listar_asistentes/">Asistentes</a>
            </li>
        </ul>
    </li>
    <li class="menu-title" style="padding: 15px;">
        <a {% if menu_reportes_ingresos_rango_fecha or menu_reportes_egresos_rango_fecha or menu_reportes_ingresos_mensuales or menu_reportes_egresos_mensuales or menu_reportes_actividades_usuarios or menu_reportes_historial_inventario %}
            aria-expanded="true" {% endif %} href="#" id="submenu_informes" data-toggle="collapse"
            data-target="#informes" style="font-size: 18px;"> <i class="fa fa-line-chart" aria-hidden="true"></i>
            Informes</a>
        <ul id="informes"
            {% if menu_reportes_ingresos_rango_fecha or menu_reportes_egresos_rango_fecha or menu_reportes_ingresos_mensuales or menu_reportes_egresos_mensuales or menu_reportes_actividades_usuarios or menu_reportes_historial_inventario %}
            class="collapse in" {% endif %} class="collapse">
            <li {% if menu_reportes_ingresos_rango_fecha %} class="menu-title active" {% else %} class="menu-title"
                {% endif %}>
                <a v-bind:href="'/informes/ingresos_rango_fecha/'+ fecha_hoy+'/'+fecha_hoy">Ingresos Rango Fecha</a>
            </li>
            <li {% if menu_reportes_egresos_rango_fecha %} class="menu-title active" {% else %} class="menu-title"
                {% endif %}>
                <a v-bind:href="'/informes/egresos_rango_fecha/'+ fecha_hoy+'/'+fecha_hoy">Egresos Rango Fecha</a>
            </li>
            <li {% if menu_reportes_ingresos_mensuales %} class="menu-title active" {% else %} class="menu-title"
                {% endif %}>
                <a href="{% url 'ingresos_mensuales' '2019' 'generales' %}">Ingresos Anuales</a>
            </li>
            <li {% if menu_reportes_egresos_mensuales %} class="menu-title active" {% else %} class="menu-title"
                {% endif %}>
                <a href="{% url 'egresos_mensuales' '2019' 'generales' %}">Egresos Anuales</a>
            </li>
            <li {% if menu_reportes_actividades_usuarios %} class="menu-title active" {% else %} class="menu-title"
                {% endif %}>
                <a v-bind:href="'/informes/actividad_usuario/'+ fecha_hoy+'/'+fecha_hoy+'/generales/0/0/0/0/'">Actividades por Usuario</a>
            </li>
            <li {% if menu_reportes_historial_inventario %} class="menu-title active" {% else %} class="menu-title"
                {% endif %}>
                <a v-bind:href="'/informes/historial_inventario/'+ fecha_hoy+'/'+fecha_hoy+'/todos/todos/'">Historial de inventario</a>
            </li>
        </ul>
    </li>
    {% endif %}
    <li style="padding: 15px;">
        <a {% if veterinaria or tipos_mascota or razas or tipos_estetica or tipos_corte or menu_tratamientos or menu_tipos_citas or menu_impuestos or menu_consentimiento or categorias_inventario or menu_bodegas or menu_plan_cuentas %}
            aria-expanded="true" {% endif %} href="#" id="submenu_configuracion" data-toggle="collapse"
            data-target="#configuracion" style="font-size: 18px;"><i class="fa fa-cogs"></i> Configuración</a>
        <ul id="configuracion"
            {% if veterinaria or tipos_mascota or razas or tipos_estetica or tipos_corte or menu_tratamientos or menu_tipos_citas or menu_impuestos or menu_consentimiento or categorias_inventario or menu_bodegas or menu_plan_cuentas %}
            class="collapse in" {% endif %} class="collapse">
            {% if user.usuario.roles != "Veterinario"%}
            <li {% if veterinaria %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/veterinaria/listar_veterinaria/">Datos veterinaria</a>
            </li>
            {% endif %}
            <!--li {% if menu_plan_cuentas %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/plan_cuentas/listar_subcuentas/">Plan de Cuentas</a>
            </li-->
            <li {% if categorias_inventario %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/categorias/listar_categorias_inventario/">Categorias inventario</a>
            </li>
            <li {% if menu_bodegas %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/bodegas/listar_bodegas/">Bodegas inventario</a>
            </li>
            <li {% if tipos_mascota %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/mascotas/listar_tipo_mascota/">Tipos de mascota</a>
            </li>
            <li {% if razas %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/mascotas/listar_raza/">Razas</a>
            </li>
            <li {% if tipos_estetica %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/estetica/listar_tipos_estetica/">Tipos de Estética</a>
            </li>
            <li {% if tipos_corte %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/estetica/listar_descripcion_estetica/">Descripción de Estética</a>
            </li>
            <li {% if menu_tratamientos %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/tratamientos/listar_tratamientos/">Áreas de consulta</a>
            </li>
            <li {% if menu_tipos_citas %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/tratamientos/listar_motivos_cita/">Tipos de cita</a>
            </li>
            <li {% if menu_motivos_fallecimiento %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/mascotas/listar_motivo_fallecimiento/">Motivos de fallecimiento</a>
            </li>
            {% if user.usuario.roles != "Veterinario"%}
            <li {% if menu_impuestos %} class="menu-title active" {% else %} class="menu-title" {% endif %}>
                <a href="/impuestos/listar_impuesto/">Impuestos</a>
            </li>
            {% endif %}
        </ul>
    </li>
</ul>