{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Detalle Formula
{% endblock title %}

{% block extrahead %}
<style>
    @media print {

        .prueba_cabecera{
            margin-left: 0px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .logo_cabecera{
            margin-right: 5px;
        }
        .titulo_factura{
            margin-bottom: 0px;
            margin-top: 10px;
        }
        .invoice-payment{
            margin-top: 50px;
            display: flex;
            justify-content: flex-end;
        }
        .total_pagar{
            width: 50%;
            align-self: flex-end;
        }
        .detalle_formula{
            display: none;
            height: 600px;
            overflow: visible;
            border: none;
        }

        @page {
            size: A5;
            margin: 0%;
        }
    }

    .detalle_formula{
        display: none;
        width: 100%;
        height: 600px;
        resize: none;
        overflow: visible;
        border: none;
        outline: none !important;
    }

    .content{
        padding: 0px;
    }

    .signature {
        border: 0;
        border-bottom: 1px solid #000;
    }
</style>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-4 col-xs-4">
        <h4 class="page-title">Detalle de fórmula</h4>
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li><a href="/mascotas/listar_mascotas/">Mascotas</a></li>
            <li><a href="#" onclick="window.history.back();">{{ object.mascota.nombre }}</a></li>
            <li class="active"><a>Detalle fórmula</a></li>
        </ol>        
    </div>
    <div class="col-sm-8 col-xs-8 text-right">
        <a id="boton_imprimir" class="btn add-btn btn-custom pull-right m-b-30 m-r-20"><i class="fa fa-print"></i> Imprimir</a>
        <a id="boton_pdf" class="btn add-btn btn-custom pull-right m-b-30 m-r-20"><i class="fa fa-file-pdf-o"></i> PDF</a>
    </div>
</div>
<div class="row" id="factura_imprimir">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="cabecera_factura">
                    <div class="row prueba_cabecera" style="display: flex; justify-content: space-between;">
                    <div class="col-sm-6" style="width: 100%;display: flex; justify-content: flex-start;">
                        <div class="logo_cabecera">
                            {% if mi_veterinaria.foto %}
                            <img id="logo_veterinaria" src='{{mi_veterinaria.foto.url}}' alt="" width="150">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-6" style="width: 100%;display: flex; justify-content: flex-end;">
                        <div class="detalle_cabecera">
                            <div class="" style="display: flex; justify-content: flex-end;">
                                <div class="titulo_factura">
                                    <h3 class="text-uppercase">Fórmula médica</h3>
                                    <ul class="list-unstyled">
                                        <li>Fecha: <span>{{ object.fecha | date }}</span></li>
                                        <li>Veterinario: <span>{{ object.veterinario }}</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: flex-end;">
                                <ul class="list-unstyled">
                                    <li>Cliente:<span style="padding-left: 80px;"><strong>{{ object.mascota.cliente.nombreCompleto }}</strong></span></li>
                                    {% if object.mascota.cliente.numero_documento %}
                                    <li>{{  object.mascota.cliente.tipo_documento }}: <span style="padding-left: 106px;">{{ object.mascota.cliente.numero_documento }}</span></li>
                                    {% endif %}
                                    <li>Mascota: <span style="padding-left: 66px;">{{ object.mascota.nombre }}</span></li>
                                    <li>Carnet: <span style="padding-left: 78px;">{{ object.mascota.numero_carnet }}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="invoice-info">
                        <p><b>Descripción</b></p>
                        <textarea id="descripcion" class="text-muted detalle_formula" readonly>{{ object.descripcion }}</textarea>
                        <div class="content" id="testing"></div>
                    </div>
                    <br><br><br>
                    <div class="col-sm-12 m-b-20" style="width: 100%; display: flex; justify-content: flex-end;">
                        <div style="width: 250px; display: flex; flex-direction: column;">
                            <input type="text" class="signature" />
                            <span>Firma</span>                                                    
                        </div>
                    </div>
                    <li>{{mi_veterinaria.nombre}}
                        {% if mi_veterinaria.nit %}
                        Nit: {{mi_veterinaria.nit}}
                        {% endif %}
                        {{mi_veterinaria.direccion}} ({{mi_veterinaria.ciudad}})
                        {{mi_veterinaria.telefono}} - {{mi_veterinaria.celular}}                                
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block plugins %}
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
    <script type="text/javascript">

        $( document ).ready(function() {
            //var a = document.getElementById('descripcion');
            //a.style.height = 'auto';
            //a.style.height = a.scrollHeight+20+'px';
            var temp1 = $("#descripcion").val();
            $("#testing").html(temp1.replace(/\n\r?/g, "<br />"));
        });

        $('#boton_imprimir').on('click',function(e){
            e.preventDefault();
            var printContents = document.getElementById("factura_imprimir").innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            setTimeout(function(){ 
                window.print();
                setTimeout(function(){ 
                    document.body.innerHTML = originalContents;
                }, 500);
            }, 700);

        })

        $('#boton_pdf').on('click',function (e) {
            var element = document.getElementById('factura_imprimir');
            html2pdf(element);
            /*$.ajax({
                url: '/formulas/ajax/datos_impresion_formula/',
                data: {
                    'id_formula': '{{ object.id }}'
                },
                dataType: 'json',
                success: function (data) {
                    datos_impresion = JSON.parse(data.datos_impresion);
                    console.log("datos_impresion: ", datos_impresion);
                }
            });*/
        });
    </script>
{% endblock %}