{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
Registrar Formula
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css"/>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">
            {% if modificar %}
                Modificar fórmula
            {% else %}
                Registrar fórmula
            {% endif %}
        </h4>
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li><a href="/mascotas/listar_mascotas/">Mascotas</a></li>
            <li><a href="{% url 'detalle_mascota' mascota.id %}">{{mascota.nombre}}</a></li>
            <li class="active"><a>{% if modificar %}Modificar fórmula{% else %}Registrar fórmula{% endif %}</a></li>
        </ol>  
    </div>
</div>
<form class="form-horizontal" method="POST" action="" autocomplete="off">{% csrf_token %}
    <div class="card-box">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" style="margin: 15px;">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Cliente</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" disabled value="{{mascota.cliente}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" style="margin: 15px;">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Mascota</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" disabled value="{{mascota.nombre}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" style="margin: 15px;">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Carnet</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" disabled value="{{mascota.numero_carnet}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" style="margin: 15px;">
                    {% bootstrap_field form.veterinario label_class="control-label col-lg-3" field_class="col-lg-9" %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" style="margin: 15px;">
                    {% bootstrap_field form.fecha label_class="control-label col-lg-3" field_class="col-lg-9" %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" style="margin: 15px;">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="margin: 15px;">
                    {% bootstrap_field form.descripcion label_class="control-label col-lg-12" field_class="col-lg-12" %}
                </div>
            </div>
        </div>
    </div>
    <div class="text-center submit-btns">
        {% if modificar %}
        {% bootstrap_button "Guardar cambios" button_type="submit" button_class="btn btn-primary m-r-20" %}
        {% else %}
        {% bootstrap_button "Agregar" button_type="submit" button_class="btn btn-primary m-r-20" %}
        {% endif %}
        <a href="#" onclick="window.history.back();" class="btn btn-danger">Cancelar</a>
    </div>
</form>
{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'DD/MM/YYYY HH:mm'
        });
    });
</script>
{% endblock %}