{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Historial Cajas
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">
            Historial de Cajas
        </h4>
    </div>
</div>

{% if not caja_activa %}
<div class= "row">
    <div class= "col-md-12">
        <form class="form-horizontal" method="POST" action="" autocomplete="off">{% csrf_token %}
            <div class="card-box">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group" style="margin: 15px;">
                                <label class="col-lg-4 control-label">Especificar cantidad de dinero inicial: </label>
                        </div>
                        <div class="col-md-8">
                                <div class="form-group" style="margin: 15px;">
                                        <input class="form-control" id="dinero_inicial" type="number" defailt= "0">
                                </div>
                    </div>
                    </div>
                </div>
                <div class="text-center submit-btns">

                    <a onclick="Abrir_caja_alert()" class="btn btn-primary m-r-20">Abrir Caja</a>

                    <a href="#" onclick="window.history.back();" class="btn btn-danger">Cancelar</a>
                </div>
           </div>
        </form>
    </div>
</div>
{% else %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Caja en curso</h3>
                </div>
                <div class="panel-body">
                    <h3><b>Apertura:</b> {{ caja_activa.fecha_inicio | date }} {{ caja_activa.fecha_inicio | date:"h:i a" }}</h3>
                    <h3><b>Responsable:</b> {{ caja_activa.responsable }}</h3>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Fecha de inicio</th>
                        <th>Fecha de cierre</th>
                        <th>Responsable</th>
                        <th>Dinero inicial</th>
                        <th>Dinero final</th>                            
                        <th class="text-right">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for caja in cajas %}
                    {% if not caja.estado %}
                        <tr>
                            <td>
                                {{ caja.fecha_inicio }}
                            </td>
                            <td>
                                {{ caja.fecha_final }}
                            </td>
                            <td>
                                {{ caja.responsable | default:'-'}}
                            </td>
                            <td>
                                ${{ caja.dinero_inicial | intcomma}}
                            </td>
                            <td>
                                ${{ caja.dinero_final | intcomma}}
                            </td>
                            
                            <td class="text-center">
                                <a href="{% url 'detalle_caja' caja.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                <!--a href="#" title="Ver" class="action-icon dropdown-toggle" style="color: #076ff1"><i class="fa fa-file m-r-5"></i></a-->
                            </td>
                        </tr>
                    {% endif %}    
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>

<script type="text/javascript">


function Abrir_caja_alert(){

    var csrftoken = $('[name="csrfmiddlewaretoken"]').val();

    if  ($("#dinero_inicial").val() == undefined || $("#dinero_inicial").val() == ''){
        $("#dinero_inicial").val(0)
    }
    var money = $("#dinero_inicial").val()

    swal({
        title: "Estas seguro que desea Abrir la caja con $"+$("#dinero_inicial").val().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.") +" ?",
        text: "Una vez abierta la caja no puede cambiar el monto inicial.",
        icon: "warning",
        buttons: {
            cancel: {
                text: "No, cancelar",
                value: null,
                visible: true,
                className: "",
                closeModal: true,
            },
            confirm: {
                text: "Si, abrir caja!",
                value: true,
                visible: true,
                className: "",
                closeModal: true
            }
        },
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {
            $.ajax({
                url: '/caja/agregar_caja/',
                data: {
                    'dinero': money
                },
                dataType: 'json',
                success: function (data) {
                    window.location.replace("/caja/listar_pagos_hoy/");
                }
            });
        }
    });

}


</script>
{% endblock %}