{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    Caja cerrada 
{% endblock title %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <style type="text/css">
        #recibo-imprimir-caja{
            background-color: #fff;
        }

    </style>>
{% endblock%}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <h4 class="page-title">Caja cerrada</h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li><a href="/caja/listar_pagos_hoy/">Caja</a></li>
                <li><a href="/caja/listar_cajas/">Lista de cajas</a></li>
                <li class="active"><a>Detalle caja</a></li>
            </ol> 
            
        </div>
        <div class="col-sm-4 col-xs-4 text-right" style="display: flex; justify-content: flex-end; margin-bottom: 10px;">            <button onclick="ExportExcel()" id="boton_exportar_excel" class="btn btn-primary">Exportar a Excel</button> 
        </div> 
        <div class="col-sm-2 col-xs-2 text-center" style="display: flex; margin-bottom: 10px;">
            <button onclick="imprimirFactura()" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir</button> 
        </div> 
    </div>
    <div id="recibo-imprimir-caja">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Detalle de caja</h3>
                    </div>
                    <div class="panel-body" style="display: flex;flex-wrap: wrap;">
                        <div style="margin-right: 50px;">
                            <h3><b>Apertura:</b> {{ caja.fecha_inicio | date }} {{ caja.fecha_inicio | date:"h:i a" }}</h3>
                            <h3 id="cierre_caja"><b>Cierre:</b> {{ caja.fecha_final | date }} {{ caja.fecha_final | date:"h:i a" }}</h3>
                            <h3><b>Responsable:</b> {{ caja.responsable }}</h3>
                            {% if dinero_inicial %}
                                <h3><b>Dinero inicial:</b> ${{ dinero_inicial |intcomma }}</h3>
                            {% endif %}
                            {% if total_venta %}
                                <h3><b>Total ventas:</b> ${{ total_venta |intcomma }}</h3>
                            {% endif %}
                            {% if total_compra %}
                                <h3><b>Total compras:</b> ${{ total_compra |intcomma }}</h3>
                            {% endif %}
                            {% if total_efectivo %}
                                <h3><b>Total efectivo:</b> ${{ total_efectivo |intcomma |default:'0' }}</h3>
                            {% endif %}
                            {% if total %}
                                <h3><b>Dinero total:</b> ${{ total |intcomma }}</h3>
                            {% endif %}
                        </div>
                        <div>
                            {% if total_ventas_efectivo %}
                                <h3><b>Ventas en efectivo:</b> ${{ total_ventas_efectivo |intcomma |default:'0' }}</h3>
                            {% endif %}
                            {% if total_tarjeta_debito %}
                                <h3><b>Ventas por tarjeta débito:</b> ${{ total_tarjeta_debito |intcomma |default:'0' }}</h3>
                            {% endif %}
                            {% if total_consignacion %}
                            <h3><b>Ventas por consignación:</b> ${{ total_consignacion |intcomma |default:'0' }}</h3>
                            {% endif %}
                            {% if total_tarjeta_credito %}
                                <h3><b>Ventas por tarjeta crédito:</b> ${{ total_tarjeta_credito |intcomma |default:'0' }}</h3>
                            {% endif %}
                            {% if total_otros %}
                                <h3><b>Ventas por otro medios:</b> ${{ total_otros |intcomma |default:'0' }}</h3>
                            {% endif %}
                            {% if total_compras_efectivo %}
                                <h3><b>Compras con efectivo:</b> ${{ total_compras_efectivo |intcomma |default:'0' }}</h3>
                            {% endif %}
                            {% if total_compras_tarjeta_debito %}
                                <h3><b>Compras con tarjeta débito:</b> <span style="color: red">$-{{ total_compras_tarjeta_debito |intcomma |default:'0' }}</span></h3>
                            {% endif %}
                            {% if total_compras_consignacion %}
                                <h3><b>Compras con consignación:</b> <span style="color: red">$-{{ total_compras_consignacion |intcomma |default:'0' }}</span></h3>
                            {% endif %}
                            {% if total_compras_tarjeta_credito %}
                                <h3><b>Compras con tarjeta crédito:</b> <span style="color: red">$-{{ total_compras_tarjeta_credito |intcomma |default:'0' }}</span></h3>
                            {% endif %}
                            {% if total_compras_otros %}
                                <h3><b>Compras con otros medios:</b> <span style="color: red">$-{{ total_compras_otros |intcomma |default:'0' }}</span></h3>
                            {% endif %}
                        </div>
                    </div>
                </div> 
            </div>                   
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    <div class="table-responsive">
                        <table class="table table-striped" id="detalle_caja"> 
                            <thead>
                            <tr>
                                <th style="display: none;">Detalle de Caja</th>
                                <td style="display: none;">{{ caja.fecha_inicio | date }}</td>
                            </tr>
                            <tr>
                                <th style="display: none;">Apertura</th>
                                <td style="display: none;">{{ caja.fecha_inicio | date }} {{ caja.fecha_inicio | date:"h:i a" }}</td>
                            </tr>
                            <tr>
                                <th style="display: none;">Cierre</th>
                                <td style="display: none;">{{ caja.fecha_final | date }} {{ caja.fecha_final | date:"h:i a" }}</td>
                            </tr>
                            <tr>
                                <th style="display: none;">Responsable</th>
                                <td style="display: none;">{{ caja.responsable }}</td>
                            </tr>
                            {% if dinero_inicial %}
                                <tr>
                                    <th style="display: none;">Dinero inicial:</th> 
                                    <td style="display: none;">${{ dinero_inicial }}</td>
                                </tr>
                            {% endif %}
                            {% if total_venta %}
                                <tr>
                                    <th style="display: none;">Total ventas:</th> 
                                    <td style="display: none;">${{ total_venta }}</td>
                                </tr>
                            {% endif %}
                            {% if total_compra %}
                                <tr>
                                    <th style="display: none;">Total compras:</th> 
                                    <td style="display: none;">${{ total_compra }}</td>
                                </tr>
                            {% endif %}
                            {% if total_efectivo %}
                                <tr>
                                    <th style="display: none;">Total efectivo:</th> 
                                    <td style="display: none;">${{ total_efectivo |default:'0' }}</td>
                                </tr>
                            {% endif %}
                            {% if total %}
                                <tr>
                                    <th style="display: none;">Dinero total:</th> 
                                    <td style="display: none;">${{ total }}</td>
                                </tr>
                            {% endif %}
                            {% if total_ventas_efectivo %}
                                <tr>
                                    <th style="display: none;">Ventas en efectivo:</th> 
                                    <td style="display: none;">${{ total_ventas_efectivo |default:'0' }}</td>
                                </tr>
                            {% endif %}
                            {% if total_tarjeta_debito %}
                                <tr>
                                    <th style="display: none;">Ventas por tarjeta débito:</th> 
                                    <td style="display: none;">${{ total_tarjeta_debito |default:'0' }}</td>
                                </tr>
                            {% endif %}
                            {% if total_consignacion %}
                                <tr>
                                    <th style="display: none;">Ventas por consignación:</th> 
                                    <td style="display: none;">${{ total_consignacion |default:'0' }}</td>
                                </tr>
                            {% endif %}
                            {% if total_tarjeta_credito %}
                                <tr>
                                    <th style="display: none;">Ventas por tarjeta crédito:</th> 
                                    <td style="display: none;">${{ total_tarjeta_credito |default:'0' }}</td>
                                </tr>
                            {% endif %}
                            {% if total_otros %}
                                <tr>
                                    <th style="display: none;">Ventas por otro medios:</th> 
                                    <td style="display: none;">${{ total_otros |default:'0' }}</td>
                                </tr>
                            {% endif %}
                            {% if total_compras_efectivo %}
                                <tr>
                                    <th style="display: none;">Compras con efectivo</th> 
                                    <td style="display: none;">${{ total_compras_efectivo |default:'0' }}</td>
                                </tr>
                            {% endif %}
                            {% if total_compras_tarjeta_debito %}
                                <tr>
                                    <th style="display: none;">Compras con tarjeta débito:</th> 
                                    <td style="display: none;">$-{{ total_compras_tarjeta_debito |default:'0' }}</td>
                                </tr>
                            {% endif %}
                            {% if total_compras_consignacion %}
                                <tr>
                                    <th style="display: none;">Compras con consignación:</th> 
                                    <td style="display: none;">$-{{ total_compras_consignacion |default:'0' }}</td>
                                </tr>
                            {% endif %}
                            {% if total_compras_tarjeta_credito %}
                                <tr>
                                    <th style="display: none;">Compras con tarjeta crédito:</th> 
                                    <td style="display: none;">$-{{ total_compras_tarjeta_credito |default:'0' }}</td>
                                </tr>
                            {% endif %}
                            {% if total_compras_otros %}
                                <tr>
                                    <th style="display: none;">Compras con otros medios:</th> 
                                    <td style="display: none;">$-{{ total_compras_otros |default:'0' }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>Numero de recibo</th>
                                <th>Cliente-proveedor / Número de identificación</th>
                                <th>Motivo</th>
                                <th>Tipo</th>
                                <th>Medio de pago</th>
                                <th>Abono</th>
                                <th>Valor total</th>
                                <th class="text-right">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pago in pagos_hoy %}
                                {% if pago.forma_pago == 'Debito' %}
                                <tr>
                                    <td>
                                        {% if pago.id < 10 %}
                                            0000{{ pago.id }}
                                        {% elif pago.id < 100 %}
                                            000{{ pago.id }}
                                        {% elif pago.id < 1000 %}
                                            00{{ pago.id }}
                                        {% elif pago.id < 10000 %}
                                            0{{ pago.id }}
                                        {% elif pago.id < 100000 %}
                                            {{ pago.id }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if pago.cliente %}
                                        <a href="{% url 'detalle_cliente' pago.cliente.id %}" title="Ver">{{ pago.cliente.nombreCompleto }} / CC: {{ pago.cliente.numero_documento }}</a>
                                        {% else %}
                                        -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for motivos in motivos_pagos %}
                                            {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                                {% for motivo in motivos %}
                                                <span class="label label-info">{{ motivo }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>Venta</td>
                                    <td>
                                        {% if pago.forma_pago == 'Debito' %}
                                            {{ pago.tipo_pago_debito }}
                                        {% else %}
                                            {{ pago.forma_pago }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for pago_in in abonos_pago %}                                    
                                            {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                            {% if pago_in != '-' %}
                                                ${{ pago_in | intcomma}}
                                            {% endif %}
                                            {% if pago_in == '-' %}
                                                {{ pago_in }}
                                            {% endif %}
                                            {% endif %}                                         
                                        {% endfor %}
                                    </td>
                                    <td>
                                        $ {{ pago.total_factura | intcomma}}
                                    </td>
                                    <td class="text-center">
                                        <a href="{% url 'detalle_pago' pago.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                        <!--a href="#" title="Ver" class="action-icon dropdown-toggle" style="color: #076ff1"><i class="fa fa-file m-r-5"></i></a-->
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            {% for abono in abonos_pagos %}
                                <tr>
                                    <td>
                                        {% if abono.pago.id < 10 %}
                                            0000{{ abono.pago.id }}
                                        {% elif abono.pago.id < 100 %}
                                            000{{ abono.pago.id }}
                                        {% elif abono.pago.id < 1000 %}
                                            00{{ abono.pago.id }}
                                        {% elif abono.pago.id < 10000 %}
                                            0{{ abono.pago.id }}
                                        {% elif abono.pago.id < 100000 %}
                                            {{ abono.pago.id }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if abono.pago.cliente %}
                                        <a href="{% url 'detalle_cliente' abono.pago.cliente.id %}" title="Ver">{{ abono.pago.cliente.nombreCompleto }} / CC: {{ abono.pago.cliente.numero_documento }}</a>
                                        {% else %}
                                        -
                                        {% endif %}
                                    </td>

                                    <td>
                                        -
                                    </td>
                                    <td>Abono</td>
                                    <td>
                                        {{ abono.medio_pago }}
                                    </td>
                                    <td>
                                        $ {{ abono.valor_abonado | intcomma }}
                                    </td>
                                    <td>
                                        $ {{ abono.pago.total_factura | intcomma}}
                                    </td>
                                    <td class="text-center">
                                        {% if abono.pago %}
                                        <a href="{% url 'detalle_pago' abono.pago.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for gasto in compras_hoy %}
                                {% if gasto.forma_pago == 'Debito' %}
                                <tr>
                                    <td>-</td>
                                    <td>
                                        {% if gasto.proveedor %}
                                            {% if gasto.proveedor.tipo_documento == 'CC' %}
                                            {{ gasto.proveedor.nombre }} / CC: {{ gasto.proveedor.numero_documento }}
                                            {% endif %}
                                            {% if gasto.proveedor.tipo_documento == 'NI' %}
                                            {{ gasto.proveedor.nombre }} / NI: {{ gasto.proveedor.numero_documento }}
                                            {% endif %}
                                            {% if gasto.proveedor.tipo_documento == 'RU' %}
                                            {{ gasto.proveedor.nombre }} / RU: {{ gasto.proveedor.numero_documento }}
                                            {% endif %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% for motivos in motivos_gastos %}
                                            {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                                {% for motivo in motivos %}
                                                <span class="label label-info">{{ motivo }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>Compra</td>
                                    <td>
                                        {{ gasto.tipo_pago_debito }}
                                    </td>
                                    <td>
                                        {% for compra_in in abonos_compra %}
                                            {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                                {% if compra_in != '-' %}
                                                    ${{ compra_in | intcomma}}
                                                {% endif %}
                                                {% if compra_in == '-' %}
                                                    {{ compra_in }}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        $ {{ gasto.valor_total | intcomma}}
                                    </td>

                                    <td class="text-center">
                                        <a href="{% url 'detalle_compra' gasto.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                        <!--a href="{% url 'eliminar_gasto' gasto.id %}" class="action-icon dropdown-toggle"><i
                                                class="fa fa-trash-o m-r-5"></i></a-->
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            {% for abono in abonos_compras %}
                                <tr>
                                    <td>-</td>
                                    <td>
                                        {% if abono.gasto.cliente %}
                                        <a href="{% url 'detalle_cliente' abono.gasto.cliente.id %}" title="Ver">{{ abono.gasto.cliente.nombreCompleto }} / CC: {{ abono.gasto.cliente.numero_documento }}</a>
                                        {% else %}
                                        -
                                        {% endif %}
                                    </td>

                                    <td>
                                        -
                                    </td>
                                    <td>Abono a compra</td>
                                    <td>
                                        {{ abono.medio_pago }}
                                    </td>
                                    <td>
                                        $ {{ abono.valor_abonado | intcomma }}
                                    </td>
                                    <td>
                                        $ {{ abono.gasto.valor_total | intcomma}}
                                    </td>
                                    <td class="text-center">
                                        {% if abono.gasto %}
                                        <a href="{% url 'detalle_compra' abono.gasto.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <table id="tabla-imprimir" class="table hidden">
                            <thead>
                            <tr>
                                <th>Cliente-proveedor / Número de identificación</th>
                                <th>Motivo</th>
                                <th>Tipo</th>
                                <th>Medio de pago</th>
                                <th>Abono</th>
                                <th>Valor total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for pago in pagos_hoy %}
                                {% if pago.forma_pago == 'Debito' %}
                                <tr>
                                    <td>
                                        {% if pago.id < 10 %}
                                            0000{{ pago.id }}
                                        {% elif pago.id < 100 %}
                                            000{{ pago.id }}
                                        {% elif pago.id < 1000 %}
                                            00{{ pago.id }}
                                        {% elif pago.id < 10000 %}
                                            0{{ pago.id }}
                                        {% elif pago.id < 100000 %}
                                            {{ pago.id }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if pago.cliente %}
                                        {{ pago.cliente.nombreCompleto }} / CC: {{ pago.cliente.numero_documento }}
                                        {% else %}
                                        -
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% for motivos in motivos_pagos %}
                                            {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                                {% for motivo in motivos %}
                                                <span class="label label-info">{{ motivo }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>Venta</td>
                                    <td>
                                        {% if pago.forma_pago == 'Debito' %}
                                            {{ pago.tipo_pago_debito }}
                                        {% else %}
                                            {{ pago.forma_pago }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for pago_in in abonos_pago %}
                                            {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                            {% if pago_in != '-' %}
                                                ${{ pago_in | intcomma}}
                                            {% endif %}
                                            {% if pago_in == '-' %}
                                                {{ pago_in }}
                                            {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        $ {{ pago.total_factura | intcomma}}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            {% for abono in abonos_pagos %}
                                <tr>
                                    <td>
                                        {% if abono.pago.id < 10 %}
                                            0000{{ abono.pago.id }}
                                        {% elif abono.pago.id < 100 %}
                                            000{{ abono.pago.id }}
                                        {% elif abono.pago.id < 1000 %}
                                            00{{ abono.pago.id }}
                                        {% elif abono.pago.id < 10000 %}
                                            0{{ abono.pago.id }}
                                        {% elif abono.pago.id < 100000 %}
                                            {{ abono.pago.id }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if abono.pago.cliente %}
                                        {{ abono.pago.cliente.nombreCompleto }} / CC: {{ abono.pago.cliente.numero_documento }}
                                        {% else %}
                                        -
                                        {% endif %}
                                    </td>

                                    <td>
                                        -
                                    </td>
                                    <td>Abono</td>
                                    <td>
                                        {{ abono.medio_pago }}
                                    </td>
                                    <td>
                                        $ {{ abono.valor_abonado | intcomma }}
                                    </td>
                                    <td>
                                        $ {{ abono.pago.total_factura | intcomma}}
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for gasto in compras_hoy %}
                                {% if gasto.forma_pago == 'Debito' %}
                                <tr>
                                    <td>-</td>
                                    <td>
                                        {% if gasto.proveedor %}
                                            {% if gasto.proveedor.tipo_documento == 'CC' %}
                                            {{ gasto.proveedor.nombre }} / CC: {{ gasto.proveedor.numero_documento }}
                                            {% endif %}
                                            {% if gasto.proveedor.tipo_documento == 'NI' %}
                                            {{ gasto.proveedor.nombre }} / NI: {{ gasto.proveedor.numero_documento }}
                                            {% endif %}
                                            {% if gasto.proveedor.tipo_documento == 'RU' %}
                                            {{ gasto.proveedor.nombre }} / RU: {{ gasto.proveedor.numero_documento }}
                                            {% endif %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% for motivos in motivos_gastos %}
                                            {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                                {% for motivo in motivos %}
                                                <span class="label label-info">{{ motivo }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>Compra</td>
                                    <td>
                                        {{ gasto.tipo_pago_debito }}
                                    </td>
                                    <td>
                                        {% for compra_in in abonos_compra %}
                                            {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                                {% if compra_in != '-' %}
                                                    ${{ compra_in | intcomma}}
                                                {% endif %}
                                                {% if compra_in == '-' %}
                                                    {{ compra_in }}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        $ {{ gasto.valor_total | intcomma}}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            {% for abono in abonos_compras %}
                                <tr>
                                    <td>-</td>
                                    <td>
                                        {% if abono.gasto.cliente %}
                                        {{ abono.gasto.cliente.nombreCompleto }} / CC: {{ abono.gasto.cliente.numero_documento }}
                                        {% else %}
                                        -
                                        {% endif %}
                                    </td>

                                    <td>
                                        -
                                    </td>
                                    <td>Abono a compra</td>
                                    <td>
                                        {{ abono.medio_pago }}
                                    </td>
                                    <td>
                                        $ {{ abono.valor_abonado | intcomma }}
                                    </td>
                                    <td>
                                        $ {{ abono.gasto.valor_total | intcomma}}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

{% block plugins %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
<script>

    function imprimirFactura(){
        $('#DataTables_Table_0_wrapper').toggleClass('hidden');
        $('#tabla-imprimir').toggleClass('hidden');
        $('body').toggleClass('toPrint');

        var originalContents = document.body.innerHTML;
        var printContents = document.getElementById("recibo-imprimir-caja").innerHTML;

        document.body.innerHTML = printContents;
            
        setTimeout(function(){ 
            window.print();
            setTimeout(function(){ 
                document.body.innerHTML = originalContents;
                $('#DataTables_Table_0_wrapper').toggleClass('hidden');
                $('#tabla-imprimir').toggleClass('hidden');
                $('body').toggleClass('toPrint');
            }, 500);
        }, 1000);        
    }

    $(document).ready(function() {

        $('#boton_imprimir').on('click',function(e){
            e.preventDefault();
            $('#DataTables_Table_0_wrapper').toggleClass('hidden');
            $('#tabla-imprimir').toggleClass('hidden');
            $('#recibo-imprimir-caja').toggleClass('toPrint');
            console.log('click');

            var originalContents = document.body.innerHTML;
            var printContents = document.getElementById("recibo-imprimir-caja").innerHTML;

            document.body.innerHTML = printContents;

            
            setTimeout(function(){ 
                window.print();
                setTimeout(function(){ 
                    document.body.innerHTML = originalContents;
                    $('#DataTables_Table_0_wrapper').toggleClass('hidden');
                    $('#tabla-imprimir').toggleClass('hidden');
                    $('#recibo-imprimir-caja').toggleClass('toPrint');
                }, 500);
            }, 700);

            

            
        });        

    });

    /*$(function() { 
     $('#boton_exportar').click(function() {
      var fileName = $('.panel-title').text();
      var fecha_cierre = $('#cierre_caja').text();
      var options = {
      };
      var pdf = new jsPDF('p', 'pt', 'a4');
      pdf.addHTML($("#recibo-imprimir-caja"), 15, 10, options, function() {
        pdf.save(fileName + ' ' + fecha_cierre + 'pdf');
      });
     });
    });*/

    function ExportExcel(type, fn, dl) {
        var fileName = $('.page-title').text();
        var elt = document.getElementById('detalle_caja');
        var wb = XLSX.utils.table_to_book(elt, {sheet:"Sheet JS"});
        return dl ?
           XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
           XLSX.writeFile(wb, fn || (fileName + "." + (type || 'xlsx')));
    }

</script>
{% endblock %}