{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    Historial de cajas
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-xs-4">
            <h4 class="page-title">Historial de cajas</h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li><a href="/caja/listar_pagos_hoy/">Caja</a></li>
                <li class="active"><a>Historial de cajas</a></li>
            </ol>            
        </div> 
        <div class="col-sm-4 col-xs-4 text-right">
            {% for caja in cajas %}
            {% if caja.estado %}
            <a href="{% url 'listar_pagos_hoy'  %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-file-text"></i>
                Volver a caja activa</a>
            {% endif %}
            {% endfor %}
    </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Fecha de inicio</th>
                            <th>Fecha de cierre</th>
                            <th>Dinero inicial</th>
                            <th>Dinero final</th>                            
                            <th class="text-right">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for caja in cajas %}
                        {% if not caja.estado %}
                            <tr>
                                <td>
                                    {{ caja.fecha_inicio }}
                                </td>
                                <td>
                                    {{ caja.fecha_final }}
                                </td>
                                <td>
                                    ${{ caja.dinero_inicial | intcomma}}
                                </td>
                                <td>
                                    ${{ caja.dinero_final | intcomma}}
                                </td>
                                
                                <td class="text-center">
                                    <a href="{% url 'detalle_caja' caja.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                    <!--a href="#" title="Ver" class="action-icon dropdown-toggle" style="color: #076ff1"><i class="fa fa-file m-r-5"></i></a-->
                                </td>
                            </tr>
                        {% endif %}    
                        {% endfor %}
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}