{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    Caja
{% endblock title %}

{% block content %}
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm-6 col-xs-4">
            <h4 class="page-title">Caja</h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li class="active"><a>Caja</a></li>
            </ol>             
        </div>
        
        <div class="col-sm-6 col-xs-8 text-right">
            <div id="opciones-caja" class="dropdown">
                <a type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-primary dropdown-toggle">
                    Opciones de la caja
                    <span class="caret"></span>
                </a>
                <ul id="inventario-dropdown" aria-labelledby="dropdownMenu1" class="dropdown-menu">
                    <li><a href="{% url 'listar_cajas'  %}"><i class="fa fa-file-text"></i> Historial</a></li>
                    {% if caja.estado %}
                        <li><a href="{% url 'registrar_pago_caja' %}"><i class="fa fa-plus"></i> Agregar venta</a></li>
                        <li><a href="{% url 'registrar_compra_caja' %}"><i class="fa fa-plus"></i> Agregar compra</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="text-danger" onclick="Cerrar_caja_alert('{{caja.id}}')" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar caja</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        
        
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Caja abierta</h3>
                </div>
                <div class="panel-body" style="display: flex;flex-wrap: wrap;">
                    <div style="margin-right: 50px;">
                        <h3><b>Apertura:</b> {{ caja.fecha_inicio | date }} {{ caja.fecha_inicio | date:"h:i a" }}</h3>
                        <h3><b>Responsable:</b> {{ caja.responsable }}</h3>
                        <h3><b>Dinero inicial:</b> ${{ dinero_inicial |intcomma |default:'0' }}</h3>
                        <h3><b>Total ventas:</b> ${{ total_venta |intcomma |default:'0' }}</h3>
                        {% if total_compra %}
                            <h3><b>Total compras:</b> ${{ total_compra |intcomma }}</h3>
                        {% endif %}
                        {% if total_efectivo %}
                            <h3><b>Total efectivo:</b> ${{ total_efectivo |intcomma |default:'0' }}</h3>
                        {% endif %}
                        <h3><b>Dinero total:</b> ${{ total |intcomma |default:'0' }}</h3>
                    </div>
                    <div>
                        {% if total_ventas_efectivo %}
                            <h3><b>Ventas en efectivo:</b> ${{ total_ventas_efectivo |intcomma |default:'0' }}</h3>
                        {% endif %}
                        {% if total_tarjeta_debito %}
                            <h3><b>Ventas por tarjeta débito:</b> ${{ total_tarjeta_debito |intcomma |default:'0' }}</h3>
                        {% endif %}
                        {% if total_consignacion %}
                        <h3><b>Ventas por consignación:</b> ${{ total_consignacion |intcomma |default:'0' }}</h3>
                        {% endif %}
                        {% if total_tarjeta_credito %}
                            <h3><b>Ventas por tarjeta crédito:</b> ${{ total_tarjeta_credito |intcomma |default:'0' }}</h3>
                        {% endif %}
                        {% if total_otros %}
                            <h3><b>Ventas por otro medios:</b> ${{ total_otros |intcomma |default:'0' }}</h3>
                        {% endif %}
                        {% if total_compras_efectivo %}
                            <h3><b>Compras con efectivo:</b> <span style="color:#FF1001;">$-{{ total_compras_efectivo |intcomma |default:'0' }}</span></h3>
                        {% endif %}
                        {% if total_compras_tarjeta_debito %}
                            <h3><b>Compras con tarjeta débito:</b> <span style="color: red">$-{{ total_compras_tarjeta_debito |intcomma |default:'0' }}</span></h3>
                        {% endif %}
                        {% if total_compras_consignacion %}
                            <h3><b>Compras con consignación:</b> <span style="color: red">$-{{ total_compras_consignacion |intcomma |default:'0' }}</span></h3>
                        {% endif %}
                        {% if total_compras_tarjeta_credito %}
                            <h3><b>Compras con tarjeta crédito:</b> <span style="color: red">$-{{ total_compras_tarjeta_credito |intcomma |default:'0' }}</span></h3>
                        {% endif %}
                        {% if total_compras_otros %}
                            <h3><b>Compras con otros medios:</b> <span style="color: red">$-{{ total_compras_otros |intcomma |default:'0' }}</span></h3>
                        {% endif %}
                    </div>
                </div>
            </div> 
        </div>        
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Numero de recibo</th>
                            <th>Cliente-proveedor / Número de identificación</th>
                            <th>Motivo</th>
                            <th>Tipo</th>
                            <th>Medio de pago</th>
                            <th>Abono</th>
                            <th>Valor total</th>
                            <th class="text-right">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pago in pagos_hoy %}
                            {% if pago.forma_pago == 'Debito' %}
                            <tr>
                                <td>
                                    {% if pago.id < 10 %}
                                        0000{{ pago.id }}
                                    {% elif pago.id < 100 %}
                                        000{{ pago.id }}
                                    {% elif pago.id < 1000 %}
                                        00{{ pago.id }}
                                    {% elif pago.id < 10000 %}
                                        0{{ pago.id }}
                                    {% elif pago.id < 100000 %}
                                        {{ pago.id }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if pago.cliente %}
                                    <a href="{% url 'detalle_cliente' pago.cliente.id %}" title="Ver">{{ pago.cliente.nombreCompleto }} / CC: {{ pago.cliente.numero_documento }}</a>
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                
                                <td>
                                    {% for motivos in motivos_pagos %}
                                        {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                            {% for motivo in motivos %}
                                            <span class="label label-info">{{ motivo }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>Venta</td>
                                <td>
                                    {{ pago.tipo_pago_debito }}
                                </td>
                                <td>
                                    {% for pago_in in abonos_pago %}                                    
                                        {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                        {% if pago_in != '-' %}
                                           ${{ pago_in | intcomma}}
                                        {% endif %}
                                        {% if pago_in == '-' %}
                                            {{ pago_in }}
                                        {% endif %}
                                        {% endif %}                                        
                                    {% endfor %}
                                </td>
                                <td>
                                    $ {{ pago.total_factura | intcomma}}
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'detalle_pago' pago.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                    {% if user.usuario.roles == "Administrador"%}
                                        {% if pago.estado_pago != 'Anulada' %}
                                        <a onclick="AnularPago('{{pago.id}}', '{{pago.total_factura}}', '{{pago.fecha}}');" class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Anular"><i class="fa fa-ban fa-lg"></i></a>
                                        {% endif %}
                                    {% endif %}    
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% for abono in abonos_pagos %}
                            <tr>
                                <td>
                                    {% if abono.pago.id < 10 %}
                                        0000{{ abono.pago.id }}
                                    {% elif abono.pago.id < 100 %}
                                        000{{ abono.pago.id }}
                                    {% elif abono.pago.id < 1000 %}
                                        00{{ abono.pago.id }}
                                    {% elif abono.pago.id < 10000 %}
                                        0{{ abono.pago.id }}
                                    {% elif abono.pago.id < 100000 %}
                                        {{ abono.pago.id }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if abono.pago.cliente %}
                                    <a href="{% url 'detalle_cliente' abono.pago.cliente.id %}" title="Ver">{{ abono.pago.cliente.nombreCompleto }} / CC: {{ abono.pago.cliente.numero_documento }}</a>
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>

                                <td>
                                    -
                                </td>
                                <td>Abono a venta</td>
                                <td>
                                    {{ abono.medio_pago }}
                                </td>
                                <td>
                                    $ {{ abono.valor_abonado | intcomma }}
                                </td>
                                <td>
                                    $ {{ abono.pago.total_factura | intcomma}}
                                </td>
                                <td class="text-center">
                                    {% if abono.pago %}
                                    <a href="{% url 'detalle_pago' abono.pago.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for gasto in compras_hoy %}
                            {% if gasto.forma_pago == 'Debito' %}
                                <tr>
                                    <td>
                                        -
                                    </td>
                                    <td>
                                        {% if gasto.proveedor %}
                                            {% if gasto.proveedor.tipo_documento == 'CC' %}
                                            {{ gasto.proveedor.nombre }} / CC: {{ gasto.proveedor.numero_documento }}
                                            {% endif %}
                                            {% if gasto.proveedor.tipo_documento == 'NI' %}
                                            {{ gasto.proveedor.nombre }} / NI: {{ gasto.proveedor.numero_documento }}
                                            {% endif %}
                                            {% if gasto.proveedor.tipo_documento == 'RU' %}
                                            {{ gasto.proveedor.nombre }} / RU: {{ gasto.proveedor.numero_documento }}
                                            {% endif %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% for motivos in motivos_gastos %}
                                            {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                                {% for motivo in motivos %}
                                                <span class="label label-info">{{ motivo }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>Compra</td>
                                    <td>
                                        {{ gasto.tipo_pago_debito }}
                                    </td>
                                    <td>
                                        {% for compra_in in abonos_compra %}
                                            {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                            {% if compra_in != '-' %}
                                            ${{ compra_in | intcomma}}
                                         {% endif %}
                                         {% if compra_in == '-' %}
                                             {{ compra_in }}
                                         {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <p style="color:#FF1001;">$- {{ gasto.valor_total | intcomma}}</p>
                                    </td>
                                    <td class="text-center">
                                        <a href="{% url 'detalle_compra' gasto.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                        {% if user.usuario.roles == "Administrador"%}
                                            {% if gasto.estado_pago != 'Anulada' %}
                                                <a onclick="AnularCompra('{{gasto.id}}', '{{gasto.valor_total}}', '{{gasto.fecha}}');" class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Anular"><i class="fa fa-ban fa-lg"></i></a>
                                            {% endif %}
                                        {% endif %}    
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% for abono in abonos_compras %}
                            <tr>
                                <td>
                                    -
                                </td>
                                <td>
                                    {% if abono.gasto.cliente %}
                                    <a href="{% url 'detalle_cliente' abono.gasto.cliente.id %}" title="Ver">{{ abono.gasto.cliente.nombreCompleto }} / CC: {{ abono.gasto.cliente.numero_documento }}</a>
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>

                                <td>
                                    -
                                </td>
                                <td>Abono a compra</td>
                                <td>
                                    {{ abono.medio_pago }}
                                </td>
                                <td>
                                    $ {{ abono.valor_abonado | intcomma }}
                                </td>
                                <td>
                                    $ {{ abono.gasto.valor_total | intcomma}}
                                </td>
                                <td class="text-center">
                                    {% if abono.gasto %}
                                    <a href="{% url 'detalle_compra' abono.gasto.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>

function Cerrar_caja_alert(id) {

swal({
        title: "Estas seguro que desea Cerrar la caja ?",
        text: "Una vez se cierra la caja no puede volver a abrirse hasta el dia de mañana.",
        icon: "warning",
        buttons: {
            cancel: {
                text: "No, cancelar",
                value: null,
                visible: true,
                className: "",
                closeModal: true,
            },
            confirm: {
                text: "Si, cerrar caja!",
                value: true,
                visible: true,
                className: "",
                closeModal: true
            }
        },
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {

            $.ajax({
                url: '/caja/cerrar_caja/'+id,
                data: {
                    'id': id
                },
                dataType: 'json',
                success: function (data) {
                    window.location.replace("/caja/abrir_caja/");
                }
            });
        } 
    });

}

    function AnularPago(id, total, fecha) {
        swal({
            title: "Estas seguro que deseas anular la factura de venta #"+id+" del dia "+fecha+" por valor de $"+total+"?",
            text: "Este cambio es irreversible. El inventario relacionado en la venta será sumado nuevamente en el inventario y las atenciones cobradas quedaran de nuevo pendientes por pago.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, anular permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '/productos/anular_venta/',
                    data: {
                      'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.replace("/caja/listar_pagos_hoy/");
                    }
                });
            }
        });
    }

    function AnularCompra(id, total, fecha) {
        swal({
            title: "Estas seguro que deseas anular la compra del dia "+fecha+" por valor de $"+total+"?",
            text: "Este cambio es irreversible. El inventario relacionado en la compra será descontado nuevamente en el inventario.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, anular permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '/gastos/anular_compra/',
                    data: {
                      'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.replace("/caja/listar_pagos_hoy/");
                    }
                });
            }
        });

    }
    
    </script>
{% endblock content %}