{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
Impuestos
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-4 col-xs-3">
        <h4 class="page-title">Impuestos</h4>
    </div>
    <div class="col-sm-8 col-xs-9 text-right">
        <a href="{% url 'registrar_impuesto' %}" class="btn add-btn btn-custom pull-right m-b-30"><i
                class="fa fa-plus"></i>
            Agregar impuesto</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Porcentaje</th>
                        
                            <th class="text-right">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for impuesto in object_list %}
                        <tr>
                            <td>
                                {{ impuesto.nombre }}
                            </td>
                            <td>
                                {{ impuesto.porcentaje }} %
                            </td>

                            <td class="text-right">
                                <a href="{% url 'editar_impuesto' impuesto.id %}" class="action-icon dropdown-toggle" style="color: #076ff1"><i
                                        class="fa fa-pencil fa-lg"></i></a>
                                <a onclick="EliminarImpuesto('{{impuesto.id}}', '{{impuesto.nombre}}', '{{impuesto.porcentaje}}');" class="action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Eliminar">
                                    <i class="fa fa-trash fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block plugins %}
    <script>
        function EliminarImpuesto(id, nombre, porcentaje) {

            swal({
                title: "Estas seguro que deseas eliminar el impuesto "+nombre+" ("+porcentaje+"%)?",
                text: "El impuesto sera eliminado permanenetemente.",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No, cancelar",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Si, eliminar permanentemente!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: '/impuestos/eliminar_impuesto/',
                        data: {
                          'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.replace("/impuestos/listar_impuesto/");
                        }
                    });
                }
            });

        }
    </script>
{% endblock %}