{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block title %}
Cambio de contraseña
{% endblock title %}

{% block extrahead %}

{% endblock%}

{% block content %}
<div class="content container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">
                Cambiar Contraseña
            </h4>
        </div>
    </div>


<!--Warning message for the user-->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<!-- end Warning messagefor the user -->
    <form method="POST" enctype="multipart/form-data" class="form-horizontal" autocomplete="off">
        {% csrf_token %}
        <div class="card-box">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        <div class="form-group"><label class="control-label col-lg-3" for="id_old_password">Contraseña
                                anterior</label>
                            <div class="col-lg-9"><input type="password" name="old_password" autofocus=""
                                    class="form-control" placeholder="Contraseña anterior" title="" required=""
                                    id="id_old_password"></div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        <div class="form-group"><label class="control-label col-lg-3" for="id_new_password1">Nueva
                                contraseña</label>
                            <div class="col-lg-9"><input type="password" name="new_password1" class="form-control"
                                    placeholder="Nueva contraseña"
                                    title="Your password can&amp;#39;t be too similar to your other personal information.Your password must contain at least 8 characters.Your password can&amp;#39;t be a commonly used password.Your password can&amp;#39;t be entirely numeric."
                                    required="" id="id_new_password1">

                                <div class="help-block">
                                    <ul>
                                        <li>Su contraseña no puede ser muy similar a su otra información persona.</li>
                                        <li>Su contraseña debe contener al menos 8 caracteres.</li>
                                        <li>Su contraseña no puede ser una contraseña de uso común.</li>
                                        <li>Su contraseña no puede ser enteramente numérica.</li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        <div class="form-group"><label class="control-label col-lg-3" for="id_new_password2">
                                Confirmación de contraseña</label>
                            <div class="col-lg-9"><input type="password" name="new_password2" class="form-control"
                                    placeholder="Confirmación de contraseña" title="" required="" id="id_new_password2">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="text-center submit-btns">
            <button type="submit" class="btn btn-primary m-r-20" style="border-radius: 50px;">
                Actulizar Contraseña
            </button>
            <a href="{% url 'index' %}"" class="btn btn-danger">Cancelar</a>
        </div>

</div>
</div>

</form>
</div>
{% endblock %}