{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


    {% block title %}
        Detalle de Usuarios - Administradores
    {% endblock title %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    {% endblock%}

    {% block content %}
        <div class="row">
            <div class="col-sm-12">
                <h2 class="page-title">Detalle de veterinario</h2>
                <ol class="breadcrumb">
                    <li><a href="/usuario/index/">Inicio</a></li>
                    <li><a href="{% url 'listar_veterinarios' %}">veterinarios registrados</a></li>
                    <li class="active"><a>Detalle de veterinario</a></li>
                </ol>                 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    <div class="user-profile-img">
                        <div class="edit-profile-img">
                            {% if object.foto%}
                            <img alt="" src="{{object.foto.url}}" class="avatar" style="height: 120px; width: 120px;">
                            {% else %}
                            <img alt="" src="{% static 'img/user.jpg' %}" class="avatar">
                            {% endif %}
                        </div>
                        <h3 class="user-name m-t-10 m-b-0">{{object.first_name}} {{object.segundo_nombre}}
                            {{object.last_name}} {{object.segundo_apellido}}</h3>
                        <small class="text-muted">Especialización - {{object.especializacion}}</small>
                        <br>
                        {% if object.is_active %}
                            <span class="label label-success">Activo</span>
                        {% else %}
                            <span class="label label-danger">Inactivo</span>
                        {% endif %}
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="chat-profile-info">
                                <ul class="personal-info">
                                    <li>
                                        <span class="title">Nombres:</span>
                                        <span class="text">{{object.first_name}} {{object.segundo_nombre}}</span>
                                    </li>
                                    <li>
                                        <span class="title">Apellidos:</span>
                                        <span class="text">{{object.last_name}} {{object.segundo_apellido}}</span>
                                    </li>
                                    <li>
                                        <span class="title">Número de Documento:</span>
                                        <span class="text">{{object.tipo_documento_identificacion}}. {{object.numero_documento_identificacion}}</span>
                                    </li>
                                    <li>
                                        <span class="title">Teléfonos:</span>
                                        <span class="text">{{object.telefono}} - {{object.celular}}</span>
                                    </li>
                                    <li>
                                        <span class="title">E-mail:</span>
                                        <span class="text">{{object.email}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="chat-profile-info">
                                <ul class="personal-info">
                                    <li>
                                        <span class="title">Tarjeta profesional:</span>
                                        <span class="text">{{object.no_tarjeta}}</span>
                                    </li>
                                    <li>
                                        <span class="title">Especialización:</span>
                                        <span class="text">{{object.especializacion}}</span>
                                    </li>
                                    <li>
                                        <span class="title">Dirección:</span>
                                        <span class="text">{{object.direccion}}</span>
                                    </li>
                                    <li>
                                        <span class="title">Fecha de Nacimiento:</span>
                                        <span class="text">{{object.fecha_nacimiento}}</span>
                                    </li>
                                    <li>
                                        <span class="title">Genero:</span>
                                        <span class="text">{{object.sexo}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center submit-btns">
                    <a href="{% url 'listar_veterinarios' %}" class="btn btn-primary">Volver</a>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>


	{% endblock %}