{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


    {% block title %}
        Listado de Usuarios - Administradores
    {% endblock title %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    {% endblock%}

    {% block content %}
      <div class="row">
            <div class="col-sm-4 col-xs-3 col-md-6">
                <h4 class="page-title">Administradores registrados</h4>
                <ol class="breadcrumb">
                    <li><a href="/usuario/index/">Inicio</a></li>
                    <li class="active"><a>Administradores registrados</a></li>
                </ol> 
            </div>
            <div class="col-sm-8 col-xs-9 col-md-6 text-right">
                <a href="{% url 'crear_administrador' %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-plus"></i>
                    Agregar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Nombre completo</th>
                                <th>Número de documento</th>
                                <th>Sexo</th>
                                <th>Dirección</th>
                                <th>Email</th>
                                <th>Teléfonos</th>
                                <th>Estado</th>
                                <th class="text-right">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for usuario in object_list %}
                                <tr>
                                    <td>
                                        {{ usuario.first_name }} {{ usuario.segundo_nombre }} {{ usuario.last_name }} {{ profesor.segundo_apellido }}
                                    </td>
                                    <td>
                                        {{ usuario.tipo_documento_identificacion}} - {{ usuario.numero_documento_identificacion }}
                                    </td>
                                    <td>
                                        {{ usuario.sexo }}
                                    </td>
                                    <td>
                                        {{ usuario.direccion }}
                                    </td>
                                    <td>
                                        {{ usuario.email }}
                                    </td>
                                    <td>
                                        {{ usuario.telefono }} {% if usuario.celular %} - {{ usuario.celular }} {% endif %}
                                    </td>
                                    <td>
                                        {% if usuario.is_active %}
                                            {% if usuario.id == request.user.usuario.id %}
                                                <input type="checkbox" id="toggle-two" checked disabled data-toggle="toggle" data-on="Activo" data-off="Inactivo" data-size="small">
                                            {% else %}
                                            <a href="" onclick="InactivarUsuario('{{usuario.id}}', '{{usuario.first_name}}');">
                                                <input type="checkbox" id="toggle-two" checked data-toggle="toggle" data-on="Activo" data-off="Inactivo" data-size="small">
                                            </a>
                                            {% endif %}
                                        {% else %}
                                            <a href="" onclick="InactivarUsuario('{{usuario.id}}', '{{usuario.first_name}}');">
                                                <input type="checkbox" id="toggle-two" data-toggle="toggle" data-on="Activo" data-off="Inactivo" data-size="small">
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'visualizar_administrador' usuario.id %}" title="Ver detalle" class="hidden-xs action-icon dropdown-toggle"><i class="fa fa-eye m-r-5"></i></a>
                                        <a href="{% url 'editar_administrador' usuario.id %}" title="Editar" class="hidden-xs action-icon dropdown-toggle"><i class="fa fa-pencil m-r-5"></i></a>
                                        <div class="dropdown menu-mobile-table hidden-md hidden-lg">
                                            <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a> 
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a href="{% url 'visualizar_administrador' usuario.id %}" title="Ver detalle" class="action-icon dropdown-toggle"><i class="fa fa-eye m-r-5"></i> Ver</a>
                                                </li> 
                                                <li>
                                                    <a href="{% url 'editar_administrador' usuario.id %}" title="Editar" class="action-icon dropdown-toggle"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
        $(function() {
            $('#toggle-two').bootstrapToggle({
                on: 'Enabled',
                off: 'Disabled'
            });
        });
        function InactivarUsuario(id, nombre) {
            console.log("Pruebaaa: ", id, nombre);
            $.ajax({
                url: '/usuario/inactivar_usuario/',
                data: {
                  'id': id
                },
                dataType: 'json',
                success: function (data) {
                    window.location.replace("/usuario/listar_administradores/");
                }
            });
        }
    </script>

	{% endblock %}