<!-- templates/registration/password_reset_form.html -->

{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>Recordar contraseña</title>

    <style>
        body{
            background-image: url("{% static 'img/fondo_mascotas.png' %}"), url("{% static 'img/fondo_huellas.jpg' %}");
        }
    </style>
</head>

<body>
  <div class="main-wrapper">
    <div class="account-page">
      <div class="container">
        <div class="account-box">
          <div class="account-top">
            <div class="account-logo">
              <img src="{% static 'img/logo.png' %}" alt="Logo" style="width: 60%;">
            </div>
          </div>
          <div class="account-bottom">
            {% block extrahead %}

            {% endblock%}


            {% block content %}
            <p>
              Ingrese su dirección de correo electrónico a continuación, y le enviaremos instrucciones para configurar
              una nueva
            </p>

            <form method="POST" class="margin-bottom-0">
              {% csrf_token %}
              <div>
                  {% for field in form %}
                  {% bootstrap_field field=field  %}
              {% endfor %}
                {{ form.email.errors }}
                
              </div>
                <div style="text-align: center;">
                    <input type="submit" class="btn btn-primary active m-r-5" value="¡Enviar correo de confirmación!">
                </div>
            </form>
          </div>
          {% endblock %}
          </p>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script type="text/javascript" src="{% static 'js/modernizr.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>