{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

<div class="modal-dialog modal-md">
    <div class="modal-content animated fadeIn">
        <div class="modal-header" style="background: #076ff1;">
            <div  style="width: 100%; display: flex;justify-content:space-between;">
                <h4 class="modal-title text-center" style="color:#fff;">Terminos y Condiciones</h4>
            </div>
        </div>
        <div style="padding: 20px;">
            {% if datos.tipo_plan == Null %}
                <h3><strong>Plan:</strong> No tiene Plan Asignado</h3>
            {% else %}
            <h3><strong>Plan:</strong> {{ datos.tipo_plan }}</h3>
            {% endif %}
            <h4><strong>Fecha de Registro:</strong> {{ datos.fecha_fundacion }}</h4>
        </div>
        <div class="modal-body" style="padding: 0px 40px;height: 100%; display: flex; justify-content: space-around"> 
            <p>Un tigre que cuando cachorro habia sido capturado por humanos fue liberado luego de varios años de vida domestica. La vida entre los hombres no habia menguado sus fuerzas ni sus instintos; en cuanto lo liberaron, corrio a la selva. Ya en la espesura, sus hermanos teniéndolo otra vez entre ellos, le preguntaron:

                -¿Que has aprendido?
                
                El tigre medito sin prisa. Quería transmitirles algún concepto sabio, trascendente. Recordó un comentario humano: "Los tigres no son inmortales. Creen que son inmortales porque ignoran la muerte, ignoran que morirán."
                
                Ah, pensó el tigre para sus adentros, ese es un pensamiento que los sorprenderá: no somos inmortales, la vida no es eterna. -Aprendí esto- dijo por fin-. No somos inmortales solo ignoramos que alguna vez vamos a....
                
                Los otros tigres no lo dejaron terminar de hablar, se abalanzaron sobre el, le mordieron el cuello y lo vieron desangrarse hasta morir. Es el problema de los enfermos de muerte -dijo uno de los felinos-. Se tornan resentidos y quieren contagiar a todos.''
                
                Marcelo Birmajer, El tigre enfermo</p>
            
        </div>
        <div class="text-center">
            <div>
                <form action = "" method="POST" enctype="multipart/form-data" class="form-horizontal" data-parsley-validate="true" autocomplete="off">
                    {% csrf_token %}
                        <div class="row">
                            <div class="form-group" style="margin: 15px;padding: 0px 60px;">
                                <div class="form-group">
                                    <label class="control-label" for="contra">Observaciones</label>
                                    <input class="form-control" type="text" id="observaciones" name="observaciones"><br><br>
                                </div>
                            </div>
                        </div>
                    <div class="text-center submit-btns" style="margin-top:0px;">
                        <a href="#" onclick="//Observaciones({{id_user}})" style="font-size: 16px;background-color: #076FF1;" class="btn add-btn btn-custom m-b-30"><i class="fa fa-thumbs-o-up"></i>
                            Acepto los Terminos y Condiciones</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript">
        /* function Observaciones(id_user){
            var observaciones = $('#observaciones').val();
            console.log(observaciones);
            if (observaciones) {
                $.ajax({
                    url: '/usuario/aceptar_terminos_condiciones/',
                    data: {
                        'id_user': id_user,
                        'observaciones': observaciones
                    },
                    dataType: 'json',
                    success: function(data) {
                        actualizado = JSON.parse(data.actualizado);
                        window.location.replace("/usuario/index/");
                    }
                });
            }
        } */

    </script>
{% endblock %}