{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

<div class="modal-dialog modal-md">
    <div class="modal-content animated fadeIn">
        <div class="modal-header" style="background: #076ff1;">
            <div  style="width: 100%; display: flex;justify-content:space-between;">
                <h4 class="modal-title text-center" style="color:#fff;">Se Deben Aceptar los Terminos y Condiciones</h4>
            </div>
        </div>
        <div style="padding: 20px;">
            <h3>Notifiquele a su Usuario Administrador!</h3>
        </div>
        <div class="modal-body" style="padding: 0px 40px;height: 100%; display: flex; justify-content: space-around"> 
            <p>Para seguir disfrutando de los servicios de nuestra plataforma, 
                el Administrador debe aceptar nuestros Acuerdos de Servicios y Politicas de Uso.</p>
        </div>
        <div class="text-center" style="margin-top: 30px;margin-bottom: 30px;">
            <h4 style="color:#076ff1;">Usuario Administrador</h4>
            {% for dato in datos %}
                <p><strong>Nombre:</strong> {{ dato }} - <strong>Correo:</strong> {{ dato.email }}</p>
            {% endfor %}
        </div>
    </div>
</div>

{% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript">
    </script>
{% endblock %}