{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    Inventario
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">
                Cambiar categoria
            </h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li><a href="/productos/listar_productos/">Inventario</a></li>
                <li class="active"><a>Cambiar categoria</a></li>
            </ol>
        </div>
    </div>
    <form class="form-horizontal" method="POST" action="" autocomplete="off">{% csrf_token %}
        <div class="card-box" id="app_cambiar_categoria">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        <label class="col-lg-4 control-label">
                            Tipo de elemento
                        </label>
                        <div class="col-lg-8">
                            <select class="form-control" id="tipo_categoria" name="tipo_categoria">
                                <option value="medicamento">Medicamento</option>
                                <option value="producto">Producto</option>
                                <option value="vacuna">Vacuna</option>
                                <option value="desparasitante">Desparasitante</option>
                                <option value="insumo">Insumo</option>
                                <option v-for="categoria in lista_categorias" v-bind:value="[[ categoria[0] ]]" :selected="selected_filter == categoria[0]">[[ categoria[1] ]]</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center submit-btns">
            {% bootstrap_button "Guardar" button_type="submit" button_class="btn btn-primary m-r-20" %}
            <a href="{% url 'listar_productos' %}" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
{% endblock content %}

{% block plugins %}
    <script>
    var app_cambiar_categoria = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app_cambiar_categoria',
        data: {
            lista_categorias: {},
            selected_filter: ''
        }
    })
    $(document).ready(function() {
        app_cambiar_categoria.selected_filter = '{{ tipo_elemento }}';

        app_cambiar_categoria.lista_categorias = JSON.parse('{{ categorias | safe}}');

        $("#tipo_categoria").val('{{ tipo_elemento }}');
    });
    </script>
{% endblock %}