{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Detalle del Tercero
{% endblock title %}

{% block extrahead %}
<style>
    .clickable-row{
        cursor: pointer;
    }
</style>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-xs-10">
        <h4 class="page-title">Detalle de Tercero</h4>
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li><a href="/productos/listar_proveedores/">Terceros</a></li>
            <li class="active"><a>{{ object.nombre }}</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <div class="user-profile-img">
                <h3 class="user-name m-t-10 m-b-0"><a href="{% url 'editar_proveedor' proveedor.id %}" class="btn btn-edit-profile">{{ object.nombre }} <i class=" fa fa-pencil fa-lg"></i></a></h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="chat-profile-info">
                        <ul class="personal-info">
                            <li>
                                <span class="title">Nombre:</span>
                                <span id="nombre" class="text">{{ object.nombre }}</span>
                            </li>
                            <li>
                                <span class="title">Direccion:</span>
                                <span class="text">
                                    {% if object.direccion %}
                                    {{ object.direccion }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </span>
                            </li>
                            <li>
                                <span class="title">Ciudad:</span>
                                <span class="text">
                                    {% if object.ciudad %}
                                    {{ object.ciudad }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </span>
                            </li>
                            <li>
                                <span class="title">{{ object.tipo_documento }}:</span>
                                <span class="text">{{ object.numero_documento | default:"-"}}</span>
                            </li>
                            <li>
                                <span class="title">Tipo de tercero:</span>
                                <span class="text">{{ object.get_tipo_tercero_display | default:"-"}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="chat-profile-info">
                        <ul class="personal-info">
                            <li>
                                <span class="title">Teléfono:</span>
                                <span class="text">
                                    {% if object.telefono %}
                                    {{ object.telefono }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </span>
                            </li>
                            <li>
                                <span class="title">Celular:</span>
                                <span class="text">
                                    {% if object.celular %}
                                    {{ object.celular }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </span>
                            </li>
                            <li>
                                <span class="title">E-mail:</span>
                                <span class="text">
                                    {% if object.email %}
                                    {{ object.email }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </span>
                            </li>
                            <li>
                                <span class="title">Estado financiero</span>
                                {% if estado_financiero == 'Al día' %}
                                <span class="label label-success">Al día</span>
                                {% elif estado_financiero == 'En deuda' %}
                                <span class="label label-warning">En deuda</span>
                                {% elif estado_financiero == 'Moroso' %}
                                <span class="label label-danger">En mora</span>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card-box">
            <ul class="nav nav-tabs nav-tabs-solid nav-justified m-b-30">
                <li class="active"><a data-toggle="tab" href="#Gastos">Compras</a></li>
            </ul>
            <div class="tab-content">
                <div id="gastos" class="tab-pane active">
                    <div class="table-responsive">
                        <table id="gastos-proveedor" class="table display responsive nowrap" cellspacing="0" width="100%">
                            <div class="dt-buttons">
                                <button onclick="ExportExcel('xlsx')" class="dt-button buttons-excel buttons-html5 btn btn-primary" tabindex="0" aria-controls="gastos-proveedor" type="button">Exportar a Excel</button>
                            </div>
                            <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Tipo</th>
                                <th>Estado</th>
                                <th>Valor total</th>
                                <th>Valor pagado</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for gasto in gastos_proveedor %}
                            <tr>
                                <td>
                                    {{ gasto.fecha }}
                                </td>
                                <td>
                                    {% for motivos in motivos_gastos %}
                                        {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                            {% for motivo in motivos %}
                                            <span class="label label-info">{{ motivo }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if gasto.estado_pago == 'Pagado' %}
                                        <span class="label label-success">{{ gasto.estado_pago }}</span>
                                    {% elif gasto.estado_pago == 'Anulada' %}
                                        <span class="label label-danger">{{ gasto.estado_pago }}</span>
                                    {% else %}
                                        <span class="label label-warning">{{ gasto.estado_pago }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    $ {{ gasto.valor_total | intcomma}}
                                </td>
                                <td>
                                    $ {{ gasto.valor_pagado | intcomma}}
                                </td>
                                <td class="text-center">
                                    {% if gasto.estado_pago == 'Pendiente' %}
                                    <a class="action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Abonar" onclick="return abrir_modal('{% url 'abonar_gasto' gasto.id %}')"><i class="fa fa-dollar fa-lg"></i></a>
                                    {% endif %}
                                    <a href="{% url 'detalle_compra' gasto.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                    {% if user.usuario.roles == "Administrador"%}
                                        {% if gasto.estado_pago != 'Anulada' %}
                                        <a onclick="AnularCompra('{{gasto.id}}', '{{gasto.valor_total}}', '{{gasto.fecha}}');" class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Anular"><i class="fa fa-ban fa-lg"></i></a>
                                        {% endif %}
                                    {% endif %}    
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="4" style="text-align:right">Total:</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-abono" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true"></div>
{% endblock content %}

{% block plugins %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
    <script type="text/javascript">

        function ExportExcel(type, fn, dl) {
            var fileName = $('.page-title').text();
            var nombre = $('#nombrep').text();
            var elt = document.getElementById('gastos-proveedor');
            var wb = XLSX.utils.table_to_book(elt, {sheet:"Sheet JS"});
            return dl ?
               XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
               XLSX.writeFile(wb, fn || (fileName + " " + nombre + "." + (type || 'xlsx')));
        }

        $('.clickable-row').on('click',function(){
            window.location = $(this).data("href");
        });

        $(function () {
            
            $('.btn-edit-profile').hover(
                function() {
                    $( this ).find('i').fadeIn();
                }, function() {
                    $( this ).find('i').fadeOut();
                }
            );


            $('#gastos-proveedor').dataTable({
                "lengthChange": false,
                "paging": false,
                "autoWidth": false,
                paging: false,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No hay información registrada",
                    "info": "",
                    "infoEmpty": "",
                    "infoFiltered": "(filtrado de _MAX_ registros en total)",
                    "search": "Buscar :",
                    "paginate": {
                        "first":      "Primera",
                        "last":       "Ultima",
                        "next":       "Siguiente",
                        "previous":   "Anterior"
                    }
                },
                'columnDefs': [ {
                    'targets': [5], // column index (start from 0)
                    'orderable': false // set orderable false for selected columns
                }],
                "footerCallback": function ( row, data, start, end, display ) {
                    var api = this.api(), data;
                    // Remove the formatting to get integer data for summation
                    var intVal = function ( i ) {
                        return typeof i === 'string' ?
                            i.replace(/[\$.]/g, '')*1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
                    // Total over all pages
                    total = api
                        .column( 4 )
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );
                    // Total over this page
                    pageTotal = api
                        .column( 4, { page: 'current'} )
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );
                        pageTotal = pageTotal.toString().split('').reverse().join('').replace(/(?=\d*\.?)(\d{3})/g,'$1.');
                        pageTotal = pageTotal.split('').reverse().join('').replace(/^[\.]/,'');
                    // Update footer
                    $( api.column( 4 ).footer() ).html(
                        //'$'+pageTotal +' ( $'+ total +' Total)'
                        '$'+pageTotal
                    );
                }                               
            });

        });


        function abrir_modal(url) {
            $('#modal-abono').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function AnularCompra(id, total, fecha) {

            swal({
                title: "Estas seguro que deseas anular la factura de compra del dia "+fecha+" por valor de $"+total+"?",
                text: "Este cambio es irreversible. El inventario relacionado en la venta será descontando nuevamente en el inventario y los servicios / otros no se sumaran a los egresos.",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No, cancelar",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Si, anular permanentemente!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '/gastos/anular_compra/',
                        data: {
                          'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.replace("/productos/listar_proveedores/");
                        }
                    });
                }
            });

        }
    </script>
{% endblock %}