{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Detalle Ingreso
{% endblock title %}

{% block extrahead %}
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
<style>
    @media print {

        .prueba_cabecera{
            margin-left: 0px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .logo_cabecera{
            margin-right: 5px;
        }
        .titulo_factura{
            margin-bottom: 20px;
            margin-top: 10px;
        }
        .invoice-payment{
            margin-top: 50px;
            display: flex;
            justify-content: flex-end;
        }
        .total_pagar{
            width: 50%;
            align-self: flex-end;
        }

        div {
          font-size: 12pt;
          font-family: 'Oswald', sans-serif;
        }

        @page {
            size: A5;
            margin: 0%;
        }
    }
</style>
{% endblock%}

{% block content %}
<div class="row">
    <div class="col-sm-4 col-xs-3">
        <h4 class="page-title">Detalle de ingreso</h4>
        <ol class="breadcrumb">
            <li><a href="/usuario/index/">Inicio</a></li>
            <li><a href="/productos/listar_pagos/todos/semana/">Ingresos</a></li>
            <li class="active"><a>Detalle de ingreso</a></li>
        </ol>
    </div>
    <div class="col-sm-8 col-xs-9 text-right" style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
        <a id="boton_guardar_pdf" class="btn add-btn btn-custom pull-right m-b-30 m-r-20"><i class="fa fa-file-pdf-o"></i> PDF</a>
        <div>
            <div class="dropdown">
                <button type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary dropdown-toggle">
                        <i class="fa fa-print"></i> Imprimir <span class="caret"></span>
                </button> 
                <ul aria-labelledby="dropdownMenu1" class="dropdown-menu dropdown-right">
                    <li><a href="" id="boton_imprimir">Normal</a></li> 
                    <li><a href="" id="boton_imprimir_pos">POS</a></li> 
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row" id="factura_imprimir">
        <div class="col-md-12">
            {% if object.estado_pago == "Anulada" %}
            <img class="img-factura-anulada" src="{% static 'img/anulada-image.png' %}">
            {% endif %}
            <div class="panel">
                <div class="panel-body">
                    <div class="cabecera_factura">
                        <div class="row">
                            <div class="logo_cabecera col-sm-12 text-center">
                                {% if mi_veterinaria.foto %}
                                    <img style="margin: 0 auto;" id="logo_veterinaria" src='{{mi_veterinaria.foto.url}}' class="m-b-20 img-responsive" alt="Logo Veterinaria" width="170">
                                {% endif %}
                                <ul class="list-inline">
                                    <li>{{mi_veterinaria.nombre}}</li>
                                    {% if mi_veterinaria.nit %}
                                        <li>Nit: {{mi_veterinaria.nit}}</li>
                                    {% endif %}
                                    <li>{{ mi_veterinaria.direccion|default:"" }} ({{ mi_veterinaria.ciudad }})</li>
                                    <li>
                                        {% if mi_veterinaria.telefono %}
                                            {{ mi_veterinaria.telefono|default:"" }}
                                        {% elif mi_veterinaria.celular %}
                                            {{ mi_veterinaria.celular|default:"" }}
                                        {% elif mi_veterinaria.telefono and mi_veterinaria.celular %}
                                            {{ mi_veterinaria.telefono|default:"" }} - {{ mi_veterinaria.celular|default:"" }}
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="detalle_cabecera col-sm-12 text-center">
                                    <div class="titulo_factura">
                                        <h4 class="text-uppercase m-t-20" style="font-weight: bold;">Documento Equivalente
                                            {% if object.id < 10 %}
                                                #0000{{ object.id }}
                                            {% elif object.id < 100 %}
                                                #000{{ object.id }}
                                            {% elif object.id < 1000 %}
                                                #00{{ object.id }}
                                            {% elif object.id < 10000 %}
                                                #0{{ object.id }}
                                            {% elif object.id < 100000 %}
                                                #{{ object.id }}
                                            {% endif %}
                                        </h4>
                                        <ul class="list-unstyled">
                                            <li>Fecha: <span>{{ object.fecha }}</span></li>
                                            <li>Tipo de comprobante: <span>{{ object.tipo_comprobante }}</span></li>
                                        </ul>
                                    </div>
                                {% if object.cliente %}
                                <ul class="list-unstyled invoice-payment-details">
                                    <li><h5>Datos de tercero:</h5></li>
                                    <li><strong>{{ object.cliente.nombreCompleto }}</strong></li>
    
                                    {% if object.cliente.numero_documento %}
                                        <li><b>{{ object.cliente.tipo_documento }}:</b> {{ object.cliente.numero_documento }}</li>
                                    {% endif %}
                                    <li><b>Dirección:</b> {{ object.cliente.direccion }}</li>
                                    <li><b>Teléfonos: </b>{{ object.cliente.telefono }} - {{ object.cliente.celular }}</li>
                                </ul>
                                {% endif %}
                                {% if object.proveedor_nota_debito %}
                                <ul class="list-unstyled invoice-payment-details">
                                    <li><h5>Datos de tercero:</h5></li>
                                    <li><strong>{{ object.proveedor_nota_debito.nombre }}</strong></li>

                                    {% if object.proveedor_nota_debito.numero_documento %}
                                        <li><b>{{ object.proveedor_nota_debito.tipo_documento }}:</b> {{ object.proveedor_nota_debito.numero_documento }}</li>
                                    {% endif %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table tabla1">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Cant.</th>
                                    <th>Precio unidad</th>
                                    <th>Costo</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for pago_producto in productos_pago %}
                                <tr>                                 
                                    {% if pago_producto.tipo_de_venta == 'a granel'  %}
                                        <td>{{ pago_producto.producto.nombre }}</td>
                                        <td>{{ pago_producto.cantidad }} {{ pago_producto.producto.unidad_medida }}</td>
                                        <td>{{ pago_producto.producto.precio_por_unidad | intcomma}}</td>
                                        <td>$ {{ pago_producto.total | intcomma}}</td>
                                    {% else %}
                                        <td>{{ pago_producto.producto.nombre }}</td>
                                        <td>{{ pago_producto.cantidad }} </td>
                                        <td>{{ pago_producto.producto.precio_venta | intcomma}}</td>
                                        <td>$ {{ pago_producto.total | intcomma}}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            {% for pago_medicamento in medicamentos_pago %}
                                <tr>
                                    {% if pago_medicamento.tipo_de_venta == 'unidad'  %}
                                        <td>{{ pago_medicamento.medicamento.nombre }}</td>
                                        <td>{{ pago_medicamento.cantidad }}</td>
                                        <td>{{ pago_medicamento.medicamento.precio_venta | intcomma}}</td>
                                        <td>$ {{ pago_medicamento.total | intcomma}}</td>
                                    {% else %}
                                        <td>{{ pago_medicamento.medicamento.nombre }}</td>
                                        <td>{{ pago_medicamento.cantidad }} {{ pago_medicamento.medicamento.unidad_medida }}</td>
                                        <td>{{ pago_medicamento.medicamento.precio_por_unidad | intcomma}}</td>
                                        <td>$ {{ pago_medicamento.total | intcomma}}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            {% for pago_vacuna in vacunas_pago %}
                                <tr>
                                    {% if pago_vacuna.tipo_de_venta == 'unidad'  %}
                                        <td>{{ pago_vacuna.vacuna.nombre }}</td>
                                        <td>{{ pago_vacuna.cantidad }}</td>
                                        <td>{{ pago_vacuna.vacuna.precio_venta | intcomma}}</td>
                                        <td>$ {{ pago_vacuna.total | intcomma}}</td>
                                    {% else %}
                                        <td>{{ pago_vacuna.vacuna.nombre }}</td>
                                        <td>{{ pago_vacuna.cantidad }} {{ pago_vacuna.vacuna.unidad_medida }}</td>
                                        <td>{{ pago_vacuna.vacuna.precio_por_unidad | intcomma}}</td>
                                        <td>$ {{ pago_vacuna.total | intcomma}}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            {% for pago_desparasitante in desparasitantes_pago %}
                                <tr>
                                    {% if pago_desparasitante.tipo_de_venta == 'unidad'  %}
                                        <td>{{ pago_desparasitante.desparasitante.nombre }}</td>
                                        <td>{{ pago_desparasitante.cantidad }}</td>
                                        <td>{{ pago_desparasitante.desparasitante.precio_venta | intcomma}}</td>
                                        <td>$ {{ pago_desparasitante.total | intcomma}}</td>
                                    {% else %}
                                        <td>{{ pago_desparasitante.desparasitante.nombre }}</td>
                                        <td>{{ pago_desparasitante.cantidad }} {{ pago_desparasitante.desparasitante.unidad_medida }}</td>
                                        <td>{{ pago_desparasitante.desparasitante.precio_por_unidad | intcomma}}</td>
                                        <td>$ {{ pago_desparasitante.total | intcomma}}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            {% for pago_elemento_inventario in elementos_inventario_pago %}
                                <tr>
                                    {% if pago_elemento_inventario.tipo_de_venta == 'unidad'  %}
                                        <td>{{ pago_elemento_inventario.elemento.nombre }}</td>
                                        <td>{{ pago_elemento_inventario.cantidad }}</td>
                                        <td>{{ pago_elemento_inventario.elemento.precio_venta | intcomma}}</td>
                                        <td>$ {{ pago_elemento_inventario.total | intcomma}}</td>
                                    {% else %}
                                        <td>{{ pago_elemento_inventario.elemento.nombre }}</td>
                                        <td>{{ pago_elemento_inventario.cantidad }} {{ pago_elemento_inventario.elemento.unidad_medida }}</td>
                                        <td>{{ pago_elemento_inventario.elemento.precio_por_unidad | intcomma}}</td>
                                        <td>$ {{ pago_elemento_inventario.total | intcomma}}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            {% for pago_tratamiento in tratamientos_pago %}
                                <tr>
                                    <td>
                                        {% if pago_tratamiento.tratamiento.tratamiento %}
                                            Cita medica - {{ pago_tratamiento.tratamiento.motivo_cita.nombre }} - {{ pago_tratamiento.tratamiento.mascota.nombre }}
                                        {% else %}
                                            Cita médica - {{ pago_tratamiento.tratamiento.motivo_cita.nombre }} - {{ pago_tratamiento.tratamiento.mascota.nombre }}
                                        {% endif %}
                                    </td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>$ {{ pago_tratamiento.total | intcomma}}</td>
                                </tr>
                            {% endfor %}
                            {% for pago_area_consulta in areas_consulta_pago %}
                                <tr>
                                    <td>
                                        Cita medica - {{ pago_area_consulta.area_consulta.area_consulta.nombre }} - {{ pago_area_consulta.area_consulta.historia_clinica.mascota.nombre }}
                                    </td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>$ {{ pago_area_consulta.total | intcomma}}</td>
                                </tr>
                            {% endfor %}
                            {% for pago_estetica in esteticas_pago %}
                                <tr>
                                    <td>Estetica {{ pago_estetica.estetica.tipo_estetica }} - {{ pago_estetica.estetica.mascota.nombre }}</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>$ {{ pago_estetica.total | intcomma}}</td>
                                </tr>
                            {% endfor %}
                            {% for pago_vacunacion in vacunaciones_pago %}
                                <tr>
                                    <td>
                                        Vacunacion:
                                        {% for vacunacion_aplicada in vacunaciones_aplicadas %}
                                            {% if vacunacion_aplicada.vacunacion.id == pago_vacunacion.vacunacion.id %}
                                            {{ vacunacion_aplicada.vacuna.nombre }}.
                                            {% endif %}
                                        {% endfor %}
                                        - {{ pago_vacunacion.vacunacion.mascota.nombre }}
                                    </td>
                                    <td>
                                        {% for vacunacion_aplicada in vacunaciones_aplicadas %}
                                            {% if vacunacion_aplicada.vacunacion.id == pago_vacunacion.vacunacion.id %}
                                            {{ vacunacion_aplicada.cantidad }} {{ vacunacion_aplicada.unidad }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>-</td>
                                    <td>$ {{ pago_vacunacion.total | intcomma}}</td>
                                </tr>
                            {% endfor %}
                            {% for pago_desparasitacion in desparasitaciones_pago %}
                                <tr>
                                    <td>
                                        Desparasitación:
                                        {% for desparasitacion_aplicada in desparasitaciones_aplicadas %}
                                            {% if desparasitacion_aplicada.desparasitacion.id == pago_desparasitacion.desparasitacion.id %}
                                            {{ desparasitacion_aplicada.desparasitante.nombre }}.
                                            {% endif %}
                                        {% endfor %}
                                        - {{ pago_desparasitacion.desparasitacion.mascota.nombre }}
                                    </td>
                                    <td>
                                        {% for desparasitacion_aplicada in desparasitaciones_aplicadas %}
                                            {% if desparasitacion_aplicada.desparasitacion.id == pago_desparasitacion.desparasitacion.id %}
                                            {{ desparasitacion_aplicada.cantidad }} {{ desparasitacion_aplicada.unidad }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>-</td>
                                    <td>$ {{ pago_desparasitacion.total | intcomma}}</td>
                                </tr>
                            {% endfor %}
                            {% for pago_guarderia in guarderias_pago %}
                                <tr>
                                    <td>{{ pago_guarderia.guarderia.fecha_inicio }} - {{ pago_guarderia.guarderia.fecha_fin }} ({{ pago_guarderia.guarderia.mascota.nombre }})</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>$ {{ pago_guarderia.total | intcomma}}</td>
                                </tr>
                            {% endfor %}
                            {% for pago_otro in otros_pago %}
                                <tr>
                                    <td>{{ pago_otro.descripcion }}</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>$ {{ pago_otro.total | intcomma}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div style="">
                        <div class="table-responsive">
                            <table class="table tabla1">
                                <tbody>
                                    <tr>
                                        <td class="text-center" colspan="3">
                                            <h4>Total a pagar</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" colspan="2"><b>Subtotal:</b></td>
                                        <td>$ {{ object.sub_total | intcomma}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" colspan="2"><b>Descuento:</b></td>
                                        <td>$ {{ object.descuento | intcomma}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" colspan="2"><b>Total:</b></td>
                                        <td>$ {{ object.total_factura | intcomma}}</td>
                                    </tr>
                                    {% if object.forma_pago == 'Credito' %}
                                        <tr>
                                            <td class="text-right" colspan="2"><b>Forma de pago:</b></td>
                                            <td>Credito</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right" colspan="2"><b>Saldo:</b></td>
                                            <td>$ {{ object.saldo | intcomma}}</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        {% if abonos %}
                        <div class="table-responsive">
                            <table class="table tabla1">
                                <tbody>
                                    <tr>
                                        <td class="text-center" colspan="3">
                                            <h4>Abonos</h4>
                                        </td>
                                    </tr>
                                    {% for abono in abonos %}
                                    <tr>
                                        <td class="text-right" colspan="2"><b>{{ abono.fecha.date }} a las {{ abono.fecha | date:"h:i a" }}</b></td>
                                        <td>$ {{ abono.valor_abonado |intcomma}} ({{ abono.medio_pago }})</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                        {% if medios_pago %}
                        <div class="table-responsive">
                            <table class="table tabla1">
                                <tbody>
                                    <tr>
                                        <td class="text-center" colspan="3">
                                            <h4>Medios de pago</h4>
                                        </td>
                                    </tr>
                                    {% for medio_pago in medios_pago %}
                                    <tr>
                                        <td class="text-right" colspan="2"><b>{{ medio_pago.medio_pago }}</b></td>
                                        <td>$ {{ medio_pago.valor_pagado | intcomma}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                    {% if object.comentarios %}
                        <div class="col-sm-12 invoice-info">
                            <h5 class="text-center"><b>Informacion adicional</b></h5>
                            <p class="text-muted">{{ object.comentarios }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
</div>
<div class="row hidden" id="factura_imprimir_pos">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="cabecera_factura">
                        <div class="row">
                            <div class="logo_cabecera col-sm-12 text-center">
                                {% if mi_veterinaria.foto and mi_veterinaria.imprimir_logo %}
                                    <img style="margin: 0 auto;" id="logo_veterinaria" src='{{mi_veterinaria.foto.url}}' class="m-b-20 img-responsive" alt="" width="350">
                                {% endif %}
                                <ul class="list-inline">
                                    <li>{{mi_veterinaria.nombre}}</li><br/>
                                    {% if mi_veterinaria.nit %}
                                        <li>Nit: {{mi_veterinaria.nit}}</li>
                                    {% endif %}
                                    <li>{{mi_veterinaria.direccion}} ({{mi_veterinaria.ciudad}})</li>
                                    <li>{{mi_veterinaria.telefono}} - {{mi_veterinaria.celular}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="detalle_cabecera col-sm-12 text-center">
                                    <div class="titulo_factura">
                                        <h4 class="text-uppercase m-t-20" style="font-weight: bold;">Documento Equivalente
                                            {% if object.id < 10 %}
                                                #0000{{ object.id }}
                                            {% elif object.id < 100 %}
                                                #000{{ object.id }}
                                            {% elif object.id < 1000 %}
                                                #00{{ object.id }}
                                            {% elif object.id < 10000 %}
                                                #0{{ object.id }}
                                            {% elif object.id < 100000 %}
                                                #{{ object.id }}
                                            {% endif %}
                                        </h4>
                                        <ul class="list-unstyled">
                                            <li>Fecha: <span>{{ object.fecha }}</span></li>
                                        </ul>
                                    </div>
                                {% if object.cliente %}
                                <ul class="list-unstyled invoice-payment-details">
                                    <li><h5>Datos de tercero:</h5></li>
                                    <li><strong>{{ object.cliente.nombreCompleto }}</strong></li>

                                    {% if object.cliente.numero_documento %}
                                        <li><b>{{ object.cliente.tipo_documento }}:</b> {{ object.cliente.numero_documento }}</li>
                                    {% endif %}
                                    <li><b>Dirección:</b> {{ object.cliente.direccion }}</li>
                                    <li><b>Teléfonos: </b>{{ object.cliente.telefono }} - {{ object.cliente.celular }}</li>
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table tabla1">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Cant.</th>
                                    <th>Precio unidad</th>
                                    <th>Costo</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for pago_producto in productos_pago %}
                                <tr>
                                    {% if pago_producto.tipo_de_venta == 'a granel'  %}
                                        <td>{{ pago_producto.producto.nombre }}</td>
                                        <td>{{ pago_producto.cantidad }} {{ pago_producto.producto.unidad_medida }}</td>
                                        <td>{{ pago_producto.producto.precio_por_unidad | intcomma}}</td>
                                        <td>$ {{ pago_producto.total | intcomma}}</td>
                                    {% else %}
                                        <td>{{ pago_producto.producto.nombre }}</td>
                                        <td>{{ pago_producto.cantidad }} </td>
                                        <td>{{ pago_producto.producto.precio_venta | intcomma}}</td>
                                        <td>$ {{ pago_producto.total | intcomma}}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            {% for pago_medicamento in medicamentos_pago %}
                                <tr>
                                    {% if pago_medicamento.tipo_de_venta == 'unidad'  %}
                                        <td>{{ pago_medicamento.medicamento.nombre }}</td>
                                        <td>{{ pago_medicamento.cantidad }}</td>
                                        <td>{{ pago_medicamento.medicamento.precio_venta | intcomma}}</td>
                                        <td>$ {{ pago_medicamento.total | intcomma}}</td>
                                    {% else %}
                                        <td>{{ pago_medicamento.medicamento.nombre }}</td>
                                        <td>{{ pago_medicamento.cantidad }} {{ pago_medicamento.medicamento.unidad_medida }}</td>
                                        <td>{{ pago_medicamento.medicamento.precio_por_unidad | intcomma}}</td>
                                        <td>$ {{ pago_medicamento.total | intcomma}}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            {% for pago_vacuna in vacunas_pago %}
                                <tr>
                                    {% if pago_vacuna.tipo_de_venta == 'unidad'  %}
                                        <td>{{ pago_vacuna.vacuna.nombre }}</td>
                                        <td>{{ pago_vacuna.cantidad }}</td>
                                        <td>{{ pago_vacuna.vacuna.precio_venta | intcomma}}</td>
                                        <td>$ {{ pago_vacuna.total | intcomma}}</td>
                                    {% else %}
                                        <td>{{ pago_vacuna.vacuna.nombre }}</td>
                                        <td>{{ pago_vacuna.cantidad }} {{ pago_vacuna.vacuna.unidad_medida }}</td>
                                        <td>{{ pago_vacuna.vacuna.precio_por_unidad | intcomma}}</td>
                                        <td>$ {{ pago_vacuna.total | intcomma}}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            {% for pago_desparasitante in desparasitantes_pago %}
                                <tr>
                                    {% if pago_desparasitante.tipo_de_venta == 'unidad'  %}
                                        <td>{{ pago_desparasitante.desparasitante.nombre }}</td>
                                        <td>{{ pago_desparasitante.cantidad }}</td>
                                        <td>{{ pago_desparasitante.desparasitante.precio_venta | intcomma}}</td>
                                        <td>$ {{ pago_desparasitante.total | intcomma}}</td>
                                    {% else %}
                                        <td>{{ pago_desparasitante.desparasitante.nombre }}</td>
                                        <td>{{ pago_desparasitante.cantidad }} {{ pago_desparasitante.desparasitante.unidad_medida }}</td>
                                        <td>{{ pago_desparasitante.desparasitante.precio_por_unidad | intcomma}}</td>
                                        <td>$ {{ pago_desparasitante.total | intcomma}}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            {% for pago_elemento_inventario in elementos_inventario_pago %}
                                <tr>
                                    {% if pago_elemento_inventario.tipo_de_venta == 'unidad'  %}
                                        <td>{{ pago_elemento_inventario.elemento.nombre }}</td>
                                        <td>{{ pago_elemento_inventario.cantidad }}</td>
                                        <td>{{ pago_elemento_inventario.elemento.precio_venta | intcomma}}</td>
                                        <td>$ {{ pago_elemento_inventario.total | intcomma}}</td>
                                    {% else %}
                                        <td>{{ pago_elemento_inventario.elemento.nombre }}</td>
                                        <td>{{ pago_elemento_inventario.cantidad }} {{ pago_elemento_inventario.elemento.unidad_medida }}</td>
                                        <td>{{ pago_elemento_inventario.elemento.precio_por_unidad | intcomma}}</td>
                                        <td>$ {{ pago_elemento_inventario.total | intcomma}}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            {% for pago_tratamiento in tratamientos_pago %}
                                <tr>
                                    <td>
                                        {% if pago_tratamiento.tratamiento.tratamiento %}
                                        Cita medica - {{ pago_tratamiento.tratamiento.motivo_cita.nombre }} - {{ pago_tratamiento.tratamiento.mascota.nombre }}
                                        {% else %}
                                            Cita médica - {{ pago_tratamiento.tratamiento.motivo_cita.nombre }} - {{ pago_tratamiento.tratamiento.mascota.nombre }}
                                        {% endif %}
                                    </td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>$ {{ pago_tratamiento.total | intcomma}}</td>
                                </tr>
                            {% endfor %}
                            {% for pago_area_consulta in areas_consulta_pago %}
                                <tr>
                                    <td>
                                        {% if pago_area_consulta.area_consulta.area_consulta %}
                                            Cita medica - {{ pago_area_consulta.area_consulta.area_consulta }} - {{ pago_area_consulta.area_consulta.historia_clinica.mascota.nombre }}
                                        {% else %}
                                            Cita medica
                                        {% endif %}
                                    </td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>$ {{ pago_area_consulta.total | intcomma}}</td>
                                </tr>
                            {% endfor %}
                            {% for pago_estetica in esteticas_pago %}
                                <tr>
                                    <td>{{ pago_estetica.estetica.tipo_estetica }} - {{ pago_estetica.estetica.mascota.nombre }}</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>$ {{ pago_estetica.total | intcomma}}</td>
                                </tr>
                            {% endfor %}
                            {% for pago_vacunacion in vacunaciones_pago %}
                                <tr>
                                    <td>
                                        Vacunación:
                                        {% for vacunacion_aplicada in vacunaciones_aplicadas %}
                                            {% if vacunacion_aplicada.vacunacion.id == pago_vacunacion.vacunacion.id %}
                                            {{ vacunacion_aplicada.vacuna.nombre }}.
                                            {% endif %}
                                        {% endfor %}
                                        - {{ pago_vacunacion.vacunacion.mascota.nombre }}
                                    </td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>$ {{ pago_vacunacion.total | intcomma}}</td>
                                </tr>
                            {% endfor %}
                            {% for pago_desparasitacion in desparasitaciones_pago %}
                                <tr>
                                    <td>
                                        Desparasitación:
                                        {% for desparasitacion_aplicada in desparasitaciones_aplicadas %}
                                            {% if desparasitacion_aplicada.desparasitacion.id == pago_desparasitacion.desparasitacion.id %}
                                            {{ desparasitacion_aplicada.desparasitante.nombre }}.
                                            {% endif %}
                                        {% endfor %}
                                        - {{ pago_desparasitacion.desparasitacion.mascota.nombre }}
                                    </td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>$ {{ pago_desparasitacion.total | intcomma}}</td>
                                </tr>
                            {% endfor %}
                            {% for pago_guarderia in guarderias_pago %}
                                <tr>
                                    <td>{{ pago_guarderia.guarderia.fecha_inicio }} - {{ pago_guarderia.guarderia.fecha_fin }} ({{ pago_guarderia.guarderia.mascota.nombre }})</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>$ {{ pago_guarderia.total | intcomma}}</td>
                                </tr>
                            {% endfor %}
                            {% for pago_otro in otros_pago %}
                                <tr>
                                    <td>{{ pago_otro.descripcion }}</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>$ {{ pago_otro.total | intcomma}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table tabla1">
                            <tbody>
                                <tr>
                                    <td class="text-center" colspan="3">
                                        <h4>Total a pagar</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right" colspan="2"><b>Subtotal:</b></td>
                                    <td>$ {{ object.sub_total | intcomma}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right" colspan="2"><b>Descuento:</b></td>
                                    <td>$ {{ object.descuento | intcomma}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right" colspan="2"><b>Total:</b></td>
                                    <td>$ {{ object.total_factura | intcomma}}</td>
                                </tr>
                                {% if object.forma_pago == 'Credito' %}
                                    <tr>
                                        <td class="text-right" colspan="2"><b>Forma de pago:</b></td>
                                        <td>Credito</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" colspan="2"><b>Saldo:</b></td>
                                        <td>$ {{ object.saldo | intcomma}}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    {% if abonos %}
                    <div class="table-responsive">
                        <table class="table tabla1">
                            <tbody>
                                <tr>
                                    <td class="text-center" colspan="3">
                                        <h4>Abonos</h4>
                                    </td>
                                </tr>
                                {% for abono in abonos %}
                                <tr>
                                    <td class="text-right" colspan="2"><b>{{ abono.fecha.date }} a las {{ abono.fecha | date:"h:i a" }}</b></td>
                                    <td>$ {{ abono.valor_abonado |intcomma}} ({{ abono.medio_pago }})</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    {% if medios_pago %}
                    <div class="table-responsive">
                        <table class="table tabla1">
                            <tbody>
                                <tr>
                                    <td class="text-center" colspan="3">
                                        <h4>Medios de pago</h4>
                                    </td>
                                </tr>
                                {% for medio_pago in medios_pago %}
                                <tr>
                                    <td class="text-right" colspan="2"><b>{{ medio_pago.medio_pago }}</b></td>
                                    <td>$ {{ medio_pago.valor_pagado | intcomma}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    {% if object.comentarios %}
                        <div class="invoice-info">
                            <h5 class="text-center"><b>Informacion adicional</b></h5>
                            <p class="text-muted">{{ object.comentarios }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
</div>

{% endblock content %}

{% block plugins %}
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
    <script type="text/javascript">

        function printData()
        {
            var htmlToPrint = '' +
                '<style type="text/css">' +
                'table {' +
                'border: solid #000 !important;' +
                'border-width: 1px 0 0 1px !important;' +
                'width: 100%;'+
                '}' +
                'th, td {' +
                'border: solid #000 !important;' +
                'border-width: 0 1px 1px 0 !important;' +
                'min-width: 100px;' +
                '}' +
                '.tabla2 {' +
                'border: solid #000 !important;' +
                'border-width: 1px 0 0 1px !important;' +
                'width: 50%;'+
                '}' +
                'ul {' +
                'list-style: none;'+
                'padding-left: 0;'+
                '}'+
                '.titulo_factura {' +
                'display: none;'+
                '}'+
                '.total_pagar {' +
                'align-self: flex-end;'+
                '}'+
                '</style>';
           var divToPrint=document.getElementById("factura_imprimir");

           var newWin= window.open('', 'popUp');

           newWin.document.write(htmlToPrint);
           newWin.document.write(divToPrint.outerHTML);
           //newWin.document.close();
           //newWin.document.write(divToPrintFirma);
           newWin.print();
           newWin.close();
        }

        $('#boton_imprimir').on('click',function(e){
            e.preventDefault();
            //printData();
            //window.print();
            //document.getElementById("factura_imprimir").print();
            var originalContents = document.body.innerHTML;
            var printContents = document.getElementById("factura_imprimir").innerHTML;

            document.body.innerHTML = printContents;

            
            setTimeout(function(){ 
                window.print();
                setTimeout(function(){ 
                    document.body.innerHTML = originalContents;
                }, 500);
            }, 700);

            

            
        });
        $('#boton_imprimir_pos').on('click',function(e){
            e.preventDefault();
            var originalContents = document.body.innerHTML;
            $('factura_imprimir_pos').toggleClass('hidden');
            $('factura_imprimir').toggleClass('hidden');
            var printContents = document.getElementById("factura_imprimir_pos").innerHTML;
            document.body.innerHTML = printContents;

            
            setTimeout(function(){ 
                window.print(); 
                document.body.innerHTML = originalContents;
            }, 500);
            
        })

        $('#boton_guardar_pdf').on('click',function(e){
            var element = document.getElementById('factura_imprimir');
            console.log("Click en generar PDF... id:", '{{ object.id }}');
            html2pdf(element);
            /*$.ajax({
                url: '/productos/ajax/datos_impresion_venta/',
                data: {
                    'id_venta': '{{ object.id }}'
                },
                dataType: 'json',
                success: function (data) {
                    datos_venta = JSON.parse(data.datos_venta);
                    console.log("datos_venta: ", datos_venta);
                }
            });*/
        })
    </script>
{% endblock %}