{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}
<div class="modal-dialog modal-md">
    <div class="modal-content animated fadeIn">
        <div class="modal-header">
            <div  style="width: 100%; display: flex;justify-content:space-between;">
                {% if tipo_elemento == 'categoria' %}
                    <h4 class="modal-title">Detalle de {{ object.categoria.nombre }}</h4>
                {% else %}
                    <h4 class="modal-title">Detalle de {{ tipo_elemento }}</h4>
                {% endif %}
                <div>
                    {% if user.usuario.roles == "Administrador"%}
                        {% if tipo_elemento == 'medicamento' %}
                            {% if not historial_compras and not historial_ventas %}
                                <a onclick="EliminarMedicamento('{{object.id}}', '{{object.nombre}}');" style="cursor: pointer;" title="Eliminar" class="action-icon dropdown-toggle"><i class="fa fa-trash m-r-5"></i></a>
                            {% else %}
                                <a onclick="InactivarMedicamento('{{object.id}}', '{{object.nombre}}');" style="cursor: pointer;" title="Eliminar" class="action-icon dropdown-toggle"><i class="fa fa-trash m-r-5"></i></a>
                            {% endif %}
                        <a href="{% url 'editar_medicamento' object.id %}" title="Editar" class="action-icon dropdown-toggle"><i class="fa fa-pencil m-r-5"></i></a>
                        <a href="{% url 'cambiar_categoria' 'medicamento' object.id %}" title="Cambiar categoria" class="action-icon dropdown-toggle"><i class="fa fa-exchange m-r-5"></i></a>
                        {% elif tipo_elemento == 'insumo' %}
                            {% if not historial_compras and not historial_ventas %}
                                <a onclick="EliminarInsumo('{{object.id}}', '{{object.nombre}}');" style="cursor: pointer;" title="Eliminar" class="action-icon dropdown-toggle"><i class="fa fa-trash m-r-5"></i></a>
                            {% else %}
                                <a onclick="InactivarInsumo('{{object.id}}', '{{object.nombre}}');" style="cursor: pointer;" title="Eliminar" class="action-icon dropdown-toggle"><i class="fa fa-trash m-r-5"></i></a>
                            {% endif %}
                        <a href="{% url 'editar_insumo' object.id %}" title="Editar" class="action-icon dropdown-toggle"><i class="fa fa-pencil m-r-5"></i></a>
                        <a href="{% url 'cambiar_categoria' 'insumo' object.id %}" title="Cambiar categoria" class="action-icon dropdown-toggle"><i class="fa fa-exchange m-r-5"></i></a>
                        {% elif tipo_elemento == 'desparasitante' %}
                            {% if not historial_compras and not historial_ventas %}
                                <a onclick="EliminarDesparacitante('{{object.id}}', '{{object.nombre}}');" style="cursor: pointer;" title="Eliminar" class="action-icon dropdown-toggle"><i class="fa fa-trash m-r-5"></i></a>
                            {% else %}
                                <a onclick="InactivarDesparacitante('{{object.id}}', '{{object.nombre}}');" style="cursor: pointer;" title="Eliminar" class="action-icon dropdown-toggle"><i class="fa fa-trash m-r-5"></i></a>
                            {% endif %}
                        <a href="{% url 'editar_desparasitante' object.id %}" title="Editar" class="action-icon dropdown-toggle"><i class="fa fa-pencil m-r-5"></i></a>
                        <a href="{% url 'cambiar_categoria' 'desparasitante' object.id %}" title="Cambiar categoria" class="action-icon dropdown-toggle"><i class="fa fa-exchange m-r-5"></i></a>
                        {% elif tipo_elemento == 'vacuna' %}
                            {% if not historial_compras and not historial_ventas %}
                                <a onclick="EliminarVacuna('{{object.id}}', '{{object.nombre}}');" style="cursor: pointer;" title="Eliminar" class="action-icon dropdown-toggle"><i class="fa fa-trash m-r-5"></i></a>
                            {% else %}
                                <a onclick="InactivarVacuna('{{object.id}}', '{{object.nombre}}');" style="cursor: pointer;" title="Eliminar" class="action-icon dropdown-toggle"><i class="fa fa-trash m-r-5"></i></a>
                            {% endif %}
                        <a href="{% url 'editar_vacuna' object.id %}" title="Editar" class="action-icon dropdown-toggle"><i class="fa fa-pencil m-r-5"></i></a>
                        <a href="{% url 'cambiar_categoria' 'vacuna' object.id %}" title="Cambiar categoria" class="action-icon dropdown-toggle"><i class="fa fa-exchange m-r-5"></i></a>
                        {% elif tipo_elemento == 'producto' %}
                            {% if not historial_compras and not historial_ventas %}
                                <a onclick="EliminarProducto('{{object.id}}', '{{object.nombre}}');" style="cursor: pointer;" title="Eliminar" class="action-icon dropdown-toggle"><i class="fa fa-trash m-r-5"></i></a>
                            {% else %}
                                <a onclick="InactivarProducto('{{object.id}}', '{{object.nombre}}');" style="cursor: pointer;" title="Eliminar" class="action-icon dropdown-toggle"><i class="fa fa-trash m-r-5"></i></a>
                            {% endif %}
                        <!--a href="{% url 'registrar_paquete_producto' object.id %}" title="Registrar paquete" class="action-icon dropdown-toggle"><i class="fa fa-cube m-r-5"></i></a-->
                        <a href="{% url 'editar_producto' object.id %}" title="Editar" class="action-icon dropdown-toggle"><i class="fa fa-pencil m-r-5"></i></a>
                        <a href="{% url 'cambiar_categoria' 'producto' object.id %}" title="Cambiar categoria" class="action-icon dropdown-toggle"><i class="fa fa-exchange m-r-5"></i></a>
                        {% elif tipo_elemento == 'paquete' %}
                            {% if not historial_compras and not historial_ventas %}
                                <a onclick="EliminarPaquete('{{object.id}}', '{{object.nombre}}');" style="cursor: pointer;" title="Eliminar" class="action-icon dropdown-toggle"><i class="fa fa-trash m-r-5"></i></a>
                            {% endif %}
                        <a href="{% url 'editar_paquete_producto' object.id %}" title="Editar" class="action-icon dropdown-toggle"><i class="fa fa-pencil m-r-5"></i></a>
                        {% elif tipo_elemento == 'categoria' %}
                            {% if not historial_compras and not historial_ventas %}
                                <a onclick="EliminarElementoCategoria('{{object.id}}', '{{object.nombre}}');" style="cursor: pointer;" title="Eliminar" class="action-icon dropdown-toggle"><i class="fa fa-trash m-r-5"></i></a>
                            {% else %}
                                <a onclick="InactivarElementoCategoria('{{object.id}}', '{{object.nombre}}');" style="cursor: pointer;" title="Eliminar" class="action-icon dropdown-toggle"><i class="fa fa-trash m-r-5"></i></a>
                            {% endif %}
                        <a href="{% url 'editar_elemento_categoria' object.id %}" title="Editar" class="action-icon dropdown-toggle"><i class="fa fa-pencil m-r-5"></i></a>
                        <a href="{% url 'cambiar_categoria' object.categoria.id object.id %}" title="Cambiar categoria" class="action-icon dropdown-toggle"><i class="fa fa-exchange m-r-5"></i></a>
                        {% endif %}
                    {% endif %}
                    <a href="#" title="Cerrar" class="action-icon dropdown-toggle" data-dismiss="modal"><i class="fa fa-times m-r-5"></i></a>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div style="display: flex;flex-wrap: wrap;">
                <div style="flex-basis: 0;flex-grow: 1;margin-right: 30px;align-content: center;">
                    {% if object.foto %}
                    <img alt="" src="{{ object.foto.url }}" width="300px;">
                    {% else %}
                        {% if tipo_elemento == 'paquete' %}
                            <div style="height: 100%;display: flex; justify-content: center; align-items: center;">
                            <i v-else class="fa fa-cubes fa-5x"></i>
                            </div>
                        {% else %}
                            <img alt="" src="{% static 'img/producto_sin_foto.jpg' %}" width="300px;">
                        {% endif %}
                    {% endif %}
                </div>
                <div style="flex-basis: 0;flex-grow: 1;">
                    <p><strong>Nombre: </strong> {{ object.nombre }}</p>

                    {% if object.producto %}
                    <p><strong>Producto: </strong> {{ object.producto }}</p>
                    {% endif %}

                    {% if object.numero_productos_paquete %}
                    <p><strong>Cantidad por paquete: </strong> {{ object.numero_productos_paquete }}</p>
                    {% endif %}

                    {% if object.codigo %}
                        {% if tipo_elemento == 'producto'%}
                            <p><strong>Código: </strong> {{ object.codigo }}</p>
                        {% else %}
                            <p><strong>Número de lote: </strong> {{ object.codigo }}</p>
                        {% endif %}
                    {% endif %}
                    
                    {% if object.codigo_inventario %}
                        <p><strong>Código: </strong> {{ object.codigo_inventario }}</p>
                    {% endif %}

                    {% if object.fecha_vencimiento %}
                        <p><strong>Fecha de vencimiento: </strong> {{ object.fecha_vencimiento }}</p>
                    {% endif %}

                    {% if object.stock_minimo %}
                        <p><strong>Stock minimo: </strong> {{ object.stock_minimo }}</p>
                    {% endif %}

                    {% if object.tipo_paquete %}
                    <p><strong>Tipo de paquete: </strong> {{ object.tipo_paquete }}</p>
                    {% endif %}

                    {% if object.descripcion %}
                    <p><strong>Descripción: </strong> {{ object.descripcion }}</p>
                    {% endif %}


                    <p><strong>Disponible: </strong> {{ disponibilidad }}</p>


                    {% if object.cantidad_disponible %}
                    <p><strong>Paquetes disponibles: </strong> {{ object.cantidad_disponible }}</p>
                    {% endif %}

                    {% if tipo_elemento != 'insumo' %}
                        {% if object.tipo_uso == 'Interno' %}
                            <p><strong>Tipo de uso: </strong><span class="label label-default" style="background-color:#00dba0;">{{ object.tipo_uso }}</span></p>
                        {% elif object.tipo_uso == 'Comercial' %}
                            <p><strong>Tipo de uso: </strong><span class="label label-default" style="background-color:#ffaa00;">{{ object.tipo_uso }}</span></p>
                        {% elif object.tipo_uso == 'Interno/Comercial' %}
                            <p><strong>Tipo de uso: </strong><span class="label label-default" style="background-color:#6401ff;">{{ object.tipo_uso }}</span></p>
                        {% endif %}
                    {% endif %}

                    {% if tipo_elemento != 'insumo' %}
                    <p><strong>Precio de venta: </strong>${{ object.precio_venta | intcomma }}</p>
                    {% endif %}

                    <p><strong>Precio de compra: </strong>${{ object.precio_compra | intcomma }}</p>

                    {% if object.cantidad_por_unidad %}
                    <p><strong>Cantidad por unidad:</strong> {{ object.cantidad_unidad }} {{ object.unidad_medida }} </p>
                        {% if tipo_elemento != 'insumo' %}
                            <p><strong>Precio unidad granel</strong> ${{ object.precio_por_unidad | intcomma }} </p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if historial_inventario or historial_compras or historial_ventas %}
            <div style="margin-top: 30px;">
                <h3 align="center">Historial</h3>
                <ul class="nav nav-tabs nav-tabs-solid nav-justified m-b-30">
                    <li class="active"><a data-toggle="tab" href="#inventario">Inventario</a></li>
                    {% if historial_compras %}
                    <li><a data-toggle="tab" href="#compras">Compras</a></li>
                    {% endif %}

                    {% if historial_ventas %}
                    <li><a data-toggle="tab" href="#ventas">Ventas</a></li>
                    {% endif %}
                </ul>
                <div class="tab-content">
                    <div id="inventario" class="tab-pane active">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Operación</th>
                                    <th>Responsable</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for transaccion in historial_inventario %}
                                    <tr>
                                        <td>
                                            {{ transaccion.fecha }}
                                        </td>
                                        <td>
                                            {{ transaccion.nombre_transaccion }}
                                        </td>
                                        <td>
                                            {{ transaccion.responsable | default:'-'}}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="compras" class="tab-pane">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Operación</th>
                                    <th class="text-center">Proveedor</th>
                                    <th>Precio</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for transaccion in historial_compras %}
                                    <tr>
                                        <td>
                                            {{ transaccion.fecha }}
                                        </td>
                                        <td>
                                            <a href="{% url 'detalle_compra' transaccion.id_transaccion %}" style="color: #076ff1" title="Ver detalle">
                                                {{ transaccion.nombre_transaccion }}
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            {% for compra in compras %}
                                                {% if transaccion.id_transaccion == compra.gasto.id %}
                                                    {% if compra.gasto.proveedor %}
                                                        {{compra.gasto.proveedor.nombre}}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td style="min-width: 100px;">
                                            {% for compra in compras %}
                                                {% if transaccion.id_transaccion == compra.gasto.id %}
                                                    $ {{compra.precio_total | intcomma}}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="ventas" class="tab-pane">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Operación</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for transaccion in historial_ventas %}
                                    <tr>
                                        <td>
                                            {{ transaccion.fecha }}
                                        </td>
                                        <td>
                                            {% if tipo_elemento != 'desparasitante' and tipo_elemento != 'vacuna' %}
                                            <a href="{% url 'detalle_pago' transaccion.id_transaccion %}" style="color: #076ff1" title="Ver detalle">{{ transaccion.nombre_transaccion }}</a>
                                            {% else %}
                                            {{ transaccion.nombre_transaccion }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>

function EliminarVacuna(id, nombre) {

    swal({
                title: "Estas seguro que deseas eliminar la vacuna "+nombre+"?",
                text: "La vacuna y toda la informacion asociada a ella sera eliminada permanenetemente.",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No, cancelar",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Si, eliminar permanentemente!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: '/vacunacion/eliminar_vacuna/',
                        data: {
                          'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.replace("/productos/listar_productos/");
                        }
                    });
                } 
            });
    }

function InactivarVacuna(id, nombre) {

    swal({
                title: "Estas seguro que deseas eliminar la vacuna "+nombre+"?",
                text: "La vacuna y toda la informacion asociada a ella sera eliminada permanenetemente.",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No, cancelar",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Si, eliminar permanentemente!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: '/vacunacion/inactivar_vacuna/',
                        data: {
                          'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.replace("/productos/listar_productos/");
                        }
                    });
                }
            });
    }

function EliminarDesparacitante(id, nombre) {

    swal({
            title: "Estas seguro que deseas eliminar el desparacitante "+nombre+"?",
            text: "El desparacitante y toda la informacion asociada a el será eliminada permanenetemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: '/desparasitacion/eliminar_desparacitante/',
                    data: {
                      'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.replace("/productos/listar_productos/");
                    }
                });
            } 
        });

}

function InactivarDesparacitante(id, nombre) {

    swal({
            title: "Estas seguro que deseas eliminar el desparasitante "+nombre+"?",
            text: "El desparasitante y toda la informacion asociada a el será eliminada permanenetemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: '/desparasitacion/inactivar_desparacitante/',
                    data: {
                      'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.replace("/productos/listar_productos/");
                    }
                });
            }
        });

}

function EliminarProducto(id, nombre) {

swal({
        title: "Estas seguro que deseas eliminar el producto "+nombre+"?",
        text: "El producto y toda la informacion asociada a el será eliminada permanenetemente.",
        icon: "warning",
        buttons: {
            cancel: {
                text: "No, cancelar",
                value: null,
                visible: true,
                className: "",
                closeModal: true,
            },
            confirm: {
                text: "Si, eliminar permanentemente!",
                value: true,
                visible: true,
                className: "",
                closeModal: true
            }
        },
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {

            $.ajax({
                url: '/productos/eliminar_producto/',
                data: {
                  'id': id
                },
                dataType: 'json',
                success: function (data) {
                    window.location.replace("/productos/listar_productos/");
                }
            });
        } 
    });

}

function InactivarProducto(id, nombre) {

swal({
        title: "Estas seguro que deseas eliminar el producto "+nombre+"?",
        text: "El producto y toda la informacion asociada a el será eliminada permanenetemente.",
        icon: "warning",
        buttons: {
            cancel: {
                text: "No, cancelar",
                value: null,
                visible: true,
                className: "",
                closeModal: true,
            },
            confirm: {
                text: "Si, eliminar permanentemente!",
                value: true,
                visible: true,
                className: "",
                closeModal: true
            }
        },
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {

            $.ajax({
                url: '/productos/inactivar_producto/',
                data: {
                  'id': id
                },
                dataType: 'json',
                success: function (data) {
                    window.location.replace("/productos/listar_productos/");
                }
            });
        }
    });

}

function EliminarPaquete(id, nombre) {

swal({
        title: "Estas seguro que deseas eliminar el paquete "+nombre+"?",
        text: "El paquete y toda la informacion asociada a el será eliminada permanenetemente.",
        icon: "warning",
        buttons: {
            cancel: {
                text: "No, cancelar",
                value: null,
                visible: true,
                className: "",
                closeModal: true,
            },
            confirm: {
                text: "Si, eliminar permanentemente!",
                value: true,
                visible: true,
                className: "",
                closeModal: true
            }
        },
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {

            $.ajax({
                url: '/productos/eliminar_paquete/',
                data: {
                  'id': id
                },
                dataType: 'json',
                success: function (data) {
                    window.location.replace("/productos/listar_productos/");
                }
            });
        } 
    });

}

function EliminarMedicamento(id, nombre) {

swal({
        title: "Estas seguro que deseas eliminar el medicamento "+nombre+"?",
        text: "El medicamento y toda la informacion asociada a el será eliminada permanenetemente.",
        icon: "warning",
        buttons: {
            cancel: {
                text: "No, cancelar",
                value: null,
                visible: true,
                className: "",
                closeModal: true,
            },
            confirm: {
                text: "Si, eliminar permanentemente!",
                value: true,
                visible: true,
                className: "",
                closeModal: true
            }
        },
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {

            $.ajax({
                url: '/productos/eliminar_medicamento/',
                data: {
                  'id': id
                },
                dataType: 'json',
                success: function (data) {
                    window.location.replace("/productos/listar_productos/");
                }
            });
        } 
    });

}

function InactivarMedicamento(id, nombre) {

swal({
        title: "Estas seguro que deseas eliminar el medicamento "+nombre+"?",
        text: "El medicamento y toda la informacion asociada a el será eliminada permanenetemente.",
        icon: "warning",
        buttons: {
            cancel: {
                text: "No, cancelar",
                value: null,
                visible: true,
                className: "",
                closeModal: true,
            },
            confirm: {
                text: "Si, eliminar permanentemente!",
                value: true,
                visible: true,
                className: "",
                closeModal: true
            }
        },
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {

            $.ajax({
                url: '/productos/inactivar_medicamento/',
                data: {
                  'id': id
                },
                dataType: 'json',
                success: function (data) {
                    window.location.replace("/productos/listar_productos/");
                }
            });
        }
    });

}

function EliminarInsumo(id, nombre) {

swal({
        title: "Estas seguro que deseas eliminar el insumo "+nombre+"?",
        text: "El insumo y toda la informacion asociada a el será eliminada permanenetemente.",
        icon: "warning",
        buttons: {
            cancel: {
                text: "No, cancelar",
                value: null,
                visible: true,
                className: "",
                closeModal: true,
            },
            confirm: {
                text: "Si, eliminar permanentemente!",
                value: true,
                visible: true,
                className: "",
                closeModal: true
            }
        },
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {

            $.ajax({
                url: '/insumos/eliminar_insumo/',
                data: {
                  'id': id
                },
                dataType: 'json',
                success: function (data) {
                    window.location.replace("/productos/listar_productos/");
                }
            });
        }
    });

}

function InactivarInsumo(id, nombre) {

swal({
        title: "Estas seguro que deseas eliminar el insumo "+nombre+"?",
        text: "El insumo y toda la informacion asociada a el será eliminada permanenetemente.",
        icon: "warning",
        buttons: {
            cancel: {
                text: "No, cancelar",
                value: null,
                visible: true,
                className: "",
                closeModal: true,
            },
            confirm: {
                text: "Si, eliminar permanentemente!",
                value: true,
                visible: true,
                className: "",
                closeModal: true
            }
        },
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {

            $.ajax({
                url: '/insumos/inactivar_insumo/',
                data: {
                  'id': id
                },
                dataType: 'json',
                success: function (data) {
                    window.location.replace("/productos/listar_productos/");
                }
            });
        }
    });

}

    function EliminarElementoCategoria(id, nombre) {
        swal({
            title: "Estas seguro que deseas eliminar el elemento "+nombre+"?",
            text: "El elemento y toda la informacion asociada a el será eliminada permanenetemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: '/categorias/eliminar_elemento_categoria/',
                    data: {
                      'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.replace("/productos/listar_productos/");
                    }
                });
            }
        });
    }

    function InactivarElementoCategoria(id, nombre) {
        swal({
            title: "Estas seguro que deseas eliminar el elemento "+nombre+"?",
            text: "El elemento y toda la informacion asociada a el será eliminada permanenetemente.",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No, cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Si, eliminar permanentemente!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            },
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: '/categorias/inactivar_elemento_categoria/',
                    data: {
                      'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        window.location.replace("/productos/listar_productos/");
                    }
                });
            }
        });
    }

</script>