{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Terceros
{% endblock title %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
{% endblock%}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-xs-3">
            <h4 class="page-title">Terceros registrados</h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li class="active"><a>Terceros</a></li>
            </ol>
        </div>
        <div class="col-sm-8 col-xs-9 text-right">
            <a href="{% url 'registrar_proveedor' %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-plus"></i>
                Agregar tercero</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo de tercero</th>
                            <th>Número de documento</th>
                            <th>Ciudad</th>
                            <th>Dirección</th>
                            <th>Email</th>
                            <th>Teléfonos</th>
                            <th>Estado financiero</th>
                            <th class="text-right">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for proveedor, estado_financiero in combined_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'detalle_proveedor' proveedor.id %}" title="Ver">{{ proveedor.nombre }}</a>
                                </td>
                                <td>
                                    {{ proveedor.get_tipo_tercero_display }}
                                </td>
                                <td>
                                    {{ proveedor.numero_documento }}
                                </td>
                                <td>
                                    {{ proveedor.ciudad }}
                                </td>
                                <td>
                                    {{ proveedor.direccion }}
                                </td>
                                <td>
                                    {{ proveedor.email }}
                                </td>
                                <td>
                                    {{ proveedor.telefono }} {% if proveedor.celular %} - {{ proveedor.celular }} {% endif %}
                                </td>
                                <td>
                                    {% if estado_financiero == 'Al día' %}
                                    <span class="label label-success">Al día</span>
                                    {% elif estado_financiero == 'En deuda' %}
                                    <span class="label label-warning">En deuda</span>
                                    {% elif estado_financiero == 'Moroso' %}
                                    <span class="label label-danger">En mora</span>
                                    {% endif %}
                                </td>
                                <td class="text-right">
                                    <a href="{% url 'detalle_proveedor' proveedor.id %}" style="color: #076ff1" title="Ver"
                                   class="action-icon dropdown-toggle"><i class="fa fa-eye fa-lg"></i></a>
                                   <a href="{% url 'editar_proveedor' proveedor.id %}" style="color: #076ff1" title="Editar"
                                   class="action-icon dropdown-toggle"><i class="fa fa-pencil fa-lg"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
