{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
Inventario
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">

<style>
    .product-widget:hover {
        transform: scale(1.05);
    }

    .product-widget {
        cursor: pointer;
    }
</style>
{% endblock%}

{% block content %}
<div id="app_inventario" v-cloak>
    <div class="row">
        <div class="col-sm-4 col-xs-3">
            <h4 class="page-title">Inventario</h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li class="active"><a>Inventarios</a></li>
            </ol>
        </div>
    </div>
    <div style="width: 180px; margin: 10px;">
        <select class="form-control" id="filtro_bodega">
            <option v-for="bodega in bodegas" v-bind:value="[[ bodega.pk ]]" :selected="selected_bodega == bodega.pk">[[bodega.fields.nombre]]</option>
        </select>
    </div>
    <div class="opciones" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
        <div style="display: flex; flex-wrap: wrap;">
            <div class="" style="width: 180px; margin: 10px;">
                <select class="form-control" id="filtro_tipo">
                    <option value="todos">Todos</option>
                    <option value="medicamentos">Medicamentos</option>
                    <option value="productos">Productos</option>
                    <option value="vacunas">Vacunas</option>
                    <option value="desparasitantes">Desparasitantes</option>
                    <option value="insumos">Insumos</option>
                    <option v-for="categoria in lista_categorias" v-bind:value="[[ categoria.pk ]]" :selected="selected_filter == categoria.pk">[[categoria.fields.nombre]]</option>
                </select>
            </div>
            <div class="" style="width: 225px; margin: 10px;">
                <div class="input-group search-box">
                    <input placeholder="Buscar" class="form-control search-input" id="buscar_inventario" type="text">
                    <span class="input-group-btn boton_buscar">
                        <a class="btn btn-primary"><i class="fa fa-search"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="" style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
            <div class="view-icons">
                <a class="grid-view btn btn-link" id="boton_grid" title="Mosaico" style="text-decoration:none;"><i
                        class="fa fa-th fa-lg"></i> Mosaico</a>
                <a class="list-view btn btn-link" id="boton_lista" title="Lista" style="text-decoration:none;"><i
                        class="fa fa-bars fa-lg"></i> Lista</a>
            </div>
            <div>
                <div class="dropdown">
                    <a class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Agregar
                        <span class="caret"></span>
                    </a>
                    <ul id="inventario-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{% url 'registrar_producto' %}">Producto</a></li>
                        <li><a href="{% url 'registrar_medicamento' %}">Medicamento</a></li>
                        <li><a href="{% url 'registrar_vacuna' %}">Vacuna</a></li>
                        <li><a href="{% url 'registrar_desparasitante' %}">Desparasitante</a></li>
                        <li><a href="{% url 'registrar_insumo' %}">Insumo</a></li>
                        <li><a v-for="categoria in lista_categorias" v-bind:href="'/categorias/registrar_elemento_categoria/' + categoria.pk">[[categoria.fields.nombre]]</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="row doctor-grid" id="grid_productos">
        <div v-if="lista_elementos.length == 0"
            style="height: 300px;display: flex; align-items: center; justify-content: center;">
            <h4 style="text-align: center;">No hay elementos para mostrar...</h4>
        </div>
        <div v-else style="display: flex;flex-direction: row; flex-wrap: wrap;">
            <div class="col-md-4 col-sm-4 col-xs-6 col-lg-3" v-for="elemento in lista_elementos">
                <div v-if="elemento.model == 'productos.producto'" class="product-widget"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;"
                    v-on:click="return abrir_modal('/productos/detalle_producto/' + elemento.pk )">
                    <span class="label label-default" v-if="elemento.fields.tipo_uso == 'Interno'" style="background-color:#00dba0;align-self: end; margin-top: -20px; margin-left: -20px;margin-bottom: 10px;">[[ elemento.fields.tipo_uso ]]</span>
                    <span class="label label-default" v-if="elemento.fields.tipo_uso == 'Comercial'" style="background-color:#ffaa00;align-self: end; margin-top: -20px; margin-left: -20px;margin-bottom: 10px;">[[ elemento.fields.tipo_uso ]]</span>
                    <span class="label label-default" v-if="elemento.fields.tipo_uso == 'Interno/Comercial'" style="background-color:#6401ff;align-self: end; margin-top: -20px; margin-left: -20px;margin-bottom: 10px;">[[ elemento.fields.tipo_uso ]]</span>
                    <img v-if="elemento.fields.foto" v-bind:src="'/media/' + elemento.fields.foto"
                        class="img-responsive">
                    <img v-else src="{% static 'img/producto_sin_foto.jpg' %}" class="img-responsive">
                    <h4 class="product-name doctor-name text-ellipsis"><a>[[ elemento.fields.nombre ]]</a></h4>
                    <div class="small text-muted">$ [[ elemento.fields.precio_venta | formatoMoneda ]]</div>
                    <div v-if="elemento.fields.cantidad == 0" class="user-country red">
                        Existencias: [[ elemento.fields.disponibilidad ]]
                    </div>
                    <div v-else class="user-country">
                        Existencias: [[ elemento.fields.disponibilidad ]]
                    </div>
                    <div v-if="elemento.fields.fecha_vencimiento" class="user-country">
                        Vence: [[ elemento.fields.fecha_vencimiento ]]
                    </div>
                </div>
                <div v-if="elemento.model == 'productos.paqueteproducto'" class="product-widget"
                    style="height: 220px; display: flex; flex-direction: column; align-items: center; justify-content: center;"
                    v-on:click="return abrir_modal('/productos/detalle_paquete_producto/' + elemento.pk )">
                    <img v-if="elemento.fields.foto" v-bind:src="'/media/' + elemento.fields.foto"
                        class="img-responsive">
                    <i v-else class="fa fa-cubes fa-5x"></i>
                    <h4 class="product-name doctor-name text-ellipsis"><a>[[ elemento.fields.nombre ]]</a></h4>
                    <div class="small text-muted">$ [[ elemento.fields.precio_venta | formatoMoneda ]]</div>
                    <div v-if="elemento.fields.cantidad_disponible == 0" class="user-country red">
                        Existencias: [[ elemento.fields.cantidad_disponible ]] [[ elemento.fields.unidad_medida ]]
                    </div>
                    <div v-else class="user-country">
                        Existencias: [[ elemento.fields.cantidad_disponible ]] [[ elemento.fields.unidad_medida ]]
                    </div>
                </div>
                <div v-if="elemento.model == 'vacunacion.vacuna'" class="product-widget"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;"
                    v-on:click="return abrir_modal('/vacunacion/detalle_vacuna/' + elemento.pk )">
                    <span class="label label-default" v-if="elemento.fields.tipo_uso == 'Interno'" style="background-color:#00dba0;align-self: end; margin-top: -20px; margin-left: -20px;margin-bottom: 10px;">[[ elemento.fields.tipo_uso ]]</span>
                    <span class="label label-default" v-if="elemento.fields.tipo_uso == 'Comercial'" style="background-color:#ffaa00;align-self: end; margin-top: -20px; margin-left: -20px;margin-bottom: 10px;">[[ elemento.fields.tipo_uso ]]</span>
                    <span class="label label-default" v-if="elemento.fields.tipo_uso == 'Interno/Comercial'" style="background-color:#6401ff;align-self: end; margin-top: -20px; margin-left: -20px;margin-bottom: 10px;">[[ elemento.fields.tipo_uso ]]</span>
                    <img v-if="elemento.fields.foto" v-bind:src="'/media/' + elemento.fields.foto"
                        class="img-responsive">
                    <img v-else src="{% static 'img/producto_sin_foto.jpg' %}" class="img-responsive">
                    <h4 class="product-name doctor-name text-ellipsis"><a>[[ elemento.fields.nombre ]]</a></h4>
                    <div class="small text-muted">$ [[ elemento.fields.precio_venta | formatoMoneda ]]</div>
                    <div v-if="elemento.fields.cantidad == 0" class="user-country red">
                        Existencias: [[ elemento.fields.disponibilidad ]]
                    </div>
                    <div v-else class="user-country">
                        Existencias: [[ elemento.fields.disponibilidad ]]
                    </div>
                    <div v-if="elemento.fields.fecha_vencimiento" class="user-country">
                        Vence: [[ elemento.fields.fecha_vencimiento ]]
                    </div>
                </div>
                <div v-if="elemento.model == 'desparasitacion.desparasitante'" class="product-widget"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;"
                    v-on:click="return abrir_modal('/desparasitacion/detalle_desparasitante/' + elemento.pk )">
                    <span class="label label-default" v-if="elemento.fields.tipo_uso == 'Interno'" style="background-color:#00dba0;align-self: end; margin-top: -20px; margin-left: -20px;margin-bottom: 10px;">[[ elemento.fields.tipo_uso ]]</span>
                    <span class="label label-default" v-if="elemento.fields.tipo_uso == 'Comercial'" style="background-color:#ffaa00;align-self: end; margin-top: -20px; margin-left: -20px;margin-bottom: 10px;">[[ elemento.fields.tipo_uso ]]</span>
                    <span class="label label-default" v-if="elemento.fields.tipo_uso == 'Interno/Comercial'" style="background-color:#6401ff;align-self: end; margin-top: -20px; margin-left: -20px;margin-bottom: 10px;">[[ elemento.fields.tipo_uso ]]</span>
                    <img v-if="elemento.fields.foto" v-bind:src="'/media/' + elemento.fields.foto"
                        class="img-responsive">
                    <img v-else src="{% static 'img/producto_sin_foto.jpg' %}" class="img-responsive">
                    <h4 class="product-name doctor-name text-ellipsis"><a>[[ elemento.fields.nombre ]]</a></h4>
                    <div class="small text-muted">$ [[ elemento.fields.precio_venta | formatoMoneda ]]</div>
                    <div v-if="elemento.fields.cantidad == 0" class="user-country red">
                        Existencias: [[ elemento.fields.disponibilidad ]]
                    </div>
                    <div v-else class="user-country">
                        Existencias: [[ elemento.fields.disponibilidad ]]
                    </div>
                    <div v-if="elemento.fields.fecha_vencimiento" class="user-country">
                        Vence: [[ elemento.fields.fecha_vencimiento ]]
                    </div>
                </div>
                <div v-if="elemento.model == 'productos.medicamento'" class="product-widget"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;"
                    v-on:click="return abrir_modal('/productos/detalle_medicamento/' + elemento.pk )">
                    <span class="label label-default" v-if="elemento.fields.tipo_uso == 'Interno'" style="background-color:#00dba0;align-self: end; margin-top: -20px; margin-left: -20px;margin-bottom: 10px;">[[ elemento.fields.tipo_uso ]]</span>
                    <span class="label label-default" v-if="elemento.fields.tipo_uso == 'Comercial'" style="background-color:#ffaa00;align-self: end; margin-top: -20px; margin-left: -20px;margin-bottom: 10px;">[[ elemento.fields.tipo_uso ]]</span>
                    <span class="label label-default" v-if="elemento.fields.tipo_uso == 'Interno/Comercial'" style="background-color:#6401ff;align-self: end; margin-top: -20px; margin-left: -20px;margin-bottom: 10px;">[[ elemento.fields.tipo_uso ]]</span>
                    <img v-if="elemento.fields.foto" v-bind:src="'/media/' + elemento.fields.foto"
                        class="img-responsive">
                    <img v-else src="{% static 'img/producto_sin_foto.jpg' %}" class="img-responsive">
                    <h4 class="product-name doctor-name text-ellipsis"><a>[[ elemento.fields.nombre ]]</a></h4>
                    <div class="small text-muted">$ [[ elemento.fields.precio_venta | formatoMoneda ]]</div>
                    <div v-if="elemento.fields.cantidad == 0" class="user-country red">
                        Existencias: [[ elemento.fields.disponibilidad ]]
                    </div>
                    <div v-else class="user-country">
                        Existencias: [[ elemento.fields.disponibilidad ]]
                    </div>
                    <div v-if="elemento.fields.fecha_vencimiento" class="user-country">
                        Vence: [[ elemento.fields.fecha_vencimiento ]]
                    </div>
                </div>
                <div v-if="elemento.model == 'insumos.insumo'" class="product-widget"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;"
                    v-on:click="return abrir_modal('/insumos/detalle_insumo/' + elemento.pk )">
                    <img v-if="elemento.fields.foto" v-bind:src="'/media/' + elemento.fields.foto"
                        class="img-responsive">
                    <img v-else src="{% static 'img/producto_sin_foto.jpg' %}" class="img-responsive">
                    <h4 class="product-name doctor-name text-ellipsis"><a>[[ elemento.fields.nombre ]]</a></h4>
                    <div v-if="elemento.fields.cantidad == 0" class="user-country red">
                        Existencias: [[ elemento.fields.disponibilidad ]]
                    </div>
                    <div v-else class="user-country">
                        Existencias: [[ elemento.fields.disponibilidad ]]
                    </div>
                    <div v-if="elemento.fields.fecha_vencimiento" class="user-country">
                        Vence: [[ elemento.fields.fecha_vencimiento ]]
                    </div>
                </div>
                <div v-if="elemento.model == 'categoriasInventario.elementocategoriainventario'" class="product-widget"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;"
                    v-on:click="return abrir_modal('/categorias/detalle_elemento_categoria/' + elemento.pk )">
                    <span class="label label-default" v-if="elemento.fields.tipo_uso == 'Interno'" style="background-color:#00dba0;align-self: end; margin-top: -20px; margin-left: -20px;margin-bottom: 10px;">[[ elemento.fields.tipo_uso ]]</span>
                    <span class="label label-default" v-if="elemento.fields.tipo_uso == 'Comercial'" style="background-color:#ffaa00;align-self: end; margin-top: -20px; margin-left: -20px;margin-bottom: 10px;">[[ elemento.fields.tipo_uso ]]</span>
                    <span class="label label-default" v-if="elemento.fields.tipo_uso == 'Interno/Comercial'" style="background-color:#6401ff;align-self: end; margin-top: -20px; margin-left: -20px;margin-bottom: 10px;">[[ elemento.fields.tipo_uso ]]</span>
                    <img v-if="elemento.fields.foto" v-bind:src="'/media/' + elemento.fields.foto"
                        class="img-responsive">
                    <img v-else src="{% static 'img/producto_sin_foto.jpg' %}" class="img-responsive">
                    <h4 class="product-name doctor-name text-ellipsis"><a>[[ elemento.fields.nombre ]]</a></h4>
                    <div class="small text-muted">$ [[ elemento.fields.precio_venta | formatoMoneda ]]</div>
                    <div v-if="elemento.fields.cantidad == 0" class="user-country red">
                        Existencias: [[ elemento.fields.disponibilidad ]]
                    </div>
                    <div v-else class="user-country">
                        Existencias: [[ elemento.fields.disponibilidad ]]
                    </div>
                    <div v-if="elemento.fields.fecha_vencimiento" class="user-country">
                        Vence: [[ elemento.fields.fecha_vencimiento ]]
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="lista_productos">
        <div v-if="lista_elementos.length == 0"
            style="height: 300px;display: flex; align-items: center; justify-content: center;">
            <h4 style="text-align: center;">No hay elementos para mostrar...</h4>
        </div>
        <div v-else>
            <div class="col-md-12">
                <div class="card-box">
                    <div class="table-responsive">
                        <table class="table" id="list-inventario">
                            <div class="dt-buttons">
                                <button onclick="ExportExcel('xlsx')" class="dt-button buttons-excel buttons-html5 btn btn-primary" tabindex="0" aria-controls="list-inventario" type="button">Exportar a Excel</button>
                            </div>
                            <thead>
                                <tr>
                                    <th>Categoria</th>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Existencias</th>
                                    <th>Precio de compra</th>
                                    <th>Precio de venta</th>
                                    <th style="display:none;">Unidad de Medida</th>
                                    <th style="display:none;">Cantidad por Unidad</th>
                                    <th style="display:none;">Precio por Unidad de Medida</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="elemento in lista_elementos">
                                    <td>
                                        <div v-if="elemento.model == 'productos.medicamento'">Medicamento</div>
                                        <div v-if="elemento.model == 'desparasitacion.desparasitante'">Desparasitante</div>
                                        <div v-if="elemento.model == 'vacunacion.vacuna'">Vacuna</div>
                                        <div v-if="elemento.model == 'productos.paqueteproducto'">Paquete</div>
                                        <div v-if="elemento.model == 'productos.producto'">Producto</div>
                                        <div v-if="elemento.model == 'insumos.insumo'">Insumo</div>
                                        <div v-if="elemento.model == 'categoriasInventario.elementocategoriainventario'">
                                            <div v-for="categoria in lista_categorias">
                                                <div v-if="categoria.pk == elemento.fields.categoria">
                                                    [[categoria.fields.nombre]]
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>                                                                                
                                        <div v-if="elemento.model == 'productos.medicamento'">[[elemento.fields.codigo_inventario]]</div>
                                        <div v-if="elemento.model == 'desparasitacion.desparasitante'">[[elemento.fields.codigo_inventario]]</div>
                                        <div v-if="elemento.model == 'vacunacion.vacuna'">[[elemento.fields.codigo_inventario]]</div>
                                        <div v-if="elemento.model == 'productos.paqueteproducto'">[[elemento.fields.codigo]]</div>
                                        <div v-if="elemento.model == 'productos.producto'">[[elemento.fields.codigo]]</div>
                                        <div v-if="elemento.model == 'insumos.insumo'">[[elemento.fields.codigo_inventario]]</div>
                                        <div v-if="elemento.model == 'categoriasInventario.elementocategoriainventario'">[[elemento.fields.codigo_inventario]]</div>
                                    </td>
                                    <td>
                                        <a style="cursor: pointer;" v-if="elemento.model == 'productos.medicamento'" v-on:click="return abrir_modal('/productos/detalle_medicamento/' + elemento.pk )">
                                            [[ elemento.fields.nombre ]] <span v-if="elemento.fields.fecha_vencimiento">(Vence: [[ elemento.fields.fecha_vencimiento ]])</span>
                                        </a>
                                        <a style="cursor: pointer;" v-if="elemento.model == 'desparasitacion.desparasitante'" v-on:click="return abrir_modal('/desparasitacion/detalle_desparasitante/' + elemento.pk )">
                                            [[ elemento.fields.nombre ]] <span v-if="elemento.fields.fecha_vencimiento">(Vence: [[ elemento.fields.fecha_vencimiento ]])</span>
                                        </a>
                                        <a style="cursor: pointer;" v-if="elemento.model == 'vacunacion.vacuna'" v-on:click="return abrir_modal('/vacunacion/detalle_vacuna/' + elemento.pk )">
                                            [[ elemento.fields.nombre ]] <span v-if="elemento.fields.fecha_vencimiento">(Vence: [[ elemento.fields.fecha_vencimiento ]])</span>
                                        </a>
                                        <a style="cursor: pointer;" v-if="elemento.model == 'productos.producto'" v-on:click="return abrir_modal('/productos/detalle_producto/' + elemento.pk )">
                                            [[ elemento.fields.nombre ]] <span v-if="elemento.fields.fecha_vencimiento">(Vence: [[ elemento.fields.fecha_vencimiento ]])</span>
                                        </a>
                                        <a style="cursor: pointer;" v-if="elemento.model == 'insumos.insumo'" v-on:click="return abrir_modal('/insumos/detalle_insumo/' + elemento.pk )">
                                            [[ elemento.fields.nombre ]] <span v-if="elemento.fields.fecha_vencimiento">(Vence: [[ elemento.fields.fecha_vencimiento ]])</span>
                                        </a>
                                        <a style="cursor: pointer;" v-if="elemento.model == 'categoriasInventario.elementocategoriainventario'" v-on:click="return abrir_modal('/categorias/detalle_elemento_categoria/' + elemento.pk )">
                                            [[ elemento.fields.nombre ]] <span v-if="elemento.fields.fecha_vencimiento">(Vence: [[ elemento.fields.fecha_vencimiento ]])</span>
                                        </a>
                                    </td>
                                    <td>
                                        [[ elemento.fields.disponibilidad ]]
                                    </td>
                                    <td>
                                        $[[ elemento.fields.precio_compra | formatoMoneda]]
                                    </td>
                                    <td>
                                        <div v-if="elemento.model != 'insumos.insumo'">
                                            $[[ elemento.fields.precio_venta | formatoMoneda]]
                                        </div>
                                        <div v-else>
                                            -
                                        </div>
                                    </td>
                                    <td style="display:none;">
                                        <div v-if="elemento.model == 'productos.medicamento' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.unidad_medida]]</div>
                                        <div v-if="elemento.model == 'desparasitacion.desparasitante' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.unidad_medida]]</div>
                                        <div v-if="elemento.model == 'vacunacion.vacuna' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.unidad_medida]]</div>
                                        <div v-if="elemento.model == 'productos.paqueteproducto' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.unidad_medida]]</div>
                                        <div v-if="elemento.model == 'productos.producto' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.unidad_medida]]</div>
                                        <div v-if="elemento.model == 'insumos.insumo' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.unidad_medida]]</div>
                                        <div v-if="elemento.model == 'categoriasInventario.elementocategoriainventario' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.unidad_medida]]</div>
                                    </td>
                                    <td style="display:none;">
                                        <div v-if="elemento.model == 'productos.medicamento' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.cantidad_unidad]]</div>
                                        <div v-if="elemento.model == 'desparasitacion.desparasitante' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.cantidad_unidad]]</div>
                                        <div v-if="elemento.model == 'vacunacion.vacuna' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.cantidad_unidad]]</div>
                                        <div v-if="elemento.model == 'productos.paqueteproducto' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.cantidad_unidad]]</div>
                                        <div v-if="elemento.model == 'productos.producto' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.cantidad_unidad]]</div>
                                        <div v-if="elemento.model == 'insumos.insumo' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.cantidad_unidad]]</div>
                                        <div v-if="elemento.model == 'categoriasInventario.elementocategoriainventario' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.cantidad_unidad]]</div>
                                    </td>
                                    <td style="display:none;">
                                        <div v-if="elemento.model == 'productos.medicamento' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.precio_por_unidad]]</div>
                                        <div v-if="elemento.model == 'desparasitacion.desparasitante' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.precio_por_unidad]]</div>
                                        <div v-if="elemento.model == 'vacunacion.vacuna' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.precio_por_unidad]]</div>
                                        <div v-if="elemento.model == 'productos.paqueteproducto' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.precio_por_unidad]]</div>
                                        <div v-if="elemento.model == 'productos.producto' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.precio_por_unidad]]</div>
                                        <div v-if="elemento.model == 'insumos.insumo' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.precio_por_unidad]]</div>
                                        <div v-if="elemento.model == 'categoriasInventario.elementocategoriainventario' && [[elemento.fields.cantidad_por_unidad]] == 'true'">[[elemento.fields.precio_por_unidad]]</div>
                                    </td>
                                    <td>
                                        {% if user.usuario.roles == "Administrador"%}
                                            <a v-if="elemento.model == 'productos.medicamento'" v-bind:href="'/productos/editar_medicamento/' + [[ elemento.pk ]]" style="color: #076ff1" title="Editar"
                                            class="action-icon dropdown-toggle"><i class="fa fa-pencil fa-lg"></i></a>

                                            <a v-if="elemento.model == 'desparasitacion.desparasitante'" v-bind:href="'/desparasitacion/editar_desparasitante/' + [[ elemento.pk ]]" style="color: #076ff1" title="Editar"
                                            class="action-icon dropdown-toggle"><i class="fa fa-pencil fa-lg"></i></a>

                                            <a v-if="elemento.model == 'vacunacion.vacuna'" v-bind:href="'/vacunacion/editar_vacuna/' + [[ elemento.pk ]]" style="color: #076ff1" title="Editar"
                                            class="action-icon dropdown-toggle"><i class="fa fa-pencil fa-lg"></i></a>

                                            <a v-if="elemento.model == 'productos.producto'" v-bind:href="'/productos/editar_producto/' + [[ elemento.pk ]]" style="color: #076ff1" title="Editar"
                                            class="action-icon dropdown-toggle"><i class="fa fa-pencil fa-lg"></i></a>

                                            <a v-if="elemento.model == 'insumos.insumo'" v-bind:href="'/insumos/editar_insumo/' + [[ elemento.pk ]]" style="color: #076ff1" title="Editar"
                                            class="action-icon dropdown-toggle"><i class="fa fa-pencil fa-lg"></i></a>

                                            <a v-if="elemento.model == 'categoriasInventario.elementocategoriainventario'" v-bind:href="'/categorias/editar_elemento_categoria/' + [[ elemento.pk ]]" style="color: #076ff1" title="Editar"
                                            class="action-icon dropdown-toggle"><i class="fa fa-pencil fa-lg"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-detalle" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true"></div>
</div>
{% endblock content %}

{% block plugins %}
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.1/xlsx.full.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/script.js/2.5.9/script.min.js"></script>

<script type="text/javascript">

    var app_lista_inventario = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app_inventario',
        data: {
            lista_elementos: {},
            all_lista_elementos: {},
            lista_categorias: {},
            selected_filter: '',
            bodegas: {},
            selected_bodega: '1'
        },
        filters: {
            formatoMoneda: function (valor) {
                var numero = Number(valor);

                return numero.toLocaleString();
            }
        },
        methods: {
            abrir_modal: function (url) {
                $('#modal-detalle').load(url, function () {
                    $(this).modal('show');
                });
                return false;
            }
        }
    });

    $('#boton_grid').click(function () {
        $("#lista_productos").hide();
        $("#boton_lista").removeClass("active");
        $("#grid_productos").show();
        $("#boton_grid").addClass("active");
    });

    $('#boton_lista').click(function () {
        $("#lista_productos").show();
        $("#boton_lista").addClass("active");
        $("#grid_productos").hide();
        $("#boton_grid").removeClass("active");
    });

    var funcionFiltro = function(tipo_elemento) {
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: '/productos/ajax/filtrar_tipo_producto/',
                data: {
                    'tipo': tipo_elemento
                },
                dataType: 'json',
                success: function (data) {
                    elementos = JSON.parse(data.lista_elementos);
                    //console.log("elementos: ", elementos);
                    categorias = JSON.parse(data.lista_categorias);
                    bodegas = JSON.parse(data.bodegas);
                    //console.log("categorias: ", categorias);
                    elementos.forEach(element => {
                        disponibilidad = "";

                        if(element.fields.cantidad != 0){
                            disponibilidad = element.fields.cantidad + " unidades";
                        }

                        if(element.fields.cantidad_por_unidad){
                            if(element.fields.cantidad != 0){
                                disponibilidad += " (" + element.fields.cantidad_unidad + " " + element.fields.unidad_medida + ')';
                            }
                            residuo = (parseFloat(element.fields.cantidad_total_unidades) % parseInt(element.fields.cantidad_unidad)).toFixed(1);

                            if(residuo != 0){
                                if(element.fields.cantidad != 0){
                                    disponibilidad += " y ";
                                }
                                disponibilidad += "1 unidad ("+residuo+ " " + element.fields.unidad_medida + ')';
                            }
                        }

                        if(disponibilidad == ""){
                            disponibilidad= "0 unidades"
                        }

                        element.fields.disponibilidad = disponibilidad;
                    });
                    respuesta={
                        elementos: elementos,
                        categorias: categorias,
                        bodegas: bodegas
                    }
                    resolve(respuesta);
                }
            });
        });
    }

    $(document).ready(function () {

        $("#lista_productos").hide();
        $("#grid_productos").show();
        $("#boton_grid").addClass("active");

        if (localStorage.filtradoInventario) {
            var opcion_filtrada = JSON.parse(localStorage.filtradoInventario).filtro;
            //console.log("opcion_filtrada: ", opcion_filtrada);
            app_lista_inventario.selected_filter = opcion_filtrada;
            $('#filtro_tipo').val(JSON.parse(localStorage.filtradoInventario).filtro);

            funcionFiltro(opcion_filtrada).then(function (data) {
                //app_lista_inventario.lista_elementos = JSON.parse(data.lista_elementos);
                //console.log("data in promise: ", data);
                app_lista_inventario.lista_categorias = data.categorias;
                app_lista_inventario.bodegas = data.bodegas;
                app_lista_inventario.lista_elementos = data.elementos;
                app_lista_inventario.all_lista_elementos = data.elementos;
                //console.log("app_lista_inventario.lista_elementos: ", app_lista_inventario.lista_elementos);
                if ($('#buscar_inventario').val() != '') {
                    app_lista_inventario.lista_elementos = app_lista_inventario.all_lista_elementos.filter(d => d.fields.nombre.toLowerCase().includes($('#buscar_inventario').val().toLowerCase()));
                    app_lista_inventario.lista_elementos.filter(d => d.fields.bodega == 1);
                    console.log("Hola 1");
                } else {
                    app_lista_inventario.lista_elementos = app_lista_inventario.all_lista_elementos.filter(d => d.fields.bodega == app_lista_inventario.selected_bodega);
                    console.log("Hola 2");
                }
            }, function (err) {
                console.log(err); // Error: "It broke"
            });
        } else {
            funcionFiltro('todos').then(function (data) {
                //app_lista_inventario.lista_elementos = JSON.parse(data.lista_elementos);
                //console.log("data in promise: ", data);
                app_lista_inventario.lista_categorias = data.categorias;
                app_lista_inventario.bodegas = data.bodegas;
                app_lista_inventario.lista_elementos = data.elementos;
                app_lista_inventario.all_lista_elementos = data.elementos;
            }, function (err) {
                console.log(err); // Error: "It broke"
            });
        }
    });

    function ExportExcel(type, fn, dl) {
       var elt = document.getElementById('list-inventario');
       var wb = XLSX.utils.table_to_book(elt, {sheet:"Sheet JS"});
       return dl ?
          XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
          XLSX.writeFile(wb, fn || ('Inventario.' + (type || 'xlsx')));
    }

    function filtrarPorNombreYCodigo(obj) {
        var codigo_elemento_inventario = ''

        if(obj.model == 'productos.producto'){
            codigo_elemento_inventario = obj.fields.codigo
        }else{
            codigo_elemento_inventario = obj.fields.codigo_inventario
        }

        if(codigo_elemento_inventario == null){
            codigo_elemento_inventario = ''
        }

        if(codigo_elemento_inventario.toLowerCase().includes($('#buscar_inventario').val().toLowerCase()) || obj.fields.nombre.toLowerCase().includes($('#buscar_inventario').val().toLowerCase())){
            return obj;
        }
    }

    $('#filtro_tipo').change(function () {

        funcionFiltro($(this).val()).then(function (data) {
            //app_lista_inventario.lista_elementos = JSON.parse(data.lista_elementos);
            //console.log("data in promise: ", data);
            app_lista_inventario.lista_elementos = data.elementos;
            app_lista_inventario.all_lista_elementos = data.elementos;
            if ($('#buscar_inventario').val() != '') {
                app_lista_inventario.lista_elementos = app_lista_inventario.all_lista_elementos.filter(d => d.fields.bodega == $('#filtro_bodega').val()).filter(filtrarPorNombreYCodigo);
            } else {
                app_lista_inventario.lista_elementos = app_lista_inventario.all_lista_elementos.filter(d => d.fields.bodega == $('#filtro_bodega').val());
            }

            var cookies = { filtro: $(filtro_tipo).val() };

            if (localStorage.filtradoInventario) {
                localStorage.filtradoInventario = JSON.stringify(cookies);
            } else {
                localStorage.setItem('filtradoInventario', JSON.stringify(cookies));
            }
        }, function (err) {
            console.log(err); // Error: "It broke"
        });

    });

    $('#buscar_inventario').keyup(function () {
        //console.log("app_lista_inventario.lista_elementos: ", app_lista_inventario.lista_elementos);
        //console.log("buscando inventario...", $(this).val());
        if ($(this).val() != '') {
            app_lista_inventario.lista_elementos = app_lista_inventario.all_lista_elementos.filter(d => d.fields.bodega == $('#filtro_bodega').val()).filter(filtrarPorNombreYCodigo);
        } else {
            app_lista_inventario.lista_elementos = app_lista_inventario.all_lista_elementos.filter(d => d.fields.bodega == $('#filtro_bodega').val());
        }
    });

    $('#filtro_bodega').change(function () {

        var id_bodega = $(this).val();
        console.log("Cambio de bodega...", id_bodega);
        console.log(app_lista_inventario.lista_elementos);
        app_lista_inventario.lista_elementos = app_lista_inventario.all_lista_elementos.filter(d => d.fields.bodega == id_bodega);

    });

</script>
{% endblock %}