{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
    Ingresos
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
{% endblock%}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-xs-8">
            <h4 class="page-title">Ingresos</h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li class="active"><a>Ingresos</a></li>
            </ol>
        </div>
        <div class="col-sm-4 col-xs-4 text-right">
            <a href="{% url 'registrar_pago' %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-plus"></i>
                Agregar ingreso</a>
        </div>
    </div>
    <div class="row" style="display: flex;padding-left: 15px; flex-wrap: wrap;">
        <div style="width: 150px; margin: 5px;">
            <label class="control-label">Estado de pago</label>
            <select class="form-control" id="filtrar_estado_pago">
                <option value="todos">Todos</option>
                <option value="pendientes">Pendientes</option>
                <option value="pagados">Pagados</option>
            </select>
        </div>
        <div style="width: 150px; margin: 5px;">
            <label class="control-label">Fecha</label>
            <select class="form-control" id="filtrar_fecha_pago">
                <option value="hoy">Hoy</option>
                <option value="semana">Esta semana</option>
                <option value="mes">Mes</option>
            </select>
        </div>
        <div id="div_mes" style="width: 150px; margin: 5px; display: none;">
            <label class="control-label">Mes</label>
            <div class="form-group">
                <div class='input-group date'>
                    <span class="input-group-addon" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input class="form-control" name="fecha_consulta" id="fecha_consulta_mes" type="text" style="width: 100px; margin-right: 6px;">
                </div>
            </div>
        </div>
        <div id="div_año" style="width: 150px; margin: 5px;display: none;">
            <label class="control-label">Año</label>
            <div class="form-group">
                <div class='input-group date'>
                    <span class="input-group-addon" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input class="form-control" name="fecha_consulta" id="fecha_consulta_año" type="text" style="width: 100px; margin-right: 6px;">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table id="table-ingresos" class="table">
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Fecha abono</th>
                            <th>N° Recibo</th>
                            <th>Tercero</th>
                            <th>Tipo de comprobante</th>
                            <th>Motivo</th>
                            <th>Estado</th>
                            <th>Valor total</th>
                            <th>Valor pagado</th>
                            <th style="display: none;">Forma de Pago</th>
                            <th style="display: none;">Tipo de Pago Débito</th>
                            <th style="display: none;">Tipo de Pago Crédito</th>
                            <!--th style="display: none;">Fechas de Abono</th-->
                            <th>Responsable</th>
                            <th class="text-right">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pago in lista_pagos %}
                            {% if pago.tipo == 'Abono' %}
                            <tr>
                                <td>
                                    {{ pago.pago.fecha }}
                                </td>
                                <td>
                                    {{ pago.fecha }}
                                </td>
                                <td>
                                    {% if pago.pago.id < 10 %}
                                        0000{{ pago.pago.id }}
                                    {% elif pago.pago.id < 100 %}
                                        000{{ pago.pago.id }}
                                    {% elif pago.pago.id < 1000 %}
                                        00{{ pago.pago.id }}
                                    {% elif pago.pago.id < 10000 %}
                                        0{{ pago.pago.id }}
                                    {% elif pago.pago.id < 100000 %}
                                        {{ pago.pago.id }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if pago.pago.cliente %}
                                    <a href="{% url 'detalle_cliente' pago.pago.cliente.id %}" title="Ver">{{ pago.pago.cliente.nombreCompleto }}</a>
                                    {% elif pago.pago.proveedor_nota_debito %}
                                    <a href="{% url 'detalle_proveedor' pago.pago.proveedor_nota_debito.id %}" title="Ver">{{ pago.pago.proveedor_nota_debito.nombre }}</a>
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td>
                                    {{ pago.pago.tipo_comprobante }}
                                </td>
                                <td>
                                    {% for motivos in motivos_pagos %}
                                        {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                            {% for motivo in motivos %}
                                            <span class="label label-info">{{ motivo }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if pago.pago.estado_pago == 'Pagado' %}
                                        <span class="label label-success">{{ pago.pago.estado_pago }}</span>
                                    {% elif pago.pago.estado_pago == 'Anulada' %}
                                        <span class="label label-danger">{{ pago.pago.estado_pago }}</span>
                                    {% else %}
                                        <span class="label label-warning">{{ pago.pago.estado_pago }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    $ {{ pago.pago.total_factura | intcomma}}
                                </td>
                                <td>
                                    $ {{ pago.pago.valor_pagado | intcomma}}
                                </td>
                                <td style="display: none;">
                                    {% if pago.pago.forma_pago %}
                                        {{ pago.pago.forma_pago }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td style="display: none;">
                                    {% if pago.pago.tipo_pago_debito %}
                                        {{ pago.pago.tipo_pago_debito }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td style="display: none;">
                                    {% if pago.pago.tipo_pago_credito %}
                                        {{ pago.pago.tipo_pago_credito }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <!--td style="display: none;">
                                    {% if pago.pago.forma_pago == "Credito" %}
                                        {% if abonos %}
                                            {% for abono in abonos %}
                                                {% if abono.pago_id == pago.pago.id %}
                                                    {{ abono.fecha.date }} a las {{ abono.fecha | date:"h:i a" }}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                        -
                                        {% endif %}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td-->
                                <td>
                                    {% if pago.pago.responsable %}
                                        {{ pago.pago.responsable }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if pago.pago.estado_pago == 'Pendiente' %}
                                    <a class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Abonar" onclick="return abrir_modal('{% url 'abonar_pago' pago.pago.id %}')"><i class="fa fa-dollar fa-lg"></i></a>
                                    {% endif %}
                                    <a href="{% url 'detalle_pago' pago.pago.id %}" class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                    {% if user.usuario.roles == "Administrador"%}
                                        {% if pago.pago.estado_pago != 'Anulada' %}
                                        <a onclick="AnularPago('{{pago.pago.id}}', '{{pago.pago.total_factura}}', '{{pago.pago.fecha}}');" class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Anular"><i class="fa fa-ban fa-lg"></i></a>
                                        {% endif %}
                                    {% endif %}    
                                    <!--a href="#" title="Ver" class="action-icon dropdown-toggle" style="color: #076ff1"><i class="fa fa-file m-r-5"></i></a-->
                                    <div class="dropdown menu-mobile-table hidden-md hidden-lg">
                                        <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            {% if pago.pago.estado_pago == 'Pendiente' %}
                                                <li>
                                                    <a class="action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Abonar" onclick="return abrir_modal('{% url 'abonar_pago' pago.pago.id %}')"><i class="fa fa-dollar fa-lg"></i> Abonar</a>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <a href="{% url 'detalle_pago' pago.pago.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i> Ver</a>
                                            </li>
                                            {% if user.usuario.roles == "Administrador"%}
                                                {% if pago.pago.estado_pago != 'Anulada' %}
                                                <li>
                                                    <a onclick="AnularPago('{{pago.pago.id}}', '{{pago.pago.total_factura}}', '{{pago.pago.fecha}}');" class="action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Anular"><i class="fa fa-ban fa-lg"></i> Anular</a>
                                                </li>
                                                {% endif %}
                                            {% endif %}    
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td>
                                    {{ pago.fecha }}
                                </td>
                                <td>
                                    {{ pago.fecha_abono | default:"-" }}
                                </td>
                                <td>
                                    {% if pago.id < 10 %}
                                        0000{{ pago.id }}
                                    {% elif pago.id < 100 %}
                                        000{{ pago.id }}
                                    {% elif pago.id < 1000 %}
                                        00{{ pago.id }}
                                    {% elif pago.id < 10000 %}
                                        0{{ pago.id }}
                                    {% elif pago.id < 100000 %}
                                        {{ pago.id }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if pago.cliente %}
                                    <a href="{% url 'detalle_cliente' pago.cliente.id %}" title="Ver">{{ pago.cliente.nombreCompleto }}</a>
                                    {% elif pago.proveedor_nota_debito %}
                                    <a href="{% url 'detalle_proveedor' pago.proveedor_nota_debito.id %}" title="Ver">{{ pago.proveedor_nota_debito.nombre }}</a>
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td>
                                    {{ pago.tipo_comprobante }}
                                </td>
                                <td>
                                    {% for motivos in motivos_pagos %}
                                        {% if forloop.counter0 == forloop.parentloop.counter0 %}
                                            {% for motivo in motivos %}
                                            <span class="label label-info">{{ motivo }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if pago.estado_pago == 'Pagado' %}
                                        <span class="label label-success">{{ pago.estado_pago }}</span>
                                    {% elif pago.estado_pago == 'Anulada' %}
                                        <span class="label label-danger">{{ pago.estado_pago }}</span>
                                    {% else %}
                                        <span class="label label-warning">{{ pago.estado_pago }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    $ {{ pago.total_factura | intcomma}}
                                </td>
                                <td>
                                    $ {{ pago.valor_pagado | intcomma}}
                                </td>
                                <td style="display: none;">
                                    {% if pago.forma_pago %}
                                        {{ pago.forma_pago }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td style="display: none;">
                                    {% if pago.tipo_pago_debito %}
                                        {{ pago.tipo_pago_debito }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td style="display: none;">
                                    {% if pago.tipo_pago_credito %}
                                        {{ pago.tipo_pago_credito }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <!--td style="display: none;">
                                    {% if pago.forma_pago == "Credito" %}
                                        {% if abonos %}
                                            {% for abono in abonos %}
                                                {% if abono.pago_id == pago.id %}
                                                    {{ abono.fecha.date }} a las {{ abono.fecha | date:"h:i a" }}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                        -
                                        {% endif %}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td-->
                                <td>
                                    {% if pago.responsable %}
                                        {{ pago.responsable }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if pago.estado_pago == 'Pendiente' %}
                                    <a class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Abonar" onclick="return abrir_modal('{% url 'abonar_pago' pago.id %}')"><i class="fa fa-dollar fa-lg"></i></a>
                                    {% endif %}
                                    <a href="{% url 'detalle_pago' pago.id %}" class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i></a>
                                    {% if user.usuario.roles == "Administrador"%}
                                        {% if pago.estado_pago != 'Anulada' %}
                                        <a onclick="AnularPago('{{pago.id}}', '{{pago.total_factura}}', '{{pago.fecha}}');" class="hidden-xs action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Anular"><i class="fa fa-ban fa-lg"></i></a>
                                        {% endif %}
                                    {% endif %}
                                    <!--a href="#" title="Ver" class="action-icon dropdown-toggle" style="color: #076ff1"><i class="fa fa-file m-r-5"></i></a-->
                                    <div class="dropdown menu-mobile-table hidden-md hidden-lg">
                                        <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a> 
                                        <ul class="dropdown-menu pull-right">
                                            {% if pago.estado_pago == 'Pendiente' %}
                                                <li>
                                                    <a class="action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Abonar" onclick="return abrir_modal('{% url 'abonar_pago' pago.id %}')"><i class="fa fa-dollar fa-lg"></i> Abonar</a>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <a href="{% url 'detalle_pago' pago.id %}" class="action-icon dropdown-toggle" style="color: #076ff1" title="Ver detalle"><i class="fa fa-file-text fa-lg"></i> Ver</a>
                                            </li>
                                            {% if user.usuario.roles == "Administrador"%}
                                                {% if pago.estado_pago != 'Anulada' %}
                                                <li>
                                                    <a onclick="AnularPago('{{pago.id}}', '{{pago.total_factura}}', '{{pago.fecha}}');" class="action-icon dropdown-toggle" style="color: #076ff1; cursor: pointer;" title="Anular"><i class="fa fa-ban fa-lg"></i> Anular</a>
                                                </li>
                                                {% endif %}
                                            {% endif %}    
                                        </ul>
                                    </div>                                    
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <div style="display: flex;justify-content: flex-end;width: 100%">
                    {% if is_paginated %}
                      <ul class="pagination">
                        {% if page_obj.has_previous %}
                          <li><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                        {% else %}
                          <li class="disabled"><span>Anterior</span></li>
                        {% endif %}
                        <li class="active">
                            <span>Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
                        </li>
                        {% if page_obj.has_next %}
                          <li><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                        {% else %}
                          <li class="disabled"><span>Siguiente</span></li>
                        {% endif %}
                      </ul>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-abono" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true"></div>
{% endblock content %}

{% block plugins %}
    <script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jszip.min.js' %}"></script>
    <script src="{% static 'js/pdfmake.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vfs_fonts.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/factura-pdf.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.print.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script>

        $(document).ready(function() {

            var fileName = $('.page-title').text();

            $('#table-ingresos').DataTable( {
                ordering: false,
                dom: '<"top row"B<"col-sm-6"l><"col-sm-6"f>>rt<"bottom"ip><"clear">',
                buttons: [
                    {
                        extend: 'excel',
                        text: 'Exportar Excel',
                        title: fileName,
                        className: 'btn btn-primary'
                    }
                ],
                paging: false,
                language: {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No hay información registrada",
                    "info": "Página _PAGE_ de _PAGES_",
                    "infoEmpty": "",
                    "infoFiltered": "(filtrado de _MAX_ registros en total)",
                    "search": "Buscar :",
                    "paginate": {
                        "first":      "Primera",
                        "last":       "Ultima",
                        "next":       "Siguiente",
                        "previous":   "Anterior"
                    }
                }
            });

        });

        if ('{{ ano }}'){
            $("#fecha_consulta_año").val('{{ ano }}');
        }

        if ('{{ mes }}'){
            $("#fecha_consulta_mes").val('{{ mes }}');
        }

        $("#filtrar_estado_pago").val('{{ estado_pago }}');
        $('#filtrar_estado_pago').on('change', function(){
            if($('#filtrar_fecha_pago').val() == 'mes'){
                window.location = '/productos/listar_pagos_mes/' +$('#filtrar_estado_pago').val()+'/'+ $('#fecha_consulta_mes').val() + '/' + $('#fecha_consulta_año').val() + '/';
            }else {
                window.location = '/productos/listar_pagos/' + $('#filtrar_estado_pago').val() + '/' + $('#filtrar_fecha_pago').val() + '/';
            }
        });

        if ('{{ fecha_pago }}' == 'mes'){
            var div_mes = document.getElementById("div_mes");
            var div_año = document.getElementById("div_año");
            div_mes.style.display = 'block';
            div_año.style.display = 'block';
        }

        $("#filtrar_fecha_pago").val('{{ fecha_pago }}');
        $('#filtrar_fecha_pago').on('change', function(){
            if($('#filtrar_fecha_pago').val() == 'mes'){
                var div_mes = document.getElementById("div_mes");
                var div_año = document.getElementById("div_año");
                div_mes.style.display = 'block';
                div_año.style.display = 'block';
                window.location = '/productos/listar_pagos_mes/'+$('#filtrar_estado_pago').val()+'/'+ $('#fecha_consulta_mes').val() + '/' + $('#fecha_consulta_año').val() + '/';
            }else{
                $('#div_mes').hide();
                $('#div_año').hide();
                window.location = '/productos/listar_pagos/'+$('#filtrar_estado_pago').val()+'/'+$('#filtrar_fecha_pago').val()+'/';
            }
        });

        function generarPdf(pagoId){
            $.ajax({
                url: '/productos/ajax/datos_impresion_venta/',
                data: {
                    'id_venta': pagoId
                },
                dataType: 'json',
                success: function (data) {
                    datos_venta = JSON.parse(data.datos_venta);
                    generarPdfFactura(datos_venta);
                }
            });
        }

        function abrir_modal(url) {
            $('#modal-abono').load(url, function () {
                $(this).modal('show');
            });
            return false;
        }

        function AnularPago(id, total, fecha) {

            swal({
                title: "Estas seguro que deseas anular el ingreso #"+id+" del dia "+fecha+" por valor de $"+total+"?",
                text: "Este cambio es irreversible. El inventario relacionado en el ingreso será sumado nuevamente en el inventario y las atenciones cobradas quedaran de nuevo pendientes por pago.",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No, cancelar",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Si, anular permanentemente!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '/productos/anular_venta/',
                        data: {
                          'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.replace("/productos/listar_pagos/todos/semana/");
                        }
                    });
                }
            });

        }

        $('#fecha_consulta_mes').datetimepicker({
            format: 'MM',
            defaultDate: new Date(),
            icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down"
                    }

        });

        $('#fecha_consulta_año').datetimepicker({
            format: 'YYYY',
            defaultDate: new Date(),
            icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down"
                    }

        });

        $('#fecha_consulta_mes').on('dp.change', function(){
            if($('#filtrar_fecha_pago').val() == 'mes'){
                window.location = '/productos/listar_pagos_mes/'+$('#filtrar_estado_pago').val()+'/'+ $('#fecha_consulta_mes').val() + '/' + $('#fecha_consulta_año').val() + '/';
            }else{
                window.location = '/productos/listar_pagos/'+$('#filtrar_estado_pago').val()+'/'+$('#filtrar_fecha_pago').val()+'/';
            }
        });

        $('#fecha_consulta_año').on('dp.change', function(){
            if($('#filtrar_fecha_pago').val() == 'mes'){
                window.location = '/productos/listar_pagos_mes/'+$('#filtrar_estado_pago').val()+'/'+ $('#fecha_consulta_mes').val() + '/' + $('#fecha_consulta_año').val() + '/';
            }else{
                window.location = '/productos/listar_pagos/'+$('#filtrar_estado_pago').val()+'/'+$('#filtrar_fecha_pago').val()+'/';
            }
        });
    </script>
{% endblock %}