{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
    Registrar compra de producto
{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
{% endblock%}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title">
                Registrar compra de producto
            </h4>
            <ol class="breadcrumb">
                <li><a href="/usuario/index/">Inicio</a></li>
                <li><a href="/productos/listar_productos/">Inventario</a></li>
                <li class="active"><a>Registrar compra de producto</a></li>
            </ol>            
        </div>
    </div>
    <form class="form-horizontal" method="POST" action="" autocomplete="off">{% csrf_token %}
        <div class="card-box" style="padding-left: 15px;">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" style="margin: 15px;">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Producto</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" disabled value="{{mi_producto.nombre}}">
                            </div>
                        </div>
                    </div>
                </div>
                {% for field in form %}
                    <div class="col-md-6">
                        <div class="form-group" style="margin: 15px;">
                            {% bootstrap_field field label_class="control-label col-lg-3" field_class="col-lg-9" %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="text-center submit-btns">
            {% bootstrap_button "Agregar" button_type="submit" button_class="btn btn-primary m-r-20" %}
            <a href="{% url 'listar_productos' %}" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
{% endblock content %}

{% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
{% endblock %}