{% extends 'basePublico.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    Modificación de Contrasena Usuarios - Administrador
{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
{% endblock%}

{% block content %}
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">
                    Modificación de Contrasena Usuarios - Administrador
                </h4>
            </div>
        </div>

        <form action = "" method="POST" enctype="multipart/form-data" class="form-horizontal" data-parsley-validate="true" autocomplete="off">
            {% csrf_token %}
            <div class="card-box">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" style="margin: 15px;">
                            <div class="form-group">
                                <label class="control-label" for="contra">Cambiar Contrasena</label>
                                <input class="form-control" type="text" id="contra" name="contra"><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center submit-btns">
                <a href="#" onclick="CambiarContra({{id_user}})" style="background-color: #076FF1;" class="btn add-btn btn-custom m-b-30"><i class="fa fa-thumbs-o-up"></i>
                    Cambiar</a>
                <a href="{% url 'listar_administradores' %}" class="btn btn-danger m-b-30">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript">
        function CambiarContra(id_user){
            var contra = $('#contra').val();
            console.log(contra);
            if (contra) {
                $.ajax({
                    url: '/usuario/cambiar_contra/',
                    data: {
                        'id_user': id_user,
                        'contra': contra
                    },
                    dataType: 'json',
                    success: function(data) {
                        actualizado = JSON.parse(data.actualizado);
                        window.location.replace("/usuario/listar_administradores/");
                    }
                });
            }
        }

    </script>
{% endblock %}