{% extends 'basePublico.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


    {% block title %}
        Listado de Usuarios - Administradores
    {% endblock title %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    {% endblock%}

    {% block content %}
      <div class="row">
            <div class="col-sm-4 col-xs-3">
                <h4 class="page-title">Administradores registrados</h4>
            </div>
            <div class="col-sm-8 col-xs-9 text-right">
                <a href="{% url 'crear_administrador' %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-plus"></i>
                    Agregar Administrador</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Nombre completo</th>
                                <th>Número de documento</th>
                                <th>Fecha de nacimiento</th>
                                <th>Sexo</th>
                                <th>Dirección</th>
                                <th>Email</th>
                                <th>Teléfonos</th>
                                <th class="text-right">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for usuario in object_list %}
                                <tr>
                                    <td>
                                        {{ usuario.first_name }} {{ usuario.segundo_nombre }} {{ usuario.last_name }} {{ usuario.segundo_apellido }}
                                    </td>
                                    <td>
                                        {{ usuario.tipo_documento_identificacion}} - {{ usuario.numero_documento_identificacion }}
                                    </td>
                                    <td>
                                        {{ usuario.fecha_nacimiento }}
                                    </td>
                                    <td>
                                        {{ usuario.sexo }}
                                    </td>
                                    <td>
                                        {{ usuario.direccion }}
                                    </td>
                                    <td>
                                        {{ usuario.email }}
                                    </td>
                                    <td>
                                        {{ usuario.telefono }} {% if usuario.celular %} - {{ usuario.celular }} {% endif %}
                                    </td>
                                    <td class="text-center">
                                        
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>


	{% endblock %}