{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>  - HopsPets</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!--[if lt IE 9]>
        <script src="{% static 'js/html5shiv.min.js' %}"></script>
        <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="account-page">
            <div class="container">
                <div class="account-box">
                    <div class="account-top">
                        <div class="account-logo">
                            <img src="{% static 'img/logo.png' %}" alt="Logo" style="width: 60%;">
                        </div>
                    </div>
                    <div class="account-bottom">
                        <form action="" method="POST" class="margin-bottom-0">{% csrf_token %}
                            {% for field in form %}
                                {% bootstrap_field field=field  %}
                            {% endfor %}
                            {{ form.non_field_errors }}
                            {{ form.password.errors }}
                            <div style="display: flex; flex-direction: column; align-items: center;">
                                <button type="submit" class="btn btn-danger active m-r-5">Iniciar sesión{{a}}</button>
                                <p></p>
                                <p><a style="text-align: center;" href="{% url 'reiniciar_contrasena' %}"><u>Olvidó su contraseña</u></a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/modernizr.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>