{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>Recordar contraseña</title>
    <style>
        body{
            background-image: url("{% static 'img/fondo_mascotas.png' %}"), url("{% static 'img/fondo_huellas.jpg' %}");
        }
    </style>
</head>

<body>
  <div class="main-wrapper">
    <div class="account-page">
      <div class="container">
        <div class="account-box">
          <div class="account-top">
            <div class="account-logo">
              <img src="{% static 'img/logo.png' %}" alt="Logo" style="width: 60%;">
            </div>
          </div>
          <div class="account-bottom">

            {% block content %}
            <h1>¡Cambio de contraseña!</h1>
            <form method="POST">
              {% csrf_token %}


              <div class="form-group"><label class="control-label" for="id_new_password1">Nueva Contraseña</label><input
                  type="password" name="new_password1" class="form-control" placeholder="Nueva Contraseña"
                  title="Your password can&amp;#39;t be too similar to your other personal information.Your password must contain at least 8 characters.Your password can&amp;#39;t be a commonly used password.Your password can&amp;#39;t be entirely numeric."
                  required="" id="id_new_password1">
              </div>

              <div class="form-group"><label class="control-label" for="id_new_password2">Confirme contraseña</label><input type="password" name="new_password2" class="form-control"
                  placeholder="Confirme contraseña" title="" required="" id="id_new_password2">
                </div>

      

          <input type="submit" class="btn btn-success active m-r-5" value="Cambiar mi contraseña">
          </form>
          {% endblock %}

        </div>
      </div>
    </div>
  </div>
  </div>
  <script type="text/javascript" src="{% static 'js/modernizr.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>