{% extends 'basePublico.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    Agregar Posible Cliente
{% endblock title %}

    {% block extrahead %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    {% endblock%}

{% block content %}
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">
                    Agregar Posible Cliente
                </h4>
            </div>
        </div>

        <form action = "" method="POST" enctype="multipart/form-data" class="form-horizontal" data-parsley-validate="true" autocomplete="off">
            {% csrf_token %}
            <div class="card-box">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" style="margin: 15px;">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Fecha de Registro</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" disabled value="{{fecha_registro}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="margin: 15px;">
                            {% bootstrap_field form.fecha_acercamiento label_class="control-label col-lg-3" field_class="col-lg-9" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="margin: 15px;">
                            <ul class="nav nav-tabs nav-tabs-solid nav-justified m-b-30">
                                <li class="active"><a data-toggle="tab" href="#news" id="tab_news">Veterinaria Nueva</a></li>
                                <li><a data-toggle="tab" href="#exist" id="tab_exist">Veterinaria Existente</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="news" class="tab-pane active">
                                    <div class="row">
                                        {% bootstrap_field form.veterinaria_news label_class="control-label col-lg-3" field_class="col-lg-9" %}
                                    </div>
                                </div>
                                <div id="exist" class="tab-pane">
                                    <div class="row">
                                        {% bootstrap_field form.veterinaria_exist label_class="control-label col-lg-3" field_class="col-lg-9" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="margin: 15px;">
                            {% bootstrap_field form.medio_acercamiento label_class="control-label col-lg-3" field_class="col-lg-9" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="margin: 15px;">
                            {% bootstrap_field form.tipo_empresa label_class="control-label col-lg-3" field_class="col-lg-9" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="margin: 15px;">
                            {% bootstrap_field form.estado label_class="control-label col-lg-3" field_class="col-lg-9" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="margin: 15px;">
                            {% bootstrap_field form.ciudad label_class="control-label col-lg-3" field_class="col-lg-9" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="margin: 15px;">
                            {% bootstrap_field form.direccion label_class="control-label col-lg-3" field_class="col-lg-9" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="margin: 15px;">
                            {% bootstrap_field form.telefono label_class="control-label col-lg-3" field_class="col-lg-9" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="margin: 15px;">
                            {% bootstrap_field form.nombre_contacto label_class="control-label col-lg-3" field_class="col-lg-9" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="margin: 15px;">
                            {% bootstrap_field form.cargo_contacto label_class="control-label col-lg-3" field_class="col-lg-9" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" style="margin: 15px;">
                            {% bootstrap_field form.observaciones label_class="control-label col-lg-3" field_class="col-lg-9" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center submit-btns">
                {% bootstrap_button "Agregar" button_type="submit" button_class="btn btn-primary m-r-20" %}
                <a href="{% url 'listar_posibles_clientes' 'semana' %}" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}

    {% block plugins %}
        <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
        <script type="text/javascript">

        </script>
	{% endblock %}

