{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

<div class="modal-dialog modal-md">
    <div class="modal-content animated fadeIn">
        <div class="modal-header" style="background: #076FF1;color: #fff;">
            <div  style="width: 100%; display: flex;justify-content:space-between;">
                <h4 class="modal-title">Detalle de Posible Cliente</h4>
                <div>
                    <a href="#" title="Cerrar" class="action-icon dropdown-toggle" data-dismiss="modal" style="color:#fff;"><i class="fa fa-times m-r-5"></i></a>
                </div>
            </div>
        </div>
        {% for pos in object %}
            <div class="modal-body">
                <div class="user-profile-img">
                    <h3 class="user-name m-t-10 m-b-0">Posible Cliente: 
                        <span style="color:#076FF1;">
                            {% if pos.veterinaria_exist %} 
                                {{ pos.veterinaria_exist }}
                            {% elif pos.veterinaria_news %}
                                {{ pos.veterinaria_news }}
                            {% endif %}
                        </span>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding: 20px 30px;">
                        <div class="col-md-6">
                            <p><span style="font-weight:bolder;">Fecha de Registro: </span>
                                {{ pos.fecha_registro }}
                            </p>
                            <p><span style="font-weight:bolder;">Medio de Acercamiento: </span>
                                {{ pos.medio_acercamiento }}
                            </p>
                            <p><span style="font-weight:bolder;">Estado: </span>
                                {{ pos.estado }}
                            </p>
                            <p><span style="font-weight:bolder;">Direccion: </span>
                                {{ pos.direccion }}
                            </p>
                            <p><span style="font-weight:bolder;">Nombre de Contacto: </span>
                                {{ pos.nombre_contacto }}
                            </p>
                            <p><span style="font-weight:bolder;">Observaciones: </span>
                                {{ pos.observaciones }}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p><span style="font-weight:bolder;">Fecha de Acercamiento: </span>
                                {{ pos.fecha_acercamiento }}
                            </p>
                            <p><span style="font-weight:bolder;">Tipo de Empresa: </span>
                                {{ pos.tipo_empresa }}
                            </p>
                            <p><span style="font-weight:bolder;">Ciudad: </span>
                                {{ pos.ciudad }}
                            </p>
                            <p><span style="font-weight:bolder;">Telefono: </span>
                                {{ pos.telefono }}
                            </p>
                            <p><span style="font-weight:bolder;">Cargo de Contacto: </span>
                                {{ pos.cargo_contacto }}
                            </p>
                            <p><span style="font-weight:bolder;">Responsable: </span>
                                {{ pos.responsable }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>