{% extends 'basePublico.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
    Posibles Clientes
{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
{% endblock%}

    {% block content %}
    <div class="row">
        <div class="col-sm-6 col-xs-5">
            <h4 class="page-title">Posibles Clientes</h4>
        </div>
        <div class="col-sm-6 col-xs-7 text-right">
            <a href="{% url 'agregar_posible_cliente' user.usuariopublico.id %}" class="btn add-btn btn-custom pull-right m-b-30"><i class="fa fa-plus"></i>
                Agregar Posible Cliente</a>
        </div>
    </div>
    <div class="row" style="display: flex;padding-left: 15px; flex-wrap: wrap;">
        <div style="width: 150px; margin: 5px;">
            <label class="control-label">Fecha</label>
            <select class="form-control" id="filtrar_fecha_filtro">
                <option value="hoy">Hoy</option>
                <option value="semana">Esta semana</option>
                <option value="mes">Mes</option>
            </select>
        </div>
        <div id="div_mes" style="width: 150px; margin: 5px; display: none;">
            <label class="control-label">Mes</label>
            <div class="form-group">
                <div class='input-group date'>
                    <span class="input-group-addon" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input class="form-control" name="fecha_consulta" id="fecha_consulta_mes" type="text" style="width: 100px; margin-right: 6px;">
                </div>
            </div>
        </div>
        <div id="div_año" style="width: 150px; margin: 5px;display: none;">
            <label class="control-label">Año</label>
            <div class="form-group">
                <div class='input-group date'>
                    <span class="input-group-addon" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <input class="form-control" name="fecha_consulta" id="fecha_consulta_año" type="text" style="width: 100px; margin-right: 6px;">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table class="table table-striped" id="datatable">
                        <thead>
                        <tr>
                            <th>Fecha de Registro</th>
                            <th>Fecha de Acercamiento</th>
                            <th>Veterinaria</th>
                            <th>Ciudad</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Nombre de Contacto</th>
                            <th>Estado</th>
                            <th>Medio</th>
                            <th>Responsable</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pos in pos_client %}
                            <tr>
                                <td>
                                    {{ pos.fecha_registro }}
                                </td>
                                <td>
                                    {{ pos.fecha_acercamiento }}
                                </td>
                                <td>
                                    {% if pos.veterinaria_exist %}
                                        {{ pos.veterinaria_exist }}
                                    {% else %}
                                        {{ pos.veterinaria_news }}
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if pos.ciudad %}
                                        {{ pos.ciudad }}
                                    {% else %}
                                        - 
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if pos.direccion %}
                                        {{ pos.direccion }}
                                    {% else %}
                                        - 
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if pos.telefono %}
                                        {{ pos.telefono }}
                                    {% else %}
                                        - 
                                    {% endif %}
                                </td>
                                <td>
                                    {{ pos.nombre_contacto }}
                                </td>
                                <td>
                                    {{ pos.estado }}
                                </td>
                                <td>
                                    {{ pos.medio_acercamiento }}
                                </td>
                                <td>
                                    {{ pos.responsable }}
                                </td>
                                <td>
                                    <a onclick="return abrir_modal('{% url 'detalle_posibles_clientes' pos.id %}')" title="Ver" class="action-icon dropdown-toggle" style="color: #076ff1;cursor: pointer;"><i class="fa fa-eye fa-lg"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="modal-detalle" tabindex="-1" role="dialog" aria-hidden="true"></div>
    {% endblock %}

    {% block plugins %}
    <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jszip.min.js' %}"></script>
    <script src="{% static 'js/pdfmake.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vfs_fonts.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/factura-pdf.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.print.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    

    <script>
        function abrir_modal(url)
        {
            $('#modal-detalle').load(url, function()
            {
                $(this).modal('show');
            });
            return false;
        }
        if ('{{ ano }}'){
            $("#fecha_consulta_año").val('{{ ano }}');
        }

        if ('{{ mes }}'){
            $("#fecha_consulta_mes").val('{{ mes }}');
        }

        if ('{{ fecha_filtro }}' == 'mes'){
            var div_mes = document.getElementById("div_mes");
            var div_año = document.getElementById("div_año");
            div_mes.style.display = 'block';
            div_año.style.display = 'block';
        }

        $("#filtrar_fecha_filtro").val('{{ fecha_filtro }}');
        $('#filtrar_fecha_filtro').on('change', function(){
            if($('#filtrar_fecha_filtro').val() == 'mes'){
                var div_mes = document.getElementById("div_mes");
                var div_año = document.getElementById("div_año");
                div_mes.style.display = 'block';
                div_año.style.display = 'block';
                window.location = '/posiblesClientes/listar_posibles_clientes_mes/'+ $('#fecha_consulta_mes').val() + '/' + $('#fecha_consulta_año').val() + '/';
            }else{
                $('#div_mes').hide();
                $('#div_año').hide();
                window.location = '/posiblesClientes/listar_posibles_clientes/'+ $('#filtrar_fecha_filtro').val() + '/';
            }
        });

        $('#fecha_consulta_mes').datetimepicker({
        format: 'MM',
        defaultDate: new Date(),
        icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
        });

        $('#fecha_consulta_año').datetimepicker({
        format: 'YYYY',
        defaultDate: new Date(),
        icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
        });

        $('#fecha_consulta_mes').on('dp.change', function(){
            if($('#filtrar_fecha_filtro').val() == 'mes'){
                window.location = '/posiblesClientes/listar_posibles_clientes_mes/'+ $('#fecha_consulta_mes').val() + '/' + $('#fecha_consulta_año').val() + '/';
            }else{
                window.location = '/posiblesClientes/listar_posibles_clientes/'+ $('#filtrar_fecha_filtro').val() + '/';
            }
        });

        $('#fecha_consulta_año').on('dp.change', function(){
            if($('#filtrar_fecha_filtro').val() == 'mes'){
                window.location = '/posiblesClientes/listar_posibles_clientes_mes/'+ $('#fecha_consulta_mes').val() + '/' + $('#fecha_consulta_año').val() + '/';
            }else{
                window.location = '/posiblesClientes/listar_posibles_clientes/'+ $('#filtrar_fecha_filtro').val() + '/';
            }
        });
    </script>

    {% endblock %}
